﻿<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>
                    @DateTime.Now.Year &copy; 2clicksale.com. Все права защищены.
                    <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                </p>
            </div>
            <div class="col-md-6">
                <a href="/">
                    <img class="pull-right" id="logo-footer" src="~/assets/unify/img/logo-default-white.png" alt="">
                </a>
            </div>
        </div>
    </div>
</div>