﻿<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Конструктор одностраничников">
    <meta name="keywords" content="">
    <meta name="author" content="2 Click Sale">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/assets/favicon.ico">
    <link href="http://fonts.googleapis.com/css?family=Lobster&amp;subset=latin,cyrillic" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Merienda+One" rel="stylesheet">
    @Styles.Render("~/assets/distrib/css/css")
    @RenderSection("styles", required: false)
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="header-fixed">
    @Html.Partial("_BetaPartial")
    <div class="wrapper">
        <div class="header">
            <div class="topbar">
                <div class="container">
                    @Html.Partial("_TopbarNavigationPartial")
                </div>
            </div>
            @Html.Partial("_NavbarPartial")
        </div>
        @RenderBody()
        @Html.Partial("_Footer")
        @Html.Partial("_Copyright")
    </div>
    @Scripts.Render("~/bundles/js")
    <script>
        jQuery(document).ready(function () {
            App.init();
            App.initSliders();
            Index.initParallaxSlider();
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>

