﻿<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <img id="logo-header" src="~/assets/unify/img/logo-default-black.png" alt="Logo">
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                @*<li @Html.MakeActiveClass("Opportunities")>*@
                <li>
                    <a href="@Url.Action("Opportunities", "Home")">ВОЗМОЖНОСТИ</a>
                </li>
                @*<li @Html.MakeActiveClass("Templates")>*@
                <li>
                    <a href="@Url.Action("Templates", "Home")">ШАБЛОНЫ</a>
                </li>
                @*<li @Html.MakeActiveClass("Prices")>*@
                <li>
                    <a href="@Url.Action("Prices", "Home")">ЦЕНЫ</a>
                </li>
                @*<li @Html.MakeActiveClass("Blog")>*@
                <li>
                    <a href="@Url.Action("Blog", "Home")">БЛОГ</a>
                </li>
                @*<li @Html.MakeActiveClass("Сontact")>*@
                <li>
                    <a href="@Url.Action("Contact", "Home")">КОНТАКТЫ</a>
                </li>
                <li>
                    <i class="search fa fa-search search-btn"></i>
                    <div class="search-open">
                        <div class="input-group animated fadeInDown">
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-btn">
                                <button class="btn-u" type="button">Поиск</button>
                            </span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
