﻿<div class="slider-inner">
    <div id="da-slider" class="da-slider">
        <div class="da-slide">
            <h2><i>СОЗДАЙТЕ ИДЕАЛЬНЫЙ</i> <br /> <i style="text-transform: none;">Landing Page</i> <br /> <i>САМОСТОЯТЕЛЬНО</i></h2>
            <p><i>Увеличивайте продажи на автомате</i> <br /> <i>Совершенствуйте рекламные кампании</i></p>
            <div class="da-img">
                <img src="~/assets/plugins/parallax-slider/img/1.png" alt="" />
            </div>
        </div>
        <div class="da-slide">
            <h2><i>ИНТУИТИВНЫЙ РЕДАКТОР</i> <br /> <i>БОЛЕЕ 100 ДИЗАЙНЕРСКИХ</i> <br /> <i>ШАБЛОНОВ ДЛЯ ЛЮБЫХ ЦЕЛЕЙ</i></h2>
            <p><i>Получайте удовольствие</i> <br /> <i>от создания продающих  страниц</i></p>
            <div class="da-img">
                <iframe src="http://player.vimeo.com/video/47911018" width="530" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
        <div class="da-slide">
            <h2><i>ЯРКИЙ, НОВЕЙШИЙ</i> <br /> <i>АДАПТИВНЫЙ </i> <br /> <i>ВЕБ-ДИЗАЙН</i></h2>
            <p><i>Полная поддержка мобильных устройств</i> <br /> <i>и популярных браузеров</i></p>
            <div class="da-img">
                <img src="~/assets/plugins/parallax-slider/img/html5andcss3.png" alt="" />
            </div>
        </div>
        <div class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>
        </div>
    </div>
</div>