﻿<ul class="loginbar pull-right">
    <li><a href="@Url.Action("Register", "Account", new{Area = "Cabinet"})">Зарегистрироваться</a></li>
    <li class="topbar-devider"></li>
    <li><a href="@Url.Action("Login", "Account", new {Area="Cabinet"})">Войти</a></li>
</ul>
