﻿@model WebSite.Areas.Admin.Models.Content.SliderViewModel
@{
    ViewBag.Title = "Добавление слайда";
}
<div class="row-fluid">
    <div class="span12">
        <div class="box box-bordered">
            <div class="box-title">
                <h3><i class="icon-file-alt"></i>Новый слайд</h3>
            </div>
            <div class="box-content nopadding">
                @using (Html.BeginForm(null, null, FormMethod.Post, new {@class = "form-vertical form-bordered form-striped form-validate", enctype = "multipart/form-data"}))
                {
                    @Html.EditorFor(_ => _.IsHidden, "Checkbox")
                    @*@Html.EditorFor(_ => _.Title, "SimpleInput")
                    @Html.EditorFor(_ => _.Url, "SimpleInput")*@
                    @Html.EditorFor(_ => _.File, "FileInput")
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                        <a href="@Url.Action("Index")" class="btn">Отменить</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>