﻿@using WebSite.Areas.Admin.Models.Content
@using WebSite.Framework
@model IList<WebSite.Areas.Admin.Models.Content.SliderViewModel>
@{
    ViewBag.Title = "Список слайдов";
}
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3>
                    <i class="icon-file-alt"></i>
                    Слайды
                </h3>
                <div class="actions">
                    <a href="@Url.Action("Add")" class="btn" title="Добавить слайд"><i class="icon-plus-sign"></i>&nbsp;Добавить слайд</a>
                </div>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin table-bordered table-condensed">
                    <thead>
                        <tr>
                            @*<th>Название</th>
                            <th>Ссылка</th>*@
                            <th>Изображение</th>
                            <th class='hidden-1024'>Создан</th>
                            <th class='hidden-1024'>Обновлен</th>
                            <th>Видимость</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                @*<td>@item.Title</td>
                                <td>@item.Url</td>*@
                                <td>
                                    <img src="@Url.Content(WorkContext.SliderPath + item.Image)" alt="@item.Title" style="width: 30%"/></td>
                                <td class='hidden-1024'>@item.Created.ToShortDateString()</td>
                                <td class='hidden-1024'>@(item.Updated.HasValue ? item.Updated.Value.ToShortDateString() : "Не обновлялся")</td>
                                <td>@(item.IsHidden ? "Скрыт" : "Отображен")</td>
                                <td><a href="@Url.Action("Edit", new {id = item.Id})" class="btn btn-small btn-primary" title="Редактировать" rel="tooltip" data-placement="bottom"><i class="icon-edit"></i></a>
                                    <a href="@Url.Action("Delete", new {id = item.Id})" class="btn btn-small btn-danger" title="Удалить" rel="tooltip" data-placement="bottom"><i class="icon-trash"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>