﻿@using WebSite.Areas.Admin.Models.Content
@using WebSite.Framework
@model WebSite.Areas.Admin.Models.Content.CategoryServicesViewModel
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3>
                    <img src="@WorkContext.ServicesPath@Model.Image" style="width: 30px; max-height: 30px;">
                    @Model.Title 
                </h3>
                &nbsp;
                <span>
                    <a href="@Url.Action("EditCategory", new {id = Model.Id})" class="btn btn-small btn-primary" title="Редактировать категорию" rel="tooltip"><i class="icon-edit"></i></a>
                    <a href="@Url.Action("DeleteCategory", new {id = Model.Id})" class="btn btn-small btn-danger" title="Удалить категорию" rel="tooltip"><i class="icon-trash"></i></a>
                </span>
                <div class="actions">
                    <a href="@Url.Action("Add", new {id = Model.Id})" class="btn" title="Добавить статью"><i class="icon-plus-sign"></i>&nbsp;Добавить услугу</a>
                </div>
            </div>
            <div class="box-content nopadding">
                @if (Model.Services.Count > 0)
                {
                    <table class="table table-hover table-nomargin table-bordered table-condensed">
                        <thead>
                        <tr>
                            <th>Картинка</th>
                            <th>Название</th>
                            <th>Описание</th>
                            <th class='hidden-1024'>Создана</th>
                            <th class='hidden-1024'>Обновлена</th>
                            <th>Видимость</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Services)
                            {
                                <tr>
                                    <td style="width: 150px;"><img src="@WorkContext.ServicesPath@item.Image" style="margin: 0 auto; width: 150px; max-height: 150px"/></td>
                                    <td>@item.Title</td>
                                    <td>@Html.Raw(item.Description)</td>
                                    <td class='hidden-1024'>@item.Created.ToShortDateString()</td>
                                    <td class='hidden-1024'>@(item.Updated.HasValue ? item.Updated.Value.ToShortDateString() : "Не обновлялась")</td>
                                    <td>@(item.IsHidden ? "Скрыта" : "Отображена")</td>
                                    <td><a href="@Url.Action("Edit", new {id = item.Id})" class="btn btn-small btn-primary" title="Редактировать" rel="tooltip" data-placement="bottom"><i class="icon-edit"></i></a>
                                        <a href="@Url.Action("Delete", new {id = item.Id})" class="btn btn-small btn-danger" title="Удалить" rel="tooltip" data-placement="bottom"><i class="icon-trash"></i></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>