﻿@using WebSite.Areas.Admin.Framework.HtmlHelpers
@model WebSite.Areas.Admin.Models.Content.CategoryServicesViewModel
@{
    ViewBag.Title = "Добавление категории";
}
<div class="row-fluid">
    <div class="span12">
        <div class="box box-bordered">
            <div class="box-title">
                <h3><i class="icon-file-alt"></i>Новая категория</h3>
            </div>
            <div class="box-content nopadding">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-vertical form-bordered form-striped form-validate", enctype = "multipart/form-data" }))
                {
                    @Html.EditorFor(_ => _.Title, "SimpleInput")
                    @Html.EditorFor(_ => _.StringKey, "SimpleInput")
                    @Html.EditorFor(_ => _.File, "FileInput")
                    @Html.EditorFor(_ => _.Description, "WysiwygTextarea")
                    @Html.EditorFor(_ => _.MetaTitle, "SimpleInput")
                    @Html.EditorFor(_ => _.MetaKeywords, "SimpleInput")
                    @Html.EditorFor(_ => _.MetaDescription, "SimpleInput")
                    
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                        <a href="@Url.Action("Index")" class="btn">Отменить</a>
                    </div>
                }


                @Html.TranslitBind(_ => _.Title, _ => _.StringKey, HtmlTranslitBindingExstension.TranslitType.Translit)
                @Html.TranslitBind(_ => _.Title, _ => _.MetaTitle, HtmlTranslitBindingExstension.TranslitType.Original)
            </div>
        </div>
    </div>
</div>