﻿@using WebSite.Areas.Admin.Framework.HtmlHelpers
@using WebSite.Framework
@model WebSite.Areas.Admin.Models.Content.CategoryServicesViewModel
@{
    ViewBag.Title = "Редактирование категории";
}
<div class="row-fluid">
    <div class="span12">
        <div class="box box-bordered">
            <div class="box-title">
                <h3><i class="icon-file-alt"></i>@Model.Title</h3>
            </div>
            <div class="box-content nopadding">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-vertical form-bordered form-striped form-validate", enctype = "multipart/form-data" }))
                {
                    @Html.EditorFor(_ => _.Title, "SimpleInput")
                    @Html.EditorFor(_ => _.StringKey, "SimpleInput")
                    @Html.HiddenFor(_ => _.Image)
                     <div class="control-group">
                        <label class="control-label">Старое изображение</label>
                        <div class="controls">
                            <img src="@Url.Content(WorkContext.ServicesPath + Model.Image)" style="width: 300px; max-height: 300px;" alt="" />
                        </div>
                    </div>
                    @Html.EditorFor(_ => _.File, "FileInput")
                    @Html.EditorFor(_ => _.Description, "WysiwygTextarea")
                    @Html.EditorFor(_ => _.MetaTitle, "SimpleInput")
                    @Html.EditorFor(_ => _.MetaKeywords, "SimpleInput")
                    @Html.EditorFor(_ => _.MetaDescription, "SimpleInput")
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                        <a href="@Url.Action("Index")" class="btn">Отменить</a>
                    </div>
                }


                @Html.TranslitBind(_ => _.Title, _ => _.StringKey, HtmlTranslitBindingExstension.TranslitType.Translit)
                @Html.TranslitBind(_ => _.Title, _ => _.MetaTitle, HtmlTranslitBindingExstension.TranslitType.Original)
            </div>
        </div>
    </div>
</div>