﻿@model bool
@{ var metaData = ModelMetadata.FromLambdaExpression(_ => _, ViewData); }
<div class="control-group">
    @Html.LabelFor(_ => _, "", new {@class = "control-label"})
    <div class="controls">
        <label class="checkbox">
            @Html.CheckBoxFor(_ => _) @metaData.DisplayName
        </label>
        @if (!string.IsNullOrEmpty(metaData.Description))
        {
            <span class="help-block">@metaData.Description</span>
        }
    </div>
</div>