﻿@model HttpPostedFileBase
<div class="control-group">
    <div class="controls">
        @Html.TextBoxFor(_ => _, new {type = "file", @class = "input-block-level"})
        @{ var description = ModelMetadata.FromLambdaExpression(_ => _, ViewData).Description; }
        @if (!string.IsNullOrEmpty(description))
        {
            <span class="help-block">@description</span>
        }
        @Html.ValidationMessageFor(_ => _)
    </div>
</div>