﻿@{
    ViewBag.Title = "ClickSale - Личный кабинет";
}

<div class="container">
    <h2>Подтвердите email</h2>
    <p class="text-info">
        Пожалуйтса, проверте Ваш email и подтвердите его.
    </p>    
</div>