﻿@model WebSite.Models.Account.LoginViewModel

@{
    ViewBag.Title = "ClickSale - Личный кабинет";
}

<!--=== Content Part ===-->
<div class="container content">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            @using (Html.BeginForm("LogIn", "Account", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "reg-page" }))
            {
                @Html.AntiForgeryToken()
                
                @Html.ValidationSummary()

                <div class="reg-header">
                    <h2>Войдите в аккаунт</h2>
                    <p>Нет аккаунта ? @Html.ActionLink("Зарегистрируйтесь.", "Register")</p>
                </div>
                <div class="input-group margin-bottom-20">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email", placeholder = "Email" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
                <div class="input-group margin-bottom-20">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Пароль" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                <div class="row">
                    <div class="col-md-6 checkbox">
                        <label>
                            @Html.CheckBoxFor(m => m.RememberMe)
                            Запомнить меня
                        </label>
                    </div>
                    <div class="col-md-6">
                        <button class="btn-u pull-right" type="submit">Войти</button>
                    </div>
                </div>
                <hr>
                <h4>Забыли пароль ?</h4>
                <p>
                    не волнуйтесь, <a class="color-green" href="#">нажмите здесь</a> чтобы задать новый.
                </p>
            }
        </div>
    </div><!--/row-->
</div><!--/container-->
<!--=== End Content Part ===-->