﻿@model WebSite.Models.Account.RecoveryViewModel
@{
    ViewBag.Title = "Восстановление пароля";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-validate" }))
{
    <div class="control-group">
        <div class="email controls">
            @Html.TextBoxFor(_ => _.Email, new { @class = "input-block-level", placeholder = Html.DisplayNameFor(_ => _.Email).ToHtmlString() })
        </div>
    </div>
    @Html.Partial("_ValidationMessage")
    <div class="control-group">
        @Html.ValidationSummary()
    </div>
    <div class="submit" style="padding-bottom: 20px">
        <input type="submit" value="Восстановить" class='btn btn-primary'>
    </div>
}