﻿@model WebSite.Models.Account.RegisterViewModel

@{
    ViewBag.Title = "ClickSale - Регистрация";
}

<!--=== Content Part ===-->
<div class="container content">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "reg-page" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary()

                <div class="reg-header">
                    <h2>Регистрация</h2>
                    <p>Уже зарегистрированы ? @Html.ActionLink("Войдите в ЛК.", "Login")</p>
                </div>
                <div class="input-group margin-bottom-20">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", type = "text", placeholder = "Name" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
                <div class="input-group margin-bottom-20">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email", placeholder = "Email" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
                <div class="input-group margin-bottom-20">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Пароль" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <button class="btn-u pull-right" type="submit">Зарегистрироваться</button>
                    </div>
                </div>
            }
        </div>
    </div><!--/row-->
</div><!--/container-->
<!--=== End Content Part ===-->
