﻿@model WebSite.Areas.Editor.Models.ConstructionViewModel
@{
    Layout = "~/Areas/Editor/Views/Shared/_LayoutEditor.cshtml";
}

<div id="content_standard">
    <div id="additionalBlocks">
        <div id="move_block" type="additional" class="ui-draggable">
            <i class="fa fa-arrows fa-2x"></i>
        </div>
        <div id="active" type="additional">
            <div id="active_menu">

                <div id="type_block">TEXT</div>
                <div id="edit_block" onclick="editElement()">
                    <i class="fa fa-pencil-square-o fa-2x"></i>
                </div>
                <div id="del_block" onclick="openDelWindow()">
                    <i class="fa fa-trash-o fa-2x"></i>
                </div>
            </div>
            <div id="resize" type="additional">

            </div>
        </div>
    </div>
</div>
<div id="content_tablet">
    <div id="additionalBlocks">
        <div id="move_block" type="additional" class="ui-draggable">
            <i class="fa fa-arrows fa-2x"></i>
        </div>
        <div id="active" type="additional">
            <div id="active_menu">

                <div id="type_block">TEXT</div>
                <div id="edit_block" onclick="editElement()">
                    <i class="fa fa-pencil-square-o fa-2x"></i>
                </div>
                <div id="del_block" onclick="openDelWindow()">
                    <i class="fa fa-trash-o fa-2x"></i>
                </div>
            </div>
            <div id="resize" type="additional">

            </div>
        </div>
    </div>
</div>

<div id="content_mobile">
    <div id="additionalBlocks">
        <div id="move_block" type="additional" class="ui-draggable">
            <i class="fa fa-arrows fa-2x"></i>
        </div>
        <div id="active" type="additional">
            <div id="active_menu">

                <div id="type_block">TEXT</div>
                <div id="edit_block" onclick="editElement()">
                    <i class="fa fa-pencil-square-o fa-2x"></i>
                </div>
                <div id="del_block" onclick="openDelWindow()">
                    <i class="fa fa-trash-o fa-2x"></i>
                </div>
            </div>
            <div id="resize" type="additional">

            </div>
        </div>
    </div>
</div>


<div id="pages">
    <div id="Layout" type="layout" name="Макет" desc key>
        <div class="page_content_standard">
           
        </div>
        <div class="page_content_tablet">
           
        </div>
        <div class="page_content_mobile">
            
        </div>
    </div>
    <div id="Home" type="home" name="Главная" desc key>
        <div class="page_content_standard">
           
        </div>
        <div class="page_content_tablet">
           
        </div>
        <div class="page_content_mobile">
          
        </div>
    </div>
</div>