﻿@model List<string>
@{
    Layout = null;
}

<select name="country_id" id="country_id" tabindex="1" title="Тип шрифта">
    <option value="">-- выберите шрифт --</option>
    @foreach (var font in Model)
    {
        <option value="@font">@font</option>
    }
</select>
