﻿@font-face {
    font-family: '__PF Square Sans Pro_5';
    src: url('/Areas/Cabinet/fonts/pfsquaresanspro-regular.eot');
    src: local('☺'), url('/Areas/Cabinet/fonts/pfsquaresanspro-regular.woff') format('woff'), url('/Areas/Cabinet/fonts/pfsquaresanspro-regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: '__PF Square Sans Pro_5';
    src: url('/Areas/Cabinet/fonts/pfsquaresanspro-medium.eot');
    src: local('☺'), url('/Areas/Cabinet/fonts/pfsquaresanspro-medium.woff') format('woff'), url('/Areas/Cabinet/fonts/pfsquaresanspro-medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}

.modal {
    position: absolute;
    width: 800px;
    height: 450px;
    top: -650px;
    background: white;
    z-index: 1100;
}

body {
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#general_panel, #option_panel {
    position: relative;
    z-index: 999999;
    width: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#474747+-2,474747+-1,474747+0,595959+0,4c4c4c+0,666666+0,474747+0,474747+2,2c2c2c+9,2c2c2c+9,000000+40,111111+73,111111+73,1c1c1c+91,131313+100 */
    background: #333333; /* Old browsers */
    height: 35px;
    border-bottom: 1px solid #212121;
    background: #636363;
    background: -moz-linear-gradient(top, #868686 0%, #585858 4%, #4b4b4b 96%, #414141 100%);
    background: -webkit-linear-gradient(top, #868686 0%,#585858 4%,#4b4b4b 96%,#414141 100%);
    background: linear-gradient(to bottom, #868686 0%,#585858 4%,#4b4b4b 96%,#414141 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#868686', endColorstr='#414141',GradientType=0 );
}

#general_panel {
    z-index: 1000011;
}

#left_panel {
    position: relative;
    width: 40px;
    background: #494949; /* Old browsers */
    border: 1px solid #212121;
    border-right: 3px double #212121;
    height: calc(100% - 70px);
    float: left;
    /*overflow: hidden;*/
}

#l-p-change-of-size {
    width: 100%;
    height: 12px;
    border-bottom: 1px solid #212121;
    background: #666666; /* Old browsers */
    background: -moz-linear-gradient(top, #666666 0%, #383838 4%, #2b2b2b 96%, #212121 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #666666 0%,#383838 4%,#2b2b2b 96%,#212121 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #666666 0%,#383838 4%,#2b2b2b 96%,#212121 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#212121',GradientType=0 ); /* IE6-9 */
}

    #l-p-change-of-size > i {
        color: #aaa;
        font-size: 11px;
        cursor: pointer;
        padding: 0px 3px;
        display: block;
        width: 12px;
        height: 100%;
        float: right;
    }

        #l-p-change-of-size > i:hover {
            background: #636363; /* Old browsers */
            background: -moz-linear-gradient(top, #868686 0%, #585858 4%, #4b4b4b 96%, #414141 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #868686 0%,#585858 4%,#4b4b4b 96%,#414141 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #868686 0%,#585858 4%,#4b4b4b 96%,#414141 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#868686', endColorstr='#414141',GradientType=0 ); /* IE6-9 */
        }

#left_panel_content {
    position: relative;
    width: 50px;
    height: calc(100%-13px);
    padding: 2px 4px;
    /*overflow: auto;*/
}



#btn_to_top_elements, #btn_to_bottom_elements {
    position: relative;
    width: 100%;
    height: 15px;
    background: #404040;
    text-align: center;
}

    #btn_to_top_elements > i, #btn_to_bottom_elements > i {
        color: #666;
    }


#right_panel {
    background: #494949; /* Old browsers */
    border: 1px solid #212121;
    border-left: 3px double #212121;
    width: 43px;
    position: absolute;
    right: 0;
    top: 70px;
    height: calc(100% - 40px);
}

/*#type_site,*/ #page_tabs {
    position: relative;
    width: 100%;
    height: 20px;
    background: #4d4d4d;
    /*margin-left: 70px;*/
    float: left;
    border-bottom: 1px solid #212121;
    border-top: 1px solid #212121;
    background: #666666; /* Old browsers */
    background: -moz-linear-gradient(top, #666666 0%, #383838 4%, #2b2b2b 96%, #212121 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #666666 0%,#383838 4%,#2b2b2b 96%,#212121 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #666666 0%,#383838 4%,#2b2b2b 96%,#212121 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#212121',GradientType=0 ); /* IE6-9 */
}

.type {
    background: #428bca;
}

#type_site i {
    display: block;
    float: left;
    color: #d5d5d5;
    padding: 3px;
    height: 20px;
    width: 20px;
    text-align: center;
    cursor: pointer;
}

    #type_site i:hover {
        background: #428bca;
    }

#type_standard {
    position: relative;
    height: 20px;
    width: 960px;
    margin: 0 auto;
    border-left: 1px solid #aaa;
    /*border-right: 1px solid #aaa;*/
}

#type_tablet {
    position: relative;
    height: 20px;
    width: 765px;
    margin: 0 auto;
    border-left: 1px solid #aaa;
    /*border-right: 1px solid #aaa;*/
}

#type_mobile {
    position: relative;
    height: 20px;
    width: 320px;
    margin: 0 auto;
    border-left: 1px solid #aaa;
    /*border-right: 1px solid #aaa;*/
}

#workspace {
    float: left;
    width: 100%;
    position: relative;
    height: calc(100% - 15px);
}

#content {
    float: left;
    cursor: auto;
    /*margin-left: 15px;*/
    width: 100%;
    position: relative;
    height: calc(100% - 15px);
    overflow-y: scroll;
    overflow-x: auto;
    background-color: rgba(171, 171, 171, 1);
    background-size: 100%;
}

#content_type {
    position: relative;
    height: 100%;
    width: 960px;
    margin: 0 auto;
    background-color: rgba(256, 256, 256, 0);
}

#content_standard {
    cursor: auto;
    margin: 0 auto;
    position: relative;
    height: 100%;
    width: 100%;
}

    #content_standard a {
        pointer-events: none;
    }

#content_tablet {
    cursor: auto;
    margin: 0 auto;
    position: relative;
    display: none;
    height: 100%;
    width: 100%;
}

#content_mobile {
    cursor: auto;
    margin: 0 auto;
    position: relative;
    display: none;
    height: 100%;
    width: 100%;
}

#type_border_left, #type_border_right {
    position: absolute;
    width: 1px;
    height: 100%;
    z-index: 500;
    background: url('/Areas/Cabinet/Images/border_type.png');
    background-repeat: repeat;
}

#type_border_left {
    left: 5.2%;
}

#type_border_right {
    left: 95.6%;
}

.element_catalog {
    width: 25px;
    height: 25px;
    margin: 2px;
    padding-top: 6px;
    text-align: center;
    color: #aaa;
    font-size: 12px;
    background-color: #494949;
    border: 1px solid rgba(0,0,0,0);
    /*border-radius: 5px;
    padding-top: 10px;*/
    background-image: url('/Areas/Cabinet/Content/images/arrow.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 5px 5px;
    position: relative;
    float: left;
    text-shadow: 1px 1px 1px #000;
}

    .element_catalog:hover {
        background-color: #636363;
        color: #ddd;
        cursor: pointer;
        border: 1px solid black;
    }

#sub_element_menu, #sub_element_sub_menu {
    max-height: 100%;
    width: 0px;
    position: absolute;
    left: 39px;
    top: 0px;
    background: #4d4d4d;
    z-index: 1000;
    box-shadow: 3px 0px 3px #888;
}

.element {
    width: 25px;
    height: 25px;
    margin: 2px;
    text-align: center;
    color: #aaa;
    padding-top: 6px;
    font-size: 12px;
    background-color: #494949;
    border: 1px solid rgba(0,0,0,0);
    /*margin-top: 5px;
    border: 1px solid #2a2a2a;
    border-radius: 5px;
    background-image: url('/Areas/Cabinet/Images/element.png');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 20px 20px;*/
    position: relative;
    float: left;
    text-shadow: 1px 1px 1px #000;
}

    .element:hover {
        background-color: #636363;
        color: #ddd;
        cursor: pointer;
        border: 1px solid black;
    }

    /*.element:hover::after {
            content: attr(data-title); / Выводим текст
            position: absolute; / Абсолютное позиционирование 
            left: 90%;
            top: 30%; / Положение подсказки 
            z-index: 1; / Отображаем подсказку поверх других элементов 
            background: rgba(255,255,230,0.8); / Полупрозрачный цвет фона 
            font-family: Arial, sans-serif; / Гарнитура шрифта 
            font-size: 11px; / Размер текста подсказки 
            padding: 5px 10px; / Поля 
            border: 1px solid #368ee0; / Параметры рамки 
            border-radius: 5px;
            z-index: 999999;
            color: black;
        }*/


    .element > span {
        margin: 5px auto;
        width: 30px;
        height: 30px;
    }

    .element > img {
        width: 15px;
        height: 15px;
    }


#olds_versions {
    position: relative;
    float: left;
    color: #444;
    margin: 1% 1% 1% 2%;
    width: 27%;
    height: 98%;
}

#reply, #share {
    position: relative;
    float: left;
    color: #444;
    margin: 1% 1%;
    width: 34px;
    height: 34px;
}

    #reply > a, #share > a {
        text-align: center;
        width: 35px;
        height: 35px;
        display: block;
        color: #666;
        font-size: 20px;
    }

#exit, #save, #publication, #preview, #save_active_section, #save_maket {
    position: relative;
    float: right;
    color: #666;
    margin: 5px 0;
    border-left: 1px solid #383f45;
    text-align: center;
    width: 35px;
}

    /*#save_active_section, #save_maket {
   width: 35px;
}*/

    #save_maket i {
        color: red;
    }

    #save_active_section i {
        color: #00aa00;
    }

#admin_panel {
    position: relative;
    float: right;
    color: #666;
    text-align: center;
    margin: 0;
    width: 70px;
}

#right_menu {
    position: relative;
    float: right;
    height: 35px;
    width: 20%;
}

#pages {
    display: none;
}

/*#page_tabs {
    height: 40px;
    width: 67.3%;
    position: relative;
    float: left;
}*/

#left_menu {
    position: relative;
    float: left;
    height: 35px;
    width: 12.7%;
}

    #left_menu i {
        line-height: 1.5;
    }

/*#general_panel i {
    margin: 0 10px;
}*/

#widget_options, #layers, #parameters {
    float: left;
    width: 33.3%;
    text-align: center;
    padding: 5px 0;
}

#widget_options {
    background: #333;
}

#right_panel_menu {
    height: 38px;
    background: #444;
    cursor: pointer;
}

    #right_panel_menu a {
        color: #aaa;
    }

        #right_panel_menu a:hover {
            color: #ddd;
        }

#widget_options_con {
    width: 100%;
    height: 100%;
}

/*#woc-layer {
    width: 95%;
    display: none;
    margin: 5px auto;
}*/

#layers_con {
    max-height: 300px;
    overflow-y: auto;
}

    #layers_con p {
        text-align: left !important;
    }

#parameters_con {
    position: absolute;
    display: none;
    width: 180px;
    top: 27px;
    right: 0;
    background-color: #494949;
    box-shadow: -2px 2px 2px #212121;
    color: #d5d5d5;
    font-size: 10px;
}

#right_panel_content {
    color: #d5d5d5;
    height: calc(100% - 12px);
    overflow: hidden;
}

#active_menu div {
    float: left;
    height: 25px;
    width: 25px;
    text-align: center;
    padding: 2px 0;
}

#edit_block, #del_block {
    cursor: pointer;
}

#move_block {
    position: absolute;
    cursor: move;
    z-index: 999;
    top: 0px;
    left: 0px;
    margin: 3px 0 0 3px;
    color: #d5d5d5;
    font-size: 10px;
    display: none;
}

#active {
    z-index: 999;
    position: absolute;
    display: none;
}

#active_menu div:hover {
    background: #317ab9;
}

#active_menu {
    height: 25px;
    background: #428bca;
    font-size: 10px;
    color: #d5d5d5;
}

#type_block {
    width: 50px !important;
    font-size: 12px;
    text-align: center;
    float: left;
    line-height: 2;
    /*margin-left: 25px;*/
}

#name_block {
    position: absolute;
    min-width: 50px;
    height: 15px;
    font-size: 12px;
    text-align: center;
    float: left;
    line-height: 1.4;
    background-color: #428bca;
    padding: 0 3px;
    color: #d5d5d5;
}

#resize, #resize_section {
    position: absolute;
    width: 200px;
    height: 150px;
    border: 1px solid #428bca;
    top: 25px;
    left: 0px;
    display: none;
}

#resize_all, #resize_gor, #resize_ver {
    width: 6px;
    height: 6px;
    position: absolute;
    background: #428bca;
    z-index: 1;
}

#resize > textarea {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);
    display: none;
}

.sbHolder {
    top: 17px;
}

.option_el {
    position: absolute;
    top: 0;
    width: 240px;
    /*min-height: 45px;*/
    display: none;
    background-color: #494949;
    box-shadow: 0px 0px 2px #2b2b2b;
    /*border-bottom: 1px solid #383f45;*/
    padding-bottom: 1px;
    z-index: 1500;
}

.o_el, #padding-apart, #padding-all {
    width: 100%;
}

#padding-all {
    height: 19px;
}

#padding-apart {
    height: 75px;
}

.parameters_el {
    margin: 0 auto;
    width: 85%;
    min-height: 35px;
    padding-top: 10px;
}

    .parameters_el > span {
        position: relative;
        float: left;
        line-height: 1.8;
    }

    .parameters_el > i {
        margin-left: 5px;
        position: relative;
        float: right;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 1.8;
        color: #428bca;
    }

        .parameters_el > i:hover {
            background-color: #428bca;
            color: #d5d5d5;
            cursor: pointer;
        }

#font_s, #line_h, #padding_a, #padding_l, #padding_r, #padding_t, #padding_b, #letter_s,
#text_i, #blurrines, #blurrines_shadow, #blurrines_lighting, #x, #y, #x_shadow, #y_shadow,
#content_width_val, #thickness_border, #border_radiusi, #section_width_val,
#b_top, #b_left, #b_right, #b_bottom, #section_height_val, #br_t_l, #br_t_r,
#br_b_l, #br_b_r, #section_top_val, #section_left_val, #panel_font_s, #panel_section_width_val,
#panel_section_height_val, #rotation_val, #tranform_val, #background_position_x_val, #background_position_y_val,
#circles_width_background_val, #circles_width_foreground_val, #opacity_normal_val, #opacity_hover_val, #zoom_val,
#page_content_width_val, #page_content_height_val, #page_content_height_val, #page_content_column_val, #width_l_val,
#height_l_val, #blurrines_lighting_text {
    background-color: #a2a2a2;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    height: 17px;
    position: relative;
    padding-left: 5px;
    width: 45px;
    float: left;
    border: solid 1px black;
    color: black;
    margin-left: 17px;
}

#circles_width_background_val, #circles_width_foreground_val {
    width: 61px;
    margin-left: 17px;
}

/*#page_content_width_val, #page_content_height_val, #page_content_height_val, #page_content_column_val {
    background-color: #D8D8D8;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    height: 22px;
    position: relative;
    padding-left: 5px;
    width: 30px;
    float: left;
    border: solid 1px rgba(0,0,0,0);
    border-radius: 0 5px 5px 0;
}*/

#page_content_column_val {
    width: 61px;
}

/*#width_l_val, #height_l_val {
    background: none;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    height: 22px;
    position: relative;
    padding-left: 5px;
    width: 30px;
    float: left;
    color: #333;
    border: solid 1px rgba(0,0,0,0);
    border-radius: 0 5px 5px 0;
}*/


#font_size, #line_bold, #text-indent, #padding_all, #padding_left,
#padding_right, #padding_top, #padding_bottom, #border_radius,
#section_left, #section_width, #panel_font_size, #panel_section_width, #background_position_x,
#circles_width_background, #circles_width_foreground, #width_l, #height_l {
    width: 80px;
    position: relative;
    float: left;
    background-color: #2d2d2d;
    border: solid 1px #515151;
    height: 19px;
    margin-left: 20px;
}

#text-indent, #padding_all {
    margin-left: 0px;
}

#letter_spacing {
    width: 80px;
    position: relative;
    float: right;
    background-color: #2d2d2d;
    border: solid 1px #515151;
    height: 19px;
}

#section_width, #section_left, #background_position_x {
    margin-left: 0px;
}

#circles_width_background, #circles_width_foreground {
    margin-left: 0px;
}

#panel_font_size, #panel_section_width, #panel_section_height {
    margin-left: 7px;
}

#section_top, #section_height, #panel_section_height, #background_position_y {
    width: 80px;
    position: relative;
    float: right;
    background-color: #2d2d2d;
    border: solid 1px #515151;
    height: 19px;
}

#rotate {
    height: 35px;
    width: 100%;
    display: none;
}

#positionElement {
    display: none;
}

#rotation, #tranform-time, #opacity_normal, #opacity_hover, #zoom {
    width: 63px;
    position: relative;
    float: left;
    background-color: #2d2d2d;
    border: solid 1px #515151;
    height: 19px;
}

#content_width, #page_content_width, #page_content_height, #page_content_column {
    width: 80px;
    position: relative;
    float: right;
    background-color: #2d2d2d;
    border: solid 1px #515151;
    height: 19px;
}

/*#page_content_width, #page_content_height, #page_content_column {
    width: 80px;
    height: 24px;
    position: relative;
    background-color: #D8D8D8;
    border: solid 1px #515151;
    border-radius: 5px;
    float: right;
}*/



/*#width_l, #height_l {
    width: 80px;
    position: relative;
    float: left !important;
    background-color: #D8D8D8;
    border: solid 1px #515151;
    border-radius: 5px;
}*/

#blurriness, #blurriness_shadow, #blurriness_lighting,
#xx, #yy, #xx_shadow, #yy_shadow, #blurriness_lighting_text {
    width: 80px;
    position: relative;
    height: 19px;
    background-color: #2d2d2d;
    border: solid 1px #515151;
    border-radius: 5px;
}

#yy_shadow {
    float: right;
}

#line_height {
    width: 80px;
    position: relative;
    float: left;
    background-color: #2d2d2d;
    border: solid 1px #515151;
    border-radius: 5px;
}


    #font_size > i, #line_bold > i, #line_height > i, #letter_spacing > i, #text-indent > i, #blurriness > i,
    #blurriness_shadow > i, #blurriness_lighting > i, #xx > i, #yy > i, #xx_shadow > i, #yy_shadow > i,
    #content_width > i, #border_radius > i, #section_width > i, #section_height > i,
    #padding_all > i, #padding_left > i, #padding_right > i, #padding_top > i, #padding_bottom > i,
    #border_top > i, #border_left > i, #border_right > i, #border_bottom > i, #br_top_left > i,
    #br_top_right > i, #br_bottom_left > i, #br_bottom_right > i, #section_top > i, #section_left > i,
    #page_content_width > i, #page_content_column > i, #page_content_height > i, #panel_font_size > i,
    #panel_section_width > i, #panel_section_height > i, #rotation > i, #tranform-time > i, #background_position_x > i, #background_position_y > i {
        display: none;
        width: 20px;
        height: 22px;
        text-align: center;
        float: left;
        line-height: 1.6;
        border-right: solid 1px #515151;
    }


#border_top, #border_left, #border_right, #border_bottom, #br_top_left,
#br_top_right, #br_bottom_left, #br_bottom_right {
    width: 78px;
    position: absolute;
    background-color: #2d2d2d;
}

.units {
    text-align: center;
    width: 16px;
    height: 17px;
    float: left;
    border: 1px solid black;
    border-left: none;
    font-size: 11px;
    line-height: 1.6;
    cursor: pointer;
    position: relative;
    color: #ccc;
}

#position-background {
    height: 30px;
}

#tranform_time {
    width: 100%;
    height: 30px;
}

#background_position-x, #background_position-y {
    width: 50%;
    height: 30px;
    float: left;
}


.units:hover {
    background-image: linear-gradient(#2d2d2d, #555);
    text-shadow: 2px 1px 3px #000;
}

#page_content_width > .units:hover, #page_content_height > .units:hover {
    background-image: linear-gradient(#c8c8c8, #D8D8D8);
    text-shadow: 2px 1px 3px #000;
}

.units-1 {
    text-align: center;
    width: 16px;
    height: 17px;
    float: left;
    border: 1px solid black;
    border-left: none;
    font-size: 11px;
    line-height: 1.6;
    cursor: pointer;
    position: relative;
    color: #ccc;
}

#unit {
    border: 0.5px solid #515151;
    background-color: #2d2d2d;
    font-size: 10px;
    line-height: 2.2;
}

    #unit > div:hover {
        background-color: rgb(81, 81, 81);
        color: #d5d5d5;
    }

#border_top {
    top: 18px;
    left: 47px;
}

#border_left {
    left: 0;
    top: 48px;
}

#border_right {
    right: 0;
    top: 48px;
}

#border_bottom {
    bottom: 2px;
    left: 47px;
}

#br_top_left {
    left: 0;
    top: 18px;
}

#br_top_right {
    right: 0;
    top: 18px;
}

#br_bottom_left {
    left: 0;
    bottom: 5px;
}

#br_bottom_right {
    right: 0;
    bottom: 5px;
}

#button_prev_font_size, #button_prev_border_radius, #button_prev_thickness_border,
#button_prev_line_height, #button_prev_blurriness, #button_prev_blurriness_shadow, #button_prev_blurriness_lighting,
#button_prev_x, #button_prev_y, #button_prev_x_shadow, #button_prev_y_shadow,
#button_prev_width, #btn_prev_section_width, #btn_prev_section_height, #button_prev_letter_spacing,
#button_prev_text_indent, #button_prev_padding_all, #button_prev_padding_left,
#button_prev_padding_right, #button_prev_padding_top, #button_prev_padding_bottom,
#button_prev_border_top, #button_prev_border_left, #button_prev_border_right, #button_prev_border_bottom,
#button_prev_br_top_left, #button_prev_br_top_right, #button_prev_br_bottom_left, #button_prev_br_bottom_right,
#btn_prev_section_top, #btn_prev_section_left, #button_prev_width_page, #button_prev_height_page,
#count_column_prev, #panel_button_prev_font_size, #panel_btn_prev_section_width, #panel_btn_prev_section_height,
#btn_prev_rotation, #btn_prev_tranform, #btn_prev_background_position_x, #btn_prev_background_position_y,
#button_prev_circles_width, #button_prev_circles_width_foreground, #btn_prev_width_l, #btn_prev_height_l,
#btn_prev_opacity_normal, #btn_prev_opacity_hover, #btn_prev_zoom, #button_prev_blurriness_lighting_text {
    width: 17px;
    height: 9px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #2d2d2d;
    border: solid 1px black;
    border-right: none;
    border-top: solid 0.5px black;
    background-image: url('/Areas/Cabinet/Images/font-size.png');
    background-repeat: no-repeat;
    background-size: 6px;
    background-position: 5px -24px;
    cursor: pointer;
}

/*#btn_prev_width_l, #btn_prev_height_l {
    width: 17px;
    height: 9px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #D8D8D8;
    border: solid 1px #515151;
    /*background-image: url('/Areas/Cabinet/Images/font-size.png');*/
background-repeat: no-repeat; background-size: 6px; background-position: 5px -24px; cursor: pointer;
}

*/ #background_position-x, #background_position-y {
    float: left;
    width: 50%;
}

#button_next_font_size, #button_next_border_radius, #button_next_thickness_border,
#button_next_line_height, #button_next_blurriness, #button_next_blurriness_shadow, #button_next_blurriness_lighting,
#button_next_x, #button_next_y, #button_next_x_shadow, #button_next_y_shadow,
#button_next_width, #btn_next_section_width, #btn_next_section_height, #button_next_letter_spacing,
#button_next_text_indent, #button_next_padding_all, #button_next_padding_left,
#button_next_padding_right, #button_next_padding_top, #button_next_padding_bottom,
#button_next_border_top, #button_next_border_left, #button_next_border_right, #button_next_border_bottom,
#button_next_br_top_left, #button_next_br_top_right, #button_next_br_bottom_left, #button_next_br_bottom_right,
#btn_next_section_top, #btn_next_section_left, #button_next_width_page, #button_next_height_page,
#count_column_next, #panel_button_next_font_size, #panel_btn_next_section_width, #panel_btn_next_section_height,
#btn_next_rotation, #btn_next_tranform, #btn_next_background_position_x, #btn_next_background_position_y,
#button_next_circles_width, #button_next_circles_width_foreground, #btn_next_width_l, #btn_next_height_l,
#btn_next_opacity_normal, #btn_next_opacity_hover, #btn_next_zoom, #button_next_blurriness_lighting_text {
    width: 17px;
    height: 9px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2d2d2d;
    border: solid 1px black;
    border-right: none;
    border-bottom: solid 0.5px black;
    background-image: url('/Areas/Cabinet/Images/font-size.png');
    background-repeat: no-repeat;
    background-size: 6px;
    background-position: 5px 1px;
    cursor: pointer;
}


    /*#btn_next_width_l, #btn_next_height_l {
    width: 17px;
    height: 9px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #D8D8D8;
    border: solid 1px #515151;
    background-repeat: no-repeat;
    background-size: 6px;
    background-position: 5px 1px;
    cursor: pointer;
}*/

    #button_prev_font_size:hover, #button_prev_border_radius:hover, #button_prev_thickness_border:hover,
    #button_prev_line_height:hover, #button_prev_blurriness:hover, #button_prev_blurriness_shadow:hover, #button_prev_blurriness_lighting:hover,
    #button_prev_x:hover, #button_prev_y:hover, #button_prev_x_shadow:hover, #button_prev_y_shadow:hover,
    #button_prev_width:hover, #button_next_font_size:hover, #button_next_border_radius:hover,
    #button_next_thickness_border:hover, #button_next_line_height:hover, #button_next_blurriness:hover,
    #button_next_blurriness_shadow:hover, #button_next_blurriness_lighting:hover, #button_next_x:hover, #button_next_y:hover, #button_next_x_shadow:hover,
    #button_next_y_shadow:hover, #button_next_width:hover, #button_prev_letter_spacing:hover,
    #button_next_letter_spacing:hover, #button_prev_text_indent:hover, #button_next_text_indent:hover,
    #button_prev_padding_all:hover, #button_prev_padding_left:hover, #button_prev_padding_right:hover,
    #button_prev_padding_top:hover, #button_prev_padding_bottom:hover, #button_next_padding_all:hover,
    #button_next_padding_left:hover, #button_next_padding_right:hover, #button_next_padding_top:hover,
    #button_next_padding_bottom:hover, #button_next_border_top:hover, #button_next_border_left:hover,
    #button_next_border_right:hover, #button_next_border_bottom:hover, #button_prev_border_top:hover,
    #button_prev_border_left:hover, #button_prev_border_right:hover, #button_prev_border_bottom:hover,
    #button_next_br_top_left:hover, #button_next_br_top_right:hover, #button_next_br_bottom_left:hover,
    #button_next_br_bottom_right:hover, #button_prev_br_top_left:hover, #button_prev_br_top_right:hover,
    #button_prev_br_bottom_left:hover, #button_prev_br_bottom_right:hover, #button_prev_width_page:hover,
    #button_next_width_page:hover, #count_column_prev:hover, #count_column_next:hover, #button_prev_height_page:hover,
    #button_next_height_page:hover, #panel_button_prev_font_size:hover, #panel_button_next_font_size:hover,
    #button_next_circles_width:hover, #button_prev_circles_width:hover, #button_prev_circles_width_foreground:hover,
    #button_next_circles_width_foreground:hover, #btn_next_width_l:hover, #btn_next_height_l:hover,
    #btn_prev_width_l:hover, #btn_prev_height_l:hover, #button_next_blurriness_lighting_text:hover,
    #button_next_blurriness_lighting_text:hover {
        background-color: #414141;
    }

#background-position {
    height: 50px;
}

#max_width > label {
    line-height: 1;
    margin: 5px 5px 0 0px;
}

#max_width > input {
    top: -2px;
}

.inactive:hover {
    cursor: url('/Content/images/inactive.png'), pointer !important;
}

.font {
    width: 20px;
    height: 20px;
    background-color: #2d2d2d;
    border: solid 1px #414141;
    /*border-radius: 5px;*/
    float: left;
    position: relative;
    /*padding-top: 4px;*/
    text-align: center;
    margin-right: 5px;
    color: #d5d5d5;
    font-size: 8px;
}

    .font a, .font-vert a {
        color: white;
    }

        .font a:hover, .font-vert a:hover {
            color: white;
        }

#b, #bb {
    padding-top: 3px;
    font-weight: bold;
}

#c, #cc {
    padding-top: 3px;
    text-decoration: underline;
}

#i, #ii {
    padding-top: 3px;
    font-style: italic;
}

#bb, #cc, #ii {
    margin-left: 7px;
}

.font-vert {
    width: 20px;
    height: 20px;
    background-color: #2d2d2d;
    border: solid 1px #414141;
    /*border-radius: 5px;*/
    float: left;
    position: relative;
    padding: 4px 0 0 0;
    text-align: center;
    margin-right: 5px;
    color: #d5d5d5;
    font-size: 10px;
}

.font:hover {
    background-color: #515151;
    cursor: pointer;
}

.font a {
    width: 100%;
    height: 100%;
    text-decoration: none;
}

#background_modal {
    position: absolute;
    top: -5px;
    left: 0px;
    width: 1px;
    height: 1px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1009;
}

.top_modal_block {
    width: 100%;
    height: 30px;
    background: white;
    font-size: 12px;
    font-weight: 500;
    font-family: Arial;
    line-height: 2.5;
    padding-left: 10px;
    letter-spacing: 0.7px;
    color: black;
}

#addPage_litebox .close_window {
    font-size: 25px;
}



#load_image {
    height: 435px;
    width: 860px;
}

#load_image_section {
    height: 400px;
}

#types_of_galleries_background, #timer_option_menu, #types_of_galleries_b {
    width: 200px;
    height: 320px;
    position: relative;
    float: left;
    overflow-y: auto;
}

#types_of_galleries {
    width: 205px;
    height: 320px;
    position: relative;
    float: left;
    overflow-y: auto;
}

#types_of_galleries_icon {
    width: 260px;
    height: 268px;
    position: relative;
    float: left;
    overflow-y: auto;
}

#types_of_galleries_section {
    width: 200px;
    height: 350px;
    position: relative;
    float: left;
    background: #666;
    overflow-y: auto;
}

#image_from_gallery_section {
    width: 600px;
    height: 295px;
    position: relative;
    float: left;
    /*background: rgba(130, 192, 223, 0.2);*/
    overflow: auto;
}

#image_from_gallery, #image_from_gallery_b, #image_from_gallery_background, #download_image_from_gallery, #download_image_from_gallery_b {
    width: 600px;
    height: 300px;
    position: relative;
    float: left;
    /*background: rgba(130, 192, 223, 0.2);*/
    overflow: auto;
}

    #download_image_from_gallery > div, #download_image_from_gallery_b > div {
        font-size: 12px;
        padding: 10px;
    }

    #image_from_gallery img, #image_from_gallery_b img, #image_from_gallery_background img, #image_from_gallery_section img, #download_image_from_gallery img {
        width: 150px;
        margin: 12px 20px;
    }

        #image_from_gallery img:hover, #image_from_gallery img:hover, #image_from_gallery_background img:hover, #image_from_gallery_section img:hover, #download_image_from_gallery img:hover {
            opacity: 0.8;
            cursor: pointer;
        }

#buttons_sel_image, #buttons_sel_image_b, #buttons_sel_background_image,
#buttons_sel_image_section {
    width: 860px;
    height: 70px;
    position: relative;
    background-color: #D8D8D8;
}

#timer_option_buttons, #circular_timer_option_buttons, #widget_option_buttons {
    width: 100%;
    height: 70px;
    position: relative;
    background-color: #D8D8D8;
}

.button, #save_image_1 {
    border-style: solid;
    border-width: 1px;
    border-color: #272727;
    background: #636363;
    background: -moz-linear-gradient(top, #868686 0%, #585858 4%, #4b4b4b 96%, #414141 100%);
    background: -webkit-linear-gradient(top, #868686 0%,#585858 4%,#4b4b4b 96%,#414141 100%);
    background: linear-gradient(to bottom, #868686 0%,#585858 4%,#4b4b4b 96%,#414141 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#868686', endColorstr='#414141',GradientType=0 );
    color: #FFFFFF;
    font-size: 13px;
    font-family: Arial;
    font-weight: 500;
    position: relative;
    float: right;
    height: 22px;
    width: 88px;
    text-align: center;
    line-height: 1.6;
    cursor: default;
    margin: 11.5px 0px 11.5px 12px;
}

    .button:hover, #save_image_1:hover {
        background: #737373;
        background: -moz-linear-gradient(top, #969696 0%, #686868 4%, #5b5b5b 96%, #515151 100%);
        background: -webkit-linear-gradient(top, #969696 0%,#686868 4%,#5b5b5b 96%,#515151 100%);
        background: linear-gradient(to bottom, #969696 0%,#686868 4%,#5b5b5b 96%,#515151 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#969696', endColorstr='#515151',GradientType=0 );
        color: #fff;
    }

    .button > a:hover {
        color: #fff;
    }

.type_of_gallery, .element_info {
    width: 100%;
    height: 25px;
    font-size: 12px;
    cursor: pointer;
    padding-left: 25px;
    line-height: 1.7;
    color: #eee;
    margin: 0 auto;
    border: 1px solid rgba(0,0,0,0);
}

    .type_of_gallery:hover, .element_info:hover {
        background-color: #636363;
        color: #ddd;
        cursor: pointer;
        border: 1px solid black;
    }

.selected {
    border: 3px solid #428bca;
}

#delete_element, #delete_page, #set_name_anchor, #add_font_family_window {
    width: 400px;
    height: 150px;
}

#delete_element, #set_name_anchor {
    height: 130px;
}

#added_font_family_window {
    position: absolute;
    width: 400px;
    height: 200px;
    left: 0;
    top: -450px;
    z-index: 10000010;
    background: white;
}

    #added_font_family_window > .dial_content {
        padding-top: 23px;
        height: 130px;
        overflow: auto;
    }

        #added_font_family_window > .dial_content > span {
            display: block;
            width: 49%;
            height: 25px;
            font-size: 12px;
            float: left;
        }



#add_font_family_window > .dial_content {
    padding-top: 23px;
}

#add_font_family_window input {
    width: 350px;
}

.dial_content {
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 40px;
    font-size: 17px;
}

#input_image_load, #input_image_load_background {
    display: none;
}

#load_icon_litebox {
    width: 860px;
    height: 397px;
}

#video_parametrs {
    width: 560px;
    height: 100%;
}

#map_parametrs {
    width: 760px;
    height: 100%;
}

.sel {
    background-color: #444;
    color: #428bca;
}

#input_background_image_load, #input_image_load_section {
    display: none;
}

#icons_menu {
    width: 260px;
    position: relative;
    float: left;
}

#icons_gallery {
    width: calc(100% - 260px);
    height: 293px;
    position: relative;
    float: left;
    overflow: auto;
    border-left: 1px solid #aaa;
}

#timer_option_content, #widget_option_content {
    width: 100%;
    height: calc(100% - 70px - 30px);
    position: relative;
    overflow: auto;
}

#circular_timer_option_content {
    width: 100%;
    height: 260px;
    position: relative;
    overflow: auto;
}

#icons_gallery i {
    /*margin: 7px;*/
    display: inline-block;
    width: 54px;
    height: 54px;
    text-align: center;
    line-height: 1.3;
}

    #icons_gallery i:hover {
        color: #428bca;
        cursor: pointer;
    }

#buttons_sel_icon {
    width: 860px;
    height: 70px;
    position: relative;
    background-color: #D8D8D8;
}

.icon_gall {
    display: none;
}

.sell {
    color: #428bff;
}

#layers_con > div {
    width: 100%;
    height: 30px;
    margin-top: 1px;
    cursor: pointer;
    background-color: #555;
}

    #layers_con > div:hover {
        background-color: #444;
    }

    #layers_con > div > p {
        padding-left: 40px;
        line-height: 2.1;
        margin: 0 !important;
    }

    #layers_con > div > div {
        height: 100%;
        text-align: center;
        background-color: #444;
        float: left;
        padding-top: 7px;
    }

    #layers_con > div > span {
        height: 100%;
        width: 30px;
        text-align: center;
        float: left;
        padding-top: 7px;
    }

.hideAndShowEl {
    width: 30px;
    height: 30px;
    background: #333 !important;
}

    .hideAndShowEl > i:hover {
        color: #428bca;
    }

.contextmenu {
    width: 150px !important;
    height: 77px !important;
    background: #666 !important;
    position: absolute;
    right: 50px;
    z-index: 1200;
    display: block;
    border: 1px solid #999;
    box-shadow: 0px 0px 8px #999;
    border-radius: 5px;
    padding-top: 0px !important;
    text-align: left !important;
}

    .contextmenu > div {
        width: 100%;
        height: 25px;
        color: #d5d5d5;
        padding: 5px 0 5px 10px;
        cursor: pointer;
    }

        .contextmenu > div > i {
            font-size: 16px !important;
        }

        .contextmenu > div:hover {
            background: #444;
            color: #428bca;
            border: 1px solid #444;
            border-radius: 5px;
        }


#ruler_gor {
    position: relative;
    z-index: 50;
    width: calc(100%-15px);
    height: 15px;
    background: url('/Areas/Cabinet/Images/ruler_gor.png');
    margin-left: 15px;
}


#ruler {
    background: url('/Areas/Cabinet/Images/ruler.png');
    float: left;
    width: 15px;
    height: 15px;
    position: relative;
}

#ruler_ver {
    position: absolute;
    z-index: 50;
    height: calc(100% - 15px);
    top: 15px;
    width: 15px;
    float: left;
    background: url('/Areas/Cabinet/Images/ruler_ver.png');
    background-repeat: repeat-y;
}

#background_image {
    display: none;
}

#hide_right_menu {
    width: 100%;
    height: 12px;
    border-bottom: 1px solid #212121;
    background: #666666; /* Old browsers */
    background: -moz-linear-gradient(top, #666666 0%, #383838 4%, #2b2b2b 96%, #212121 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #666666 0%,#383838 4%,#2b2b2b 96%,#212121 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #666666 0%,#383838 4%,#2b2b2b 96%,#212121 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#212121',GradientType=0 ); /* IE6-9 */
}

    #hide_right_menu > i {
        color: #aaa;
        font-size: 11px;
        cursor: pointer;
        padding: 0px 3px;
        display: block;
        width: 12px;
        height: 100%;
        float: left;
    }

        #hide_right_menu > i:hover {
            background: #636363;
            background: -moz-linear-gradient(top, #868686 0%, #585858 4%, #4b4b4b 96%, #414141 100%);
            background: -webkit-linear-gradient(top, #868686 0%,#585858 4%,#4b4b4b 96%,#414141 100%);
            background: linear-gradient(to bottom, #868686 0%,#585858 4%,#4b4b4b 96%,#414141 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#868686', endColorstr='#414141',GradientType=0 );
        }

/*#text_shadow, #block_shadow, #block_shadows, #block_lighting, #block_lightings {
    width: 100%;
    height: 30px;
    line-height: 2;
}*/

/*#text_shadow:hover, #block_shadow:hover,*/ #additionally:hover {
    background-color: #515151;
    cursor: pointer;
}

#text_shadow > img, #block_shadow > img, #block_shadows > img, #block_lighting > img, #block_lightings > img, #text_lightings > img {
    position: relative;
    width: 20px;
    top: -2px;
}

#border_style {
    position: relative;
    height: 40px;
}

    #border_style .sbHolder, #block_lighting_content .sbHolder {
        top: 0;
    }

#additionally {
    border-top: 1px solid #515151;
    border-bottom: 1px solid #515151;
    text-align: center;
    min-height: 23px;
    padding-top: 0px;
    line-height: 2;
}

#additionally_window {
    height: 400px !important;
}

#page_parametrs {
    height: 219px;
    width: 400px;
}

#additional_page_p {
    font-size: 18px;
    font-weight: 500;
    font-family: '__PF Square Sans Pro_5';
    text-align: right;
    line-height: 1.8;
    display: inline-block;
    float: left;
    width: 375px;
    height: 30px;
}

/*#video_button {
    width: 99%;
    margin: 5px auto;
    height: 30px;
    cursor: pointer;
    line-height: 2;
}*/

.video_button {
    width: 50%;
    float: left;
    text-align: center;
    cursor: default;
}

#additionally_content_p {
    width: 100%;
    height: 142px;
    font-size: 12px;
    padding: 15px 15px 0px 15px;
}

    #additionally_content_p > div > div {
        width: 100%;
        margin-bottom: 20px;
        height: 20px;
    }

#edit_video {
    height: 255px;
    width: 550px;
}

    #edit_video span {
        width: 450px;
    }

    #edit_video label {
        font-size: 12px;
    }

.video_option_column {
    width: 50%;
    float: left;
    position: relative;
}


#map_id {
    width: 760px;
    margin: 20px 20px 0 20px;
    height: 320px;
}

#form_elements {
    width: 760px;
    height: 97px;
    overflow-y: auto;
}

    #form_elements table > tbody > tr > th {
        font-size: 12px;
    }

#form_option_window {
    width: 800px;
    height: 190px;
}

#additionally_content {
    width: 100%;
    height: 300px;
    background: white;
    font-size: 12px;
    padding: 20px 0 20px 100px;
}

.additionally_content {
    width: 100%;
    height: 160px;
    font-size: 12px;
    padding: 20px;
}


#additionally_content input {
    width: 550px;
    margin-left: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

#additionally_content textarea {
    width: 550px;
    height: 100px;
    margin-left: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

#video_url, #user_video_url, #user_poster_url {
    width: 100%;
    margin-bottom: 10px;
}

.text, .textarea {
    position: relative;
    margin-top: 20px;
}

    .text span, .textarea span {
        display: block;
        width: 150px;
    }

#woc-background, #borders {
    /*display: none;*/
}

#woc-animate .sbHolder {
    top: 0px;
}

#woc-animate label {
    margin-top: 7px;
    font-size: 10px;
    font-weight: normal;
}

.woc_panel > i {
    float: right;
    font-size: 11px;
    cursor: pointer;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 1.5;
}

    .woc_panel > i:hover {
        background: #636363;
        background: -moz-linear-gradient(top, #868686 0%, #585858 4%, #4b4b4b 96%, #414141 100%);
        background: -webkit-linear-gradient(top, #868686 0%,#585858 4%,#4b4b4b 96%,#414141 100%);
        background: linear-gradient(to bottom, #868686 0%,#585858 4%,#4b4b4b 96%,#414141 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#868686', endColorstr='#414141',GradientType=0 );
    }

#fonts {
    height: 50px;
}

.clocks {
    position: relative;
    float: left;
    margin: 0 15px;
    margin: 0 15px;
}

    .clocks p {
        margin: 0 0 0 15px;
    }

    .clocks input {
        border: 1px solid #cccccc;
        border-radius: 5px;
        text-align: center;
    }

#text_day, #text_hour, #text_min, #text_sec {
    width: 100px;
    height: 25px;
}

#check_day, #check_hour, #check_min, #check_sec {
    position: relative;
    top: 2px;
    display: inline-block;
    margin-right: 3px;
}

.act {
    background-color: #5a5a5a;
}

#templates_timers div {
    width: 50%;
    float: left;
    text-align: center;
    margin: 5px 0;
    cursor: pointer;
}

#templates_timers img {
    margin: 0 auto;
    height: 60px;
}

#date_packer {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 110px;
    height: 27px;
}

.btns_el {
    display: block;
    float: right !important;
    width: 25% !important;
}

    .btns_el > span {
        display: block;
        float: left;
        width: 33%;
        font-size: 10px;
        padding-top: 5px;
    }

    .btns_el i:hover {
        color: #428bca;
    }

.rename_input {
    width: 100%;
    border: 1px dashed #aaa;
    background: #555555;
    padding: 0 3px;
}

.page_tab {
    width: 150px;
    height: 100%;
    /*border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px 5px 0 0;
    box-shadow: 0 -1px 6px #666;*/
    float: left;
    /*margin-top: 20px;*/
    margin-left: 1px;
    text-align: center;
    color: #bbb;
    border-right: 1px solid #212121;
    background: #666666; /* Old browsers */
    background: -moz-linear-gradient(top, #666666 0%, #383838 4%, #2b2b2b 96%, #212121 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #666666 0%,#383838 4%,#2b2b2b 96%,#212121 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #666666 0%,#383838 4%,#2b2b2b 96%,#212121 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#212121',GradientType=0 ); /* IE6-9 */
}

.add_page_tab {
    width: 30px;
    height: 100%;
    /*border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px 5px 0 0;
    box-shadow: 0 -1px 6px #666;*/
    float: left;
    /*margin-top: 20px;*/
    margin-left: 1px;
    text-align: center;
    color: #bbb;
    border-right: 1px solid #212121;
    background: #666666; /* Old browsers */
    background: -moz-linear-gradient(top, #666666 0%, #383838 4%, #2b2b2b 96%, #212121 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #666666 0%,#383838 4%,#2b2b2b 96%,#212121 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #666666 0%,#383838 4%,#2b2b2b 96%,#212121 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#212121',GradientType=0 ); /* IE6-9 */
}

    .add_page_tab:hover {
        color: #00cc00;
    }

.tab_active {
    /*background: #4d4d4d;*/
    color: #fff;
    box-shadow: none;
    /*border-right: 1px dotted #606060;*/
    background: #636363; /* Old browsers */
    background: -moz-linear-gradient(top, #868686 0%, #585858 4%, #4b4b4b 96%, #414141 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #868686 0%,#585858 4%,#4b4b4b 96%,#414141 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #868686 0%,#585858 4%,#4b4b4b 96%,#414141 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#868686', endColorstr='#414141',GradientType=0 ); /* IE6-9 */
}

#addPage_litebox {
    width: 400px;
    height: 250px;
    font-size: 12px;
}

#addPage_content, #addLitebox_content {
    width: 100%;
    height: 155px;
    margin: 0 auto;
    padding: 20px 10px 10px 10px;
}

#addLitebox_content {
    display: none;
}

    #addPage_content input, #addLitebox_content > label > input {
        width: 346px;
    }

/*.addPageY, .addPageN {
    width: 50%;
    height: 50px;
    float: left;
    background: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    text-align: center;
    line-height: 2.3;
}*/

.addPageY:hover, .addPageN:hover {
    background: rgba(51, 51, 51, 0.8);
    color: #d5d5d5;
    cursor: pointer;
}

.del_page {
    color: #aaa;
    position: relative;
    float: right;
    display: block;
    padding: 4px;
    font-size: 11px !important;
}

    .del_page:hover {
        color: red;
    }

#attention_addPage_url, #attention_addPage_name, #attention_addLitebox_name, #attention_anchor_name {
    position: absolute;
    width: 25px;
    height: 25px;
    display: block;
    bottom: 2px;
    right: 5px;
    opacity: 0;
}

#attention_anchor_name {
    right: 20px;
    top: 41px;
}

#create_landing_litebox {
    width: 400px;
    height: 200px;
    position: absolute;
    z-index: 1020 !important;
    top: -1000px;
    font-size: 18px;
}

    #create_landing_litebox .content_win {
        width: 100%;
        height: 75%;
        background: white;
        padding: 15px;
        margin: 0 auto;
        text-align: center;
    }

.content_win input {
    width: 300px;
}

.content_win label {
    position: relative;
    width: 100%;
}

#create_landing_litebox .modal_button {
    width: 50%;
    height: 25%;
    float: left;
    background: #72c02c;
    color: #d5d5d5;
    font-size: 18px;
    text-align: center;
    line-height: 3;
}

    #create_landing_litebox .modal_button:hover {
        background: #5fb611;
        cursor: pointer;
    }

#attention_website_name, #attention_website_url, #attention_title_section, #attention_title_section {
    position: absolute;
    right: 0px;
    top: 26px;
    width: 26px;
    opacity: 0;
}

#attention_title_section {
    top: 18px;
}

#saveAndExitWindo {
    width: 400px;
    height: 200px;
}

#save_section_litebox {
    width: 300px;
    height: 200px;
}


.section.hover {
    border-bottom: 3px solid #317ab9;
    border-top: 3px solid #317ab9;
}

.ui-draggable-dragging {
    z-index: 10000;
}

#addSection {
    width: 400px;
    height: 150px;
}

.addSection_content {
    width: 100%;
    height: 50px;
    font-size: 20px;
    text-align: center;
}

    .addSection_content > div {
        width: 90%;
        height: 50px;
        text-align: center;
        padding: 10px;
        float: left;
    }

    .addSection_content > span {
        width: 10%;
        font-size: 30px;
        padding-top: 10px;
        position: relative;
        float: right;
        cursor: pointer;
    }

        .addSection_content > span:hover {
            color: red;
        }

.sectionCount {
    width: 100%;
    height: 50px;
}

    .sectionCount > div {
        width: 25%;
        height: 50px;
        color: #383f45;
        position: relative;
        float: left;
        font-size: 20px;
        line-height: 2.4;
        text-align: center;
        background-color: rgba(250, 250, 250, 0.8);
    }

        .sectionCount > div:hover {
            background-color: rgba(51, 51, 51, 0.8);
            color: #d5d5d5;
            cursor: pointer;
        }


/*.column2, .column3, .column4 {
    border-right: 0.3px dashed #428bca;
    border-bottom: 0.3px dashed #428bca;
}*/

.column1 {
    width: 100%;
}

.column2 {
    width: 50%;
}

.column3 {
    width: 33.3%;
}

.column4 {
    width: 25%;
}

.column {
    border-right: 0.3px dashed #428bca;
    border-bottom: 0.3px dashed #428bca;
    height: 100%;
    float: left;
    position: relative;
    display: inline-block;
}

.container_section {
    border-left: 0.3px dashed #428bca;
}

#sizeElement {
    display: none;
}

#section_background, #background_image_section {
    /*padding: 10px 0;*/
    height: 20px;
}

    #section_background > span, #background_image_section > span {
        position: relative;
        float: left;
        line-height: 1.8;
    }

    #section_background > i, #background_image_section > i {
        margin-left: 2px;
        position: relative;
        float: right;
        width: 21px;
        height: 21px;
        text-align: center;
        line-height: 1.8;
        color: #428bca;
        cursor: pointer;
    }

#s_b_p {
    margin-top: 2px;
    width: 60px;
}

.img_align {
    width: 16px;
    height: 16px;
    margin: 2px;
    float: left;
    border: 0.5px solid rgba(0, 0, 0, 0);
    border-radius: 2px;
}

    .img_align:hover {
        cursor: pointer;
        border: 0.5px solid rgba(0, 0, 0, 0.5);
        background: #2d2d2d;
    }

    .img_align > img {
        width: 100%;
        height: 100%;
    }

.m_dropdown {
    height: 50px;
}

#section_background .sbHolder {
    top: 5px;
}

.pasteSection {
    width: 100%;
    height: 5px;
    background-color: #428bca;
}

.sectionContent {
    width: 100%;
    height: 300px;
    background-color: white;
    border: 2px solid #428bca;
}

#general_menu {
    top: 27px;
    left: 0px;
    position: absolute;
    z-index: 1000011;
    width: 180px;
    height: 0px;
    background-color: #333;
    overflow: hidden;
    color: #d5d5d5;
}

.list_menu {
    width: 100%;
    height: 35px;
    padding: 9px;
    font-size: 14px;
}

    .list_menu:hover {
        background-color: #4d4d4d;
        cursor: pointer;
    }

    .list_menu > a {
        text-decoration: none;
        color: #d5d5d5;
    }

        .list_menu > a:hover {
            text-decoration: none;
            color: #d5d5d5;
        }

#open_landing_menu {
    width: auto;
    height: 0px;
    position: absolute;
    background-color: #333;
    z-index: 100000;
    overflow: hidden;
}

.opening_menu {
    width: 100%;
    height: 35px;
    padding: 9px;
}

    .opening_menu:hover {
        background-color: #4d4d4d;
        cursor: pointer;
    }

    .opening_menu > a {
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #d5d5d5;
    }

        .opening_menu > a:hover {
            text-decoration: none;
            color: #d5d5d5;
        }

#editTextElement, #editBtnElement {
    width: 600px;
    height: 280px;
}

#buttons_ETE, #map_buttons, #buttons_page, .control_buttons, #buttons_btnC, #form_buttons, #landing_buttons, #additionally_buttons, #video_buttons, #page_param_buttons {
    width: 100%;
    height: 70px;
    background-color: #D8D8D8;
}

#menu_ETE {
    width: 200px;
    height: 450px;
    float: left;
    background-color: #666;
    position: relative;
}

.ete_menus {
    width: 100%;
    height: 40px;
    color: #d5d5d5;
    text-align: center;
    font-size: 16px;
    line-height: 2.5;
}


    .ete_menus:hover {
        background-color: #444;
        cursor: pointer;
        color: #428bca;
    }

.tm_active {
    background-color: #444;
}

#text_ete {
    display: block;
    width: 100%;
    height: 100%;
}

#url_ete {
    display: none;
    width: 100%;
    height: 100%;
}

#content_ETE textarea {
    color: #333;
}

#text_ete > label, #url_ete > label {
    width: 80%;
    display: block;
    margin: 0 auto;
    padding: 0 0 20px 0;
}

#edit_text {
    width: 100%;
    height: 170px;
    border: 1px solid #D8D8D8;
    margin-top: 15px;
}

#text_ete > label > p {
    font-size: 16px;
}

#text_ete > label {
    font-weight: normal !important;
}



#text_href {
    width: 100%;
}

#ListPages {
    margin: 5px 0;
}

#border_angles {
    position: relative;
    width: 50px;
    height: 50px;
}

    #border_angles > img {
        margin: 2.5px;
        width: 20px;
        height: 20px;
        float: left;
    }

        #border_angles > img:hover {
            background-color: rgb(81, 81, 81);
            cursor: pointer;
        }

.woc {
    margin: 5px;
    width: 30px;
    height: 30px;
    line-height: 2;
    padding: 5px 4px 4px 4px;
    border: 1px solid rgba(0,0,0,0);
    /*display: none;*/
}


    .woc:hover {
        background: #838383;
        background: -moz-linear-gradient(top, #a6a6a6 0%, #787878 4%, #6b6b6b 96%, #616161 100%);
        background: -webkit-linear-gradient(top, #a6a6a6 0%,#787878 4%,#6b6b6b 96%,#616161 100%);
        background: linear-gradient(to bottom, #a6a6a6 0%,#787878 4%,#6b6b6b 96%,#616161 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6a6a6', endColorstr='#616161',GradientType=0 );
        border: 1px solid #222222;
        border-radius: 2px;
        cursor: pointer;
    }

    .woc > img {
        width: 17px;
        height: 17px;
        margin: 0 2px 2px 2px;
    }

    .woc > span {
        padding-left: 10px;
    }

#woc_column_1 {
    height: 100%;
    width: 0;
    float: left;
    overflow: hidden;
}

#woc_column_2 {
    height: calc(100% - 30px);
    width: 100%;
    overflow: hidden;
}

#line_height_And_letter_spacing, #text_indent {
    height: 35px;
}

.seal {
    height: 18px;
    width: 18px;
    text-align: center;
}

#seal_chain_broken {
    float: left;
    margin-left: 5px;
}

#seal_chain {
    margin: 25px auto 0;
}

#pad2 > #seal_chain {
    margin: 0;
    position: relative;
    top: 25px;
    left: 14px;
}

.seal:hover {
    background: #212121;
    /*background: linear-gradient(to top, #4d4d4d, #5d5d5d);*/
    cursor: pointer;
}

.seal > i {
    line-height: 1.65;
}

#padding_left, #padding_right, #padding_top, #padding_bottom {
    float: none !important;
    margin-bottom: 30px;
    margin-left: 0;
    height: 19px;
}

    #padding_left > i > img, #padding_right > i > img, #padding_top > i > img, #padding_bottom > i > img, #padding_all > i > img {
        width: 20px;
        height: 20px;
        padding-top: 3px;
    }

#pad1, #pad2, #pad3 {
    height: 100%;
    float: left;
}

#pad1, #pad3 {
    width: 65px;
}

#pad2 {
    width: 30px;
}

/*#woc-background > div {
    margin: 5px;
}*/

#background_color_type, #panel_background_color_type {
    height: 45px;
}

    #background_color_type > div, #panel_background_color_type > div {
        float: left;
        position: relative;
        width: 49%;
    }

    #background_color_type img, #panel_background_color_type img {
        padding-right: 5px;
    }

    #background_color_type label, #panel_background_color_type label {
        font-size: 10px;
        margin: 0;
        /*margin-left: 60px;*/
    }

        #background_color_type label > span, #panel_background_color_type label > span {
            position: relative;
            top: -3px;
        }

#background_color_ordinary, #panel_background_color_ordinary {
    height: 20px;
}

#background_color_gradient_position, #panel_background_color_gradient_position {
    width: 60px;
    height: 60px;
    margin: 2px;
}

#background_color_gradient, #panel_background_color_gradient {
    height: 100px;
}

.g_position {
    width: 16px;
    height: 16px;
    margin: 2px;
    float: left;
    border: 0.5px solid rgba(0, 0, 0, 0);
}

    .g_position > img {
        width: 14px;
        height: 14px;
    }

#clear_background_color, #clear_gradient, #clear_border_color, #clear_text_shadow_color,
#clear_block_shadow_color, #clear_block_lighting_color, #clear_text_lighting_color, #panel_clear_background_color, #panel_clear_gradient {
    width: 21px;
    height: 21px;
    color: #428bca;
    text-align: center;
    line-height: 1.8;
    margin-left: 2px;
    /*margin-left: 20px;
    margin-bottom: 5px;*/
}

#clear_gradient, #panel_clear_gradient {
    margin-left: 2px;
}

    #clear_background_color:hover, #clear_gradient:hover, #clear_border_color:hover,
    #clear_text_shadow_color:hover, #clear_block_shadow_color:hover, #clear_block_lighting_color:hover,
    #panel_clear_background_color:hover, #panel_clear_gradient:hover, #clear_text_lighting_color:hover {
        cursor: pointer;
        background-color: #222;
    }

#border_content {
    /*height: 230px;*/
}

#border_to_apart, #border_radius_apart {
    margin: 3px 0 0 5px;
    float: left;
}

#border_to_chain {
    position: absolute;
    top: 49px;
    left: 80px;
}

#border_radius_to_chain {
    position: absolute;
    top: 47px;
    left: 80px;
}

#border_chain, #borders_radius_apart {
    width: 100%;
    position: relative;
    height: 100px;
    background-image: url('/Areas/Cabinet/Content/images/borders.png');
    background-size: 100%;
}

#borders_radius_apart {
    background-position-y: -3px;
}

    #borders_radius_apart > div > i > img {
        width: 70%;
        height: 70%;
        margin: 14%;
    }


#shadow_text p, #shadow_block p, #lighting_block p {
    margin: 5px 0 0 0;
    font-size: 10px;
}

#woc-url > .sbHolder {
    top: 0px;
}

#woc-url > label {
    margin-top: 15px;
}

    #woc-url > label > input {
        margin-right: 10px;
    }

#web_url {
    margin: 0;
    color: black;
}

.country_id, #list_pages, #list_anchor, #list_liteboxes, #circle_animation, #catalogs, #Catalog, #country_id_2, #lighting {
    color: white;
    height: 20px;
    border: 1px solid #515151;
    width: 158px;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    background-color: #2d2d2d;
}

#list_pages, #list_anchor, #list_liteboxes, #catalogs, #Catalog {
    width: 178px;
}

    .country_id:hover, #list_pages:hover, #list_anchor:hover, #list_liteboxes:hover, #circle_animation:hover,
    #catalogs:hover, #Catalog:hover, #country_id_2:hover, #lighting:hover {
        background: #636363;
        background: -moz-linear-gradient(top, #868686 0%, #585858 4%, #4b4b4b 96%, #414141 100%);
        background: -webkit-linear-gradient(top, #868686 0%,#585858 4%,#4b4b4b 96%,#414141 100%);
        background: linear-gradient(to bottom, #868686 0%,#585858 4%,#4b4b4b 96%,#414141 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#868686', endColorstr='#414141',GradientType=0 );
    }

    .country_id option, .country_id optgroup, #list_pages option, #list_anchor option, #list_liteboxes option, #circle_animation option,
    #catalogs option, #Catalog option, #country_id_2 option, #lighting option {
        background-color: #494949;
    }


#web_url {
    width: 100%;
}

#section_top > i > img, #section_left > i > img {
    width: 13px;
    margin: 4px;
}

.button_o {
    width: 80% !important;
    height: 30px !important;
    margin: 5px auto !important;
    position: relative !important;
    top: 0px !important;
    left: 0px !important;
}

.button_op {
    cursor: pointer;
}

    .button_op:hover {
        box-shadow: rgb(250, 250, 250) 0px 0px 5px;
    }

/*.button_o>span {
    font-size: 8px;
    line-height: 15px;
}*/

/*#woc-button {
    padding-top: 5px;
}*/

.close_window {
    width: 28px;
    height: 28px;
    margin: 2px;
    float: right;
    position: relative;
    color: #428bca;
    cursor: pointer;
}

    .close_window:hover {
        color: #ee0000;
    }

.galleries {
    overflow: auto;
    height: 135px;
}

.name_category_gallery {
    width: 100%;
    height: 25px;
    padding-left: 15px;
    background: #D8D8D8;
    color: #1E1E1E;
    line-height: 25px;
    font-size: 12px;
    font-family: '__PF Square Sans Pro_5';
    font-weight: 400;
}

#other_gallery, #main_gallery, #other_gallery_b, #main_gallery_b {
    height: 45%;
}

#current_category_b {
    width: 100%;
    height: 25px;
    text-align: center;
    font-size: 16px;
    color: black;
}

#additional_page {
    font-size: 18px;
    font-weight: 500;
    font-family: '__PF Square Sans Pro_5';
    text-align: right;
    line-height: 1.8;
    display: inline-block;
    float: left;
    width: 760px;
    height: 30px;
}

#title_window_form {
    font-size: 18px;
    font-weight: 500;
    font-family: '__PF Square Sans Pro_5';
    text-align: right;
    line-height: 1.8;
    display: inline-block;
    float: left;
    width: 750px;
    height: 30px;
}

.content_galleries {
    height: 320px;
    width: 598px;
    float: left;
    border-left: 1px solid #D8D8D8;
}

#formx {
    width: 0px;
    height: 0px;
    position: absolute;
    top: -555px;
}


#image_url > form, #image_url_b > form {
    width: 100%;
    float: left;
}


#image_url > span, #image_url_b > span {
    width: 69%;
    display: block;
    float: left;
}

#image_url input, #image_url_b input {
    width: 100%;
    height: 25px;
    border: 1px solid #ccc;
    padding: 0 3px;
}

    #image_url input:hover, #image_url_b input:hover {
        border: 1px solid #999;
    }

#save_image_1 {
    /*position: absolute;
    top: 50px;
    right: 30px;
    margin: 0;
    padding: 0 !important;
    font-size: 20px !important;*/
    display: none;
}

#save_image_2 {
    position: absolute;
    bottom: 50px;
    right: 30px;
    margin: 0;
    padding: 0 !important;
    font-size: 13px !important;
    display: none;
}

.control-group {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}

    .control-group > label {
        font-weight: normal !important;
    }

.type_of_gallery > i {
    color: #ddd;
    font-size: 16px;
    line-height: 1.4;
}

#add_catalog, #add_catalog_b {
    display: none;
    width: 99%;
    margin-left: 2px;
}

    #add_catalog > span, #add_catalog_b > span {
        width: 15px;
        font-size: 17px;
        text-align: center;
        cursor: pointer;
    }

        #add_catalog > span:hover, #add_catalog_b > span:hover {
            color: #ee0000;
        }

    #add_catalog > input {
        width: 90%;
        height: 25px;
        border: 1px solid #999;
        text-align: center;
    }

.glyphicon {
    font-size: 3em;
}

#timer_option_litebox {
    width: 400px;
    height: 200px;
}

#widget_litebox {
    width: 400px;
    height: 200px;
}

#circular_timer_litebox {
    width: 740px;
    height: 340px;
}

#setting_timers p {
    padding-left: 20px;
    font-size: 10px;
}

#setting_circular_timers {
    height: 100%;
    background: #494949;
}

    #setting_circular_timers > div {
        padding: 10px 10px 0 10px;
        width: 245px;
    }

    #setting_circular_timers p {
        font-size: 12px;
        margin: 0;
    }

#move_text {
    display: none;
    position: absolute;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #333;
    cursor: move;
    z-index: 1000001;
}

#edit_element, #option_element, #remove_element, #move-text {
    display: none;
    float: left;
    position: relative;
    width: 20px;
    height: 20px;
    text-align: center;
    background: #428bca;
}


    #edit_element > i, #remove_element > i, #option_element > i, #move_text > i {
        font-size: 12px;
        color: #333;
        cursor: pointer;
        line-height: 1.5;
    }

    #option_element > i {
        font-size: 14px;
    }

    #option_element > i {
        top: 0;
    }

    #edit_element > i:hover {
        color: white;
    }

    #option_element > i:hover {
        color: white;
    }

    #remove_element > i:hover {
        color: #bb0000;
    }

#preview_animate {
    width: 178px;
    height: 178px;
    border: 1px solid #777;
    text-align: center;
}

    #preview_animate > iframe {
        width: 178px;
        height: 178px;
        border: none;
        text-align: center;
    }

#pageOrLitebox, #video_button {
    width: 87%;
    height: 20px;
    position: absolute;
    top: -10px;
    left: 25px;
    background: #636363;
    background: -moz-linear-gradient(top, #868686 0%, #585858 4%, #4b4b4b 96%, #414141 100%);
    background: -webkit-linear-gradient(top, #868686 0%,#585858 4%,#4b4b4b 96%,#414141 100%);
    background: linear-gradient(to bottom, #868686 0%,#585858 4%,#4b4b4b 96%,#414141 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#868686', endColorstr='#414141',GradientType=0 );
}

#video_button {
    left: 35px;
}

    #pageOrLitebox > div, #video_button > div {
        text-align: center;
    }


#add_page, #add_litebox {
    width: 50%;
    height: 100%;
    line-height: 1.5;
    color: #eee;
    font-family: Arial;
    text-align: center;
    float: left;
    font-size: 12px;
    border: 1px solid rgb(33, 33, 33);
    cursor: pointer;
    background: rgba(0,0,0,0);
}

#add_page {
    background: #737373;
}

.floatLeft {
    float: left;
}

.pf-16 {
    margin: 10px 5px 0 3px;
    color: #5E5E5E;
    line-height: 22px;
    padding-left: 10px;
    font-size: 16px;
    font-family: '__PF Square Sans Pro_5';
    font-weight: 400;
}

#input, #textarea, #e-mail, #phone, #url, #file {
    display: none;
}

#FileImage {
    color: #eee;
}

#move_form_element {
    display: none;
}

.integrations {
    width: 100%;
    height: 40px;
}

    .integrations:hover {
        background: #222;
    }

#get-response {
    background-image: url('../../Content/images/getresponse.png');
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

#v_top, #v_middle, #v_bottom, #panel_v_top, #panel_v_middle, #panel_v_bottom {
    -moz-transform: rotate(90deg); /* Для Firefox */
    -ms-transform: rotate(90deg); /* Для IE */
    -webkit-transform: rotate(90deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(90deg); /* Для Opera */
    transform: rotate(90deg);
}

#clearUrl {
    height: 20px;
    width: 100%;
    color: #428bca;
    font-size: 12px;
    text-align: center;
    line-height: 1.7;
    margin-top: 5px;
    cursor: pointer;
}

    #clearUrl:hover {
        background-color: #252525;
    }

    #clearUrl:active {
        background-color: #202020;
    }

#amo-crm {
    background-image: url(/Content/images/amocrmlogo.jpg);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

#bitrix-crm {
    background-image: url(/Content/images/bitrix24.jpg);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

#sendpulse-crm {
    background-image: url(/Content/images/sendpulselogo.png);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

#mailchimp-crm {
    background-image: url(/Content/images/mailchimplogo.jpg);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

#smsintel-crm {
    background-image: url(/Content/images/smsintellogo.jpg);
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

hr.integration {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.modal-btrp {
    width: auto;
    background: none;
    z-index: 9999999;
    height: 100%;
}

#font_family, #panel_font_family {
    float: left;
}

#panel_font_family {
    font-size: 10px;
    margin-left: 7px;
}

#add_font_family {
    border-top: solid 1px #515151;
    border-left: solid 1px #515151;
    border-bottom: solid 1px #515151;
    margin: 0;
    width: 20px;
    height: 20px;
    /*background-color: #2d2d2d;*/
    float: left;
    position: relative;
    padding: 5px 0 0 0;
    text-align: center;
    line-height: 0.6;
    font-size: 18px;
    font-weight: bold;
    color: #d5d5d5;
    cursor: pointer;
}

    #add_font_family:hover {
        color: #428bca;
        background: #636363;
        background: -moz-linear-gradient(top, #868686 0%, #585858 4%, #4b4b4b 96%, #414141 100%);
        background: -webkit-linear-gradient(top, #868686 0%,#585858 4%,#4b4b4b 96%,#414141 100%);
        background: linear-gradient(to bottom, #868686 0%,#585858 4%,#4b4b4b 96%,#414141 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#868686', endColorstr='#414141',GradientType=0 );
    }

#add_font_family_window span {
    color: red;
    font-size: 10px;
    width: 100%;
    text-align: center;
    opacity: 0;
    display: block;
}

.ifredirect, .ifalert {
    display: none;
}

    .ifredirect.active, .ifalert.active {
        display: block;
    }

#screen_loading {
    width: 100%;
    height: 20px;
}

#page_loader {
    height: 20px;
    width: 34px;
    background: #555;
    border-radius: 15px;
    cursor: pointer;
    float: right;
}

    #page_loader > img {
        width: 16px;
        top: 2px;
        left: -7px;
        position: relative;
    }

#col_load_line {
    margin-top: 10px;
    height: 0px;
    overflow: hidden;
    text-align: left;
}

#col_load_background {
    margin-top: 10px;
    height: 0px;
    overflow: hidden;
    text-align: left;
}

.form_option_parametr {
    width: 100%;
    height: 30px;
    padding: 2px 10px;
    font-size: 11px;
    border-bottom: 1px solid #555;
    display: none;
}

    .form_option_parametr > label {
        cursor: pointer;
    }

.page_parametrs_label {
    width: 200px;
    float: left;
}

.ui-resizable-handle:hover {
    background-color: rgba(66,139,202,0.5);
}

#information_if_element {
    margin: 0 auto;
    width: 90%;
    height: 30px;
    border: 1px solid rgba(66,139,202, 0.3);
    border-radius: 5px;
    box-shadow: 0 0 10px #4d4d4d;
    background-color: #333;
    display: none;
    padding: 5px;
    font-size: 12px;
    overflow: hidden;
    min-height: 50px;
}

    #information_if_element i {
        color: #428bca;
        font-size: 18px;
    }

    #information_if_element > div {
        width: 100%;
    }

    #information_if_element a {
        color: #428bca;
        cursor: pointer;
    }

#info_more {
    height: 15px;
    text-align: right;
}

#info_content {
    height: calc(100% - 15px);
    overflow: hidden;
    font-size: 11px;
    text-align: justify;
    text-overflow: initial;
}

#button_information_if_element {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border: 1px solid rgba(66,139,202, 0.3);
    border-radius: 5px;
    display: none;
    padding: 5px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
}

    #button_information_if_element:hover {
        background: #4d4d4d;
        background: linear-gradient(to top, #4d4d4d, #5d5d5d);
        border: 1px solid rgba(66,139,202, 0.3);
        border-radius: 5px;
    }

    #button_information_if_element > a {
        color: #428bca;
        font-size: 18px;
        text-decoration: none;
        cursor: pointer;
    }

#liteboxes {
    display: none;
}

.top_litebox_block {
    height: 30px;
    width: 100%;
    text-align: right;
    background: #D8D8D8;
}

    .top_litebox_block > span {
        height: 30px;
        width: calc(100% - 30px);
        font-size: 18px;
        line-height: 1.8;
    }

.content_litebox_block {
    width: 100%;
    height: calc(100% - 30px - 45px);
    padding-top: 0px;
    font-size: 12px;
}

.pc {
    padding: 15px 15px 0 15px;
}

#info_navigation {
    width: 100%;
    height: 100%;
    position: relative;
    float: left;
    overflow-y: auto;
}

#info_catalog {
    width: 70%;
    height: 100%;
    position: relative;
    float: left;
    overflow: auto;
    border-left: 1px solid #aaa;
}

.inactivebackground {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 1000000;
    background: rgba(0, 0, 0, 0);
}

.litebox {
    box-shadow: 0 0 20px rgba(0,0,0,1);
    position: fixed;
    display: none;
    min-height: 100px;
    z-index: 1000001;
    background: white;
    color: #eee;
}

    .litebox > div {
        border: 1px solid #428bca;
    }


    .litebox input, .litebox select {
        color: black;
        width: 100%;
    }

#information_nav {
    position: relative;
    float: left;
    margin-top: 2px;
    width: 30%;
}

.info_element {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: none;
}

#title_section_error {
    opacity: 0;
    font-size: 12px;
    color: red;
}

.sub_element_menus, .element_menus {
    /*position: relative;*/
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    max-height: 100%;
}

#litebox_close_button {
    font-size: 20px;
    position: absolute;
    right: -20px;
    top: -20px;
    color: #ff0000;
    cursor: pointer;
}

    #litebox_close_button:hover {
        color: #ee0000;
    }

    #litebox_close_button:active {
        color: #cc0000;
    }

#map_option_window {
    width: 800px;
    height: 417px;
}

#page_tabs > a {
    cursor: pointer;
}

#right_menu a {
    cursor: pointer;
}

#right_menu i {
    font-size: 23px;
}

#saveAndExitWindow {
    width: 320px;
    height: 150px;
}

    #saveAndExitWindow .option_border {
        line-height: 4.5;
    }

#frame-for-screen {
    display: none;
    position: fixed;
    width: 100%;
}

.ui-widget-content {
    cursor: pointer;
    behavior: url(border-radius.htc);
}

#general_menu_bnt {
    cursor: pointer;
    text-align: center;
    display: block;
    color: #d5d5d5;
    text-decoration: none;
    border: 1px solid rgba(0,0,0,0);
    top: 5px;
    position: relative;
}

    #general_menu_bnt:hover {
        border: 1px solid black;
        border-radius: 2px;
        background: #636363;
        background: -moz-linear-gradient(top, #868686 0%, #585858 4%, #4b4b4b 96%, #414141 100%);
        background: -webkit-linear-gradient(top, #868686 0%,#585858 4%,#4b4b4b 96%,#414141 100%);
        background: linear-gradient(to bottom, #868686 0%,#585858 4%,#4b4b4b 96%,#414141 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#868686', endColorstr='#414141',GradientType=0 );
    }

#view-type-block {
    position: relative;
    color: #d5d5d5;
    font-size: 10px;
    height: 80%;
    width: 85px;
    text-align: center;
    line-height: 2.6;
    border-right: 1px solid #333;
    top: 4px;
    float: left;
}

#landing-parameters {
    position: relative;
    float: right;
    height: 80%;
    width: 35px;
    right: 0;
    top: 4px;
    border-left: 1px solid #333;
    text-align: center;
    font-size: 19px;
}

    #landing-parameters > i {
        line-height: 1.5;
        color: #d5d5d5;
        cursor: pointer;
        width: 28px;
    }

        #landing-parameters > i:hover {
            line-height: 1.5;
            color: white;
        }

#edit_background_color {
    float: right;
}

.woc_panel {
    width: 100%;
    height: 15px;
    background: #666666;
    background: -moz-linear-gradient(top, #666666 0%, #383838 4%, #2b2b2b 96%, #212121 100%);
    background: -webkit-linear-gradient(top, #666666 0%,#383838 4%,#2b2b2b 96%,#212121 100%);
    background: linear-gradient(to bottom, #666666 0%,#383838 4%,#2b2b2b 96%,#212121 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#212121',GradientType=0 );
}

    .woc_panel > span {
        padding-left: 10px;
        line-height: 1.5;
        font-size: 10px;
    }

.woc_content {
    position: relative;
    padding: 20px;
    margin: 10px;
    border: 1px solid #777;
    font-size: 10px;
}

    .woc_content label {
        margin: 5px 0 0 0;
    }

        .woc_content label > span {
            position: relative;
            top: -4px;
        }

#tracing, #sizeAndColor, #fonts, #v_align {
    height: 35px;
}

#g_align {
    width: 75px;
    height: 95px;
}

#font-param {
    height: 225px;
    width: 100%;
}

#font-additional {
    width: 100%;
    display: none;
}


.option-tabs {
    position: absolute;
    top: -7px;
    left: 30px;
    background: #494949;
    background: -moz-linear-gradient(top, #868686 0%, #585858 4%, #4b4b4b 96%, #414141 100%);
    background: -webkit-linear-gradient(top, #868686 0%,#585858 4%,#4b4b4b 96%,#414141 100%);
    background: linear-gradient(to bottom, #868686 0%,#585858 4%,#4b4b4b 96%,#414141 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#868686', endColorstr='#414141',GradientType=0 );
}

.tab {
    text-align: center;
    width: 80px;
    height: 15px;
    float: left;
    font-size: 10px;
    border: 1px solid rgb(33, 33, 33);
    cursor: pointer;
}

#font_param {
    background: rgb(33, 33, 33);
}

#font_param, #font_additional {
    width: 99px;
}

#section_background_position {
    height: 80px;
}

#border_apart {
    width: 100%;
    height: 45px;
    display: none;
}

#borders_radius_chain {
    width: 100%;
    height: 50px;
    display: none;
}

#shadow-text, #shadow-block, #lighting-block {
    width: 66px;
}

#woc-url input {
    margin: 8px 3px 0 0;
}

#woc-url label > span {
    top: -3px;
    position: relative;
}

#is_fixed > span {
    top: -4px;
    position: relative;
}

#background-picture, #border-angle, #shadow_block, #lighting_block {
    display: none;
}

hr {
    padding-top: 1px !important;
    background-color: #636363;
    border-top: 1px solid #212121 !important;
    width: 85%;
    margin: 0 auto;
}

.inactive-option {
    position: absolute;
    width: 100%;
    margin-top: 15px;
    height: calc(100% - 16px);
    z-index: 1501;
    background-image: url('/Areas/Cabinet/Content/images/inactive-background.png');
    opacity: 0.5;
}

#panel_edit_color_text {
    margin-left: 7px;
}

#panel_edit_color_text, #panel_edit_text_color, #panel_edit_text_color > div, #panel_edit_text_color > div > div {
    width: 18px;
    height: 18px;
}

    #panel_edit_color_text, #panel_edit_color_text > div, #panel_edit_color_text > div > div, #panel_edit_color_text > div > div > div,
    #edit_color_text, #edit_color_text > div, #edit_color_text > div > div, #edit_color_text > div > div > div
    /*#edit_background_color_text, #edit_background_color_text > div, #edit_background_color_text > div > div, #edit_background_color_text > div > div > div,
    #panel_edit_background_color_text, #panel_edit_background_color_text > div, #panel_edit_background_color_text > div > div, #panel_edit_background_color_text > div > div > div*/ {
        border: 0;
        top: 0;
        left: 0;
    }

        #panel_edit_color_text > div > div > div {
            background-image: url('/Areas/Cabinet/Content/images/text-color.png');
            background-size: contain;
        }

        #edit_color_text > div > div > div {
            background-image: url('/Areas/Cabinet/Content/images/text-color-2.png');
            background-size: contain;
        }

/*#edit_background_color_text > div > div > div {
            background-image: url('/Areas/Cabinet/Content/images/background-color-2.png');
            background-size: contain;
        }

        #panel_edit_background_color_text > div > div > div {
            background-image: url('/Areas/Cabinet/Content/images/background-color.png');
            background-size: contain;
        }*/

#panel__background {
    background-image: url('/Areas/Cabinet/Content/images/background-color.png');
    background-size: cover;
    background-color: white;
}

#panel_align, #panel_background {
    width: 30px;
    height: 20px;
    background-color: rgb(45, 45, 45);
    border: solid 1px #414141;
    margin-left: 7px;
    float: left;
    cursor: pointer;
    color: white;
    font-size: 16px;
}


#panel_lt {
    font-size: 10px;
    color: #d5d5d5;
}

#panel_align_content {
    float: left;
    width: 20px;
    height: 100%;
    text-align: center;
    border-right: 1px solid #666;
}

#panel__background {
    float: left;
    width: 20px;
    height: 100%;
    padding: 4px;
    border-right: 1px solid #666;
}

#panel_align_menu {
    position: absolute;
    top: 27px;
    padding: 5px;
    background-color: #515151;
    display: none;
    width: 85px;
}

    #panel_align_menu .font {
        width: 25px;
        height: 25px;
        font-size: 12px;
    }

#panel_background_menu {
    position: absolute;
    display: none;
    background-color: #515151;
    font-size: 10px;
    padding: 10px;
    top: 27px;
}

#option_panel_content {
    padding: 4px 0;
    height: 35px;
    float: left;
}

    #option_panel_content > div {
        padding: 4px 7.5px 4px 0;
        float: left;
        height: 27px;
        position: relative;
    }

        #option_panel_content > div > div {
            float: left;
        }

    #option_panel_content > div {
        padding-right: 7.5px;
        border-right: 1px solid #333;
        display: none;
    }

    #option_panel_content .font, #option_panel_content .font-vert {
        margin-right: 0px;
    }

.name-of-param {
    font-size: 10px;
    color: #d5d5d5;
    padding: 2px 0 0 2px;
    margin-left: 5.5px;
    height: 18px;
    cursor: pointer;
}

    .name-of-param:hover {
        background-color: rgb(45, 45, 45);
    }

    .name-of-param > div {
        float: left;
        cursor: pointer;
    }

#panel_checkbox_ordinary, #panel_checkbox_gradient {
    width: 165px;
}

.textarea_text_element {
    opacity: 0;
    position: fixed;
    top: 5000px;
    left: 0;
    height: auto;
    overflow: hidden !important;
}

#textarea_text_element {
    resize: none;
    overflow: hidden !important;
}

.expand {
    margin: 0 3px;
}

#option_panel_content > div > .option_el {
    color: #d5d5d5;
}

.columnLeft, .columnCenter, .columnRight {
    float: left;
}

#panel_align_menu .columnJustify {
    padding-top: 5px;
    margin-left: 25px;
}

#g_align > .font {
    margin-bottom: 5px;
}

#g_align > .columnJustify {
    padding-top: 5px;
    margin-left: 25px;
    margin-bottom: 0px;
}

.positionSide {
    display: block;
    float: left;
    width: 50%;
}

.red-text {
    color: #E95858;
}

.modal-content .form-group {
    width: 100% !important;
}

.category-menu {
    position: relative;
    width: 95%;
    height: 20px;
    margin: 2px auto;
    text-align: center;
    font-size: 12px;
    color: #aaa;
    cursor: pointer;
    line-height: 1.7;
    background-image: url('/Areas/Cabinet/Content/images/arrowtoright.png');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 4px 5px;
}

    .category-menu:hover {
        background-color: rgb(102, 102, 102);
    }


#circular_data_time {
    width: 160px;
    padding: 2px;
    margin-bottom: 5px;
}

.pl10 {
    padding-left: 10px;
}

.pr10 {
    padding-right: 10px;
}

.pt10 {
    padding-top: 10px;
}

.pb10 {
    padding-bottom: 10px;
}

.p10 {
    padding: 10px;
}

.ml10 {
    margin-left: 10px;
}

.mr10 {
    margin-right: 10px;
}

.mt10 {
    margin-top: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.m10 {
    margin: 10px;
}

.h100 {
    height: 100%;
}

.w100 {
    width: 100%;
}

#information_litebox {
    width: 850px;
    height: 350px;
}

/*.litebox.widget_modal {
    width: 550px !important;
    min-height: 400px !important;
}

#widget_litebox.widget_modal {
    width: 550px !important;
    min-height: 400px !important;
}*/

.disabled {
    position: relative;
}

    .disabled:hover {
        background: rgba(0,0,0,0);
        border: 1px solid rgba(0,0,0,0);
        cursor: default;
    }

    .disabled:after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url(/Areas/Cabinet/Content/images/inactive-background.png);
        opacity: 0.5;
        content: "";
    }

.option_border {
    border: 1px solid #777;
    position: relative;
}

.option_name {
    position: absolute;
    top: -9px;
    background: #494949;
    font-size: 12px;
}

.litebox_buttons {
    width: 100%;
    height: 45px;
    position: relative;
    background: #494949;
    padding-right: 15px;
}

.browseElementsUl li:hover {
    background: #eee;
    color: #494949;
}

.lite-box {
    background: #494949;
}

#hours_text, #days_text, #minutes_text, #seconds_text, #circular_data_time {
    height: 18px;
}

.video_option_column input {
    width: auto;
}

}

.lite-box {
    background: #494949;
}

#hours_text, #days_text, #minutes_text, #seconds_text, #circular_data_time {
    height: 18px;
}

.video_option_column input {
    width: auto;
}

<<<<<<< .mine #widget_option_content input {
    width: inherit !important;
}

#UrlImage {
    font-size: 12px;
}

#image_file {
    height: 100px;
}

#image_url {
    padding: 0 10px 10px 10px !important;
}

#UrlImage {
    font-size: 12px;
}

#image_file {
    height: 100px;
}

#image_url {
    padding: 0 10px 10px 10px !important;
}

======= #UrlImage {
    font-size: 12px;
}

#image_file {
    height: 100px;
}

#image_url {
    padding: 0 10px 10px 10px !important;
}


#image_hover > div {
    width: 100%;
    height: 35px;
}

    #image_hover > div > p {
        margin: 0;
    }

#menu_widgets, #menu_timers, #menu_sections {
    display: none;
}

#center_block {
    width: calc(100% - 43px - 40px);
    height: calc(100% - 75px);
    position: relative;
    float: left;
}

#contextMenu {
    z-index: 10000000;
    position: fixed;
    background: #494949;
    width: 150px;
    height: 128px;
    box-shadow: 1px 1px 10px #333;
    display: none;
}

    #contextMenu > div {
        width: 100%;
        height: 25px;
        padding-left: 12px;
        line-height: 1.8;
        color: #ccc;
        cursor: pointer;
        font-size: 14px;
    }

        #contextMenu > div:hover {
            background-color: #636363;
        }
