
.color {
	padding: .5em;
	margin-right: .4em;
	border: 1px solid #aaa;
	border-radius: 3px;
	width: 140px;
}
.div-toggles {
    width: 19px;
    /*margin: 0!important;*/
    float: left;
}
.div-toggles .trigger {
	position: relative;
	display: inline-block;
	width: 19px;
	height: 19px;
	border: 1px solid #515151;
    background-color: #2d2d2d;
	/*border-radius: 12px;*/
    cursor: pointer;
}
.div-toggles .trigger:after {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	right: 5px;
	margin-top: -2px;

}
/*.div-toggles .trigger:before {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	right: 4px;
	margin-top: -1px;
		border: 5px solid;
	border-color: #eee transparent transparent;
}*/
.div-toggles .active:before {
	margin-top: -7px;
	
}
.div-toggles .active:after {
	margin-top: -8px;
	
}
.div-toggles .trigger div {
	display: inline-block;
	width: 19px;
	height: 19px;
    border: 1px solid #aaa;
    /*border-radius: 20px;*/
	background: #fff url('data:image/gif;base64,R0lGODlhDAAMAIABAMzMzP///yH5BAEAAAEALAAAAAAMAAwAAAIWhB+ph5ps3IMyQFBvzVRq3zmfGC5QAQA7');
}
.div-toggles .trigger div div {
	border: 1px solid #aaa;
    /*border-radius: 20px;*/
	border-color: #666 #ccc #ccc #666;
	background: #aaa;
    position: relative;
    top: -1px;
    left: -1px;
}
