@media screen and (max-width:491px) {
    .column2 {
        width: 100%;
        float: none;
    }

    .column3 {
        width: 100%;
        float: none;
    }

    .column4 {
        width: 100%;
        float: none;
    }
}

@media screen and (min-width:492px) and (max-width:767px) {
    .column2 {
        width: 100%;
        float: none;
    }

    .column3 {
        width: 100%;
        float: none;
    }
    .column4 {
        width: 50%;
        float: left;
    }
}

@media screen and (min-width:768px) {
    .column2 {
        width: 50%;
        float: left;
    }

    .column3 {
        width: 33.3%;
        float: left;
    }

    .column4 {
        width: 25%;
        float: left;
    }
}

@media screen {
    .column1 {
        width: 100%;
        float: none;
    }
}

.column {
    position:relative;
    height: 100%;
}

.anchor {
    color: rgba(0, 0, 0, 0)!important;
}

a {
    cursor: default;
    text-decoration: none;
}
