﻿@using WebSite.Areas.Admin.Framework.HtmlHelpers
@model WebSite.Areas.Admin.Models.Content.ProductViewModel
@{
    ViewBag.Title = "Добавление продукта";
}
<div class="row-fluid">
    <div class="span12">
        <div class="box box-bordered">
            <div class="box-title">
                <h3><i class="icon-file-alt"></i>Новый продукт</h3>
            </div>
            <div class="box-content nopadding">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-vertical form-bordered form-striped form-validate", enctype = "multipart/form-data" }))
                {
                    @Html.EditorFor(_ => _.IsHidden, "Checkbox")
                    <div class="control-group">
                        <label>
                            Категории
                        </label>
                        @Html.DropDownListFor(_ => _.CategoryId, Model.Categories)
                    </div>            

                    @Html.EditorFor(_ => _.Title, "LocalizedContent")
                    @Html.HiddenFor(_ => _.StringKey)
                    @Html.EditorFor(_ => _.File, "FileInput")
                    @Html.EditorFor(_ => _.Description, "LocalizedContentTextArea")
                    @Html.EditorFor(_ => _.Price, "SimpleInput")
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                        <a href="@Url.Action("Index")" class="btn">Отменить</a>
                    </div>
                }
                @*@Html.TranslitBind(_ => _.Title, _ => _.StringKey, HtmlTranslitBindingExstension.TranslitType.Translit)*@
            </div>
        </div>
    </div>
</div>