﻿@using WebSite.Framework
@using WebSite.Areas.Admin.Framework.HtmlHelpers
@model WebSite.Areas.Admin.Models.Content.ProductViewModel
@{
    ViewBag.Title = "Изменить данные продукта";
}
<div class="row-fluid">
    <div class="span12">
        <div class="box box-bordered">
            <div class="box-title">
                <h3><i class="icon-file-alt"></i>Изменить данные продукта</h3>
            </div>
            <div class="box-content nopadding">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-vertical form-bordered form-striped form-validate", enctype = "multipart/form-data" }))
                {
                    @Html.EditorFor(_ => _.IsHidden, "Checkbox")

                         @Html.EditorFor(_ => _.CategoryId, "DropDownList", new { selectList = Model.Categories })
  
                    @Html.EditorFor(_ => _.Title, "LocalizedContent")
                    <div class="control-group">
                        <label class="control-label">Старое изображение</label>
                        <div class="controls">
                            <img src="@Url.Content(WorkContext.ProductPath + Model.Image)" alt="" />
                        </div>
                    </div>
                    @Html.HiddenFor(_ => _.Image)
                    @Html.EditorFor(_ => _.File, "FileInput")
                    @Html.EditorFor(_ => _.Description, "LocalizedContentTextArea")
                    @Html.HiddenFor(_ => _.StringKey)
                    @Html.EditorFor(_ => _.Price, "SimpleInput")

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                        <a href="@Url.Action("Index")" class="btn">Отменить</a>
                    </div>
                }
                @*@Html.TranslitBind(_ => _.Title, _ => _.StringKey, HtmlTranslitBindingExstension.TranslitType.Translit)*@
            </div>
        </div>
    </div>
</div>