﻿@model List<WebSite.Areas.Admin.Models.Content.CategoryViewModel>
@using WebSite.Areas.Admin.Framework.HtmlHelpers
@using WebSite.Framework

@{
    ViewBag.Title = "Список продукции";
}
@foreach (var it in Model) { 
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3>
                    <i class="icon-file-alt"></i>
                        @LH.GLSS(it.Title)
                </h3>
                <div class="actions">
                    <a href="@Url.Action("Add", new { id = it.Id})" class="btn" title="Добавить товар"><i class="icon-plus-sign"></i>&nbsp;Добавить</a>
                </div>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>Изображение</th>
                            <th style="width:300px;">Название</th>
                            <th style="width:500px;">Описание</th>
                            <th style="width:100px;" class='hidden-1024'>Цена</th>
                            <th class='hidden-1024'>Создан</th>
                            <th class='hidden-1024'>Обновлен</th>
                            <th>Видимость</th>
                            <th style="width:60px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in it.Products)
                        {
                            <tr class="descr_hidden">
                                <td>
                                    <img src="@Url.Content(WorkContext.ProductPath + item.Image)" alt="@LH.GLSS(item.Title)" style="width: 30%"/>
                                </td>
                                <td>@LH.GLSS(item.Title)</td>
                                <td>@Html.Raw(LH.GLSS(item.Description))</td>
                                <td>@item.Price</td>
                                <td class='hidden-1024'>@item.Created.ToShortDateString()</td>
                                <td class='hidden-1024'>@(item.Updated.HasValue ? item.Updated.Value.ToShortDateString() : "Не обновлялся")</td>
                                <td>@(item.IsHidden ? "Скрыта" : "Отображена")</td>
                                <td>
                                    <a href="@Url.Action("Edit", new {id = item.Id})" class="btn btn-small btn-primary" title="Редактировать" rel="tooltip" data-placement="bottom"><i class="icon-edit"></i></a>
                                    <a href="@Url.Action("Delete", new {id = item.Id})" class="btn btn-small btn-danger" title="Удалить" rel="tooltip" data-placement="bottom"><i class="icon-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
}