﻿@model WebSite.Areas.Cabinet.Models.WidgetViewModel

@{
    ViewBag.Title = "Добавление виджета";
    Layout = "~/Areas/Cabinet/Views/Shared/_LayoutLendings.cshtml";
}
<link rel="stylesheet" href="~/Areas/Cabinet/Content/prism.css" />
<script src="~/Scripts/ace-editor/ace/ace.js"></script>
<script src="~/Scripts/ace-editor/ace/theme-cobalt.js"></script>
<script src="~/Scripts/ace-editor/ace/mode-xml.js"></script>
<script src="~/Scripts/ace-editor/jquery/jquery-ace.min.js"></script>

<h1 class="page-title">
    Добавление виджета
</h1>

<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-directions font-green hide"></i>
                    <span class="caption-subject bold font-dark uppercase "> Виджет</span>
                </div>
                <div class="actions">
                    <div class="btn-group">
                        <a class="btn btn-sm green" href="@Url.Action("Index","Widget")">
                            Вернуться                            
                        </a>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-inline" role="form">
                    @*<div class="row ready-param">
                        <div class="form-group has-success">
                            <div class="input-group input-medium">
                                <input type="text" class="form-control" readonly value="count">
                            </div>
                            <!-- /input-group -->
                        </div>
                        <div class="form-group has-success">
                            <div class="input-group input-medium ">
                                <input type="text" class="form-control" readonly value="количество повторов">
                            </div>
                            <!-- /input-group -->
                        </div>
                        <!-- /.col-md-6 -->
                        <div class="form-group has-success">
                            <div class="input-group input-medium">
                                <input type="text" class="form-control" readonly value="10">
                            </div>
                            <!-- /input-group -->
                        </div>
                        <div class="form-group">
                            <button class="btn red delete-widget-param">Удалить</button>
                        </div>                        
                        <!-- /.col-md-6 -->
                    </div>

                    <div class="row row-divider"></div>

                    <div class="row active-param">
                        <div class="form-group">
                            <div class="input-group input-medium">                                
                                <input type="text" class="form-control" placeholder="параметр*">
                            </div>
                            <!-- /input-group -->
                        </div>
                        <div class="form-group">
                            <div class="input-group input-medium">
                                <input type="text" class="form-control" placeholder="название параметра*">
                            </div>
                            <!-- /input-group -->
                        </div>
                        <!-- /.col-md-6 -->
                        <div class="form-group">
                            <div class="input-group input-medium">
                                <input type="text" class="form-control" placeholder="значение по умолчанию">                                
                            </div>
                            <!-- /input-group -->
                        </div>
                        <div class="form-group">
                            <button class="btn green add-widget-param">Добавить</button>
                        </div>
                        <!-- /.col-md-6 -->
                    </div>*@

                    <div class="row">
                        <div class="col-md-6">                            
                            <div class="form-group">
                                <label style="display: block;">Название виджета</label>
                                <input class="form-control spinner" type="text" id="title_widget" placeholder="название виджета">
                            </div>                            
                        </div>
                    </div>    
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <form enctype="multipart/form-data" method="post" action="@Url.Action("ImportWidget")">
                                <div class="form-group has-error">
                                    <span class="btn green file-button" onclick="addFile()">
                                        <i class="fa fa-plus"></i>
                                        <span> Импорт файла </span>
                                        <input style="display: none;" type="file" id="FileForm" name="File">
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>                    

                    <div class="row">
                        <br />
                        <div class="col-md-12">                            
                                <div id="editor">@Model.Script</div>                           
                        </div>                     
                    </div>

                    <div class="row">
                        <div class="col-md-12 font-blue-steel">
                            Текущая строка: <span class="current-row">0</span>; столбец: <span class="current-column">0</span>.
                            <br />
                            Всего строк: <span class="total-line">0</span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <label style="display: block;">Описание</label>                            
                            <textarea id="desc_widget" style="width: 100%; resize:vertical;" class="form-control" rows="3"></textarea>                            
                        </div>
                    </div>

                    <!-- /.row -->
                </div>
                <div class="row" style="height: 12px;"></div>
                <hr />
                <div class="form-actions right1">
                    <a href="@Url.Action("Index","Widget")" class="btn default">Отмена</a>
                    <button type="submit" class="btn green saveWidget">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    #editor
    {
        width: 100%;
        min-height: 400px;
    }    
    .ace_editor {
        position: relative;   
    }
</style>

<script>
    function addFile() {
        $('#FileForm')[0].click();
    };
    $('#FileForm').change(function () {
        $('form').submit();
    });
</script>
<script>
    $(document).ready(function () {

        $('body').on('click', '.delete-widget-param', function (e) {
            $(e.target).closest('.ready-param').remove();
        });

        $('body').on('click', '.add-widget-param', function (e) {
            var newRow = $(e.target).closest('.row').clone();
            newRow.append($("<div class=\"row row-divider\"></div>"));
            newRow.find('input').attr('readonly', 'readonly').closest('.form-group').addClass('has-success');
            newRow.addClass('ready-param').removeClass('active-param');
            newRow.find('button').removeClass('add-widget-param').removeClass('green').addClass('delete-widget-param').addClass('red').html('Удалить');
            newRow.insertBefore('.active-param');
            var oldRow = $(e.target).closest('.row');
            oldRow.find('input').val('');
        });
        
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/cobalt");
        editor.getSession().setMode("ace/mode/xml");

        $('.total-line').html(editor.session.getLength());
            
        editor.getSession().on('change', function () {           
            //получить значение при изменении
            //console.log(editor.getSession().getValue());            
        });

        editor.getSession().selection.on('changeCursor', function (e) {
            var positionEditor = editor.selection.getCursor();
            $('.current-row').html(parseInt(positionEditor.row) + 1);
            $('.current-column').html(parseInt(positionEditor.column) + 1);
            $('.total-line').html(editor.session.getLength());
        });

        $('.saveWidget').click(function () {
            var widgetData = {};
            widgetData.Script = editor.getSession().getValue();
            widgetData.Title = $('#title_widget').val();
            widgetData.Description = $('#desc_widget').val();
            $.post('@Url.Action("Save")', { model: widgetData }, function (data) {
                location.href = '@Url.Action("Index", "Widget")';
            });
        })

    });
</script>

