﻿@model WebSite.Areas.Cabinet.Models.WidgetViewModel

@{
    ViewBag.Title = "Добавление виджета";
    Layout = "~/Areas/Cabinet/Views/Shared/_LayoutLendings.cshtml";
}
<link rel="stylesheet" href="~/Areas/Cabinet/Content/prism.css" />
<script src="~/Scripts/ace-editor/ace/ace.js"></script>
<script src="~/Scripts/ace-editor/ace/theme-cobalt.js"></script>
<script src="~/Scripts/ace-editor/ace/mode-xml.js"></script>
<script src="~/Scripts/ace-editor/jquery/jquery-ace.min.js"></script>

<h1 class="page-title">
    Добавление виджета
</h1>

<div class="row">
    <div class="col-md-12">
        @Html.HiddenFor(_=>_.Id)
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-directions font-green hide"></i>
                    <span class="caption-subject bold font-dark uppercase "> Виджет</span>
                </div>
                <div class="actions">
                    <div class="btn-group">
                        <a class="btn btn-sm red" href="@Url.Action("Delete","Widget", new { id = Model.Id })">
                            Удалить
                        </a>
                        <a class="btn btn-sm green" href="@Url.Action("Index","Widget")">
                            Вернуться
                        </a>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-inline" role="form">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label style="display: block;">Название виджета</label>
                                @Html.TextBoxFor(_=>_.Title, new { @class = "form-control spinner" })                                
                            </div>
                        </div>
                    </div>
                    <br />
                    
                    <div class="row">
                        <br />
                        <div class="col-md-12">
                            <div id="editor">@Model.Script</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 font-blue-steel">
                            Текущая строка: <span class="current-row">0</span>; столбец: <span class="current-column">0</span>.
                            <br />
                            Всего строк: <span class="total-line">0</span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <label style="display: block;">Описание</label>                            
                            <textarea id="desc_widget" style="width: 100%; resize:vertical;" class="form-control" rows="3">@Model.Description</textarea>
                        </div>
                    </div>

                    <!-- /.row -->
                </div>
                <div class="row" style="height: 12px;"></div>
                <hr />
                <div class="form-actions right1">
                    <a href="@Url.Action("Index","Widget")" class="btn default">Отмена</a>
                    <button type="submit" class="btn green saveWidget">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    #editor {
        width: 100%;
        min-height: 400px;
    }

    .ace_editor {
        position: relative;
    }
</style>

<script>
    $(document).ready(function () {
                
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/cobalt");
        editor.getSession().setMode("ace/mode/xml");

        $('.total-line').html(editor.session.getLength());

        editor.getSession().on('change', function () {
            //получить значение при изменении
            //console.log(editor.getSession().getValue());
        });

        editor.getSession().selection.on('changeCursor', function (e) {
            var positionEditor = editor.selection.getCursor();
            $('.current-row').html(parseInt(positionEditor.row) + 1);
            $('.current-column').html(parseInt(positionEditor.column) + 1);
            $('.total-line').html(editor.session.getLength());
        });

        $('.saveWidget').click(function () {
            var widgetData = {};
            widgetData.Script = editor.getSession().getValue();
            widgetData.Id = $('#Id').val();
            widgetData.Title = $('#Title').val();
            widgetData.Description = $('#desc_widget').val();
            $.post('@Url.Action("EditWidget")', { model: widgetData }, function (data) {
                console.log(data);
            });
        })

    });
</script>

