﻿@model IEnumerable<WebSite.Areas.Cabinet.Models.WidgetViewModel>
@{
    ViewBag.Title = "Виджеты";
    Layout = "~/Areas/Cabinet/Views/Shared/_LayoutLendings.cshtml";
}

<h1 class="page-title">
    Виджеты
</h1>

<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-directions font-green hide"></i>
                    <span class="caption-subject bold font-dark uppercase "> Виджеты</span>                   
                </div>
                <div class="actions">
                    <div class="btn-group">
                        <a class="btn btn-sm green" href="@Url.Action("Add","Widget")">
                            Добавить виджет
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mt-element-list">
                            <div class="mt-list-head list-news font-white bg-blue">
                                <div class="list-head-title-container">
                                </div>
                            </div>
                            <div class="mt-list-container list-news">
                                <ul>
                                    @foreach (var item in Model)
                                    {
                                        <li class="mt-list-item">
                                            <div class="list-icon-container">
                                                <a href="@Url.Action("Edit", new { id = item.Id })">
                                                    <i class="fa fa-angle-right"></i>
                                                </a>
                                            </div>
                                            <div class="list-datetime bold uppercase font-green"> @item.CreateDate.ToShortDateString() </div>
                                            <div class="list-item-content">
                                                <h3 class="uppercase">
                                                    <a href="javascript:;">@item.Title</a>
                                                </h3>
                                                <p>@item.Description</p>
                                            </div>
                                        </li>
                                    }                                                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
