﻿@model List<WebSite.Areas.Cabinet.Models.WidgetViewModel>

@{
    Layout = null;
    //widget тут список меню
}

@foreach (var item in Model)
{
    <div class="category-menu ui-draggable widget" style="background: #494949;">
        <div class="widget_title">@item.Title</div>
        <span class="hide widget_id">@item.Id</span>
        <span class="hide widget_descripotion">@item.Description</span>
        <span class="hide widget_script">@item.Script</span>
        <span class="hide widget_userId">@item.UserId</span>
        <span class="hide widget_create">@item.CreateDate</span>
    </div>
}
@if (Model.Count() == 0)
{
    <div class="category-menu" style="background: #494949;">
        Список пуст
    </div>
}


