.clearfix {
    *zoom: 1;
}

    .clearfix:before, .clearfix:after {
        content: "";
        display: table;
        line-height: 0;
    }

    .clearfix:after {
        clear: both;
    }

.hide-text {
    background-color: transparent;
    border: 0;
    color: transparent;
    font: 0/0 a;
    text-shadow: none;
}

.center-text {
    text-align: center;
}

.nav .text-center {
    margin-top: 12px;
}

.input-block-level {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    min-height: 11.5px;
    width: 100%;
}

.unselectable {
    -moz-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.scrollable .viewport {
    overflow: hidden;
    position: relative;
}

.scrollable .overview {
    left: 0;
    list-style: none;
    position: absolute;
    top: 0;
    width: 100%;
}

.scrollable .thumb {
    background-color: gray;
    cursor: pointer;
    height: 20px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 5px;
}

    .scrollable .thumb .editor-scrollbar-end {
        background-color: gray;
    }

    .scrollable .thumb .end {
        height: 5px;
        overflow: hidden;
        width: 5px;
    }

.scrollable .disable {
    display: none;
}

.scrollable .thumb .editor-scrollbar-end, .scrollable .thumb {
    background-color: gray;
}

.scrollable .scrollbar {
    -moz-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    float: right;
    opacity: .6;
    position: relative;
    user-select: none;
    width: 5px;
}

    .scrollable .scrollbar:hover {
        opacity: 1;
    }

.scrollable .track {
    background-color: lightgray;
    height: 100%;
    position: relative;
    width: 5px;
}

.new-widget {
    background: #fff;
    border: 6px solid #DDD !important;
    border-radius: 50%;
    color: #AAA;
    cursor: pointer;
    display: block;
    font-size: 32px !important;
    line-height: 48px !important;
    margin-left: -24px !important;
    margin-top: -24px !important;
    padding: 4px !important;
    position: fixed !important;
    text-align: center !important;
    width: 48px !important;
    z-index: 200000 !important;
}

.draggable.block-draggable:hover {
    cursor: default;
}

.draggable:hover {
    cursor: move;
}

.widget-draggable {
    cursor: pointer;
}

    .widget-draggable i:before {
        cursor: pointer;
    }

.bubble {
    border-radius: 50%;
    color: #fff;
    display: block;
    font-size: 10px;
    line-height: 1;
    padding: 3px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 10px;
}

    .bubble.out {
        display: none;
    }

.bubble-ok {
    background: #06b606;
    border: 1px solid #077a07;
}

.bubble-error {
    background: #e71414;
    border: 1px solid #940000;
    font-weight: bold;
}

.group-overlay {
    background: rgba(79, 178, 255, 0.2);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5), 0 0 1px rgba(0, 0, 0, 0.2) inset;
    display: block;
    opacity: 0;
    outline: 2px solid rgba(79, 178, 255, 0.6) !important;
    position: absolute;
    z-index: 0;
}

    .group-overlay.in {
        opacity: 1;
    }

.text-editor {
    background: #666 !important;
    border: 1px solid #555;
    margin-top: -46px;
    padding: 4px;
    position: absolute;
    width: 562px;
    z-index: 12;
}

    .text-editor.out {
        left: -9999px !important;
        top: -9999px !important;
    }

    .text-editor select, .text-editor input, .text-editor .input-prepend, .text-editor .btn-toolbar {
        margin: 0;
    }

    .text-editor select, .text-editor input, .text-editor .btn-group > .btn:first-child, .text-editor .btn-group > .btn:last-child {
        border-radius: 0;
    }

    .text-editor #link-color-choice {
        margin-bottom: 70px;
    }

    .text-editor .btn-group.open > .btn {
        background: #444;
        color: #fff;
    }

    .text-editor .input-prepend .add-on {
        background: 0;
        border: 0;
        border-radius: 0;
        color: #FFF;
        text-shadow: none;
    }

    .text-editor .dropdown-menu {
        border-radius: 0;
        left: 0;
        padding: 0;
    }

        .text-editor .dropdown-menu > li > a {
            outline: 0;
        }

    .text-editor .fontfamily .dropdown-toggle {
        border: 1px solid #555;
        padding-left: 12px;
        position: relative;
    }

        .text-editor .fontfamily .dropdown-toggle:after {
            content: "\f0d7";
            font-family: FontAwesome;
            font-size: 12px;
            position: absolute;
            right: 8px;
        }

.font-size-input {
    width: 46px;
}

#font-sizes {
    left: 24px;
}

.btn-text-editor {
    background: transparent !important;
    color: #ccc !important;
    line-height: 36px;
    -moz-min-width: 36px;
    -ms-min-width: 36px;
    -o-min-width: 36px;
    -webkit-min-width: 36px;
    min-width: 36px;
    padding: 0;
    -ms-text-shadow: 0 0 1px #000;
    text-shadow: 0 0 1px #000;
}

    .btn-text-editor.active {
        background: #444;
        color: #ccc;
    }

    .btn-text-editor:hover {
        background: #444;
        color: #fff;
    }

    .btn-text-editor:focus {
        outline: 0;
    }

    .btn-text-editor:active, .btn-text-editor:focus {
        color: #ccc;
    }

    .btn-text-editor[disabled] {
        background: 0;
        opacity: .3;
    }

        .btn-text-editor[disabled]:hover {
            background: 0;
        }

    .btn-text-editor span {
        display: inline-block;
        padding: 0 3px;
        text-align: left;
        width: 170px;
    }

.fold-line {
    border-bottom: 1px dashed rgba(1, 174, 240, 0.5);
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 199998;
}

.fold-line-desc {
    background: rgba(1, 174, 240, 0.5);
    color: #FFF;
    cursor: default;
    font-size: 12px;
    padding: 1px 4px;
    position: absolute;
    right: 0;
    top: -19px;
}

[data-viewport="desktop"] .fold-line {
    top: 640px;
}

[data-viewport="tablet"] .fold-line {
    top: 1024px;
}

[data-viewport="mobile"] .fold-line {
    top: 480px;
}

.sections-map {
    display: block;
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
}

    .sections-map.in {
        pointer-events: all;
    }

.preview .sections-map {
    display: none;
}

.section-dropzone {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 1px dashed #01aef0;
    box-sizing: border-box;
    left: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: 10;
}

    .section-dropzone:last-of-type .new-section-dropzone.in:nth-child(2) {
        display: block;
    }

    .section-dropzone.selected .section-resize-handle {
        display: block;
    }

    .section-dropzone.blocked .section-resize-handle {
        display: none !important;
    }

.section-resize-handle {
    background: #01aef0;
    border-radius: 50%;
    bottom: -10px;
    color: #fff;
    cursor: ns-resize;
    display: none;
    font-size: 14px;
    height: 20px;
    left: 50%;
    line-height: 20px;
    margin: -10px 0 0 -10px;
    pointer-events: all;
    position: absolute;
    text-align: center;
    width: 20px;
}

.section-dropzone {
    position: relative;
    width: 100%;
}

    .section-dropzone.hover {
        background: rgba(1, 174, 240, 0.35);
    }

.new-section-dropzone {
    background: rgba(1, 174, 240, 0.35);
    display: none;
    height: 42px;
    left: 0;
    position: absolute;
    top: -21px;
    width: 100%;
}

    .new-section-dropzone.in {
        display: block;
    }

    .new-section-dropzone.hover {
        background: rgba(1, 174, 240, 0.8);
    }

    .new-section-dropzone:nth-child(2) {
        bottom: -21px;
        display: none;
        top: auto;
    }

.minicolors {
    display: block;
    position: relative;
    z-index: 1;
}

#link-color-choice .minicolors {
    display: inline;
}

.minicolors-focus {
    z-index: 2;
}

.minicolors input {
    border: solid 1px #CCC;
    border-radius: 0;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.04);
    font: 14px sans-serif;
    height: 16px;
    margin-right: 3px;
    margin-right: -1px;
    outline: 0;
    padding: 2px;
    vertical-align: middle;
    width: 65px;
}

.minicolors-swatch-left input {
    margin-left: -1px;
    margin-right: auto;
}

.minicolors-focus input, .minicolors-focus .minicolors-swatch {
    border-color: #999;
}

.minicolors-hidden {
    left: -9999em;
    position: absolute;
}

.minicolors-swatch {
    background: url(../images/jquery.minicolors.png) -80px 0;
    border: solid 1px #CCC;
    display: inline-block;
    height: 20px;
    position: relative;
    vertical-align: middle;
    width: 20px;
}

    .minicolors-swatch span {
        background: 0;
        box-shadow: inset 0 9px 0 rgba(255, 255, 255, 0.1);
        display: inline-block;
        height: 100%;
        position: absolute;
        width: 100%;
    }

.minicolors-panel {
    background: white;
    border: solid 1px #CCC;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display: none;
    height: 152px;
    margin-left: -100px;
    margin-top: 32px;
    position: absolute;
    width: 173px;
}

#link-color-choice .minicolors-panel {
    margin-left: 125px;
    margin-top: -73px;
}

.minicolors-position-top .minicolors-panel {
    top: -156px;
}

.minicolors-position-left .minicolors-panel {
    left: -83px;
}

.minicolors-position-left.minicolors-with-opacity .minicolors-panel {
    left: -104px;
}

.minicolors-with-opacity .minicolors-panel {
    width: 194px;
}

.minicolors .minicolors-grid {
    background: url(../images/jquery.minicolors.png) -120px 0;
    cursor: crosshair;
    height: 150px;
    left: 1px;
    position: absolute;
    top: 1px;
    width: 150px;
}

.minicolors .minicolors-grid-inner {
    background: 0;
    height: 150px;
    left: 0;
    position: absolute;
    top: 0;
    width: 150px;
}

.minicolors-slider-saturation .minicolors-grid {
    background-position: -420px 0;
}

.minicolors-slider-saturation .minicolors-grid-inner {
    background: url(../images/jquery.minicolors.png) -270px 0;
}

.minicolors-slider-brightness .minicolors-grid {
    background-position: -570px 0;
}

.minicolors-slider-brightness .minicolors-grid-inner {
    background: black;
}

.minicolors-slider-wheel .minicolors-grid {
    background-position: -720px 0;
}

.minicolors-slider, .minicolors-opacity-slider {
    background: #fff url(../images/jquery.minicolors.png) 0 0;
    cursor: crosshair;
    height: 150px;
    left: 152px;
    position: absolute;
    top: 1px;
    width: 20px;
}

.minicolors-slider-saturation .minicolors-slider {
    background-position: -60px 0;
}

.minicolors-slider-brightness .minicolors-slider {
    background-position: -20px 0;
}

.minicolors-slider-wheel .minicolors-slider {
    background-position: -20px 0;
}

.minicolors-opacity-slider {
    background-position: -40px 0;
    display: none;
    left: 173px;
}

.minicolors-with-opacity .minicolors-opacity-slider {
    display: block;
}

.minicolors-grid .minicolors-picker {
    background: 0;
    border: solid 1px black;
    border-radius: 10px;
    height: 10px;
    left: 70px;
    margin-left: -6px;
    margin-top: -6px;
    position: absolute;
    top: 70px;
    width: 10px;
}

    .minicolors-grid .minicolors-picker span {
        border: solid 2px white;
        border-radius: 6px;
        height: 6px;
        left: 0;
        position: absolute;
        top: 0;
        width: 6px;
    }

.minicolors-picker {
    background: white;
    border: solid 1px black;
    height: 2px;
    left: 0;
    margin-top: -2px;
    position: absolute;
    top: 0;
    width: 18px;
}

.minicolors-inline input, .minicolors-inline .minicolors-swatch {
    display: none;
}

.minicolors-inline .minicolors-panel {
    display: inline-block;
    left: auto;
    position: relative;
    top: auto;
}

.minicolors-theme-bootstrap .minicolors-input {
    background-color: white;
    border: 1px solid #CCC;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    color: #555;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    height: 19px;
    margin: 0;
    padding: 4px 6px;
    padding-left: 30px;
}

.minicolors-theme-bootstrap.minicolors-focus .minicolors-input {
    border-color: #6fb8f1;
    box-shadow: 0 0 10px #6fb8f1;
    outline: 0;
}

.minicolors-theme-bootstrap .minicolors-swatch {
    left: 4px;
    position: absolute;
    top: 4px;
    z-index: 2;
}

.minicolors-theme-bootstrap.minicolors-swatch-position-right .minicolors-input {
    padding-left: 6px;
    padding-right: 30px;
}

.minicolors-theme-bootstrap.minicolors-swatch-position-right .minicolors-swatch {
    left: auto;
    right: 4px;
}

.minicolors-theme-bootstrap .minicolors-panel {
    z-index: 3;
}

.minicolors-theme-bootstrap.minicolors-position-top .minicolors-panel {
    top: -154px;
}

.minicolors-theme-bootstrap.minicolors-position-left .minicolors-panel {
    left: -63px;
}

.minicolors-theme-bootstrap.minicolors-position-left.minicolors-with-opacity .minicolors-panel {
    left: -84px;
}

.bootstrap-datetimepicker-widget {
    z-index: 290000;
}

.context-menu {
    border-radius: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 1px 0;
    z-index: 14;
}

    .context-menu.in {
        display: block;
    }

    .context-menu > li > a {
        font-size: 12px;
    }

.contextmenu-backdrop {
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
}

    .contextmenu-backdrop.in {
        display: block;
    }

.sidebar {
    float: left;
    height: 100%;
    position: relative;
    z-index: 13;
}

    .sidebar.out {
        display: none;
    }

.close-sidebar {
    background: #2c3033;
    border: 0;
    border-bottom: 1px solid #555;
    color: #ccc;
    display: block;
    font-size: 12px;
    line-height: 1;
    text-align: right;
    width: 100%;
}

    .close-sidebar:hover {
        background: #3d4144;
        color: #fff;
    }

    .close-sidebar:focus {
        outline: 0;
    }

.sidebar-list {
    list-style: none;
    margin: 0;
    padding: 0 4px;
}

    .sidebar-list li {
        line-height: 1;
        margin-bottom: 1px;
        text-align: center;
    }

        .sidebar-list li.btn-switch-page {
            border-bottom: 1px solid #555;
            margin-bottom: 6px;
            padding-bottom: 6px;
        }

        .sidebar-list li .btn-link {
            color: #ccc;
            font-size: 24px;
            padding: 0;
            position: relative;
            text-decoration: none;
            text-shadow: 0 0 1px #000;
            width: 40px;
        }

            .sidebar-list li .btn-link:hover {
                background: #444;
                color: #fff;
            }

            .sidebar-list li .btn-link.active {
                background: #444;
            }

            .sidebar-list li .btn-link:active, .sidebar-list li .btn-link:focus {
                outline: 0;
            }

            .sidebar-list li .btn-link[disabled] {
                background: transparent;
                color: #ccc;
                opacity: .3;
            }

#sidebar-top {
    padding-top: 6px;
}

#sidebar-bottom {
    bottom: 0;
    position: absolute;
    right: 0;
}

#sidebar-menu {
    -moz-transition: left .2s ease-in-out;
    -o-transition: left .2s ease-in-out;
    -webkit-transition: left .2s ease-in-out;
    background: #666;
    border-right: 1px solid #555;
    position: relative;
    transition: left .2s ease-in-out;
    z-index: 14;
}

.sidebar-section .input-prepend {
    width: 100%;
}

.sidebar-tile {
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    background: #f7f7f7;
    border-left: 1px solid #ddd;
    display: block;
    font-size: 12px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 8px;
    position: absolute;
    right: -240px;
    top: 0;
    transition: all .2s ease-in-out;
    width: 215px;
    z-index: 13;
}

    .sidebar-tile.in {
        right: 0;
    }

    .sidebar-tile .help-tip {
        border-bottom: 1px solid #DDD;
        display: block;
        font-size: 12px;
        margin-bottom: 4px;
        padding-bottom: 4px;
    }

    .sidebar-tile label {
        font-size: 12px;
        font-weight: 200;
    }

    .sidebar-tile .close {
        line-height: .6;
    }

.sidebar-tiles {
    position: absolute;
    top: 0;
}

.sidebar-widgets-tile {
    width: 96px;
}

.sidebar-left {
    background: #666;
    border-right: 1px solid #555;
    height: 100%;
    width: 170px;
}

    .sidebar-left .help-tip {
        border-bottom: 1px solid #555;
        color: #ddd;
        font-size: 12px;
        padding: 8px;
    }

.widgets-list {
    font-size: 0;
    list-style: none;
    margin: 0;
}

    .widgets-list li {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border-bottom: 1px solid #555;
        box-sizing: border-box;
        display: inline-block;
        overflow: hidden;
        text-align: center;
        width: 50%;
    }

        .widgets-list li:nth-child(2n + 1) {
            border-right: 1px solid #555;
        }

.sidebar-list-btn {
    color: #ccc;
    cursor: pointer;
    display: block;
    font-size: 11px;
    font-weight: 400;
    height: 50px;
    line-height: 1.5;
    padding: 12px 6px;
    text-align: center;
    text-shadow: 0 0 1px #000;
}

    .sidebar-list-btn:hover {
        background: #444;
        color: #fff;
        text-decoration: none;
    }

    .sidebar-list-btn .icon {
        display: block;
        font-size: 30px;
        margin-bottom: 6px;
    }

.sidebar .accordion-toggle {
    color: #666;
    cursor: pointer;
    display: block;
    padding: 12px 0;
    text-decoration: none;
}

.sidebar .accordion-heading {
    position: relative;
}

.sidebar .accordion-group {
    border-top: 1px solid #DDD;
}

    .sidebar .accordion-group:first-of-type {
        border-top: 0;
    }

.sidebar .accordion-body.in {
    padding-bottom: 12px;
}

#widgets-accordion .accordion-heading {
    text-align: center;
}

#widgets-accordion .accordion-group:first-of-type .accordion-toggle {
    padding-top: 0;
}

.columns-count {
    margin: 0 auto;
    width: 150px;
}

    .columns-count .btn {
        margin-bottom: 4px;
        min-width: 42px;
    }

.sidebar.condensed {
    width: 49px;
}

    .sidebar.condensed .help-tip {
        display: none;
    }

    .sidebar.condensed .close-sidebar {
        text-align: left;
    }

    .sidebar.condensed .widgets-list {
        padding: 6px 4px 0 4px;
    }

        .sidebar.condensed .widgets-list li {
            border: 0;
            color: #ccc;
            padding: 0;
            position: relative;
            text-decoration: none;
            text-shadow: 0 0 1px #000;
            width: 40px;
        }

            .sidebar.condensed .widgets-list li .sidebar-list-btn {
                height: auto;
                padding: 1px;
            }

                .sidebar.condensed .widgets-list li .sidebar-list-btn .icon {
                    font-size: 24px;
                    line-height: 38px;
                    margin-bottom: 0;
                }

            .sidebar.condensed .widgets-list li span {
                display: none;
            }

.sidebar-section {
    border-top: 1px solid #DDD;
    padding: 12px 0 8px;
    position: relative;
}

.sidebar-title {
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}

.btn-pin {
    -moz-transform: rotate(30deg);
    -moz-transition: all .2s ease-in-out;
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    -o-transition: all .2s ease-in-out;
    -webkit-transform: rotate(30deg);
    -webkit-transition: all .2s ease-in-out;
    color: #BBB;
    display: none;
    font-size: 12px;
    margin-top: -12px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: rotate(30deg);
    transition: all .2s ease-in-out;
}

    .btn-pin:hover {
        color: #999;
        text-decoration: none;
    }

    .btn-pin.active {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

.advanced-row {
    margin-bottom: 12px;
}

.input-tiny {
    width: 16px;
}

.sidebar .input-small {
    width: 50px;
}

.background-position-table {
    margin: 0 auto;
    max-width: 125px;
    text-align: center;
    width: 100%;
}

select.small {
    font-size: 12px;
    padding: 2px;
}

#widget-advanced-options {
    margin-top: 5px;
}

    #widget-advanced-options input[type="checkbox"] {
        margin: 0;
    }

    #widget-advanced-options .input-prepend + .input-prepend {
        margin-top: 0;
    }

    #widget-advanced-options [name="Styles.font-family.value"] {
        width: 120px;
    }

.icon-shadow-distance {
    text-shadow: 5px 5px 0 #999;
}

.icon-shadow-spread {
    text-shadow: 0 0 5px #000;
}

#advanced-border .advanced-row div {
    vertical-align: top;
}

#advanced-typography .advanced-row .input-prepend, #advanced-effects .advanced-row .input-prepend {
    min-width: 40%;
}

#advanced-background .fileupload {
    vertical-align: top;
}

    #advanced-background .fileupload + .help-inline {
        font-size: 16px;
        margin-top: 4px;
        vertical-align: top;
    }

.header {
    position: relative;
    z-index: 14;
}

    .header .logo-btn {
        width: 49px;
    }

    .header .logo {
        width: 35px;
    }

.header-group-left {
    float: left;
    width: 34%;
}

.header-group-right {
    float: right;
    text-align: right;
    width: 40%;
}

.header-group-center {
    float: left;
    height: 40px;
    overflow: hidden;
    text-align: center;
    width: 26%;
}

.header-subgroup {
    display: inline-block;
    vertical-align: top;
}

    .header-subgroup.bordered {
        border-right: 1px solid #383f45;
    }

.navbar {
    margin: 0;
}

    .navbar .btn {
        border-radius: 0;
        border-right: 1px solid #383f45;
        line-height: 32px;
        margin: 0 0 0 -4px;
    }

        .navbar .btn:focus {
            outline: 0;
        }

        .navbar .btn:first-child {
            border-left: 1px solid #383f45;
        }

    .navbar .btn-default {
        background: 0;
        color: #ccc;
    }

        .navbar .btn-default:hover {
            color: #fff;
        }

        .navbar .btn-default:hover, .navbar .btn-default .active {
            background: #383f45;
        }

    .navbar .row {
        margin: 0;
    }

    .navbar .dropdown.open > .dropdown-toggle {
        background: #383f45;
        color: #fff;
    }

    .navbar .dropdown-menu {
        border-radius: 0;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        padding: 1px 0;
        text-align: left;
    }

        .navbar .dropdown-menu > li > a:hover {
            background: #01aef0;
            color: #fff;
        }

        .navbar .dropdown-menu > li > a:focus {
            outline: 0;
        }

        .navbar .dropdown-menu i {
            display: inline-block;
            text-align: center;
            width: 24px;
        }

.btn-header {
    background: 0;
    border: 0;
    color: #CCC;
    display: inline-block;
    font-size: 24px;
    line-height: 40px;
    padding: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 40px;
}

    .btn-header:hover {
        background: #3d4144;
        color: #fff;
        text-decoration: none;
    }

    .btn-header:focus {
        outline: 0;
    }

    .btn-header[disabled] {
        background: 0;
        color: #555;
    }

    .btn-header.dropdown-toggle:after {
        bottom: -14px;
        content: "\f0d7";
        font-family: FontAwesome;
        font-size: 12px;
        position: absolute;
        right: 3px;
    }

.navbar .btn-page {
    background: #3a4045;
    color: #73777a;
    font-size: 11px;
    height: 24px;
    line-height: 12px;
    position: relative;
    top: 16px;
}

    .navbar .btn-page:before, .navbar .btn-page:after {
        content: '';
        display: block;
        height: 24px;
        position: absolute;
        top: 0;
        width: 11px;
    }

    .navbar .btn-page:before {
        background: url(../images/header/tabs/left.png) 0 0 no-repeat;
        left: -11px;
    }

    .navbar .btn-page:after {
        background: url(../images/header/tabs/right.png) 0 0 no-repeat;
        right: -11px;
    }

    .navbar .btn-page:first-child {
        margin-right: 12px;
    }

    .navbar .btn-page.active {
        background: #666;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
        color: #fff;
        position: relative;
        z-index: 2;
    }

        .navbar .btn-page.active:hover {
            background: #666;
        }

        .navbar .btn-page.active:before {
            background: url(../images/header/tabs/active_left.png) 0 0 no-repeat;
        }

        .navbar .btn-page.active:after {
            background: url(../images/header/tabs/active_right.png) 0 0 no-repeat;
        }

.navbar-inner {
    border-radius: 0;
    padding: 0;
}

#top-menu > li {
    position: relative;
}

#top-layer-menu {
    -moz-transition: top .5s ease-in-out;
    -o-transition: top .5s ease-in-out;
    -webkit-transition: top .5s ease-in-out;
    background-color: #252525;
    border-radius: 0 0 4px 4px;
    left: -38px;
    position: absolute;
    text-align: center;
    top: 0;
    transition: top .5s ease-in-out;
    width: 135px;
    z-index: -1;
}

    #top-layer-menu.in {
        top: 49px;
    }

    #top-layer-menu > li .btn-header {
        width: 18px;
    }

.menu-icons {
    margin: 0;
}

    .menu-icons > li {
        display: inline-block;
        line-height: 1;
    }

.dropdown-header {
    color: #999;
    display: block;
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
    padding: 8px 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    white-space: nowrap;
}

@media (min-width: 1366px) {
    .header-subgroup.offset {
        margin-left: 48px;
    }
}

.preview-overlay {
    background: #fff;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 14;
}

    .preview-overlay.in {
        display: block;
    }

    .preview-overlay iframe {
        border: 0;
        height: 100%;
        width: 100%;
    }

.ui-resizable-handle {
    background: #01aef0;
    border-radius: 50%;
    display: block;
    height: 10px;
    pointer-events: all;
    position: absolute;
    width: 10px;
    z-index: 2;
}

.multiple-selection .ui-resizable-handle, .ui-resizable-disabled .ui-resizable-handle {
    display: none !important;
}

.ui-resizable-nw {
    cursor: nw-resize;
    left: -6px;
    top: -6px;
}

.ui-resizable-ne {
    cursor: ne-resize;
    right: -6px;
    top: -6px;
}

.ui-resizable-sw {
    bottom: -6px;
    cursor: sw-resize;
    left: -6px;
}

.ui-resizable-se {
    bottom: -6px;
    cursor: se-resize;
    right: -6px;
}

.ui-resizable-n, .ui-resizable-s {
    left: 50%;
    margin-left: -5px;
}

.ui-resizable-n {
    cursor: n-resize;
    top: -6px;
}

.ui-resizable-s {
    bottom: -6px;
    cursor: s-resize;
}

.ui-resizable-e, .ui-resizable-w {
    margin-top: -5px;
    top: 50%;
}

.ui-resizable-e {
    cursor: e-resize;
    right: -6px;
}

.ui-resizable-w {
    cursor: w-resize;
    left: -6px;
}

#gallery-pictures .thumbnail {
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    display: inline-block;
    float: none;
    position: relative;
    transition: none;
    vertical-align: top;
}

    #gallery-pictures .thumbnail.selected {
        border-color: #08C;
        box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    }

.gallery-image {
    background-position: 50%;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
}

    .gallery-image.scale {
        background-size: contain;
    }

.upload-image-btn {
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background: transparent;
    border: 4px dashed #ddd;
    border-radius: 5px;
    color: #888;
    left: 50%;
    outline: 0;
    padding: 24px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}

    .upload-image-btn:active, .upload-image-btn:focus {
        outline: 0;
    }

.gallery-uploading {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.progress-window {
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background: #fff;
    box-shadow: 0 0 18px #000;
    left: 50%;
    padding: 12px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 640px;
}

.progress-row {
    margin-bottom: 24px;
}

.progress-filename {
    margin-bottom: 4px;
}

.progress {
    background: #ddd;
    height: 4px;
}

    .progress .bar {
        background: #29d;
    }

.progress-wrap {
    margin-bottom: 12px;
}

    .progress-wrap .progress-filename {
        margin-bottom: 4px;
        text-align: right;
    }

    .progress-wrap .progress {
        width: 530px;
    }

#counter-options {
    margin: 20px 0 0;
    position: relative;
}

#counter-number-styles, #counter-label-styles {
    clear: right;
}

    #counter-number-styles .btn-group, #counter-label-styles .btn-group {
        vertical-align: top;
    }

.counter-option {
    padding: 0 25px 15px;
    vertical-align: top;
    width: 90%;
}

    .counter-option.padded {
        padding: 0 25px 5px;
    }

        .counter-option.padded input[type="text"], .counter-option.padded input[type="number"] {
            margin-right: 20px;
            width: 160px;
        }

        .counter-option.padded .input-append input[type="text"], .counter-option.padded .input-append input[type="number"], .counter-option.padded .input-append select {
            margin-right: 0;
        }

        .counter-option.padded .input-prepend {
            margin: 0;
        }

            .counter-option.padded .input-prepend input {
                margin-right: 0;
            }

.counter-preview {
    height: 190px;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    width: 100%;
}

    .counter-preview .counter-preview-frame {
        display: inline-block;
        height: 185px;
        overflow: auto;
        position: relative;
    }

#new-widget-list {
    background: #666;
    border: 1px solid #555;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 12px 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

    #new-widget-list .close {
        color: #CCC;
        opacity: 1;
        position: absolute;
        right: 6px;
        text-shadow: none;
        top: 0;
    }

.form-editor-widget-list {
    list-style: none;
    margin: 0;
    padding: 0 12px;
}

    .form-editor-widget-list li {
        display: inline-block;
        margin: 4px;
    }

        .form-editor-widget-list li .btn {
            background: #444;
            color: #ccc;
            font-size: 20px;
            min-width: 44px;
        }

            .form-editor-widget-list li .btn:hover {
                color: #fff;
            }

.form-mockup {
    background-color: #eee;
    border: solid 1px #ddd;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 2px rgba(221, 221, 221, 0.5);
}

    .form-mockup a {
        margin: 0;
        padding: 2px;
        text-decoration: none;
    }

    .form-mockup.horizontal {
        display: block;
        height: 62px;
        margin: 7px;
        position: relative;
        width: 464px;
    }

        .form-mockup.horizontal input {
            float: left;
            min-width: 208px;
        }

            .form-mockup.horizontal input:only-child {
                width: 440px;
            }

    .form-mockup.vertical {
        position: absolute;
        width: 232px;
    }

    .form-mockup:hover .overlay {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .form-mockup .overlay {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }

        .form-mockup .overlay:hover {
            opacity: 1;
        }

        .form-mockup .overlay .text-center {
            left: 0;
            margin-top: -17px;
            position: absolute;
            text-align: center;
            top: 50%;
            vertical-align: middle;
            width: 100%;
        }

        .form-mockup .overlay .button {
            background-color: #e41d4c;
            border-radius: 3px;
            color: #fefefe;
            cursor: pointer;
            font-family: "Open Sans";
            font-size: 16px;
            height: 30px;
            margin: auto auto 0;
            opacity: 1;
            padding-top: 5px;
            width: 84px;
        }

        .form-mockup .overlay i.icon-ok {
            color: #fff;
            cursor: arrow;
            display: none;
            font-family: FontAwesome;
            font-size: 48px;
            margin: auto auto 0;
            opacity: 1;
        }

    .form-mockup.active .overlay {
        background-color: rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        height: 100%;
        opacity: 1;
        width: 100%;
    }

        .form-mockup.active .overlay .button {
            display: none;
        }

        .form-mockup.active .overlay i.icon-ok {
            display: inline;
        }

        .form-mockup.active .overlay:hover .button {
            display: none;
        }

    .form-mockup input {
        background-color: #fff;
        border: solid 1px #ddd;
        border-radius: 5px;
        color: #666;
        font-family: "Open Sans";
        font-size: 14px;
        height: 40px;
        margin: 4px;
    }

    .form-mockup textarea {
        background-color: #fff;
        border: solid 1px #ddd;
        border-radius: 5px;
        color: #666;
        font-family: "Open Sans";
        font-size: 14px;
        height: 80px;
        margin: 4px;
    }

#elements-column {
    max-width: 456px;
    position: relative;
}

.forms-vertical {
    padding: 0;
    position: relative;
}

.forms-horizontal {
    padding: 0;
    position: relative;
}

    .forms-vertical h1, .forms-horizontal h1 {
        color: #333;
        font-family: "Open Sans";
        font-size: 24px;
        font-weight: bold;
        text-shadow: 0 1px #fff;
    }

#form-elements-scroll .viewport {
    height: 340px;
}

.sortable-placeholder {
    background: #eee;
    border: 1px dashed #DDD;
}

#layout-tab [class*="span"] {
    border-left: 1px solid #DDD;
}

    #layout-tab [class*="span"]:first-child {
        border: 0;
    }

#form-element-options {
    padding-left: 7px;
}

.help-error {
    opacity: 0;
}

.error .help-error {
    opacity: 1;
}

[data-sending-type] .loader-circle {
    margin-left: 12px;
    padding-left: 24px;
}

.form-widget-options .control-group {
    margin-bottom: 24px;
}

.form-editor-label {
    margin-bottom: 12px;
}

.form-template {
    display: inline-block;
    margin-left: 24px;
    text-align: center;
}

.form-editor-preview {
    border: 1px solid #ccc;
    overflow: hidden;
    width: 100%;
}

#integrations-list, #contact-integrations-list {
    margin: 0;
}

    #integrations-list li, #contact-integrations-list li {
        display: inline-block;
    }

    #integrations-list a, #contact-integrations-list a {
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        border: 1px solid #EEE;
        display: block;
        height: 160px;
        margin: 4px;
        position: relative;
        transition: all .2s ease-in-out;
        width: 165px;
    }

        #integrations-list a span, #contact-integrations-list a span {
            bottom: 4px;
            left: 0;
            position: absolute;
            text-align: center;
            width: 100%;
        }

        #integrations-list a:hover, #contact-integrations-list a:hover {
            background-color: #fafafa;
        }

        #integrations-list a.active, #contact-integrations-list a.active {
            background-color: #e1f2f8;
            border: solid 1px #d3e8f0;
        }

[data-integration="mail"] {
    background: url(../images/integrations/mail.png) 50% 40px no-repeat;
}

[data-integration="post"] {
    background: url(../images/integrations/post.png) 50% 40px no-repeat;
}

[data-integration="amocrm"] {
    background: url(../images/integrations/amocrm.png) center no-repeat;
}

[data-integration="base"] {
    background: url(../images/integrations/base.png) center no-repeat;
}

[data-integration="benefiter"] {
    background: url(../images/integrations/benefiter.png) center no-repeat;
}

[data-integration="bitrix"] {
    background: url(../images/integrations/bitrix24.png) center no-repeat;
}

[data-integration="campmonitor"] {
    background: url(../images/integrations/campaignmonitor.png) center no-repeat;
}

[data-integration="capsule"] {
    background: url(../images/integrations/capsule.png) center no-repeat;
}

[data-integration="egoi"] {
    background: url(../images/integrations/egoi.png) center no-repeat;
}

[data-integration="freshmail"] {
    background: url(../images/integrations/freshmail.png) center no-repeat;
}

[data-integration="getresponse"] {
    background: url(../images/integrations/getresponse.png) center no-repeat;
}

[data-integration="gopl"] {
    background: url(../images/integrations/gopl.png) center no-repeat;
}

[data-integration="highrise"] {
    background: url(../images/integrations/highrise.png) center no-repeat;
}

[data-integration="icontact"] {
    background: url(../images/integrations/icontact.png) center no-repeat;
}

[data-integration="insightly"] {
    background: url(../images/integrations/insightly.png) center no-repeat;
}

[data-integration="implebot"] {
    background: url(../images/integrations/implebot.png) center no-repeat;
}

[data-integration="livespace"] {
    background: url(../images/integrations/livespace.png) center no-repeat;
}

[data-integration="mailchimp"] {
    background: url(../images/integrations/mailchimp.png) center no-repeat;
}

[data-integration="mailjet"] {
    background: url(../images/integrations/mailjet.png) center no-repeat;
}

[data-integration="mailerlite"] {
    background: url(../images/integrations/mailerlite.png) center no-repeat;
}

[data-integration="nutshell"] {
    background: url(../images/integrations/nutshell.png) center no-repeat;
}

[data-integration="onepage"] {
    background: url(../images/integrations/onepagecrm.png) center no-repeat;
}

[data-integration="pipeline"] {
    background: url(../images/integrations/pipelinedeals.png) center no-repeat;
}

[data-integration="salesmanago"] {
    background: url(../images/integrations/salesmanago_new.png) center no-repeat;
}

[data-integration="salesforce"] {
    background: url(../images/integrations/salesforce.png) center no-repeat;
}

[data-integration="sare"] {
    background: url(../images/integrations/sare.png) center no-repeat;
}

[data-integration="sendingo"] {
    background: url(../images/integrations/sendingo.png) center no-repeat;
}

[data-integration="sugar"] {
    background: url(../images/integrations/sugarcrm.png) center no-repeat;
}

[data-integration="unisender"] {
    background: url(../images/integrations/unisender.png) center no-repeat;
}

[data-integration="zoho"] {
    background: url(../images/integrations/zohocrm.png) center no-repeat;
}

.integration-overlay {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: #fafafa;
    box-sizing: border-box;
    display: none;
    height: 100%;
    left: 0;
    padding: 24px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

    .integration-overlay.in {
        display: block;
    }

    .integration-overlay .close {
        position: absolute;
        right: 8px;
        top: 0;
    }

.window .integration-overlay .alert {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.integration-overlay-inner {
    padding: 12px;
}

.integration-options-form {
    display: none;
}

    .integration-options-form.in {
        display: block;
    }

#integration-mapping, #contact-integration-mapping {
    margin: 25px;
}

.mapping-row {
    margin-bottom: 12px;
}

.mapping-mockup {
    background: #e1f2f8;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 2px;
    padding: 4px 6px;
    vertical-align: middle;
    width: 50%;
}

.mapping-arrow {
    display: inline-block;
    text-align: center;
    width: 100px;
}

.mapping-fields {
    display: inline-block;
    width: 200px;
}

.form-editor-accordion .accordion-group, .form-styles-accordion .accordion-group {
    background: #f5f5f5;
    border: 1px solid #e5e5e5;
    margin-bottom: 4px;
    padding: 8px;
}

    .form-editor-accordion .accordion-group.active .accordion-heading, .form-styles-accordion .accordion-group.active .accordion-heading {
        background: #e1f2f8;
    }

.form-editor-accordion .accordion-heading, .form-styles-accordion .accordion-heading {
    position: relative;
}

    .form-editor-accordion .accordion-heading:hover, .form-styles-accordion .accordion-heading:hover {
        background: #c4e4f1;
    }

    .form-editor-accordion .accordion-heading .accordion-toggle, .form-styles-accordion .accordion-heading .accordion-toggle {
        color: #222;
        display: block;
        font-weight: 400;
        padding: 8px 40px 8px 8px;
    }

    .form-editor-accordion .accordion-heading a, .form-styles-accordion .accordion-heading a {
        color: #aaa;
        text-decoration: none;
    }

        .form-editor-accordion .accordion-heading a:hover, .form-styles-accordion .accordion-heading a:hover {
            color: #222;
        }

.form-editor-accordion .accordion-inner, .form-styles-accordion .accordion-inner {
    background: #FFF;
    border: 1px solid #DDD;
    padding: 9px 15px;
}

.form-editor-accordion .help-block, .form-styles-accordion .help-block {
    font-size: 14px;
}

    .form-editor-accordion .help-block.text-warning, .form-styles-accordion .help-block.text-warning {
        color: #b94a48;
        font-weight: 500;
    }

#form-widgets .accordion-toggle {
    cursor: move;
}

.form-element-options {
    margin-top: -12px;
    min-width: 36px;
    position: absolute;
    right: 4px;
    top: 50%;
}

.form-section {
    margin-bottom: 24px;
}

#form-editor-accordion .input-prepend + .input-prepend {
    margin-top: 0;
}

.form-element-settings {
    background: #FFF;
    position: absolute;
    width: 100%;
    z-index: 2;
}

    .form-element-settings [data-action="form-element-settings-close"] span {
        font-size: 12px;
        font-weight: 200;
        position: relative;
        top: -3px;
    }

[data-action="form-element-settings-close"] {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
}

.form-style-template {
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    border: 4px solid transparent;
    cursor: pointer;
    display: inline-block;
    margin: 8px;
    max-width: 200px;
    transition: all .2s linear;
    vertical-align: top;
}

    .form-style-template:hover {
        border-color: #01aef0;
    }

    .form-style-template.horizontal-template {
        max-width: 900px;
    }

#vertical-form-templates, #horizontal-form-templates {
    text-align: center;
}

    #horizontal-form-templates img {
        width: auto;
    }

#convert-form-backdrop {
    background: #000;
    display: none;
    height: 100%;
    left: 0;
    opacity: .6;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200002;
}

    #convert-form-backdrop.in {
        display: block;
    }

.sales-manago-list {
    border: 1px solid #ddd;
    border-radius: 4px;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 4px 6px;
    width: 290px;
}

    .sales-manago-list.borderless {
        border: 1px solid transparent;
    }

#form-element-types {
    display: block;
    height: 20px;
    margin-top: 10px;
}

    #form-element-types > button {
        background: #f5f5f5;
        border: 1px solid #e5e5e5;
        cursor: pointer;
        outline-width: 0;
        overflow: hidden;
    }

        #form-element-types > button:hover {
            background: #e1f2f8;
        }

        #form-element-types > button.active {
            border: 1px solid #01aef0;
            color: #01aef0;
        }

#form-basic-styles {
    background: #fff;
    position: relative;
    width: 100%;
}

    #form-basic-styles .input-prepend {
        margin: 0;
    }

    #form-basic-styles .form-styles-option {
        float: left;
        padding: 2px 5px 2px 10px;
        width: 100%;
    }

        #form-basic-styles .form-styles-option .btn-group + .btn-group {
            margin-left: 0;
        }

    #form-basic-styles select {
        width: 160px;
    }

    #form-basic-styles .basic-colors-row {
        display: inline-block;
        width: 100%;
    }

    #form-basic-styles #form-basic-fonts {
        display: inline-block;
        position: relative;
        width: 100%;
    }

#form-style-settings {
    background: #fff;
    position: relative;
    width: 100%;
}

#form-styles-typography select {
    max-width: 160px;
}

.form-preview {
    overflow: auto;
}

    .form-preview iframe {
        position: relative;
    }

#form-styles-background select {
    max-width: 160px;
}

#form-styles-background .fileupload {
    vertical-align: top;
}

    #form-styles-background .fileupload + .help-inline {
        font-size: 16px;
        margin-top: 4px;
        vertical-align: top;
    }

#form-styles-background .input-prepend + .input-prepend {
    margin-top: 0;
}

.fontfamily .dropdown-menu {
    max-height: 200px;
    overflow-x: hidden;
}

#fonts-window {
    overflow-x: hidden;
    overflow-y: auto;
}

.font {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #ddd;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    margin: 1%;
    padding: 8px;
    vertical-align: top;
    width: 18%;
}

    .font:hover {
        border-color: #01aef0;
    }

    .font.selected {
        background: rgba(1, 174, 240, 0.05);
        border-color: #01aef0;
    }

.font-title {
    margin-bottom: 12px;
}

.fonts-list {
    padding-bottom: 24px;
}

.font-preview {
    border: 0;
    height: 96px;
    width: 100%;
}

    .font-preview:hover {
        background: #FFB;
    }

.font-image {
    background: url(../images/fonts.png) no-repeat;
    display: block;
    height: 32px;
    width: 140px;
}

.font-arial {
    background-position: 0 0;
}

.font-item:hover .font-arial {
    background-position: 0 -32px;
}

.font-georgia {
    background-position: 0 -64px;
}

.font-item:hover .font-georgia {
    background-position: 0 -96px;
}

.font-tahoma {
    background-position: 0 -128px;
}

.font-item:hover .font-tahoma {
    background-position: 0 -160px;
}

.font-times-new-roman {
    background-position: 0 -192px;
}

.font-item:hover .font-times-new-roman {
    background-position: 0 -224px;
}

.font-bree-serif {
    background-position: 0 -256px;
}

.font-item:hover .font-bree-serif {
    background-position: 0 -288px;
}

.font-comfortaa {
    background-position: 0 -320px;
}

.font-item:hover .font-comfortaa {
    background-position: 0 -352px;
}

.font-exo {
    background-position: 0 -384px;
}

.font-item:hover .font-exo {
    background-position: 0 -416px;
}

.font-istok-web {
    background-position: 0 -448px;
}

.font-item:hover .font-istok-web {
    background-position: 0 -480px;
}

.font-lobster {
    background-position: 0 -512px;
}

.font-item:hover .font-lobster {
    background-position: 0 -544px;
}

.font-marck-script {
    background-position: 0 -576px;
}

.font-item:hover .font-marck-script {
    background-position: 0 -608px;
}

.font-neuton {
    background-position: 0 -640px;
}

.font-item:hover .font-neuton {
    background-position: 0 -672px;
}

.font-open-sans {
    background-position: 0 -704px;
}

.font-item:hover .font-open-sans {
    background-position: 0 -736px;
}

.font-open-sans-condensed {
    background-position: 0 -768px;
}

.font-item:hover .font-open-sans-condensed {
    background-position: 0 -800px;
}

.font-oswald {
    background-position: 0 -832px;
}

.font-item:hover .font-oswald {
    background-position: 0 -864px;
}

.font-pt-sans-narrow {
    background-position: 0 -896px;
}

.font-item:hover .font-pt-sans-narrow {
    background-position: 0 -928px;
}

.font-play {
    background-position: 0 -960px;
}

.font-item:hover .font-play {
    background-position: 0 -992px;
}

.font-roboto {
    background-position: 0 -1024px;
}

.font-item:hover .font-roboto {
    background-position: 0 -1056px;
}

.font-russo-one {
    background-position: 0 -1088px;
}

.font-item:hover .font-russo-one {
    background-position: 0 -1120px;
}

.font-signika {
    background-position: 0 -1152px;
}

.font-item:hover .font-signika {
    background-position: 0 -1184px;
}

.font-source-sans-pro {
    background-position: 0 -1216px;
}

.font-item:hover .font-source-sans-pro {
    background-position: 0 -1248px;
}

.font-titillium-web {
    background-position: 0 -1280px;
}

.font-item:hover .font-titillium-web {
    background-position: 0 -1312px;
}

.font-ubuntu {
    background-position: 0 -1344px;
}

.font-item:hover .font-ubuntu {
    background-position: 0 -1376px;
}

#viewports {
    display: inline-block;
    height: 38px;
    z-index: 1;
}

[data-viewport="tablet"] {
    margin: 0 auto;
    width: 800px !important;
}

[data-viewport="mobile"] {
    margin: 0 auto;
    width: 360px !important;
}

.options-wrap {
    margin: 0 auto;
    width: 90%;
}

#landing-name-form label, #landing-name-form input[type="text"] {
    display: inline-block;
    vertical-align: middle;
}

#landing-name-form input[type="text"] {
    display: block;
    font-size: 30px;
    padding: 6px 8px;
    width: 98%;
}

#facebook-thumb-preview {
    max-width: 200px;
}

#favicon-preview {
    display: inline-block;
    margin-right: 12px;
}

    #favicon-preview img {
        border: 1px solid #ddd;
        height: 32px;
        padding: 2px;
        width: 32px;
    }

#default-favicon-info {
    margin-top: 12px;
}

#settings-window .input-mega {
    width: 95%;
}

[data-policy-options] {
    display: none;
}

    [data-policy-options].in {
        display: block;
    }

#widgets-tree {
    list-style: none;
    margin: 0;
    padding: 0;
}

    #widgets-tree ul {
        list-style: none;
        margin: 0;
    }

        #widgets-tree ul li {
            margin-left: 6px;
        }

    #widgets-tree > ul > li {
        margin-left: 0;
    }

    #widgets-tree .widget-tree-item {
        border-bottom: 1px solid #ddd;
        border-left: 1px solid #ddd;
        cursor: pointer;
    }

        #widgets-tree .widget-tree-item:hover {
            background: #EEE;
        }

        #widgets-tree .widget-tree-item.highlight {
            background: rgba(1, 174, 240, 0.35);
        }

        #widgets-tree .widget-tree-item a {
            color: #555;
            display: inline-block;
            padding: 4px;
            text-decoration: none;
        }

            #widgets-tree .widget-tree-item a:hover {
                background: #ddd;
            }

#widgets-list-scrollable {
    margin-top: 18px;
}

.select-tab {
    display: none;
}

    .select-tab.active {
        display: block;
    }

.handlebar {
    -moz-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    background: rgba(1, 174, 240, 0.5);
    color: #fff;
    display: none;
    margin-top: -26px;
    position: absolute;
    user-select: none;
    white-space: nowrap;
    z-index: 11;
}

    .handlebar.in {
        display: block;
    }

    .handlebar.handlebar-section {
        margin-top: 0;
    }

        .handlebar.handlebar-section .handlebar-move {
            display: none;
        }

.handlebar-title {
    display: inline-block;
    font-size: 12px;
    line-height: 26px;
    padding: 0 4px;
    text-transform: uppercase;
}

.handlebar-options {
    display: inline-block;
}

.handlebar-btn {
    background: 0;
    border: 0;
    color: #fff;
    display: inline-block;
    line-height: 26px;
    margin: 0;
    opacity: .8;
    padding: 0;
    text-align: center;
    text-decoration: none;
    width: 26px;
}

    .handlebar-btn:hover {
        background: #01aef0;
        color: #fff;
        opacity: 1;
        text-decoration: none;
    }

    .handlebar-btn:focus {
        outline: 0;
    }

    .handlebar-btn.hidden {
        display: none;
    }

    .handlebar-btn[disabled] {
        opacity: .4;
    }

        .handlebar-btn[disabled]:hover {
            background: 0;
        }

.handlebar-move {
    cursor: move;
    display: inline-block;
    padding: 0 4px;
}

    .handlebar-move.disabled {
        cursor: default;
        opacity: .4;
    }

.handlebar-icon {
    color: #fff;
}

.preview .handlebar {
    display: none;
}

.overlay-group {
    background: transparent;
    display: block;
    left: -9999px;
    position: absolute;
    top: -9999px;
}

    .overlay-group:hover {
        border: 1px dotted #01aef0;
    }

    .overlay-group.selected {
        border: 1px dotted #09161b;
    }

.landingi-grid {
    background: #01aef0;
    display: block;
    position: fixed;
    top: auto;
    z-index: 199998;
}

.landingi-grid-column {
    height: 100%;
    width: 1px;
}

.landingi-grid-row {
    height: 1px;
    width: 100%;
}

.ruler {
    border-left: 1px dashed #01aef0;
    display: none;
    height: 100%;
    position: fixed;
    top: auto;
    width: 1px;
    z-index: 199999;
}

.help-overlay {
    background: rgba(0, 0, 0, 0.5);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200010;
}

    .help-overlay.in {
        display: block;
    }

.help-modal {
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 5px;
    display: none;
    left: 50%;
    overflow: hidden;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 960px;
    z-index: 250000;
}

    .help-modal.in {
        display: block;
    }

    .help-modal .modal-header {
        -moz-user-select: none;
        -moz-user-select: -moz-none;
        -ms-user-select: none;
        -o-user-select: none;
        -webkit-user-select: none;
        background: #4fb2ff;
        border-radius: 5px 5px 0 0;
        line-height: 75px;
        position: relative;
        user-select: none;
    }

        .help-modal .modal-header .close {
            -moz-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            -o-transform: translate(0, -50%);
            -webkit-transform: translate(0, -50%);
            border: solid 4px #3497e4;
            border-radius: 50%;
            color: #3497e4;
            font-size: 24px;
            line-height: 30px;
            margin: 0;
            opacity: 1;
            padding: 0;
            position: absolute;
            right: 12px;
            text-shadow: none;
            top: 50%;
            transform: translate(0, -50%);
            width: 38px;
        }

            .help-modal .modal-header .close:focus {
                outline: 0;
            }

            .help-modal .modal-header .close:hover {
                border-color: #1d79c0;
                color: #1d79c0;
            }

    .help-modal .modal-title {
        color: #fff;
        font-size: 28px;
        text-align: center;
    }

    .help-modal .modal-body {
        max-height: 480px;
    }

    .help-modal .modal-footer {
        -moz-user-select: none;
        -moz-user-select: -moz-none;
        -ms-user-select: none;
        -o-user-select: none;
        -webkit-user-select: none;
        background: #d8d8d8;
        text-align: left;
        user-select: none;
    }

        .help-modal .modal-footer label {
            font-size: 12px;
            margin: 0;
        }

        .help-modal .modal-footer input[type="checkbox"] {
            margin: 0;
        }

    .help-modal .row-fluid {
        color: #252525;
        font-size: 19px;
        text-align: center;
    }

        .help-modal .row-fluid p {
            line-height: 1.2;
        }

        .help-modal .row-fluid + .row-fluid {
            margin-top: 24px;
        }

    .help-modal .span6 {
        min-height: 360px;
        position: relative;
        text-align: left;
    }

    .help-modal .align-center {
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        left: 50%;
        position: absolute;
        text-align: left;
        top: 50%;
        transform: translate(-50%, -50%);
    }

#help-carousel img {
    margin: 0 auto;
}

#help-carousel .item {
    min-height: 360px;
}

#help-carousel .carousel-control {
    background: 0;
    border: solid 4px #d8d8d8;
    border-radius: 50%;
    color: #d8d8d8;
    font-size: 24px;
    line-height: 44px;
    opacity: 1;
    width: 40px;
}

    #help-carousel .carousel-control:hover {
        border-color: #c4c4c4;
        color: #c4c4c4;
    }

#help-carousel .carousel-indicators {
    margin: 6px 0;
    position: static;
    text-align: center;
    width: 100%;
}

    #help-carousel .carousel-indicators > li {
        background: #fff;
        border: 4px solid #e51d4c;
        border-radius: 50%;
        cursor: pointer;
        display: inline-block;
        float: none;
        height: 12px;
        width: 12px;
    }

        #help-carousel .carousel-indicators > li.active {
            background: #e51d4c;
        }

#ruler {
    background: #666;
    border-bottom: 1px solid #555;
    height: 24px;
    position: relative;
    width: 100%;
    z-index: 11;
}

    #ruler.translated {
        padding-left: 121px;
    }

        #ruler.translated .grid-options {
            right: 121px;
        }

    #ruler input[type="checkbox"] {
        margin: 0 0 0 6px;
    }

.ruler-desktop, .ruler-tablet, .ruler-mobile {
    border-left: 1px dashed #444;
    border-right: 1px dashed #444;
    cursor: pointer;
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
}

    .ruler-desktop i, .ruler-tablet i, .ruler-mobile i {
        color: #ccc;
        margin-left: 4px;
        text-shadow: 0 0 1px #000;
    }

    .ruler-desktop:hover, .ruler-tablet:hover, .ruler-mobile:hover {
        background: #444;
        color: #fff;
    }

    .ruler-desktop.active i, .ruler-tablet.active i, .ruler-mobile.active i {
        display: none;
    }

    .ruler-desktop.active .ruler-box, .ruler-tablet.active .ruler-box, .ruler-mobile.active .ruler-box {
        display: block;
    }

        .ruler-desktop.active .ruler-box i, .ruler-tablet.active .ruler-box i, .ruler-mobile.active .ruler-box i {
            display: block;
            text-shadow: 0 0 1px #00506f;
        }

.ruler-desktop {
    margin-left: -488px;
    width: 960px;
}

.ruler-tablet {
    margin-left: -390px;
    width: 764px;
}

.ruler-mobile {
    margin-left: -168px;
    width: 320px;
}

.ruler-box {
    background: #01aef0;
    color: #FFF;
    display: none;
    font-size: 10px;
    height: 17px;
    padding: 4px;
    position: absolute;
    right: 100%;
    text-align: center;
    top: 0;
    width: 24px;
}

    .ruler-box i {
        color: #fff;
        display: block;
        font-size: 16px;
        margin: 0 0 6px 0;
    }

.grid-options {
    display: none;
    margin-right: 12px;
    position: absolute;
    right: 0;
    top: 0;
}

    .grid-options.in {
        display: block;
    }

    .grid-options label {
        color: #ddd;
        font-size: 12px;
        line-height: 25px;
        margin: 0;
    }

.window-backdrop {
    background: #000;
    display: none;
    height: 100%;
    left: 0;
    opacity: .6;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200002;
}

    .window-backdrop.in {
        display: block;
    }

.window {
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background: #fff;
    box-shadow: 0 0 18px #000;
    display: none;
    height: 95%;
    left: 50%;
    max-height: 900px;
    max-width: 1400px;
    overflow: hidden;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    z-index: 250000;
}

    .window.in {
        display: block;
    }

    .window .tab-content {
        padding: 0 0 0 24px;
    }

    .window .tab-pane {
        padding: 24px 24px 0 0;
        position: relative;
    }

.window-header {
    -moz-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    border-bottom: 1px solid #eee;
    line-height: 1;
    user-select: none;
    *zoom: 1;
}

    .window-header:before, .window-header:after {
        content: "";
        display: table;
        line-height: 0;
    }

    .window-header:after {
        clear: both;
    }

    .window-header .pull-right {
        font-size: 0;
    }

.window-btn {
    background: 0;
    border: 0;
    color: #747474;
    font-weight: 200;
    min-width: 48px;
    padding: 12px;
}

    .window-btn:hover {
        color: #222;
    }

    .window-btn.hidden {
        display: none;
    }

.window-btn-left {
    border-right: 1px solid #eee;
}

.window-btn-right {
    border-left: 1px solid #eee;
}

.window-confirm:hover {
    background: #01aef0;
    color: #FFF;
}

.window-title {
    color: #222;
    float: left;
    font-size: 20px;
    padding: 14px;
}

.window-body {
    height: 100%;
    max-height: 851px;
}

    .window-body > .window-nav {
        -moz-user-select: none;
        -moz-user-select: -moz-none;
        -ms-user-select: none;
        -o-user-select: none;
        -webkit-user-select: none;
        background: #666;
        border-right: 1px solid #555;
        float: left;
        height: 100%;
        list-style: none;
        margin: 0;
        overflow: hidden;
        user-select: none;
        width: 200px;
    }

        .window-body > .window-nav > li > a {
            color: #CCC;
            display: block;
            padding: 12px;
            text-decoration: none;
        }

            .window-body > .window-nav > li > a:hover {
                background: #444;
                color: #FFF;
            }

        .window-body > .window-nav > li.active > a {
            background: #444;
        }

        .window-body > .window-nav .dropdown-menu {
            border-radius: 0;
            padding: 0;
            width: 100%;
        }

        .window-body > .window-nav .window-dropdown-caret {
            float: right;
        }

.style-tabs-top, .templates-tabs-top {
    height: 100%;
    position: relative;
    width: 100%;
}

    .style-tabs-top .window-nav, .templates-tabs-top .window-nav {
        -moz-user-select: none;
        -moz-user-select: -moz-none;
        -ms-user-select: none;
        -o-user-select: none;
        -webkit-user-select: none;
        background: 0;
        list-style: none;
        margin: 0;
        overflow: hidden;
        position: relative;
        user-select: none;
        width: 100%;
        z-index: 2;
    }

        .style-tabs-top .window-nav > li, .templates-tabs-top .window-nav > li {
            background: #f5f5f5;
            border: 2px solid #e5e5e5;
            border-radius: 8px 8px 0 0;
            float: left;
            height: 20px;
            margin: 0;
            padding: 0 6px 10px;
            text-align: center;
        }

            .style-tabs-top .window-nav > li:hover, .templates-tabs-top .window-nav > li:hover {
                background: #c4e4f1;
                border: 2px solid #e5e5e5;
            }

            .style-tabs-top .window-nav > li > a, .templates-tabs-top .window-nav > li > a {
                color: #222;
                display: block;
                padding: 6px;
                text-decoration: none;
            }

                .style-tabs-top .window-nav > li > a:hover, .templates-tabs-top .window-nav > li > a:hover {
                    background: 0;
                    color: #222;
                }

            .style-tabs-top .window-nav > li.active, .templates-tabs-top .window-nav > li.active {
                background: #fff;
                border: 2px solid #e5e5e5;
                border-bottom: 2px solid #fff;
            }

                .style-tabs-top .window-nav > li.active > a, .templates-tabs-top .window-nav > li.active > a {
                    background: 0;
                }

        .style-tabs-top .window-nav .dropdown-menu, .templates-tabs-top .window-nav .dropdown-menu {
            border-radius: 0;
            padding: 0;
            width: 100%;
        }

        .style-tabs-top .window-nav .window-dropdown-caret, .templates-tabs-top .window-nav .window-dropdown-caret {
            float: right;
        }

    .style-tabs-top .tab-content, .templates-tabs-top .tab-content {
        border: 2px solid #e5e5e5;
        border-radius: 0 8px 8px 8px;
        height: 100%;
        margin: -2px 0 4px;
        padding: 10px 0 10px 10px;
        z-index: 1;
    }

.window .window-content {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 12px 48px 0 48px;
    position: relative;
}

.window .container {
    width: auto;
}

.window-pane {
    display: none;
}

    .window-pane.active {
        display: block;
    }

.window-scrollable {
    overflow-x: hidden;
    overflow-y: auto;
}

.window-gallery .inner-column {
    padding: 12px;
}

.window-gallery [class*="span"]:nth-child(2) {
    border-left: 1px solid #DDD;
    margin: 0;
    width: 25%;
}

    .window-gallery [class*="span"]:nth-child(2) input {
        max-width: 160px;
    }

.window-gallery .thumbnails li {
    border: 1px solid #ddd;
    cursor: pointer;
    display: inline-block;
    float: none;
    margin: 0 8px 8px 8px;
    max-width: 200px;
    position: relative;
    vertical-align: top;
}

    .window-gallery .thumbnails li:hover .gallery-remove {
        display: block;
    }

    .window-gallery .thumbnails li.active {
        border: 1px solid #29D;
        box-shadow: 0 0 4px #29D;
    }

.gallery-remove {
    background: #eee;
    border: 0;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    color: #222;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
}

.inner-modal-backdrop {
    background: rgba(0, 0, 0, 0.5);
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

    .inner-modal-backdrop.in {
        display: block;
    }

.inner-modal {
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    background: #fff;
    box-shadow: 0 0 18px #000;
    display: block;
    left: 50%;
    max-height: 640px;
    position: absolute;
    top: 5%;
    transform: translate(-50%, 0);
    width: 80%;
}

.inner-modal-body {
    max-height: 567px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 12px;
}

.workspace {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    position: relative;
    width: 100%;
}

    .workspace.preview {
        padding-left: 0;
        width: 100% !important;
    }

.scroll-workspace {
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.05) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.05) 75%, rgba(0, 0, 0, 0.05)), linear-gradient(45deg, rgba(0, 0, 0, 0.05) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.05) 75%, rgba(0, 0, 0, 0.05));
    background-position: 0 0, 24px 24px;
    background-size: 48px 48px;
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#tools {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 4;
}

.tools-overlay {
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
}

    .tools-overlay.in {
        display: block;
    }

.overlay-guide {
    -moz-box-sizing: border-box;
    -moz-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-box-sizing: border-box;
    -webkit-user-select: none;
    border: 1px solid #01aef0;
    box-sizing: border-box;
    left: 9999px;
    pointer-events: none;
    position: absolute;
    top: 9999px;
    user-select: none;
}

.overlay-selected {
    border-width: 2px;
}

    .overlay-selected[data-widget-type="section"] {
        border-left: 0;
        border-right: 0;
    }

        .overlay-selected[data-widget-type="section"] .ui-resizable-handle {
            display: none !important;
        }

.multiple-selection .overlay-selected {
    pointer-events: all;
}

.selecting .multiple-selection .overlay-selected {
    pointer-events: none;
}

.pace {
    -moz-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    background: #FFF;
    color: #555;
    font-family: Tahoma, Arial, sans-serif;
    font-weight: 200;
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    user-select: none;
    width: 100%;
    z-index: 1000000;
}

    .pace:after {
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        background: #ccc;
        content: ' ';
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 99%;
    }

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background-color: #29d;
    height: 2px;
    left: 50%;
    max-width: 99%;
    min-width: 32px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000;
}

.pace-progress:after {
    bottom: 100%;
    color: #555;
    content: attr(data-progress-text);
    display: block;
    font-size: 20px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.pace-activity {
    left: 0;
    margin-top: -90px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

.pace-backdrop {
    background: #fff;
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
}

.fileupload input[type="file"] {
    left: 9999px;
    position: absolute;
}

.colorpicker-wrap {
    background: #fff;
    border: 1px solid #353535;
    display: block;
    height: 32px;
    width: 32px;
}

    .colorpicker-wrap[disabled] {
        background: 0;
        pointer-events: none;
    }

        .colorpicker-wrap[disabled] .colorpicker-preview {
            background: none !important;
        }

.colorpicker-wrap-inline {
    display: inline-block;
}

.colorpicker-preview {
    height: 100%;
    width: 100%;
}

.colorpicker-window {
    background: #666;
    border: 1px solid #353535;
    display: none;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 206px;
    z-index: 250000;
    *zoom: 1;
}

    .colorpicker-window:before, .colorpicker-window:after {
        content: "";
        display: table;
        line-height: 0;
    }

    .colorpicker-window:after {
        clear: both;
    }

    .colorpicker-window label {
        color: #ccc;
        font-size: 14px;
        text-align: right;
    }

    .colorpicker-window input[type="text"] {
        font-size: 14px;
        max-width: 60px;
        padding: 2px;
    }

    .colorpicker-window .input-micro {
        float: right;
        text-align: right;
        width: 40px;
    }

.colorpicker-footer {
    line-height: 1;
    margin: 4px 0;
    text-align: center;
    *zoom: 1;
}

    .colorpicker-footer:before, .colorpicker-footer:after {
        content: "";
        display: table;
        line-height: 0;
    }

    .colorpicker-footer:after {
        clear: both;
    }

.colorpicker-body {
    padding: 8px;
}

.colorpicker-visible {
    display: block !important;
}

.colorpicker-zone {
    border: 1px solid #353535;
}

.colorpicker-saturation {
    background-color: transparent;
    background-image: -moz-linear-gradient(0deg, #000, transparent);
    background-image: -webkit-linear-gradient(0deg, #000, transparent);
    background-image: -o-linear-gradient(0deg, #000, transparent);
    background-image: linear-gradient(0deg, #000, transparent);
    background-repeat: repeat-x;
    cursor: crosshair;
    float: left;
    height: 145px;
    margin: 0 4px;
    width: 145px;
}

    .colorpicker-saturation i {
        border: 1px solid #000;
        border-radius: 5px;
        display: block;
        height: 5px;
        left: 0;
        margin: -4px 0 0 -4px;
        position: absolute;
        top: 0;
        width: 5px;
    }

        .colorpicker-saturation i b {
            border: 1px solid #fff;
            border-radius: 5px;
            display: block;
            height: 5px;
            width: 5px;
        }

    .colorpicker-saturation:before {
        background-color: transparent;
        background-image: -webkit-linear-gradient(135deg, #fff, transparent 50%, transparent);
        background-image: -moz-linear-gradient(135deg, #fff, transparent 50%, transparent);
        background-image: -o-linear-gradient(135deg, #fff, transparent 50%, transparent);
        background-image: linear-gradient(135deg, #fff, transparent 50%, transparent);
        content: ' ';
        height: 145px;
        left: 0;
        position: absolute;
        top: 0;
        width: 145px;
    }

.colorpicker-hue, .colorpicker-alpha {
    cursor: row-resize;
    float: left;
    height: 145px;
    margin-bottom: 4px;
    width: 15px;
}

    .colorpicker-hue i, .colorpicker-alpha i {
        background: #000;
        border-top: 1px solid #fff;
        display: block;
        height: 1px;
        left: 0;
        margin-top: -1px;
        position: absolute;
        top: 0;
        width: 100%;
    }

.colorpicker-hue {
    background: -moz-linear-gradient(top, #f00 0, #f0f 17%, #00f 33%, #0ff 50%, #0f0 67%, #ff0 83%, #f00 100%);
    background: -ms-linear-gradient(top, #f00 0, #f0f 17%, #00f 33%, #0ff 50%, #0f0 67%, #ff0 83%, #f00 100%);
    background: -o-linear-gradient(top, #f00 0, #f0f 17%, #00f 33%, #0ff 50%, #0f0 67%, #ff0 83%, #f00 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#f00), color-stop(0.17, #f0f), color-stop(0.33, #00f), color-stop(0.5, #0ff), color-stop(0.67, #0f0), color-stop(0.83, #ff0), to(#f00));
    background: -webkit-linear-gradient(top, #f00 0, #f0f 17%, #00f 33%, #0ff 50%, #0f0 67%, #ff0 83%, #f00 100%);
}

.colorpicker-alpha {
    display: none;
}

.colorpicker-alpha, .colorpicker-color {
    background-image: url('../images/colorpicker/alpha.png');
}

.colorpicker div {
    position: relative;
}

.colorpicker .row {
    margin: 0;
}

.colorpicker .row-fluid {
    margin-top: 8px;
}

.colorpicker.alpha {
    min-width: 140px;
}

    .colorpicker.alpha .colorpicker-alpha {
        display: block;
    }

.colorpicker-color {
    background-position: 0 100%;
    border: 1px solid #353535;
    clear: both;
    height: 16px;
    margin-top: 5px;
}

    .colorpicker-color div {
        height: 16px;
    }

.modal {
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    border: 0;
    border-radius: 5px;
    display: none;
    left: 50%;
    margin: 0;
    max-width: 960px;
    min-width: 640px;
    overflow: hidden;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000050;
}

    .modal.in {
        display: block;
    }

    .modal .modal-header {
        -moz-user-select: none;
        -moz-user-select: -moz-none;
        -ms-user-select: none;
        -o-user-select: none;
        -webkit-user-select: none;
        background: #4fb2ff;
        border-radius: 5px 5px 0 0;
        padding: 0;
        position: relative;
        user-select: none;
    }

        .modal .modal-header .close {
            -moz-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            -o-transform: translate(0, -50%);
            -webkit-transform: translate(0, -50%);
            border: solid 4px #3497e4;
            border-radius: 50%;
            color: #3497e4;
            font-size: 24px;
            line-height: 30px;
            margin: 0;
            opacity: 1;
            padding: 0;
            position: absolute;
            right: 12px;
            text-shadow: none;
            top: 50%;
            transform: translate(0, -50%);
            width: 38px;
        }

            .modal .modal-header .close:focus {
                outline: 0;
            }

            .modal .modal-header .close:hover {
                border-color: #1d79c0;
                color: #1d79c0;
            }

    .modal .modal-title {
        color: #fff;
        font-size: 28px;
        font-weight: 200;
        line-height: 75px;
        text-align: center;
    }

    .modal .modal-body {
        background: #fff;
    }

    .modal .modal-footer {
        -moz-user-select: none;
        -moz-user-select: -moz-none;
        -ms-user-select: none;
        -o-user-select: none;
        -webkit-user-select: none;
        background: #d8d8d8;
        user-select: none;
    }

.error-modal .modal-header {
    background: #ee3162;
}

.modal-backdrop {
    display: none;
}

    .modal-backdrop.in {
        display: block;
    }

.version-list {
    list-style: none;
    margin-left: 0;
}

.publish-modal {
    width: 768px;
}

    .publish-modal .modal-body {
        text-align: center;
    }

    .publish-modal p {
        margin-bottom: 12px;
    }

    .publish-modal .landing-link {
        color: #4fb2ff;
        display: inline-block;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 24px;
    }

    .publish-modal .buttons {
        margin-bottom: 24px;
    }

    .publish-modal .btn {
        background-color: #d8d8d8;
        box-shadow: 0 2px #adadad;
        font-size: 16px;
        font-weight: 600;
    }

        .publish-modal .btn:hover {
            background: #666;
            color: #fff;
        }

    .publish-modal .btn-success {
        background-color: #0fb75f;
        box-shadow: 0 2px #0c924c;
        margin-left: 24px;
    }

        .publish-modal .btn-success:hover {
            background-color: #0ece69;
            color: #fff;
        }

    .publish-modal .hint {
        color: #6a6a6a;
        font-size: 16px;
        font-style: italic;
    }

::selection, input::selection, textarea::selection {
    background: rgba(130, 192, 223, 0.49);
}

::-moz-selection, input::-moz-selection, textarea::-moz-selection {
    background: rgba(130, 192, 223, 0.49);
}

#landing {
    border: 0;
    box-sizing: border-box;
    display: block;
    padding-bottom: 6px;
    position: relative;
    width: 100%;
    z-index: 2;
}

#zenbox_tab {
    display: none !important;
}

body {
    overflow: hidden;
    padding: 0;
}

.unselectable {
    -moz-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

[role="button"] {
    cursor: pointer;
}

#advanced-ga-wrap {
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    height: 200px;
    overflow: hidden;
    transition: all .5s ease-in-out;
}

    #advanced-ga-wrap.out {
        height: 0;
    }

.dropdown-menu .disabled > a:hover, .dropdown-menu .disabled > a:focus, .dropdown-menu .disabled > a:active {
    background-color: transparent;
    background-image: none;
    color: #999;
    cursor: default;
    outline: 0;
    text-decoration: none;
}

.btn-upload .icon-spinner {
    display: none !important;
}

.btn-upload.uploading i:not(.icon-spinner) {
    display: none !important;
}

.btn-upload.uploading .icon-spinner {
    display: inline-block !important;
}

.sorry-modal {
    z-index: 200100;
}

    .sorry-modal + .modal-backdrop {
        z-index: 200099;
    }

.input-prepend + .input-prepend {
    margin-top: 12px;
}

.input-mega {
    min-height: 150px;
    min-width: 200px;
}

.hidden-file {
    left: 9999px;
    position: absolute;
}

.browser-alert {
    background: #fff !important;
}

.ui-selectable-helper {
    border: 1px dotted black;
    position: absolute;
    z-index: 10000;
}

.relative-box {
    position: relative;
}

.window {
    z-index: 250000;
}

.modal-backdrop {
    z-index: 1000040;
}

.loader-modal .modal-footer {
    display: none;
}

.mock-button {
    border: 2px solid transparent;
    margin: 8px;
    min-width: 200px;
}

    .mock-button.active {
        border-color: rgba(130, 192, 223, 0.49);
    }

.inline {
    display: inline-block;
}

.tooltip {
    z-index: 25000000;
}
