﻿@font-face {
    font-family: 'fontawesome';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/font-awesome/fontawesome.eot?4qtoje');
    src: url('../fonts/font-awesome/fontawesome.eot?#iefix4qtoje') format('embedded-opentype'), url('../fonts/font-awesome/fontawesome.woff?4qtoje') format('woff'), url('../fonts/font-awesome/fontawesome.ttf?4qtoje') format('truetype'), url('../fonts/font-awesome/fontawesome.svg?4qtoje#fontawesome') format('svg');
}

html {
    -ms-background-size: 48px 48px;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.05) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.05) 75%, rgba(0, 0, 0, 0.05)), linear-gradient(45deg, rgba(0, 0, 0, 0.05) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.05) 75%, rgba(0, 0, 0, 0.05));
    background-position: 0 0, 24px 24px;
    background-size: 48px 48px;
    height: 100%;
}

body {
    color: #333;
    font: 300 16px/1.5 "Open Sans", Helvetica, Arial, sans-serif;
    height: 100%;
    margin: 0;
}

.full-height {
    height: 100%;
}

.sidebar {
    float: left;
    height: 100%;
    position: relative;
}

    .sidebar.condensed {
        width: 49px;
    }

    .sidebar.sidebar-left {
        background: #666;
        border-right: 1px solid #555;
    }

.sidebar-list-btn {
    color: #ccc;
    cursor: pointer;
    display: block;
    font-size: 11px;
    font-weight: 400;
    height: 50px;
    line-height: 1.5;
    padding: 12px 6px;
    text-align: center;
    text-shadow: 0 0 1px #000;
}

    .sidebar-list-btn:hover {
        background: #444;
        color: #fff;
        text-decoration: none;
    }

    .sidebar-list-btn .icon {
        display: block;
        font-size: 30px;
        margin-bottom: 6px;
    }

.widgets-list {
    font-size: 0;
    list-style: none;
    margin: 0;
}

[class^="icon-"], [class*=" icon-"] {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'fontawesome';
    font-style: normal;
    -webkit-font-variant: normal;
    -moz-font-variant: normal;
    -ms-font-variant: normal;
    -o-font-variant: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-speak: none;
    -moz-speak: none;
    -ms-speak: none;
    -o-speak: none;
    speak: none;
    text-transform: none;
}

.icon-text:before {
    content: "\e001";
}

