﻿.clearfix:before {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    font-family: 'Arial', 'sans-serif';
    line-height: 1.2;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
}

b, strong {
    font-weight: 700;
}

i, em {
    font-style: italic;
}

img {
    height: auto;
}

html {
    font-size: 12px;
}

@media (min-width: 764px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 959px) {
    html {
        font-size: 16px;
    }
}

.row {
    height: 100%;
}

    .row:before {
        content: " ";
        display: table;
    }

    .row:after {
        clear: both;
    }

[class*="col-"] {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

    [class*="col-"]:after {
        border-bottom: 1px dashed #01aef0;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    [class*="col-"].ui-acceptable:after {
        background: rgba(0, 255, 0, .3);
    }

@media (min-width: 764px) {
    [class*="col-"] {
        float: left;
        height: 100%;
    }

        [class*="col-"]:not(:first-of-type):before {
            border-left: 1px dashed #01aef0;
            content: '';
            display: block;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }

        [class*="col-"]:first-of-type {
            border-left: 0;
        }

            [class*="col-"]:first-of-type:before {
                border-left-width: 0;
            }

        [class*="col-"]:after {
            border-width: 0;
        }

    .col-12 {
        width: 100%;
    }

    .col-11 {
        width: 91.66666667%;
    }

    .col-10 {
        width: 83.33333333%;
    }

    .col-9 {
        width: 75%;
    }

    .col-8 {
        width: 66.66666667%;
    }

    .col-7 {
        width: 58.33333333%;
    }

    .col-6 {
        width: 50%;
    }

    .col-5 {
        width: 41.66666667%;
    }

    .col-4 {
        width: 33.33333333%;
    }

    .col-3 {
        width: 25%;
    }

    .col-2 {
        width: 16.66666667%;
    }

    .col-1 {
        width: 8.33333333%;
    }
}

#landingi-grid {
    display: none;
    height: 100%;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

    #landingi-grid.in {
        display: block;
    }

.landingi-container {
    height: 100%;
    margin: 0 auto;
    width: 320px;
}

.landingi-grid-row {
    height: 100%;
}

.landingi-grid {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: rgba(1, 174, 240, .09);
    border: 1px solid rgba(1, 174, 240, .2);
    border-bottom: 0;
    border-top: 0;
    box-sizing: border-box;
    float: left;
    height: 100%;
    margin-left: 2.127659574468085%;
    width: 6.382978723404255%;
    z-index: 100000;
}

    .landingi-grid:first-child {
        margin-left: 0;
    }

@media (min-width: 764px) {
    .landingi-container {
        width: 764px;
    }
}

@media (min-width: 960px) {
    .landingi-container {
        width: 960px;
    }
}

#landingi-fold-line {
    border-bottom: 1px dashed rgba(1, 174, 240, .5);
    height: 1px;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 480px;
    width: 100%;
    z-index: 100000;
}

    #landingi-fold-line.out {
        border: 0;
    }

    #landingi-fold-line span {
        background: rgba(1, 174, 240, .5);
        color: #FFF;
        cursor: pointer;
        display: block;
        font-family: Tahoma, Arial;
        font-size: 12px;
        padding: 4px;
        pointer-events: all;
        position: absolute;
        right: 0;
        top: -19px;
    }

@media (min-width: 764px) {
    #landingi-fold-line {
        top: 764px;
    }
}

@media (min-width: 960px) {
    #landingi-fold-line {
        top: 640px;
    }
}

#landingi-ruler {
    background: 0 0;
    height: 100%;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
}

#landingi-ruler-container {
    background: 0 0;
    border: 1px dashed #01AEF0;
    border-bottom: 0;
    border-top: 0;
    height: 100%;
    margin: 0 auto;
    pointer-events: none;
    position: relative;
}

@media (min-width: 960px) {
    #landingi-ruler-container {
        width: 960px;
    }
}

@media only screen and (max-width: 979px) {
    #landingi-ruler-container {
        width: 764px;
    }

    .widget-section .container {
        width: 764px !important;
    }
}

@media only screen and (max-width: 767px) {
    #landingi-ruler-container {
        width: 320px;
    }

    .widget-section .container {
        width: 320px !important;
    }
}

.widget-overlay {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 200000;
}

.counter-overlay {
    display: inline-block;
    margin: auto;
    position: relative;
}

.widget {
    position: absolute;
}

.widget-widget {
    position: relative;
    width: 100%;
}

.widget-section {
    position: relative;
}

    .widget-section .container {
        height: 100%;
        margin: 0 auto;
        position: relative;
        width: 960px;
    }

    .widget-section .empty-widget {
        border: 0;
    }

.widget-image.empty-widget {
    background: #fff url(../images/no-image.jpg) 50% no-repeat !important;
    background-size: cover;
}

.widget-html.empty-widget {
    background: #fff url(../images/empty-html.jpg) 50% no-repeat !important;
    background-size: cover;
}

.widget-social.empty-widget {
    background: #fff url(../images/empty-social.jpg) 50% no-repeat !important;
    background-size: cover;
}

.mock-vkontakte-Like {
    background: url(../images/social/vkontakte/like.png) 0 0 no-repeat;
    height: 22px;
    width: 49px;
}

.widget-video.empty-widget {
    background: #fff url(../images/empty-video.jpg) 50% no-repeat !important;
    background-size: cover;
}

.widget-video iframe {
    height: 100%;
    width: 100%;
}

.widget-input-button {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.editing-widget {
    cursor: pointer;
}

.landingi-widget-overlay {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

[contenteditable="true"] {
    cursor: text;
    outline: 0;
}

.ui-selectable-helper {
    background: rgba(1, 174, 240, .1);
    border: 1px dotted #01AEF0;
    position: absolute;
    z-index: 100;
}

#landingi-workspace {
    padding-bottom: 50px;
}

.ui-accept:before {
    background: rgba(0, 255, 0, .2);
    content: ' ';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
