﻿@model IEnumerable<WebSite.Areas.Cabinet.Models.MenuItemViewModel>

<ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
    <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->


    @foreach(var item in Model)
    {
        string activeClassParent = null;
        if (item.IsActive)
        {
            activeClassParent = "active";
        }
        <li class="nav-item @activeClassParent">
            @if (item.Childs.Count == 0)
            {
                var urlParent = string.IsNullOrEmpty(item.Controller) ? "#" : Url.Action(item.Action, item.Controller, new { url = item.StringKey });
                <a class="nav-link" href="@urlParent">
                    <i class="icon-envelope-open"></i>
                    <span class="title">@item.Name</span>
                    @if (item.IsActive)
                    {
                        <span class="selected"></span>
                    }
                </a>
            }
            else
            {
                var urlParent = string.IsNullOrEmpty(item.Controller) ? "#" : Url.Action(item.Action, item.Controller, new { url = item.StringKey });
                <a href="@urlParent">
                    <i class="icon-home"></i>
                    <span class="title">@item.Name</span>
                    <span class="arrow "></span>
                    @if (item.IsActive)
                    {
                        <span class="selected"></span>
                    }
                </a>
                <ul class="sub-menu">
                    @foreach (var child in item.Childs)
                    {
                        string activeClass = null;
                        if (child.IsActive)
                        {
                            activeClass = "active";
                        }
                        <li class="nav-item @activeClass">
                            @{ var urlChild = string.IsNullOrEmpty(child.Controller) ? "#" : Url.Action(child.Action, child.Controller, new { url = child.StringKey }); }
                            <a class="nav-link" href="@urlChild">
                                <i class="icon-settings"></i>
                                <span class="title">@child.Name</span>
                            </a>
                        </li>
                    }
                </ul>
            }
        </li>
    }

</ul>