﻿@using WebSite.Areas.Admin.Models.Common
@model List<WebSite.Areas.Admin.Models.Common.FileBrowserViewModel>
@{
    Layout = null;
    if (Session["lang"] == null)
    {
        HttpCookie cookie = Request.Cookies["lang"];
        if (cookie != null)
        {
            Session["lang"] = cookie.Value;
        }
        else
        {
            HttpCookie cooki = new HttpCookie("lang", "ru");
            Response.SetCookie(cooki);
            Session["lang"] = "ru";
        }
    }
}
<html>
    <head>
        <script src="~/Areas/Admin/Content/js/jquery.min.js"> </script>
        <script type="text/javascript">
            function getUrlParam(paramName) {
                var reParam = new RegExp('(?:[\?&]|&)' + paramName + '=([^&]+)', 'i');
                var match = window.location.search.match(reParam);

                return (match && match.length > 1) ? match[1] : null;
            }

            var funcNum = getUrlParam('CKEditorFuncNum');

            $(function() {
                $(".file").click(function() {
                    var self = this;
                    var fileUrl = $(self).attr("rel");
                    window.opener.CKEDITOR.tools.callFunction(funcNum, fileUrl);
                    window.close();
                    return false;
                });
            });
        </script>
        <title>Браузер файлов</title>
    </head>
    <body style="background: #cccccc;">
        <h2>Выберите файл:</h2>
        @foreach (var item in Model)
        {
            <div class="file" rel="@item.Url" style="background: #fff; cursor: pointer; float: left; height: 300px; margin-bottom: 5px; margin-left: 10px; width: 200px;">
                <div style="margin: 10px; text-align: center;">
                    <img style="height: 180px; width: 180px;" src="@item.Icon"/>
                </div>
                <div style="margin: 10px; overflow: hidden; text-align: center;">
                    <div>@item.Name</div>
                    <div>@item.DateAdd</div>
                    <div>@item.Size</div>
                </div>
            </div>
        }
    </body>
</html>