﻿@model DateTime
@{
    var metadata = ModelMetadata.FromLambdaExpression(_ => _, ViewData);
}
<div class="control-group">
    @Html.LabelFor(_ => _, new {@class = "control-label"})
    <div class="controls">
        @Html.TextBoxFor(_ => _, metadata.DisplayFormatString, new {@class = "input-xlarge datepick", placeholder = metadata.DisplayName, date_language = "ru"})
        @if (!string.IsNullOrEmpty(metadata.Description))
        {
            <span class="help-block">@metadata.Description</span>
        }
        @Html.ValidationMessageFor(_ => _)
    </div>
</div>