﻿@model object
<div class="control-group">
    @Html.LabelFor(_ => _, new {@class = "control-label"})
    <div class="controls">
        @Html.DropDownListFor(_ => _, (IEnumerable<SelectListItem>) ViewData["selectList"], "Выберите", new {@class = "input-large"})
        @{ var description = ModelMetadata.FromLambdaExpression(_ => _, ViewData).Description; }
        @if (!string.IsNullOrEmpty(description))
        {
            <span class="help-block">@description</span>
        }
        @Html.ValidationMessageFor(_ => _)
    </div>
</div>