﻿@using OrangeJetpack.Localization;
@model string
@{
    var localizedContents = LocalizedContent.Deserialize("[{\"k\":\"en\",\"v\":\"\"},{\"k\":\"ru\",\"v\":\"\"}]");
    try
    {
        localizedContents = LocalizedContent.Deserialize(Model);
    }
    catch(Exception ex)
    {
        localizedContents = LocalizedContent.Deserialize("[{\"k\":\"en\",\"v\":\"\"},{\"k\":\"ru\",\"v\":\"\"}]");
    }
}

<div class="control-group">
    @Html.LabelFor(_ => _, new { @class = "control-label" })

    <ul style="list-style-type: none; margin: 0;">
        @for (var i = 0; i < localizedContents.Length; i++)
        {
            var inputNamePrefix = string.Format("{0}[{1}]", ViewData.ModelMetadata.PropertyName.ToString(), i);
            <li>
                <input type="hidden" name="@(inputNamePrefix.ToString()).Key" value="@localizedContents[i].Key.ToString()" />
                <div class="input-append">
                    <input class="localized-input" type="text" name="@(inputNamePrefix.ToString()).Value" value="@localizedContents[i].Value.ToString()" data-language="@localizedContents[i].Key.ToString()" />
                    <span class="add-on">@localizedContents[i].Key.ToString()</span>
                </div>
            </li>
        }
    </ul>
</div>
