﻿@model string
<div class="control-group">
    @Html.LabelFor(_ => _, new {@class = "control-label"})
    <div class="controls" style="border-top: 1px solid #ccc;">
        @Html.TextAreaFor(_ => _, new {row = "5", @class = "input-block-level ckeditor"})
        @Html.ValidationMessageFor(_ => _)
    </div>
</div>