﻿@using DomainModel.Navigation
@using WebSite.Framework.Helpers
@using WebSite.Areas.Admin.Framework.HtmlHelpers
@model WebSite.Areas.Admin.Models.Navigation.MenuViewModel
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3>
                    <i class="icon-list-alt"></i>
                    @Model.Name
                </h3>
                <div class="actions">
                    <a href="@Url.Action("Add", new { id = Model.Id })" class="btn" title="Добавить пункт в меню"><i class="icon-plus-sign"></i>&nbsp;Добавить пункт в меню</a>
                </div>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>Название</th>
                            <th class='hidden-768'>Тип пункта</th>
                            <th>Ссылается</th>
                            <th class='hidden-1024'>Создана</th>
                            <th class='hidden-1024'>Обновлена</th>
                            <th>Видимость</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>@LH.GLSS(item.Name)</td>
                                <td class='hidden-768'>@item.Type.GetDescription()</td>
                                <td>@(item.Type == MenuItemType.Url ? item.CustomUrl : string.Format("{0} ({1})", LH.GLSS(item.Page.Name), item.Page.StringKey))</td>
                                <td class='hidden-1024'>@item.Created.ToShortDateString()</td>
                                <td class='hidden-1024'>@(item.Updated.HasValue ? item.Updated.Value.ToShortDateString() : "Не обновлялась")</td>
                                <td>@(item.IsHidden ? "Скрыт" : "Отображен")</td>
                                <td><a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-small btn-primary" title="Редактировать" rel="tooltip" data-placement="bottom"><i class="icon-edit"></i></a>
                                    <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-small btn-danger" title="Удалить" rel="tooltip" data-placement="bottom"><i class="icon-trash"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
