﻿@using DomainModel.Navigation
@using WebSite.Framework.Helpers
@model WebSite.Areas.Admin.Models.Navigation.MenuItemViewModel
<div class="control-group">
    Подменю
    <div class="controls">
        @if (Model.Childs != null && Model.Childs.Count > 0)
        {
            <table class="table table-hover table-nomargin table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Название</th>
                        <th class='hidden-768'>Тип пункта</th>
                        <th>Ссылается</th>
                        <th class='hidden-1024'>Создана</th>
                        <th class='hidden-1024'>Обновлена</th>
                        <th>Видимость</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Childs)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td class='hidden-768'>@item.Type.GetDescription()</td>
                            <td>@(item.Type == MenuItemType.Url ? item.CustomUrl : string.Format("{0} ({1})", item.Page.Name, item.Page.StringKey))</td>
                            <td class='hidden-1024'>@item.Created.ToShortDateString()</td>
                            <td class='hidden-1024'>@(item.Updated.HasValue ? item.Updated.Value.ToShortDateString() : "Не обновлялась")</td>
                            <td>@(item.IsHidden ? "Скрыт" : "Отображен")</td>
                            <td>
                                <a href="@Url.Action("Edit", new {id = item.Id})" class="btn btn-small btn-primary" title="Редактировать" rel="tooltip" data-placement="bottom"><i class="icon-edit"></i></a>
                                <a href="@Url.Action("Delete", new {id = item.Id})" class="btn btn-small btn-danger" title="Удалить" rel="tooltip" data-placement="bottom"><i class="icon-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        <div class="controls" style="padding-top: 10px"><a href="@Url.Action("Add", new { parentId = Model.Id})" class="btn btn-primary">Добавить</a></div>
    </div>
</div>