﻿@model WebSite.Areas.Admin.Models.Navigation.MenuItemViewModel
@{
    ViewBag.Title = "Добавление пункта меню";
}
<div class="row-fluid">
    <div class="span12">
        <div class="box box-bordered">
            <div class="box-title">
                <h3><i class="icon-file-alt"></i>Новый пункт меню</h3>
            </div>
            <div class="box-content nopadding">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-vertical form-bordered form-striped form-validate" }))
                {
                    @Html.EditorFor(_ => _.IsHidden, "Checkbox")
                    @Html.EditorFor(_ => _.Name, "LocalizedContent")
                    @Html.EditorFor(_ => _.Type, "DropDownList", new { selectList = Model.TypeAll })
                    @Html.EditorFor(_ => _.CustomUrl, "SimpleInput")
                    @Html.EditorFor(_ => _.PageId, "DropDownList", new { selectList = Model.PageAll })
                    
                    if (!Model.ParentId.HasValue)
                    {
                        @Html.EditorFor(_ => _.MenuId, "DropDownList", new { selectList = Model.MenuAll })
                    }
                    else
                    {
                        @Html.HiddenFor(_ => _.ParentId)
                    }

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                        <a href="@Url.Action("Index")" class="btn">Отменить</a>
                    </div>
                }
                <script type="text/javascript">
                    function ToggleType() {
                        var val = $("#Type").val();
                        switch (val) {
                            case "Url":
                                $(".control-group:has('#PageId')").hide();
                                $(".control-group:has('#CustomUrl')").show();
                                break;
                            case "Page":
                                $(".control-group:has('#CustomUrl')").hide();
                                $(".control-group:has('#PageId')").show();
                                break;
                            default:
                                $(".control-group:has('#CustomUrl')").hide();
                                $(".control-group:has('#PageId')").hide();
                                break;
                        }
                    }

                    $(function () {
                        ToggleType();
                        $("#Type").change(function () {
                            ToggleType();
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</div>
