﻿@using WebSite.Areas.Admin.Models.Content
@model IList<WebSite.Areas.Admin.Models.Content.CategoryServicesViewModel>
@{
    ViewBag.Title = "Список статей по категориям";
}
<div class="row-fluid">
    <div class="span12">
        <a href="@Url.Action("AddCategory")" class="btn" title="Добавить категорию"><i class="icon-plus-sign"></i>&nbsp;Добавить категорию</a>
    </div>
</div>
@foreach (var item in Model)
{
    @Html.Partial("_CategoryServices", item)
}