﻿@using WebSite.Framework
@using WebSite.Areas.Admin.Framework.HtmlHelpers
@model WebSite.Areas.Admin.Models.Content.CategoryViewModel
@{
    ViewBag.Title = "Редактирование категории";
}
<div class="row-fluid">
    <div class="span12">
        <div class="box box-bordered">
            <div class="box-title">
                <h3><i class="icon-file-alt"></i>Редактирвание категории</h3>
            </div>
            <div class="box-content nopadding">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-vertical form-bordered form-striped form-validate", enctype = "multipart/form-data" }))
                {
                    @Html.HiddenFor(_ => _.Id)
                    @Html.HiddenFor(_ => _.Image)
                    @Html.EditorFor(_ => _.IsHidden, "Checkbox")
                    @Html.EditorFor(_ => _.Title, "LocalizedContent")
                    @Html.EditorFor(_ => _.StringKey, "SimpleInput")
                    @Html.EditorFor(_ => _.Description, "LocalizedContentTextArea")
                    <div class="control-group">
                        <label class="control-label">Старая картинка</label>
                        <div class="controls">
                            <img src="@Url.Content(WorkContext.CategoriesPath + Model.Image)" alt="" />
                        </div>
                    </div>
                    @Html.EditorFor(_ => _.File, "FileInput")
                    <div class="control-group">

                        <h4>
                            <i class="icon-file-alt"></i>
                            Подкатегории
                        </h4>

                        @if (Model.Childs.Count > 0)
                        {

                            <table class="table table-hover table-nomargin table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <th>Изображение</th>
                                        <th style="width:300px;">Название</th>
                                        <th style="width:500px;">Описание</th>
                                        <th class='hidden-1024'>Создана</th>
                                        <th class='hidden-1024'>Обновлена</th>
                                        <th>Видимость</th>
                                        <th style="width:60px;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Childs)
                                    {
                                        <tr class="descr_hidden">
                                            <td>,
                                                <img src="@Url.Content(WorkContext.CategoriesPath + item.Image)" alt="@LH.GLSS(item.Title)" style="width: 30%" />
                                            </td>
                                            <td>@LH.GLSS(item.Title)</td>
                                            <td>@Html.Raw(LH.GLSS(item.Description))</td>
                                            <td class='hidden-1024'>@item.Created.ToShortDateString()</td>
                                            <td class='hidden-1024'>@(item.Updated.HasValue ? item.Updated.Value.ToShortDateString() : "Не обновлялся")</td>
                                            <td>@(item.IsHidden ? "Скрыта" : "Отображена")</td>
                                            <td>
                                                <a href="@Url.Action("Edit", new {id = item.Id})" class="btn btn-small btn-primary" title="Редактировать" rel="tooltip" data-placement="bottom"><i class="icon-edit"></i></a>
                                                <a href="@Url.Action("Delete", new {id = item.Id})" class="btn btn-small btn-danger" title="Удалить" rel="tooltip" data-placement="bottom"><i class="icon-trash"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>


                        }
                        <div class="actions" style="margin-top: 10px;">
                            <a href="@Url.Action("AddSubCategory", new { id = Model.Id})" class="btn btn-green" title="Добавить подкатегорию"><i class="icon-plus-sign"></i>&nbsp;Добавить</a>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                        @if (Model.CategoryId == null)
                        {
                            <a href="@Url.Action("Index")" class="btn">Отменить</a>
                        }
                        else
                        {
                            <a href="@Url.Action("Edit", new { id= Model.CategoryId})" class="btn">Отменить</a>
                        }

                    </div>
                }
                @Html.TranslitBind(_ => _.Title, _ => _.StringKey, HtmlTranslitBindingExstension.TranslitType.Translit)
            </div>
        </div>
    </div>
</div>