﻿@using WebSite.Framework
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <!-- Apple devices fullscreen -->
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <!-- Apple devices fullscreen -->
        <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />

        <title>Админ - @ViewBag.Title</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="~/Areas/Admin/Content/css/bootstrap.min.css">
        <!-- Bootstrap responsive -->
        <link rel="stylesheet" href="~/Areas/Admin/Content/css/bootstrap-responsive.min.css">
        <!-- jQuery UI -->
        <link rel="stylesheet" href="~/Areas/Admin/Content/css/plugins/jquery-ui/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="~/Areas/Admin/Content/css/plugins/jquery-ui/smoothness/jquery.ui.theme.css">
        <!-- Datepicker -->
        <link rel="stylesheet" href="~/Areas/Admin/Content/css/plugins/datepicker/datepicker.css">
        <!-- PageGuide -->
        <link rel="stylesheet" href="~/Areas/Admin/Content/css/plugins/pageguide/pageguide.css">
        <!-- Fullcalendar -->
        <link rel="stylesheet" href="~/Areas/Admin/Content/css/plugins/fullcalendar/fullcalendar.css">
        <link rel="stylesheet" href="~/Areas/Admin/Content/css/plugins/fullcalendar/fullcalendar.print.css" media="print">
        <!-- chosen -->
        <link rel="stylesheet" href="~/Areas/Admin/Content/css/plugins/chosen/chosen.css">
        <!-- select2 -->
        <link rel="stylesheet" href="~/Areas/Admin/Content/css/plugins/select2/select2.css">
        <!-- icheck -->
        <link rel="stylesheet" href="~/Areas/Admin/Content/css/plugins/icheck/all.css">
        <!-- Theme CSS -->
        <link rel="stylesheet" href="~/Areas/Admin/Content/css/style.css">
        <!-- Color CSS -->
        <link rel="stylesheet" href="~/Areas/Admin/Content/css/themes.css">

        <!-- jQuery -->
        <script src="~/Areas/Admin/Content/js/jquery.min.js"> </script>
        <!-- Validation -->
        <script src="~/Scripts/jquery.validate.min.js"> </script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"> </script>
        <!-- Nice Scroll -->
        <script src="~/Areas/Admin/Content/js/plugins/nicescroll/jquery.nicescroll.min.js"> </script>
        <!-- jQuery UI -->
        <script src="~/Areas/Admin/Content/js/plugins/jquery-ui/jquery.ui.core.min.js"> </script>
        <script src="~/Areas/Admin/Content/js/plugins/jquery-ui/jquery.ui.widget.min.js"> </script>
        <script src="~/Areas/Admin/Content/js/plugins/jquery-ui/jquery.ui.mouse.min.js"> </script>
        <script src="~/Areas/Admin/Content/js/plugins/jquery-ui/jquery.ui.draggable.min.js"> </script>
        <script src="~/Areas/Admin/Content/js/plugins/jquery-ui/jquery.ui.resizable.min.js"> </script>
        <script src="~/Areas/Admin/Content/js/plugins/jquery-ui/jquery.ui.sortable.min.js"> </script>
        <!-- Touch enable for jquery UI -->
        <script src="~/Areas/Admin/Content/js/plugins/touch-punch/jquery.touch-punch.min.js"> </script>
        <!-- slimScroll -->
        <script src="~/Areas/Admin/Content/js/plugins/slimscroll/jquery.slimscroll.min.js"> </script>
        <!-- Bootstrap -->
        <script src="~/Areas/Admin/Content/js/bootstrap.min.js"> </script>
        <!-- Datepicker -->
        <script src="~/Areas/Admin/Content/js/plugins/datepicker/bootstrap-datepicker.js"> </script>
        <script src="~/Areas/Admin/Content/js/plugins/datepicker/locales/bootstrap-datepicker.ru.js"> </script>
        <!-- vmap -->
        <script src="~/Areas/Admin/Content/js/plugins/vmap/jquery.vmap.min.js"> </script>
        <script src="~/Areas/Admin/Content/js/plugins/vmap/jquery.vmap.world.js"> </script>
        <script src="~/Areas/Admin/Content/js/plugins/vmap/jquery.vmap.sampledata.js"> </script>
        <!-- Bootbox -->
        <script src="~/Areas/Admin/Content/js/plugins/bootbox/jquery.bootbox.js"> </script>
        <!-- Flot -->
        <script src="~/Areas/Admin/Content/js/plugins/flot/jquery.flot.min.js"> </script>
        <script src="~/Areas/Admin/Content/js/plugins/flot/jquery.flot.bar.order.min.js"> </script>
        <script src="~/Areas/Admin/Content/js/plugins/flot/jquery.flot.pie.min.js"> </script>
        <script src="~/Areas/Admin/Content/js/plugins/flot/jquery.flot.resize.min.js"> </script>
        <!-- imagesLoaded -->
        <script src="~/Areas/Admin/Content/js/plugins/imagesLoaded/jquery.imagesloaded.min.js"> </script>
        <!-- PageGuide -->
        <script src="~/Areas/Admin/Content/js/plugins/pageguide/jquery.pageguide.js"> </script>
        <!-- FullCalendar -->
        <script src="~/Areas/Admin/Content/js/plugins/fullcalendar/fullcalendar.min.js"> </script>
        <!-- Chosen -->
        <script src="~/Areas/Admin/Content/js/plugins/chosen/chosen.jquery.min.js"> </script>
        <!-- select2 -->
        <script src="~/Areas/Admin/Content/js/plugins/select2/select2.min.js"> </script>
        <!-- icheck -->
        <script src="~/Areas/Admin/Content/js/plugins/icheck/jquery.icheck.min.js"> </script>
        <!-- CKEditor -->
        <script src="~/Areas/Admin/Content/js/plugins/ckeditor/ckeditor.js"> </script>

        <!-- Theme framework -->
        <script src="~/Areas/Admin/Content/js/eakroko.js"> </script>
        <!-- Theme scripts -->
        <script src="~/Areas/Admin/Content/js/application.js"> </script>

        <script src="~/Areas/Admin/Content/js/demonstration.js"> </script>

        <script src="~/Areas/Admin/Content/js/common.js"> </script>

        <!--[if lte IE 9]>
            <script src="~/Areas/Admin/Content/js/plugins/placeholder/jquery.placeholder.min.js"> </script>
            <script>
                $(document).ready(function() {
                    $('input, textarea').placeholder();
                });
            </script>
        <![endif]-->

        <!-- Favicon -->
        <link rel="shortcut icon" href="~/Areas/Admin/Content/img/favicon.ico" />
        <!-- Apple devices Homescreen icon -->
        <link rel="apple-touch-icon-precomposed" href="~/Areas/Admin/Content/img/apple-touch-icon-precomposed.png" />

        @RenderSection("HeadContent", false)
    </head>
    <body>
        <div id="navigation">
            <div class="container-fluid">
                <a href="/" id="brand">ADMIN</a>
                @*<a href="#" class="toggle-nav" rel="tooltip" data-placement="bottom" title="Переключить навигацию"><i class="icon-reorder"></i></a>*@
                @Html.Action("TopMenu", "Common")
                @Html.Action("UserMenu", "Common")
            </div>
        </div>
        <div class="container-fluid" id="content">
            @*<div id="left">
                @Html.Action("SideMenu", "Common")
            </div>*@
            <div style="margin-left: 0px;" id="main">
                <div class="container-fluid">
                    @Html.Action("PageHeader", "Common", new {ViewBag.Title})
                    @if (TempData[Constants.NotificationsSuccess] != null)
                    {
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            @TempData[Constants.NotificationsSuccess]
                        </div>
                    }
                    @if (TempData[Constants.NotificationsError] != null)
                    {
                        <div class="alert alert-error">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            @TempData[Constants.NotificationsError]
                        </div>
                    }
                    @RenderBody()
                </div>
            </div>
        </div>
    </body>
</html>