﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Apple devices fullscreen -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- Apple devices fullscreen -->
    <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <title>@ViewBag.Title</title>

    <!-- Bootstrap -->
	<link rel="stylesheet" href="~/Areas/Admin/Content/css/bootstrap.min.css">
	<!-- Bootstrap responsive -->
	<link rel="stylesheet" href="~/Areas/Admin/Content/css/bootstrap-responsive.min.css">
	<!-- icheck -->
	<link rel="stylesheet" href="~/Areas/Admin/Content/css/plugins/icheck/all.css">
	<!-- Theme CSS -->
	<link rel="stylesheet" href="~/Areas/Admin/Content/css/style.css">
	<!-- Color CSS -->
	<link rel="stylesheet" href="~/Areas/Admin/Content/css/themes.css">


	<!-- jQuery -->
	<script src="~/Areas/Admin/Content/js/jquery.min.js"></script>
	
	<!-- Nice Scroll -->
	<script src="~/Areas/Admin/Content/js/plugins/nicescroll/jquery.nicescroll.min.js"></script>
	<!-- Validation -->
    <script src="~/Areas/Admin/Content/js/plugins/validation/additional-methods.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
	<!-- icheck -->
	<script src="~/Areas/Admin/Content/js/plugins/icheck/jquery.icheck.min.js"></script>
	<!-- Bootstrap -->
	<script src="~/Areas/Admin/Content/js/bootstrap.min.js"></script>
	<script src="~/Areas/Admin/Content/js/eakroko.js"></script>

	<!--[if lte IE 9]>
		<script src="~/Areas/Admin/Content/js/plugins/placeholder/jquery.placeholder.min.js"></script>
		<script>
			$(document).ready(function() {
				$('input, textarea').placeholder();
			});
		</script>
	<![endif]-->
	

	<!-- Favicon -->
	<link rel="shortcut icon" href="~/Areas/Admin/Content/img/favicon.ico" />
	<!-- Apple devices Homescreen icon -->
	<link rel="apple-touch-icon-precomposed" href="~/Areas/Admin/Content/img/apple-touch-icon-precomposed.png" />

    @RenderSection("HeadContent", false)
</head>
<body class='login'>
    <div class="wrapper">
        <h1>
            <a href="@Url.Action("Index", "Home")"><img src="~/Areas/Admin/Content/img/logo-big.png" alt="" class='retina-ready' width="59" height="49">ADMIN</a>
        </h1>
        <div class="login-body">
            <h2>@ViewBag.Title</h2>
            @RenderBody()
        </div>
    </div>
</body>
</html>
