﻿@model WebSite.Areas.Cabinet.Models.LandingIntegration.IntegrationModel

@{
    ViewBag.Title = "Сервис интеграции";    
}
<script src="~/Scripts/jquery-2.1.3.min.js"></script>

<div class="container">
    <br />
    <h2>Интеграция CRM</h2>
    <br />
    <form method="post" class="form-group">
        @Html.HiddenFor(x => x.FormId)
        @Html.HiddenFor(x => x.url)
        @Html.HiddenFor(x=>x.LandingId)        
        <div class="row">
            <div class="col-md-3">
                <div class="radio">                                 
                    <label>@Html.RadioButtonFor(x => x.TypeIntegration, "Amocrm") AmoCrm</label>
                </div>
                <div class="radio">
                    <label>@Html.RadioButtonFor(x => x.TypeIntegration, "Bitrix24") Bitrix24</label>
                </div>
                <div class="radio">
                    <label>@Html.RadioButtonFor(x => x.TypeIntegration, "MailChimp") MailChimp</label>
                </div>
            </div>
            <div class="col-md-9">
                
                <div class="row amocrmactive" style="display: none">
                    <div class="form-group">
                        <a href="https://www.amocrm.ru/" target="_blank">
                            <img src="~/Content/images/amocrmlogo.jpg" width="206" height="58" />
                        </a>
                    </div>
                    <div class="form-group">
                        <label for="AmoCrmModel.SubDomain">Сабдомен:</label>
                        <input type="text" class="form-control" name="AmoCrmModel.SubDomain" value="@Model.AmoCrmModel.SubDomain" id="AmoCrmModel.SubDomain">
                    </div>
                    <div class="form-group">
                        <label for="AmoCrmModel.UserHash">Хеш:</label>
                        <input type="text" class="form-control" name="AmoCrmModel.UserHash" value="@Model.AmoCrmModel.UserHash" id="AmoCrmModel.UserHash">
                    </div>
                    <div class="form-group">
                        <label for="AmoCrmModel.UserLogin">Логин:</label>
                        <input type="text" class="form-control" name="AmoCrmModel.UserLogin" value="@Model.AmoCrmModel.UserLogin" id="AmoCrmModel.UserLogin">
                    </div>
                </div>

                <div class="row bitrixactive" style="display: none">
                    <div class="form-group">
                        <a href="https://www.bitrix24.ru/" target="_blank">
                            <img src="~/Content/images/bitrix24.jpg" width="206" height="58" />
                        </a>
                    </div>
                    <div class="form-group">
                        <label for="Bitrix24Model.ClientId">Id клиента:</label>
                        <input type="text" class="form-control" name="Bitrix24Model.ClientId" value="@Model.Bitrix24Model.ClientId" id="Bitrix24Model.ClientId">
                    </div>
                    <div class="form-group">
                        <label for="Bitrix24Model.ClientSecret">Секретный ключ:</label>
                        <input type="text" class="form-control" name="Bitrix24Model.ClientSecret" value="@Model.Bitrix24Model.ClientSecret" id="Bitrix24Model.ClientSecret">
                    </div>
                </div>

                <div class="row mailchimpactive" style="display: none">
                    <div class="form-group">
                        <a href="http://mailchimp.com/" target="_blank">
                            <img src="~/Content/images/mailchimplogo.jpg" width="206" height="58" />
                        </a>
                    </div>
                    <div class="form-group">
                        <label for="MailChimpModel.ListId">Id списка контактов:</label>
                        <input type="text" class="form-control" name="MailChimpModel.ListId" value="@Model.MailChimpModel.ListId" id="MailChimpModel.ListId">
                    </div>
                    <div class="form-group">
                        <label for="MailChimpModel.MailChimpApiKey">Секретный Api ключ:</label>
                        <input type="text" class="form-control" name="MailChimpModel.MailChimpApiKey" value="@Model.MailChimpModel.MailChimpApiKey" id="MailChimpModel.MailChimpApiKey">
                    </div>
                </div>

            </div>
        </div>
        <hr />
        <button type="submit" class="btn btn-default">Сохранить</button>
    </form>
</div>

<script>

    $(document).ready(function () {
        function switchServiceForm(name) {
            if (name === "Amocrm") {
                showAmocrm();
            }
            if (name === "Bitrix24") {
                showBitrix();
            }
            if (name === "MailChimp") {
                showMailChimp();
            }
        }

        function showAmocrm() {            
            $('.amocrmactive').css('display', 'block');
            $('.bitrixactive').css('display', 'none');
            $('.mailchimpactive').css('display', 'none');
        }
        function showBitrix() {
            $('.amocrmactive').css('display', 'none');
            $('.bitrixactive').css('display', 'block');
            $('.mailchimpactive').css('display', 'none');
        }
        function showMailChimp() {
            $('.amocrmactive').css('display', 'none');
            $('.bitrixactive').css('display', 'none');
            $('.mailchimpactive').css('display', 'block');
        }
            
        var currentService = '@Model.TypeIntegration';
        switchServiceForm(currentService);
   
        $("input[name=TypeIntegration]:radio").change(function (e) {
            var name = $(e.target).val();            
            switchServiceForm(name)
        });                
    });

</script>