﻿body {
    padding-top: 75px;
}

nav {
    font: 600 15px/1.42857143 'Open Sans', sans-serif;
}

.navbar-fixed-top {
    border-width: 0;
    top: 0;
}

.navbar-inverse {
    background-color: #2C3033;
}

@media (min-width: 768px) {
    body {
        padding-top: 62px;
    }

    .container {
        padding-left: 4px;
        padding-right: 4px;
    }

    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
        height: auto;
        margin-left: -15px;
    }

    .navbar-nav > li > a {
        padding-bottom: 21px;
        padding-top: 21px;
    }
}

@media (min-width: 992px) {
    .navbar-nav {
        margin-left: 200px;
    }
}

@media (min-width: 1200px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.navbar-inverse .navbar-nav > li > a {
    color: #888;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #74C52C;
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}

.panel {
    -ms-border-radius: 0;
    border-radius: 0;
    cursor: pointer;
}

    .panel.panel-default {
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
        -ms-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
        box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    }
