﻿.currentPacket {
    padding: 5px 0 15px;
    border-bottom: solid 1px #eee;
    background: url(/Content/Images/breadcrumbs.png) repeat;
}

.panel-footer {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.active {
    border-color: #72c02c;
}

    .active .panel-footer {
        background-color: #72c02c;
    }

.padding-top-20 {
    padding: 20px 0 0 0;
}

.btn {
    -ms-border-radius: 0;
    border-radius: 0;
}

.btn-u {
    border: 0;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    padding: 6px 13px;
    background: #72c02c;
    display: inline-block;
    text-decoration: none;
}

    .btn-u:hover {
        background: #5fb611;
        color: #fff;
        text-decoration: none;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

.btn-u-lg {
    font-size: 25px;
    padding: 10px 25px;
}

