/* Add here all your css styles (customizations) */
body {
    padding-top: 75px;
}

nav {
    font: 600 15px/1.42857143 'Open Sans', sans-serif;
}

.navbar-fixed-top {
    border-width: 0;
    top: 0;
}

.navbar-inverse {
    background-color: #2C3033;
}

@media (min-width: 768px) {
    body {
        padding-top: 62px;
    }

    .container {
        margin: 10px auto;
        padding-left: 4px;
        padding-right: 4px;
    }

    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
        height: auto;
        margin-left: -15px;
    }

    .navbar-nav > li > a {
        padding-bottom: 21px;
        padding-top: 21px;
    }
}

@media (min-width: 992px) {
    .navbar-nav {
        margin-left: 200px;
    }
}

@media (min-width: 1200px) {
    .container {
        margin: 10px auto;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.navbar-inverse .navbar-nav > li > a {
    color: #888;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #74C52C;
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}

.panel {
    -ms-border-radius: 0;
    border-radius: 0;
    cursor: pointer;
}

    .panel.panel-default {
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
        -ms-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
        box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    }

    .panel.active .panel-footer {
        background-color: #5fb611;
    }

.bg-color-custom {
    background: #717984;
}

    .bg-color-custom:hover {
        background: #95a5a6;
    }

    .bg-color-custom.active:hover {
        background-color: #5fb611;
    }

.monthlyPrice > h4:not(.active) {
    display: none;
}

.period input {
    display: none;
}

.top-buffer {
    margin-top: 15px;
}

.bottom-buffer {
    margin-bottom: 15px;
}

.text-invoice {
    color: #585f69;
    font-weight: bold;
    font-size: 17px;
}

.text-invoice-2 {
    color: #444;
}

#landings {
    width: 100%;
    overflow: hidden;
    padding: 5px;
}

.landing {
    position: relative;
    width: 270px;
    margin: 0.5%;
    float: left;
    border: 1px solid rgba(0, 0, 0, 0);
    height: 315px;
}

    .landing:hover {
        box-shadow: 0 0 5px rgba(0,0,0,0.4);
    }

.landing_img {
    position: relative;
    width: 100%;
    height: 267px;
    overflow: hidden;
}

    .landing_img > img {
        width: 100%;
    }

.landing_name {
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

.landing_operations {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 100px;
    z-index: 50;
    font-size: 20px;
}

    .landing_operations > div {
        width: 25%;
        float: left;
        text-align: center;
        cursor: pointer;
    }

        .landing_operations > div:hover {
            background-color: rgba(0,0,0,0.3);
        }

.dial_content {
    background: rgba(140, 212, 243, 0.8);
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 40px;
    font-size: 17px;
}

.button {
    position: relative;
    float: right;
    height: 50px;
    width: 200px;
    text-align: center;
    font-size: 20px;
    line-height: 2.5;
    color: #333;
    cursor: pointer;
    background: white;
}

    .button:hover {
        background: #333;
        color: #fff;
    }

#del_modal {
    width: 400px;
    height: 150px;
    z-index: 1020 !important;
    position: fixed;
    top: -400px;
}

#background_gray {
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
 }
