﻿@model WebSite.Areas.Cabinet.Models.PricingViewModel

<div class="row pricing-light">
    @foreach (var price in Model.Tariffs)
    {
        <div class="col-md-4 col-sm-6">
            <div class="pricing hover-effect">
                <div class="pricing-head">
                    <h3>@price.Name <span>Labore et dolore magnaras </span></h3>
                </div>
                <ul class="pricing-content list-unstyled">
                    <li>
                        <ul class="list-unstyled list-inline rating">
                            <li>
                                <i class="fa fa-star fa-2x"></i>
                            </li>
                            <li>
                                <i class="fa fa-star-half-empty fa-2x"></i>
                            </li>
                            <li>
                                <i class="fa fa-star-o fa-2x"></i>
                            </li>
                            <li>
                                <i class="fa fa-star-o fa-2x"></i>
                            </li>
                            <li>
                                <i class="fa fa-star-o fa-2x"></i>
                            </li>
                        </ul>
                    </li>
                    <li class="bg-color"> One User </li>
                    <li>10 GB Diskspace</li>
                    <li class="bg-color">10 Emails Addresses</li>
                    <li>$25 Facebook Add Vaucher</li>
                    <li class="bg-color"> One SSL Certificate</li>
                    <li>Online Support</li>
                </ul>
                <div class="pricing-footer monthlyPrice">
                    @foreach (var item in price.Prices)
                    {
                        if (price.Prices.IndexOf(item) == 0)
                        {
                            <h4 class="active" data-months="1">@item.Summ<i>р.</i> <span>В месяц</span></h4>
                        }
                        else
                        {
                            <h4 data-months="@item.Period">@item.Summ<i>р.</i> <span>В месяц</span></h4>
                        }
                    }
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cloud Storage magna psum condimentum...</p>
                    <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-default btn-u-lg"><i class="fa fa-shopping-cart"></i> Купить</a>
                </div>
            </div>
        </div>
    }
</div>
