﻿@using WebSite.Areas.Cabinet.Framework
@using WorkContext = WebSite.Framework.WorkContext
@model List<WebSite.Areas.Cabinet.Models.ListLandingViewModel>

@{
    ViewBag.Title = "ClickSale - Личный кабинет";
    Layout = "~/Areas/Cabinet/Views/Shared/_LayoutLendings.cshtml";
}

@*@section Breadcrumbs
    {
            @Html.Partial("_Breadcrumbs", "")
        }*@

<style>
    .portlet-body {
        max-height: 215px;
        overflow: hidden;
    }
</style>

<h1 class="page-title">
    Список лендингов
</h1>

<div class="row">
    @if (Model.Any(_ => _.IsTemplate == false))
    {
        foreach (var landing in Model.Where(_ => _.IsTemplate == false))
        {

            <div class="col-md-3">
                <div class="portlet light ">
                    <div class="portlet-title">                        
                        <div class="actions">
                            <a class="btn btn-circle btn-icon-only btn-default" title="Открыть" href="@Url.Action("Index", "Editor", new {url = landing.Url})">
                                <i class="fa fa-folder-open-o"></i>
                            </a>
                            <a class="btn btn-circle btn-icon-only btn-default" title="Опубликовать" href="#">
                                <i class="fa fa-cloud-upload"></i>
                            </a>
                            <a class="btn btn-circle btn-icon-only btn-default" href="@Url.Action("Setting","Settings", new { url = landing.Url })" title="Настройки">
                                <i class="icon-wrench"></i>
                            </a>
                            <a class="btn btn-circle btn-icon-only btn-default" onclick="openWindowDelLanding('@landing.Url')" title="Удалить">
                                <i class="icon-trash"></i>
                            </a>
                        </div>
                        <div class="caption">
                            @if (landing.Landings.FirstOrDefault().Name.Length > 22)
                            {
                                <text>@landing.Landings.FirstOrDefault().Name.Substring(0, 19)</text><text>...</text>
                            }
                            else
                            {
                                <text>@landing.Landings.FirstOrDefault().Name</text>
                            }                            
                        </div>
                    </div>
                    <div class="portlet-body">
                        @{
            var landingViewModel = landing.Landings.FirstOrDefault();
                        }
                        @if (landingViewModel != null && string.IsNullOrEmpty(landingViewModel.Image))
                        {
                            <img class="img-responsive" src="~/Areas/Cabinet/Images/landing_page.jpg" />
                        }
                        else if (landingViewModel != null)
                        {
                            <img class="img-responsive" src="@landingViewModel.Image" />
                        }
                    </div>
                </div>
            </div>

        }
    }
    else
    {
        <div class="col-md-12">
            <p>У Вас нет сохранённых сайтов</p>
        </div>
    }
    <br />

</div>

<h1 class="page-title">
    Список шаблонов
</h1>

<div class="row">
    @if (Model.Any(_ => _.IsTemplate))
    {

        foreach (var landing in Model.Where(_ => _.IsTemplate == true))
        {

            <div class="col-md-3">
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption">
                            @landing.Url
                        </div>
                        <div class="actions">
                            <a class="btn btn-circle btn-icon-only btn-default" title="Открыть" onclick="openWindowAddLanding('@landing.Url')">
                                <i class="fa fa-folder-open-o"></i>
                            </a>
                            <a class="btn btn-circle btn-icon-only btn-default" onclick="openWindowDelLanding('@landing.Url')" title="Удалить">
                                <i class="icon-trash"></i>
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        @if (string.IsNullOrEmpty(landing.Landings.FirstOrDefault().Image))
                        {
                            <img class="img-responsive" src="~/Areas/Cabinet/Images/landing_page.jpg" />
                        }
                        else
                        {
                            <img class="img-responsive" src="@landing.Landings.FirstOrDefault().Image" />
                        }
                    </div>
                </div>
            </div>
        }

    }
    else
    {
        <div class="col-md-12">
            <p>Шаблоны отсутствуют</p>
        </div>
    }
</div>

<div id="del_modal">
    <div class="dial_content">Вы действительно хотите удалить Landing?</div>
    <div class="button" onclick="closeWindowDelLanding()">Отмена</div>
    <div class="button" onclick="delLanding()">Удалить</div>
</div>
<div id="background_gray"></div>
<script>
    var url = '';
    function openWindowDelLanding(param) {
        url = param;
        $('#background_gray').width($(window).width());
        $('#background_gray').height($(window).height());

        var top = ($(window).height() - $('#del_modal').height()) / 2;
        var left = ($(window).width() - $('#del_modal').width()) / 2;
        $('#del_modal').css('left', left);
        $('#del_modal').animate({
            top: top
        }, 200);
    }

    function closeWindowDelLanding() {
        $('#background_gray').width(0);
        $('#background_gray').height(0);
        $('#del_modal').animate({
            top: '-400px'
        }, 200);
        url = '';
    }

    function delLanding() {
        if (url !== '') {
            $.ajax({
                url: "/Cabinet/Home/DeleteLanding",
                data: {
                    url: url
                },
                async: true,
                success: function (data) {
                    if (data == 'True') {
                        location.reload();
                    }
                },
                error: function (data) {
                    //alert('Все плохо');
                },
                type: "POST"
            });
        }
        closeWindowDelLanding();
    }
</script>
