﻿@model WebSite.Areas.Cabinet.Models.TariffsViewModel

@{
    ViewBag.Title = "ClickSale - Тарифы";
}

@section Breadcrumbs
{
    @Html.Partial("_Breadcrumbs", Model.BreadcrumbsH2Text)
}

<div class="container">
    @using (Html.BeginForm("CreateInvoice", "Payment", FormMethod.Post, new { @class = "padding-top-20", id = "tariffsForm" }))
    {
        @Html.HiddenFor(_ => _.Tariff)
        <div class="row margin-bottom-20 margin-top-20">
            <div class="col-sm-3">
                <div class="btn-u btn-u-lg btn-block bg-color-custom period active" data-months="1">
                    <i class="fa fa-check">&nbsp;</i>
                    1 месяц
                    @Html.RadioButtonFor(_ => _.PeriodInMonths, "1", new { @checked = "checked", id = "Period1" })
                    <br /> &nbsp;
                </div>
            </div>
            <div class="col-sm-3">
                <div class="btn-u btn-u-lg btn-block bg-color-custom period" data-months="3">
                    <i class="fa fa-check" style="display: none;">&nbsp;</i>
                    3 месяцa
                    @Html.RadioButtonFor(_ => _.PeriodInMonths, "3", new { id = "Period3" })
                    <br />
                    (скидка 5%)
                </div>
            </div>
            <div class="col-sm-3">
                <div class="btn-u btn-u-lg btn-block bg-color-custom period" data-months="6">
                    <i class="fa fa-check" style="display: none;">&nbsp;</i>
                    6 месяцев
                    @Html.RadioButtonFor(_ => _.PeriodInMonths, "6", new { id = "Period6" })
                    <br />
                    (скидка 10%)
                </div>
            </div>
            <div class="col-sm-3">
                <div class="btn-u btn-u-lg btn-block bg-color-custom period" data-months="12">
                    <i class="fa fa-check" style="display: none;">&nbsp;</i>
                    1 год
                    @Html.RadioButtonFor(_ => _.PeriodInMonths, "12", new { id = "Period12" })
                    <br />
                    (скидка 20%)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <div class="panel panel-default text-center active" data-type="paymentMethod">
                    <div class="panel-body">
                        Яндекс деньги
                    </div>
                    <div class="panel-footer">
                        @Html.RadioButtonFor(_ => _.PaymentMethod, "YandexMoney", new { @checked = "checked", id = "YandexMoney" })
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="panel panel-default text-center" data-type="paymentMethod">
                    <div class="panel-body">
                        Кредитная карта
                    </div>
                    <div class="panel-footer">
                        @Html.RadioButtonFor(_ => _.PaymentMethod, "CreditCard", new { id = "CreditCard" })
                    </div>
                </div>
            </div>
        </div>
        <!-- Pricing Light -->
        <div class="row pricing-light">
            <div class="col-md-4 col-sm-6">
                <div class="pricing hover-effect">
                    <div class="pricing-head">
                        <h3>START <span>Labore et dolore magnaras </span></h3>
                    </div>
                    <ul class="pricing-content list-unstyled">
                        <li>
                            <ul class="list-unstyled list-inline rating">
                                <li>
                                    <i class="fa fa-star fa-2x"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star-half-empty fa-2x"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star-o fa-2x"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star-o fa-2x"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star-o fa-2x"></i>
                                </li>
                            </ul>
                        </li>
                        <li class="bg-color">10 страниц</li>
                        <li>1 доменное имя</li>
                        <li class="bg-color">Партнёрка первого уровня</li>
                        <li>$25 Facebook Add Vaucher</li>
                        <li class="bg-color"> One SSL Certificate</li>
                        <li>Online Support</li>
                    </ul>
                    <div class="pricing-footer monthlyPrice">
                        <h4 class="active" data-months="1">
                            <small>420<i>р.</i></small> <span>В месяц</span>
                            420<i>р.</i> <span>К оплате</span>
                        </h4>
                        <h4 data-months="3">
                            <small>399<i>р.</i></small> <span>В месяц</span>
                            1197<i>р.</i> <span>К оплате</span>
                        </h4>
                        <h4 data-months="6">
                            <small>378<i>р.</i></small> <span>В месяц</span>
                            2268<i>р.</i> <span>К оплате</span>
                        </h4>
                        <h4 data-months="12">
                            <small>336<i>р.</i></small> <span>В месяц</span>
                            4284<i>р.</i> <span>К оплате</span>
                        </h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cloud Storage magna psum condimentum...</p>
                        <button class="btn-u btn-brd btn-brd-hover btn-u-default btn-u-lg" onclick="setTariff('START');"><i class="fa fa-shopping-cart"></i> Купить сейчас</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="pricing hover-effect">
                    <div class="pricing-head">
                        <h3>BUSINESS <span>Labore et dolore magnaras </span></h3>
                    </div>
                    <ul class="pricing-content list-unstyled">
                        <li>
                            <ul class="list-unstyled list-inline rating">
                                <li>
                                    <i class="fa fa-star fa-2x"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star fa-2x"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star fa-2x"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star-half-empty fa-2x"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star-o fa-2x"></i>
                                </li>
                            </ul>
                        </li>
                        <li class="bg-color">50 страниц</li>
                        <li>5 доменных имён</li>
                        <li class="bg-color">Двух уровневая партнёрка</li>
                        <li>$25 Facebook Add Vaucher</li>
                        <li class="bg-color"> One SSL Certificate</li>
                        <li>Online Support</li>
                    </ul>
                    <div class="pricing-footer monthlyPrice">
                        <h4 class="active" data-months="1">
                            <small>1240<i>р.</i></small> <span>В месяц</span>
                            1240<i>р.</i> <span>К оплате</span>
                        </h4>
                        <h4 data-months="3">
                            <small>1178<i>р.</i></small> <span>В месяц</span>
                            3534<i>р.</i> <span>К оплате</span>
                        </h4>
                        <h4 data-months="6">
                            <small>1116<i>р.</i></small> <span>В месяц</span>
                            6696<i>р.</i> <span>К оплате</span>
                        </h4>
                        <h4 data-months="12">
                            <small>1054<i>р.</i></small> <span>В месяц</span>
                            12648<i>р.</i> <span>К оплате</span>
                        </h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cloud Storage magna psum condimentum...</p>
                        <button class="btn-u btn-brd btn-brd-hover btn-u-default btn-u-lg" onclick="setTariff('BUSINESS');"><i class="fa fa-shopping-cart"></i> Купить сейчас</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="pricing hover-effect">
                    <div class="pricing-head">
                        <h3>PREMIUM <span>Labore et dolore magnaras </span></h3>
                    </div>
                    <ul class="pricing-content list-unstyled">
                        <li>
                            <ul class="list-unstyled list-inline rating">
                                <li>
                                    <i class="fa fa-star fa-2x"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star fa-2x"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star fa-2x"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star fa-2x"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star fa-2x"></i>
                                </li>
                            </ul>
                        </li>
                        <li class="bg-color">Неограниченное количество страниц</li>
                        <li>Неограниченное количество доменов</li>
                        <li class="bg-color">Двух уровневая партнёрка</li>
                        <li>$25 Facebook Add Vaucher</li>
                        <li class="bg-color"> One SSL Certificate</li>
                        <li>Online Support</li>
                    </ul>
                    <div class="pricing-footer monthlyPrice">
                        <h4 class="active" data-months="1">
                            <small>1970<i>р.</i></small> <span>В месяц</span>
                            1970<i>р.</i> <span>К оплате</span>
                        </h4>
                        <h4 data-months="3">
                            <small>1871<i>р.</i></small> <span>В месяц</span>
                            5615<i>р.</i> <span>К оплате</span>
                        </h4>
                        <h4 data-months="6">
                            <small>1773<i>р.</i></small> <span>В месяц</span>
                            10638<i>р.</i> <span>К оплате</span>
                        </h4>
                        <h4 data-months="12">
                            <small>1674<i>р.</i></small> <span>В месяц</span>
                            20074<i>р.</i> <span>К оплате</span>
                        </h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cloud Storage magna psum condimentum...</p>
                        <button class="btn-u btn-brd btn-brd-hover btn-u-default btn-u-lg" onclick="setTariff('PREMIUM');"><i class="fa fa-shopping-cart"></i> Купить сейчас</button>
                    </div>
                </div>
            </div>
        </div>
        <!--/row-->
        <!-- End Pricing Light -->
    }
</div>

@section Styles
{
    <link href="~/assets/unify/css/pages/page_pricing.css" rel="stylesheet" />
}

<script type="text/javascript">
    function setTariff(tariff) {
        $('#Tariff').val(tariff);
    }
</script>