﻿@using WebSite.Areas.Cabinet.Helpers
@model WebSite.Areas.Cabinet.Models.CreateInvoiceViewModel

<div class="container">
    <h3 class="text-center top-buffer">Счёт на оплату № @Model.InvoiceId от @Model.Date г.</h3>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="row top-buffer">
                    <b class="col-sm-6 text-right text-invoice">Тариф:</b>
                    <div class="col-sm-4 text-invoice text-invoice-2">@Html.DisplayTextFor(m => m.TariffName)</div>
                </div>
                <div class="row top-buffer">
                    <b class="col-sm-6 text-right text-invoice">Суммa к оплате:</b>
                    <div class="col-sm-4 text-invoice text-invoice-2" style="color: green;">@Html.DisplayTextFor(m => m.Amount) рублей</div>
                </div>
                <div class="row top-buffer">
                    <b class="col-sm-6 text-right text-invoice">Способ оплаты:</b>
                    <div class="col-sm-4 text-invoice text-invoice-2">@Html.DisplayTextFor(m => m.PaymentMethod)</div>
                </div>
                <div class="row top-buffer">
                    <b class="col-sm-6 text-right text-invoice">Срок действия тарифа:</b>
                    <div class="col-sm-4 text-invoice text-invoice-2">@Html.DisplayTextFor(m => m.PeriodInMonths)</div>
                </div>
                <div class="row top-buffer bottom-buffer">
                    <b class="col-sm-6 text-right text-invoice">Срок действия выставленного счёта:</b>
                    <div class="col-sm-5 text-invoice text-invoice-2">неделя, до @Html.DisplayTextFor(m => m.DueDate)</div>
                </div>
            </div>
            <div class="row bottom-buffer">
                @using (Html.BeginForm("DeleteInvoice", "Payment", FormMethod.Post, new { @class = "col-sm-3 col-sm-offset-1" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("id", Model.InvoiceId)
                    <button class="btn-u btn-u-lg btn-u-default">Удалить счёт</button>
                }
                <form method="POST" action="@Constants.YandexPaymentUri" class="col-sm-4 col-sm-offset-3">

                    @Html.Hidden("receiver", Model.YandexMoneyApiViewModel.Receiver)
                    @Html.Hidden("formcomment", Model.YandexMoneyApiViewModel.FormComment)
                    @Html.Hidden("short-dest", Model.YandexMoneyApiViewModel.ShortDest)
                    @Html.Hidden("targets", Model.YandexMoneyApiViewModel.Targets)
                    @Html.Hidden("label", Model.YandexMoneyApiViewModel.Label)
                    @Html.Hidden("quickpay-form", Model.YandexMoneyApiViewModel.QuickpayForm)
                    @Html.Hidden("paymentType", Model.YandexMoneyApiViewModel.PaymentType)
                    @Html.Hidden("sum", Model.YandexMoneyApiViewModel.Sum)
                    @Html.Hidden("comment", Model.YandexMoneyApiViewModel.Comment)
                    @Html.Hidden("need-fio", Model.YandexMoneyApiViewModel.NeedFio)
                    @Html.Hidden("need-email", Model.YandexMoneyApiViewModel.NeedEmail)
                    @Html.Hidden("need-phone", Model.YandexMoneyApiViewModel.NeedPhone)
                    @Html.Hidden("need-address", Model.YandexMoneyApiViewModel.NeedAddress)
                    <div>
                        <button class="btn-u btn-u-lg pull-right">Перейти к оплате</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>