﻿@model WebSite.Areas.Admin.Models.Content.BackgroundViewModel
@{
    ViewBag.Title = "Редактируем фоновую картинку";
}
<div class="row-fluid">
    <div class="span12">
        <div class="box box-bordered">
            <div class="box-title">
                <h3><i class="icon-file-alt"></i>Фоновая картинка</h3>
            </div>
            <div class="box-content nopadding">
                @using (Html.BeginForm("EditBackground", "Background", FormMethod.Post, new { @class = "form-vertical form-bordered form-striped form-validate", enctype = "multipart/form-data" }))
                {
                    <div class="control-group">
                        <label class="control-label">Текушая картинка</label>
                        <div class="controls">
                            <img src="@(WebSite.Framework.WorkContext.FilesPath + "background.png")" alt="" />
                        </div>
                    </div>
                    @Html.EditorFor(_ => _.File, "FileInput")
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
