﻿@using WebSite.Models.Content
@model IList<WebSite.Models.Content.BlockViewModel>


<div class=box3 id=content_menu>
    @Html.Action("SideMenu", "Common")
    @foreach (var item in Model)
        {
            if (item.IsContent)
            {
                @Html.Raw(item.Description)
            }
            else
            {
                <dl class="block-left">
                    <dt><span>@item.Title</span></dt>
                    <dd style="font-size: 0.94em;">@Html.Raw(item.Description)</dd>
                </dl>
            }
        }
</div>
<div class="lnk pull-left mr" style="font-weight:400;">
</div>
