﻿@using WebSite.Models.Content
@model IList<WebSite.Models.Content.BlockViewModel>
@foreach (var item in Model)
{
    <dl class="block-right">
        <dt><span>@item.Title</span></dt>
        <dd>@Html.Raw(item.Description)</dd>
    </dl>
}