﻿@using WebSite.Areas.Admin.Framework.HtmlHelpers
@model WebSite.Models.Common.MapViewModel

<section class="copyright text-center">
    <p class="rights">
        @LH.GLSS(Model.Content, Session["lang"].ToString())
    </p>
</section>