﻿@using WebSite.Areas.Admin.Framework.HtmlHelpers
@model WebSite.Models.Content.CompanyNameViewModel
@{
    Layout = null;
    if (Session["lang"] == null)
    {
        HttpCookie cookie = Request.Cookies["lang"];
        if (cookie != null)
        {
            Session["lang"] = cookie.Value;
        }
        else
        {
            HttpCookie cooki = new HttpCookie("lang", "ru");
            Response.SetCookie(cooki);
            Session["lang"] = "ru";
        }
    }
    }
<style>
    .sender {
        width: 100%;
        position: relative;
    }

    .name, .email, .message {
        opacity: 0;
        position: absolute;
        height: 1.8em;
        top:0;
    }
</style>
<section class="well5 bg-secondary">

    <div class="container center500">

        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="subscribe">
                    <p class="fz18 text-uppercase">@LH.GLSK("Отправить сообщение", Session["lang"].ToString())</p>

                    <form class='mailform' method="post" action="">
                        <input type="hidden" name="form-type" value="subscribe" />
                        <fieldset>
                            <div class="sender">
                                <label>
                                    <input id="name"
                                           type="text"
                                           name="name"
                                           placeholder="@LH.GLSK("Имя", Session["lang"].ToString())"
                                           data-constraints="Name" />
                                </label>
                                <img class="name" src="~/Content/images/alert.png" />
                            </div>
                            <div class="sender">
                                <label>
                                    <input id="email"
                                           type="email"
                                           name="email"
                                           placeholder="@LH.GLSK("Почта", Session["lang"].ToString())"
                                           data-constraints="Email" />
                                </label>
                                <img class="email" src="~/Content/images/alert.png" />
                            </div>
                            <div class="sender">
                                <label>
                                    <textarea id="message"
                                              name="Message"
                                              placeholder="@LH.GLSK("Сообщение", Session["lang"].ToString())"
                                              data-constraints="Message" style="height: 10em;"></textarea>
                                </label>
                                <img class="message" src="~/Content/images/alert.png" />
                            </div>

                                    <div class="mfControls">
                                        <input type="button" class="btn btn-primary btn-block" onclick="sendMessage()" value="@LH.GLSK("ОТПРАВИТЬ", Session["lang"].ToString())" />
                                    </div>
</fieldset>
                    </form>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-1 col-sm-6 col-sm-offset-0 col-xs-6 left991">
                <p class="fz18 text-uppercase center767">@LH.GLSK("Наши контакты", Session["lang"].ToString())</p>

                <div class="contact-info">
                    <address> @LH.GLSS(Model.Address, Session["lang"].ToString())
                    </address>
                    <dl>
                        <dt>@LH.GLSK("Мобильный тел.", Session["lang"].ToString()):</dt>
                        <dd>
                            <a href="tel:@Model.Tel"> @Model.Tel</a>
                        </dd>
                        <dt>@LH.GLSK("Рабочий тел.", Session["lang"].ToString()):</dt>
                        <dd>
                            <a href="tel:@Model.WorkTel"> @Model.WorkTel</a>
                        </dd>
                        <dt>@LH.GLSK("Сайт", Session["lang"].ToString()):</dt>
                        <dd>
                            <a href="@Model.WebSite"> @Model.WebSite</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt>@LH.GLSK("E-mail", Session["lang"].ToString()):</dt>
                        <dd>
                            <a href="mailto:@Model.Email">@Model.Email</a>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>

    </div>
</section>
<script>
    $(function () {
        $('.sender').find('img').css('left', $('#name').width()+30);
    });
    function sendMessage() {
        if ($('#name').val() != "" && isValidEmailAddress($('#email').val()) && $('#message').val() != "") {
            $.post("@Url.Action("SendMessage", "Common")", { name: $('#name').val(), email: $('#email').val(), message: $('#message').val() }, function (data) {
                alert(data);
            });
        } else {
            if ($('#name').val() === "") {
                $(".name").animate({
                    opacity: 1                    
                }, 200, function () {
                    $(".name").animate({
                        opacity: 0
                    }, 200, function () {
                        $(".name").animate({
                            opacity: 1
                        }, 200, function () {
                            $(".name").animate({
                                opacity: 0
                            }, 200, function () {
                                $(".name").animate({
                                    opacity: 1
                                }, 200, function () {
                                    $(".name").animate({
                                        opacity: 0
                                    }, 2500);
                                });
                            });
                        });
                    });
                });
            }

            if (!isValidEmailAddress($('#email').val())) {
                $(".email").animate({
                    opacity: 1
                }, 200, function () {
                    $(".email").animate({
                        opacity: 0
                    }, 200, function () {
                        $(".email").animate({
                            opacity: 1
                        }, 200, function () {
                            $(".email").animate({
                                opacity: 0
                            }, 200, function () {
                                $(".email").animate({
                                    opacity: 1
                                }, 200, function () {
                                    $(".email").animate({
                                        opacity: 0
                                    }, 2500);
                                });
                            });
                        });
                    });
                });
            }
            if ($('#message').val() === "") {
                $(".message").animate({
                    opacity: 1
                }, 200, function () {
                    $(".message").animate({
                        opacity: 0
                    }, 200, function () {
                        $(".message").animate({
                            opacity: 1
                        }, 200, function () {
                            $(".message").animate({
                                opacity: 0
                            }, 200, function () {
                                $(".message").animate({
                                    opacity: 1
                                }, 200, function () {
                                    $(".message").animate({
                                        opacity: 0
                                    }, 2500);
                                });
                            });
                        });
                    });
                });
            }
        }
    }

    function isValidEmailAddress(emailAddress) {
        var pattern = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);
        return pattern.test(emailAddress);
    }
</script>