﻿@using WebSite.Models.Common
@model List<WebSite.Models.Common.MenuItemViewModel>
<div>
@{
    var rowCount = Math.Floor(Model.Count/3d);
    var row = 0;
    var col = 1;
}
    @foreach (var item in Model)
     {
         row++;
         var activeClass = item.IsActive ? "isActive" : null;
         <a class="@activeClass" href="@item.Url">@item.Title</a>
         if (row >= rowCount && col < 3)
         {
             @Html.Raw("</div><div>")
             row = 0;
             col++;
         }
     }
</div>
<div class="clear"></div>