﻿@using WebSite.Areas.Admin.Framework.HtmlHelpers
@model WebSite.Models.Content.BlockViewModel
@{
    ViewBag.Title = "GetMeats";
    if (Session["lang"] == null)
    {
        HttpCookie cookie = Request.Cookies["lang"];
        if (cookie != null)
        {
            Session["lang"] = cookie.Value;
        }
        else
        {
            HttpCookie cooki = new HttpCookie("lang", "ru");
            Response.SetCookie(cooki);
            Session["lang"] = "ru";
        }
    }
}

<section class="well bg-secondary">
    <div class="container text-center">
        <h2>@LH.GLSK("Вам нужно...", Session["lang"].ToString())<br/></h2>
        <a href="#" class="btn btn-primary">@LH.GLSK("Заказать", Session["lang"].ToString())</a>
    </div>
</section>

