﻿@using WebSite.Framework
@model IList<WebSite.Models.Content.ProductsViewModel>


@foreach (var item in Model)
{
    <div class="item_from_catalog">
        <h3 style="margin: 0px;" class="small nw lnk"><a class="show_popup" rel="@Html.Raw("pu")@item.Id" href="#">@item.Title</a></h3>
        <div class="img thumbnail lgdiv2">
            <div class="lgdiv3">
                <a class="show_popup" rel="@Html.Raw("pu")@item.Id" href="#" title="Каталог услуг"><img class="span23" src="@WorkContext.ProductPath@item.Image" title="@item.Title" alt="@item.Title"/></a>
            </div>
        </div>
        @if (item.Price > 0)
        {
            <div class="nw2">@item.Price</div>
        }
        else
        {
            <div class="nw2" style="text-align: right; font-size: 20px;">договорная</div>
        }
    </div>


    <div class="popup @Html.Raw("pu")@item.Id">
        <a class="close_pop" title="Закрыть" href="#">Close</a>
        <div class="content-popup">
            <h2>@item.Title</h2>
            <img class="content-img-popup" src="@ViewBag.FilesDirectory@item.Image" title="@item.Title" alt="@item.Title" align="left" />
            <ul>
                @if(item.FullDescription != null) { 
                <li><span>Описание:</span> <div class="fulldescr">@Html.Raw(@item.FullDescription)</div></li>}
                @if (!item.IsPresence)
                {
                    <li><span>Наличие:</span> в наличии</li>
                }
                else
                {
                    <li><span>Наличие:</span> нет в наличии</li>
                }
                @if (item.Price > 0)
                {
                    <li class="price-pop"><span>Цена:</span> @item.Price руб.</li>
                }
                else
                {
                    <li class="price-pop"><span>Цена:</span> договорная </li>
                }
            </ul>
        </div>
    </div>
}
