﻿@model List<WebSite.Models.Content.ArticleViewModel>


@foreach (var item in Model)
{
    <div class="news_item">
        <div class="news_title">
            <h3><a href="articles/news/@item.StringKey">@item.Title</a>
            </h3>
            @item.Date.ToLongDateString()
        </div>
        <div class="news_descr">
            @Html.Raw(item.Annonse)
        </div>
    </div>
}