﻿@model IList<WebSite.Models.Content.SectionViewModel>


    @foreach (var item in Model)
    {
        <div class="item_from_catalog">
            <div class="img thumbnail lgdiv2" onclick="document.location.href = '/Section/@item.Url'">
                <div class="lgdiv3">
                    <a href="/Section/@item.Url" title="Каталог услуг"><img class="span23" src="@ViewBag.FilesDirectory@item.Image" border="0" /></a>
                </div>
            </div>
            <div align="center" class="cc">
                <h3 style="margin: 0px;" class="lnk priceclass cc"><a href="/Section/@item.Url">@item.Title</a></h3>
                <div class="descr_item">
                    @Html.Raw(item.Description)
                </div>
            </div>
        </div>
    }
