﻿@using WebSite.Models.Common
@model List<WebSite.Models.Common.MenuItemViewModel>


<div id='cssmenu'>
    <ul>
        @foreach (var item in Model)
        {
            //    var activeClass = item.IsActive ? "isActive" : null;
            <li>
                <a href='@item.Url'><span>@item.Title</span></a>
            </li>
        }
    </ul>
</div>