﻿@using WebSite.Models.Common
@using WebSite.Framework
@model IList<WebSite.Models.Common.SliderViewModel>

<link href="~/Content/orbit/orbit.css" rel="stylesheet" />
<!--[if IE]>
    <style type="text/css">
        .timer { display: none !important; }
        div.caption { background:transparent; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);zoom: 1; }
    </style>
<![endif]-->
<script src="~/Content/orbit/jquery.orbit.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#featured').height(29 * $('#featured').width() / 100);
    });
    $(window).load(function () {
        $('#featured').orbit({
            'bullets': true,
            'timer': true,
            'animation': 'horizontal-slide'
        });
    });

    $(window).resize(function () {
        $('#featured').height(29*$('#featured').width()/100);
    });
</script>
<div id="featured">
    @foreach (var slide in Model) { 
        <img src="@WorkContext.SliderPath@slide.Image" />
    }
   
</div>