﻿@using WebSite.Areas.Admin.Framework.HtmlHelpers
@using WebSite.Models.Common
@model List<WebSite.Models.Common.MenuItemViewModel>
           @{
               var sd = Session["lang"];
               }
<style>
    .localiz {
        position: relative;
        width: 21px;
        height: 21px;
        margin: 25px 15px 0 15px;
    }
       .localiz > img {
            width: 20px;
            height: 20px;
           cursor: pointer;
        }


</style>
<ul class="navbar-nav sf-menu" data-type="navbar">
    @foreach (var item in Model)
    {
        if (item.Childs.Count == 0)
        {
            <li class="active">
                <a href="@item.Url">@LH.GLSS(item.Title, Session["lang"].ToString())</a>
            </li>
        }
        else
        {
            <li class="dropdown">
                <a href="@item.Url">@LH.GLSS(item.Title, Session["lang"].ToString())</a>
                <ul class="dropdown-menu">
                    @foreach (var Child in item.Childs)
                    {
                        <li>
                            <a href="@Child.Url">@LH.GLSS(Child.Title, Session["lang"].ToString())</a>
                        </li>
                    }
                </ul>
            </li>
        }
    }
    <li>
        <div class="localiz">
            @if (Session["lang"].ToString() == "ru")
            {
                <img src="~/images/en.png" title="English" onclick="selLocaliz('en')"/>
            }
            else
            {
                <img src="~/images/ru.png" title="Руссий" onclick="selLocaliz('ru')"/>
            }
        </div>

    </li>
</ul>

<script>
    function selLocaliz(lang)
    {
        $.post("@Url.Action("СhangeLocalization", "Common")", { lang: lang }, function (data) {
        location.reload();
    });
    }
</script>