﻿@using WebSite.Framework
@model WebSite.Areas.Admin.Models.Content.SectionViewModel
@{
    ViewBag.Title = "Изменить раздел";
}
<div class="row-fluid">
    <div class="span12">
        <div class="box box-bordered">
            <div class="box-title">
                <h3><i class="icon-file-alt"></i>Изменить раздел</h3>
            </div>
            <div class="box-content nopadding">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-vertical form-bordered form-striped form-validate", enctype = "multipart/form-data" }))
                {
                    @Html.EditorFor(_ => _.IsHidden, "Checkbox")
                    @Html.EditorFor(_ => _.Title, "SimpleInput")
                    @Html.EditorFor(_ => _.Description, "SimpleInput")
                    @Html.EditorFor(_ => _.FullDescription, "WysiwygTextarea")
                    @Html.HiddenFor(_ => _.Url)
                    <div class="control-group">
                        <label class="control-label">Старое изображение</label>
                        <div class="controls">
                            <img src="@Url.Content(WorkContext.SectionPath + Model.Image)" alt="" />
                        </div>
                    </div>
                    @Html.HiddenFor(_=>_.Image)
                    @Html.HiddenFor(_ => _.Url)
                    @Html.EditorFor(_ => _.File, "FileInput")
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                        <a href="@Url.Action("Index")" class="btn">Отменить</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>