﻿@using WebSite.Framework
@model WebSite.Areas.Admin.Models.Content.PhotoViewModel

<li>
    <a href="@Url.Content(WorkContext.PhotoPath + Model.OriginalUrl)">
        <img src="@Url.Content(WorkContext.PhotoPath + Model.MediumUrl)" alt="image-@Model.Id">
    </a>
    <div class="extras">
        <div class="extras-inner">
            <a href="@Url.Content(WorkContext.PhotoPath + Model.OriginalUrl)" class="colorbox-image" rel="all"><i class="icon-search"></i></a>
            <a href="@Url.Action("DeletePhoto", new {id = Model.Id})" class='del-gallery-pic'><i class="icon-trash"></i></a>
        </div>
    </div>
</li>