﻿@using WebSite.Areas.Admin.Framework.HtmlHelpers
@using WebSite.Areas.Admin.Models.Content
@model WebSite.Areas.Admin.Models.Content.PhotoAlbumViewModel
@{
    ViewBag.Title = "Редактирование альбома «" + Model.Name + "»";
}
@section HeadContent
{
    <script src="~/Areas/Admin/Content/js/plugins/form/jquery.form.min.js"> </script>

    <!-- colorbox -->
    <link rel="stylesheet" href="~/Areas/Admin/Content/css/plugins/colorbox/colorbox.css">
    <!-- colorbox -->
    <script src="~/Areas/Admin/Content/js/plugins/colorbox/jquery.colorbox-min.js"> </script>
    <!-- masonry -->
    <script src="~/Areas/Admin/Content/js/plugins/masonry/jquery.masonry.min.js"> </script>
    <!-- imagesloaded -->
    <script src="~/Areas/Admin/Content/js/plugins/imagesLoaded/jquery.imagesloaded.min.js"> </script>
    <!-- uploadify -->
    <script src="~/Areas/Admin/Content/js/plugins/uploadify/jquery.uploadify.min.js"> </script>
    <link href="~/Areas/Admin/Content/js/plugins/uploadify/uploadify.css" rel="stylesheet" />

    <script type="text/javascript">
        $(function() {
            $("#uploadFileArea").uploadify({
                formData: {
                    albumId: '@Model.Id',
                    authToken: '@Model.AuthToken'
                },
                swf: '@Url.Content("~/Areas/Admin/Content/js/plugins/uploadify/uploadify.swf")',
                uploader: '@Url.Action("Upload")',
                buttonText: '<i class="icon-cloud-upload"></i>&nbsp;Загрузить фотографии',
                wmode: 'transparent',
                buttonClass: 'btn btn-danger',
                onUploadSuccess: function(file, data, response) {
                    if (response) {
                        var gallery = $("#photo_gallery").first();
                        gallery.append(data).masonry('reload');

                        initDeleteForGalery();
                        initColorboxForGalery();
                    }
                }
            });
        });
    </script>
}

<div class="row-fluid">
    <div class="span12">
        <div class="box box-bordered">
            <div class="box-title">
                <h3><i class="icon-file-alt"></i>@Model.Name</h3>
            </div>
            <div class="box-content nopadding">
                @using (Html.BeginForm(null, null, FormMethod.Post, new {@class = "form-vertical form-bordered form-striped form-validate", enctype = "multipart/form-data"}))
                {
                    @Html.EditorFor(_ => _.IsHidden, "Checkbox")
                    @Html.EditorFor(_ => _.Name, "SimpleInput")
                    @Html.EditorFor(_ => _.StringKey, "SimpleInput")
                    @Html.EditorFor(_ => _.Date, "DateInput")
                    @Html.EditorFor(_ => _.Description, "WysiwygTextarea")
                    @Html.EditorFor(_ => _.MetaTitle, "SimpleInput")
                    @Html.EditorFor(_ => _.MetaKeywords, "SimpleInput")
                    @Html.EditorFor(_ => _.MetaDescription, "SimpleInput")
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                        <a href="@Url.Action("Index")" class="btn">Отменить</a>
                    </div>
                }


                @Html.TranslitBind(_ => _.Name, _ => _.StringKey, HtmlTranslitBindingExstension.TranslitType.Translit)
                @Html.TranslitBind(_ => _.Name, _ => _.MetaTitle, HtmlTranslitBindingExstension.TranslitType.Original)
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="box box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-picture"></i>
                    Фотографии альбома «@Model.Name»
                </h3>
            </div>
            <div class="box-content nopadding">
                <div class="highlight-toolbar">
                    <div class="pull-left">
                    </div>
                    <div class="pull-right">
                        <div class="btn-toolbar">
                            <div class="btn-group">
                                <input id="uploadFileArea" type="file" multiple="multiple" />
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="gallery gallery-dynamic" id="photo_gallery">
                    @foreach (var item in Model.Photos)
                    {
                        @Html.Partial("_PhotoItem", item)
                    }
                </ul>
            </div>
        </div>
    </div>
</div>