﻿@model WebSite.Areas.Cabinet.Models.LandingSettingsViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Cabinet/Views/Shared/_LayoutSettingPanel.cshtml";
}

<h2>настройки</h2>

<div class="form-horizontal">

    <div class="form-group">
        <label class="col-md-3 control-label">Outline Checkboxes</label>
        <div class="col-md-9">
            <div class="mt-checkbox-list">
                <label class="mt-checkbox mt-checkbox-outline">
                    <input type="checkbox"> Checkbox 1
                    <span></span>
                </label>
                <label class="mt-checkbox mt-checkbox-outline">
                    <input type="checkbox"> Checkbox 1
                    <span></span>
                </label>
                <label class="mt-checkbox mt-checkbox-outline mt-checkbox-disabled">
                    <input type="checkbox" disabled=""> Disabled
                    <span></span>
                </label>
            </div>
        </div>
    </div>

</div>