﻿@model WebSite.Areas.Cabinet.Models.LandingSettingsViewModel
@{
    ViewBag.Title = "Integration";
    Layout = "~/Areas/Cabinet/Views/Shared/_LayoutSettingPanel.cshtml";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-bubble font-green-sharp"></i>
            <span class="caption-subject font-green-sharp sbold">Email-интеграция</span>
        </div>        
    </div>
    <div class="portlet-body">
        <div class="tiles">            

            <div id="sendpulse" class="tile image double bg-green">
                <div class="corner"> </div>
                <div class="check"> </div>
                <div class="tile-body">
                    <h4>SendPulse</h4>
                    <img src="~/Content/images/sendpulseint.png" alt="">   
                </div>
                <div class="tile-object">
                    <div class="name">                        
                    </div>
                </div>
            </div>
                        
            <div id="mailchimp" class="tile image double bg-green">
                <div class="corner"> </div>
                <div class="check"> </div>
                <div class="tile-body">
                    <h4>MailChimp</h4>
                    <img src="~/Content/images/mailchimplogo.jpg" alt="">  
                </div>
                <div class="tile-object">
                    <div class="name">
                    </div>
                </div>
            </div>

            <div id="getresponse" class="tile image double bg-green">
                <div class="corner"> </div>
                <div class="check"> </div>
                <div class="tile-body">
                    <h4>GetResponse</h4>
                    <img src="~/Content/images/getresponselogo.png" alt="">
                </div>
                <div class="tile-object">
                    <div class="name">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div style="display: none;" class="portlet portlet-form light bordered mailchimp-portlet">
    <div class="portlet box blue ">
        <div class="portlet-title">
            <div class="caption">
                MailChimp
            </div>
        </div>
        <div class="portlet-body form">
            <form method="post" action="@Url.Action("IntegrationMailchimp")" role="form">
                @Html.HiddenFor(m => m.Url)
                @Html.HiddenFor(m => m.Id)
                <div class="form-body">
                    <div class="form-group has-success">
                        <label class="control-label">Ключ mailchimp api</label>
                        @Html.EditorFor(_ => _.MailChimp.MailChimpApiKey, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group has-success">
                        <label class="control-label">Id списка контактов</label>
                        @Html.EditorFor(_ => _.MailChimp.ListId, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-actions">
                    <button type="button" class="btn default btn-tile-close">Отмена</button>
                    <button type="submit" class="btn red">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div style="display: none;" class="portlet portlet-form light bordered sendpulse-portlet">
    <div class="portlet box blue ">
        <div class="portlet-title">
            <div class="caption">
                Sendpulse
            </div>
        </div>
        <div class="portlet-body form">
            <form method="post" action="@Url.Action("IntegrationSendpulse")" role="form">
                @Html.HiddenFor(m => m.Url)
                @Html.HiddenFor(m => m.Id)
                <div class="form-body">
                    <div class="form-group has-success">
                        <label class="control-label">Id клиента</label>
                        @Html.EditorFor(_ => _.SendPulse.PulseId, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group has-success">
                        <label class="control-label">Секретный ключ</label>
                        @Html.EditorFor(_ => _.SendPulse.PulseSecret, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group has-success">
                        <label class="control-label">Id адресной книги</label>
                        @Html.EditorFor(_ => _.SendPulse.BookId, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-actions">
                    <button type="button" class="btn default btn-tile-close">Отмена</button>
                    <button type="submit" class="btn red">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div style="display: none;" class="portlet portlet-form light bordered getresponse-portlet">
    <div class="portlet box blue ">
        <div class="portlet-title">
            <div class="caption">
                GetResponse
            </div>
        </div>
        <div class="portlet-body form">
            <form method="post" action="@Url.Action("IntegrationGetResponse")" role="form">
                @Html.HiddenFor(m => m.Url)
                @Html.HiddenFor(m => m.Id)
                <div class="form-body">
                    <div class="form-group has-success">
                        <label class="control-label">Api_key</label>
                        @Html.EditorFor(_ => _.GetResponse.Api_key, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group has-success">
                        <label class="control-label">Id компании</label>
                        @Html.EditorFor(_ => _.GetResponse.CampaignId, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group has-success">
                        <label class="control-label">Api_url (если используется GetResponse360)</label>
                        @Html.EditorFor(_ => _.GetResponse.Api_url, new { htmlAttributes = new { @class = "form-control" } })
                    </div>                    
                </div>
                <div class="form-actions">
                    <button type="button" class="btn default btn-tile-close">Отмена</button>
                    <button type="submit" class="btn red">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-bubble font-green-sharp"></i>
            <span class="caption-subject font-green-sharp sbold">Интеграция с crm</span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="tiles">
            <div id="amocrm" class="tile image double bg-green">
                <div class="corner"> </div>
                <div class="check"> </div>
                <div class="tile-body">
                    <h4>AmoCrm</h4>
                    <img src="~/Content/images/amocrmint.png">
                </div>
                <div class="tile-object">
                    <div class="name">
                    </div>
                </div>
            </div>
                        
            <div id="bitrix" class="tile image double bg-green">
                <div class="corner"> </div>
                <div class="check"> </div>
                <div class="tile-body">
                    <h4>Bitrix</h4>
                    <img src="~/Content/images/bitrix24.jpg" alt="">
                </div>
                <div class="tile-object">
                    <div class="name">
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>

<div style="display: none;" class="portlet portlet-form light bordered amocrm-portlet">
    <div class="portlet box blue ">
        <div class="portlet-title">
            <div class="caption">
                AmoCrm
            </div>
        </div>
        <div class="portlet-body form">
            <form method="post" action="@Url.Action("IntegrationAmocrm")" role="form">
                @Html.HiddenFor(m => m.Url)
                @Html.HiddenFor(m => m.Id)
                <div class="form-body">
                    <div class="form-group has-success">
                        <label class="control-label">Сабдомен</label>
                        @Html.EditorFor(_ => _.AmoCrm.SubDomain, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group has-success">
                        <label class="control-label">Хеш</label>
                        @Html.EditorFor(_ => _.AmoCrm.UserHash, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group has-success">
                        <label class="control-label">Логин</label>
                        @Html.EditorFor(_ => _.AmoCrm.UserLogin, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-actions">
                    <button type="button" class="btn default btn-tile-close">Отмена</button>
                    <button type="submit" class="btn red">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div style="display: none;" class="portlet portlet-form light bordered bitrix-portlet">
    <div class="portlet box blue ">
        <div class="portlet-title">
            <div class="caption">
                Bitrix24
            </div>
        </div>
        <div class="portlet-body form">
            <form method="post" action="@Url.Action("IntegrationBitrix")" role="form">
                @Html.HiddenFor(m => m.Url)
                @Html.HiddenFor(m => m.Id)
                <div class="form-body">
                    <div class="form-group has-success">
                        <label class="control-label">Id клиента</label>
                        @Html.EditorFor(_ => _.Bitrix.ClientId, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group has-success">
                        <label class="control-label">Секретный ключ</label>
                        @Html.EditorFor(_ => _.Bitrix.ClientSecret, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-actions">
                    <button type="button" class="btn default btn-tile-close">Отмена</button>
                    <button type="submit" class="btn red">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-bubble font-green-sharp"></i>
            <span class="caption-subject font-green-sharp sbold">sms-интеграция</span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="tiles">
            <div id="smsintel" class="tile image double bg-green">
                <div class="corner"> </div>
                <div class="check"> </div>
                <div class="tile-body">
                    <h4>SMSIntel</h4>
                    <img src="~/Content/images/smsintellogo.jpg">
                </div>
                <div class="tile-object">
                    <div class="name">
                    </div>
                </div>
            </div>
        </div>
    </div>       
</div>

<div style="display: none;" class="portlet portlet-form light bordered smsintel-portlet">
    <div class="portlet box blue ">
        <div class="portlet-title">
            <div class="caption">
                Smsintel
            </div>
        </div>
        <div class="portlet-body form">
            <form method="post" action="@Url.Action("IntegrationSmsintel")" role="form">
                @Html.HiddenFor(m => m.Url)
                @Html.HiddenFor(m => m.Id)
                <div class="form-body">
                    <div class="form-group has-success">
                        <label class="control-label">Логин</label>
                        @Html.EditorFor(_ => _.Smsintel.UserLogin, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group has-success">
                        <label class="control-label">Пароль</label>
                        @Html.EditorFor(_ => _.Smsintel.UserPassword, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group has-success">
                        <label class="control-label">Телефон</label>
                        @Html.EditorFor(_ => _.Smsintel.GroupId, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-actions">
                    <button type="button" class="btn default btn-tile-close">Отмена</button>
                    <button type="submit" class="btn red">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="portlet light bordered">
    <div class="form-horizontal">
        <form method="post" action="@Url.Action("IntegrationBool")" role="form">
            @Html.HiddenFor(m=>m.Url)
            @Html.HiddenFor(m => m.Id)
            <div class="form-group form-group-nobottom">
                <div class="col-md-12">
                    <label>Использовать совместно:</label>                   
                    <br />
                    <div class="mt-checkbox-list">
                        <label class="mt-checkbox mt-checkbox-outline">                            
                            @Html.CheckBoxFor(m=>m.IsAmocrm) AmoCrm
                            <span></span>
                        </label>
                        <label class="mt-checkbox mt-checkbox-outline">
                            @Html.CheckBoxFor(m => m.IsSendpulse) Sendpulse
                            <span></span>
                        </label>                       
                        <label class="mt-checkbox mt-checkbox-outline">
                            @Html.CheckBoxFor(m => m.IsMailchimp) MailChimp
                            <span></span>
                        </label>
                        <label class="mt-checkbox mt-checkbox-outline">
                            @Html.CheckBoxFor(m => m.IsSmsintel) SmsIntel
                            <span></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn red">Сохранить</button>
            </div>
        </form>
    </div>
    <br />
    <div class="portlet box red">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-question-circle"></i> Справка
            </div>
            <div class="tools">
                <a href="javascript:;" class="expand" data-original-title="" title=""> </a>
            </div>
        </div>
        <div class="portlet-body portlet-collapsed">
            Данная опция позволяет при нажатии на кнопку формы, отправлять данные на несколько сервисов интеграции одновременно (у которых проставлена галочка в настройке).
            <br />
            Учитывая специфику некоторых сервисов, рекомендуется использовать одинаковые названия полей при отправке формы на несколько сервисов интеграции. Например, при использовании сервиса mailchimp, в нём используются только английские названия полей, поэтому и в других системах нужно использовать английские названия.
            <br />
            Ниже приведён пример использования одинаковых полей в <b>mailchimp</b> и <b>sendpulse</b>.
            <img class="img-responsive" src="~/Content/images/helpallintegration.png" />
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {

        $('.tile.image').click(function (e) {            
            hideAll();
            var idBlock = $(e.target).closest('.tile').attr('id');           
            var nameBlock = idBlock + '-portlet';
            showPortlet(nameBlock);
        });

        $('.btn-tile-close').click(function (e) {
            $(e.target).closest('.portlet.light').css('display', 'none');
        });

        function hideAll()
        {
            $('.portlet-form').css('display', 'none');
        }
        function showPortlet(name)
        {
            $('.' + name).css('display', 'block');
        }

    });
</script>