﻿@model WebSite.Areas.Cabinet.Models.LandingSettingsViewModel
@{
    ViewBag.Title = "MailSettings";
    Layout = "~/Areas/Cabinet/Views/Shared/_LayoutSettingPanel.cshtml";
}

<div class="row">
    <div class="col-lg-12 col-xs-12 col-sm-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject bold uppercase font-dark">Настройки уведомлений</span>                    
                </div>
                <div class="actions">                    
                    <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#" data-original-title="" title="на полный экран"> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <form role="form" method="post">
                    <div class="form-body">
                        <input type="hidden" name="LandingId" value="@Model.Id" />
                        <input type="hidden" name="Url" value="@ViewBag.LandingUrl" />                       
                        <div class="form-group">
                            <label>Адрес электронной почты</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-envelope"></i>
                                </span>
                                <input type="text" class="form-control" name="Email" value="@Model.Email" placeholder="email">
                            </div>
                        </div>                        
                    </div>
                    <div class="form-actions right1">                        
                        <button type="submit" class="btn red">Сохранить</button>
                    </div>                   
                </form>
            </div>
        </div>
    </div>    
</div>

<div class="row">
    <div class="col-lg-12 col-xs-12 col-sm-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject bold uppercase font-dark">Уведомления</span>
                </div>
                <div class="actions">
                    <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#" data-original-title="" title="на полный экран"> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-group">                    
                    <div class="mt-checkbox-list">
                        <label class="mt-checkbox mt-checkbox-outline">
                            Уведомлять о отправленных формах
                            @Html.CheckBoxFor(_=>_.IsNotify, new { @class = "chkNotify" })                            
                            <span></span>
                        </label>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('.chkNotify').change(function (e) {
        if ($(e.target).prop('checked')) {
            $.post('@Url.Action("UpdateNotify","Settings")', { value: true }, function () { });
        }
        else {
            $.post('@Url.Action("UpdateNotify","Settings")', { value: false }, function () { });
        }
    });
</script>

