﻿@model WebSite.Areas.Cabinet.Models.LandingSettingsViewModel
@{
    ViewBag.Title = "Общие настройки";
    Layout = "~/Areas/Cabinet/Views/Shared/_LayoutSettingPanel.cshtml";
}

<div class="row">
    <div class="col-lg-12 col-xs-12 col-sm-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject bold uppercase font-dark">Общие настройки</span>
                </div>
                <div class="actions">
                    <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#" data-original-title="" title="на полный экран"> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <form role="form">
                    <div class="form-body">
                        <div class="form-group">
                            <label>Адрес электронной почты</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-envelope"></i>
                                </span>
                                <input type="text" class="form-control" name="Email" readonly value="@Model.Email" placeholder="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Телефон</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-envelope"></i>
                                </span>
                                <input type="text" class="form-control" name="Phone" readonly value="@Model.Phone" placeholder="телефон">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

