﻿@using WebSite.Areas.Admin.Framework.HtmlHelpers
@using WebSite.Areas.Admin.Models.Content
@model WebSite.Areas.Admin.Models.Content.PageListViewModel
@{
    ViewBag.Title = "Список страниц";
}
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3>
                    <i class="icon-file-alt"></i>
                    Статические страницы
                </h3>
                <div class="actions">
                    <a href="@Url.Action("Add")" class="btn" title="Добавить страницу"><i class="icon-plus-sign"></i>&nbsp;Добавить страницу</a>
                </div>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>Название</th>
                            <th>Ссылка</th>
                            <th class='hidden-1024'>Создана</th>
                            <th class='hidden-1024'>Обновлена</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Pages)
                        {
                            <tr>
                                <td>@LH.GLSS(item.Name)</td>
                                <td>@item.StringKey</td>
                                <td class='hidden-1024'>@item.Created.ToShortDateString()</td>
                                <td class='hidden-1024'>@(item.Updated.HasValue ? item.Updated.Value.ToShortDateString() : "не обновлялась")</td>
                                <td><a href="@Url.Action("Edit", new {id = item.Id})" class="btn btn-small btn-primary" title="Редактировать" rel="tooltip" data-placement="bottom"><i class="icon-edit"></i></a>
                                    <a href="@Url.Action("Delete", new {id = item.Id})" class="btn btn-small btn-danger" title="Удалить" rel="tooltip" data-placement="bottom"><i class="icon-trash"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3>
                    <i class="icon-copy"></i>
                    Страницы разделов
                </h3>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>Название</th>
                            <th>Ссылка</th>
                            <th class='hidden-1024'>Создана</th>
                            <th class='hidden-1024'>Обновлена</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Sections)
                        {
                            <tr>
                                <td>@LH.GLSS(item.Name)</td>
                                <td>@item.StringKey</td>
                                <td class='hidden-1024'>@item.Created.ToShortDateString()</td>
                                <td class='hidden-1024'>@(item.Updated.HasValue ? item.Updated.Value.ToShortDateString() : "не обновлялась")</td>
                                <td><a href="@Url.Action("Edit", new {id = item.Id})" class="btn btn-small btn-primary" title="Редактировать" rel="tooltip" data-placement="bottom"><i class="icon-edit"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>