﻿@model WebSite.Areas.Admin.Models.Content.LocalizationViewModel
@{
    ViewBag.Title = "Добавление локализации";
}

<div class="row-fluid">
    <div class="span12">
        <div class="box box-bordered">
            <div class="box-title">
                <h3><i class="icon-file-alt"></i>Добавление локализации</h3>
            </div>
            <div class="box-content nopadding">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-vertical form-bordered form-striped form-validate"}))
                {
                    @Html.EditorFor(_ => _.StringKey, "SimpleInput")
                    @Html.EditorFor(_ => _.Name, "LocalizedContent")
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                        <a href="@Url.Action("Index")" class="btn">Отменить</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

