﻿@using WebSite.Areas.Admin.Framework.HtmlHelpers
@using WebSite.Framework
@model List<WebSite.Areas.Admin.Models.Content.LocalizationViewModel>

@{
    ViewBag.Title = "Локализация";
    }

<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3>
                    <i class="icon-file-alt"></i>
                    Локализация
                </h3>
                <div class="actions">
                    <a href="@Url.Action("Add")" class="btn" title="Добавить товар"><i class="icon-plus-sign"></i>&nbsp;Добавить</a>
                </div>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>Ключ</th>
                            <th style="width: 300px;">Значение(ru)</th>
                            <th style="width:300px;">Значение(en)</th>
                            <th style="width:60px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="descr_hidden">
                                <td>@item.StringKey</td>
                                <td>@Html.Raw(LH.GLSS(item.Name))</td>
                                <td>@Html.Raw(LH.GLSS(item.Name, "en"))</td>
                                <td>
                                    <a href="@Url.Action("Edit", new {id = item.LocalizationId})" class="btn btn-small btn-primary" title="Редактировать" rel="tooltip" data-placement="bottom"><i class="icon-edit"></i></a>
                                    @*<a href="@Url.Action("Delete", new { id = item.LocalizationId })" class="btn btn-small btn-danger" title="Удалить" rel="tooltip" data-placement="bottom"><i class="icon-trash"></i></a>*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

