﻿@model string

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h2 class="pull-left">@Model</h2>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->