﻿<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/Areas/Cabinet/assets/favicon.ico">
    <!-- CSS Global Compulsory -->
    <link href="~/Areas/Cabinet/assets/plugins/bootstrap-3.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Areas/Cabinet/assets/unify/css/style.css" rel="stylesheet" />
    <!-- CSS Implementing Plugins -->
    <link href="~/Areas/Cabinet/assets/plugins/line-icons/line-icons.css" rel="stylesheet" />
    <link href="~/Areas/Cabinet/assets/plugins/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    <!-- CSS Page Style -->
    <link href="~/Areas/Cabinet/assets/unify/css/pages/page_log_reg_v1.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
    <!-- CSS Customization -->
    <link href="~/Areas/Cabinet/assets/unify/css/custom.css" rel="stylesheet" />
    <script src="~/Areas/Cabinet/lib/js/jquery-2.2.3.js"></script>
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        function openWindowAddLanding(url) {
            if (url != '' && url != undefined) {
                $('#create_landing_button').attr('onclick', 'create("'+url+'")');
            }
            $('#background_modal').css('top', '0px');
            $('#background_modal').css('left', '0px');
            $('#background_modal').width($(window).width());
            $('#background_modal').height($(window).height());
            var top = ($(window).height() - $('#create_landing').height()) / 2;
            var left = ($(window).width() - $('#create_landing').width()) / 2;
            $('#create_landing').css('left', left);
            $('#create_landing').animate({ top: top }, 200);
        }
        function create(urlTemplate) {            
            //console.log('создаем новый лендинг');
            if ($('#website_url').val() != '' && $('#website_name').val() != '') {
                //$('#create').click();
                //$('#website_info').attr('rel', $('#website_url').val());
                //$('#website_info').attr('title', $('#website_name').val());
                var curentUrl = window.location.href;
                var newUrl = '';
                var arrayUrl = curentUrl.split('/');
                var i = 0;
                while (arrayUrl[i] != 'Cabinet') {
                    newUrl = newUrl + arrayUrl[i] + '/';
                    i++;
                }
                $.ajax({
                    url: "/Cabinet/Home/LandingIsExist",
                    data: {
                        url: $('#website_url').val()
                    },
                    async: true,
                    success: function (data) {
                        console.log('"' + data + '"');
                        $('#landing_error').text('- сайт с такой ссылкой уже существует');
                        if (data == "True") {
                            $("#landing_error").animate({
                                opacity: 1
                            }, 200, function () {
                                $("#landing_error").animate({
                                    opacity: 0
                                }, 200, function () {
                                    $("#landing_error").animate({
                                        opacity: 1
                                    }, 200, function () {
                                        $("#landing_error").animate({
                                            opacity: 0
                                        }, 200, function () {
                                            $("#landing_error").animate({
                                                opacity: 1
                                            }, 200, function () {
                                                $("#landing_error").animate({
                                                    opacity: 0
                                                }, 5000);
                                            });
                                        });
                                    });
                                });
                            });
                        } else {
                            $('#background_modal').attr('style', 'top: -2px; left: -2px; width: 1px; height: 1px;');
                            $('#create_landing').animate({ top: '-1000' }, 200);
                            newUrl = newUrl + 'Cabinet/Editor?url=' + $('#website_url').val() + '&name=' + $('#website_name').val();
                            if (urlTemplate != "" && urlTemplate != undefined) {
                                newUrl = newUrl + '&template=' + urlTemplate;
                            }
                            location.href = newUrl;
                        }
                    },
                    error: function (data) {
                        //alert('Все плохо');
                    },
                    type: "POST"
                });

            } else {
                $("#attention_website_url").css('top', $('#website_url').position().top);
                if ($('#website_url').val() == '') {
                    $('#landing_error').text('- ссылка не может быть пустой');
                    $("#attention_website_url").animate({
                        opacity: 1
                    }, 200, function () {
                        $("#attention_website_url").animate({
                            opacity: 0
                        }, 200, function () {
                            $("#attention_website_url").animate({
                                opacity: 1
                            }, 200, function () {
                                $("#attention_website_url").animate({
                                    opacity: 0
                                }, 200, function () {
                                    $("#attention_website_url").animate({
                                        opacity: 1
                                    }, 200, function () {
                                        $("#attention_website_url").animate({
                                            opacity: 0
                                        }, 2500);
                                    });
                                });
                            });
                        });
                    });
                }
                $("#attention_website_name").css('top', $('#website_name').position().top);
                if ($('#website_name').val() == '') {
                    $('#landing_error').text('- название не может быть пустым');
                    $("#attention_website_name").animate({
                        opacity: 1
                    }, 200, function () {
                        $("#attention_website_name").animate({
                            opacity: 0
                        }, 200, function () {
                            $("#attention_website_name").animate({
                                opacity: 1
                            }, 200, function () {
                                $("#attention_website_name").animate({
                                    opacity: 0
                                }, 200, function () {
                                    $("#attention_website_name").animate({
                                        opacity: 1
                                    }, 200, function () {
                                        $("#attention_website_name").animate({
                                            opacity: 0
                                        }, 2500);
                                    });
                                });
                            });
                        });
                    });
                }
                if ($('#website_url').val() == '' && $('#website_name').val() == '') {
                    $('#landing_error').text('- ссылка и название не могут быть пустыми');
                }
                $("#landing_error").animate({
                    opacity: 1
                }, 200, function () {
                    $("#landing_error").animate({
                        opacity: 0
                    }, 200, function () {
                        $("#landing_error").animate({
                            opacity: 1
                        }, 200, function () {
                            $("#landing_error").animate({
                                opacity: 0
                            }, 200, function () {
                                $("#landing_error").animate({
                                    opacity: 1
                                }, 200, function () {
                                    $("#landing_error").animate({
                                        opacity: 0
                                    }, 5000);
                                });
                            });
                        });
                    });
                });
            }
        }
        function closeWindow() {
            $('#background_modal').css('top', '-2px');
            $('#background_modal').css('left', '-2px');
            $('#background_modal').width(1);
            $('#background_modal').height(1);
            $('#website_url').val('');
            $('#website_name').val('');
            $('#create_landing').animate({ top: '-1000px' }, 200);
        }
        $(function () {
            $("#website_url").keypress(function (key) {
                if ((key.charCode < 48 || key.charCode > 57)&&(key.charCode < 97 || key.charCode > 122) && (key.charCode < 65 || key.charCode > 90) && (key.charCode != 45)) return false;
            });

            $("#website_url").keypress(function (key) {
                if ((key.charCode < 48 || key.charCode > 57) && (key.charCode < 97 || key.charCode > 122) && (key.charCode < 65 || key.charCode > 90) && (key.charCode != 45)) return false;
            });
            
            $(window).resize(function () {
                if ($('#background_modal').width() > 10) {
                    $('#background_modal').width($(window).width());
                    $('#background_modal').height($(window).height());
                }                
                //var top = ($(window).height() - $('#create_landing').height()) / 2;
                //var left = ($(window).width() - $('#create_landing').width()) / 2;
                //$('#create_landing').css('left', left);
                //$('#create_landing').animate({ top: top }, 200);
            });
        });
    </script>
    <style>
        #create_landing {
            width: 400px;
            height: 250px;
            position: fixed;
            z-index: 1020 !important;
            top: -1000px;
            font-size: 18px;
        }

            #create_landing .content_win {
                width: 100%;
                height: 75%;
                background: white;
                padding: 15px;
                margin: 0 auto;
                text-align: center;
            }

            #create_landing .modal_button {
                width: 50%;
                height: 50px;
                float: left;
                background: #72c02c;
                color: white;
                font-size: 18px;
                text-align: center;
                line-height: 3;
            }

                #create_landing .modal_button:hover {
                    background: #5fb611;
                    cursor: pointer;
                }

        #background_modal {
            position: fixed;
            top: -5px;
            left: 0px;
            width: 1px;
            height: 1px;
            background: rgba(0, 0, 0, 0.5);
            z-index: 1009;
        }

        #attention_website_name, #attention_website_url {
            position: absolute;
            right: 40px;
            top: 26px;
            width: 26px;
            opacity: 0;
        }

        .modal_button {
            width: 50%;
            height: 25%;
            float: left;
            background: #72c02c;
            color: white;
            font-size: 18px;
            text-align: center;
            line-height: 3;
        }

        #landing_error {
            font-size: 12px;
            color: red;
            opacity: 0;
        }
    </style>
</head>
<body>
    <div id="create_landing">
        <div class="content_win">
            <label>
                Ссылка на сайт:<br />
                <input id="website_url" value="" placeholder="Ссылка на сайт" />
                <img id="attention_website_url" src="~/Areas/Cabinet/Content/images/alert.png" />
            </label>
            <label>
                Название:<br />
                <input id="website_name" value="" placeholder="Название" />
                <img id="attention_website_name" src="~/Areas/Cabinet/Content/images/alert.png" />
            </label>
            <label>
                <span id="landing_error">- сайт с такой ссылкой уже существует</span>
            </label>
        </div>
        <div class="modal_button" id="create_landing_button" onclick="create()">Создать</div>
        <div class="modal_button" onclick="closeWindow()">Отмена</div>
    </div>
    <div id="background_modal"></div>
    <div class="wrapper">
        @Html.Partial("_Navbar")

        @RenderSection("Breadcrumbs", required: false)

        @RenderBody()

        @Html.Partial("_Footer")

        @RenderSection("ttt", required: false)
    </div>

    @Scripts.Render("~/bundles/js")
    @RenderSection("Scripts", required: false)
</body>
</html>
