﻿
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />
    <title>Настройки</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Cabinet/Content/Metronic/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Cabinet/Content/Metronic/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Cabinet/Content/Metronic/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />   
    <link href="~/Areas/Cabinet/Content/Metronic/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Cabinet/Content/Metronic/assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Cabinet/Content/Metronic/assets/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/Areas/Cabinet/Content/Metronic/assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Cabinet/Content/Metronic/assets/global/css/components.min.css" rel="stylesheet" type="text/css" />

    <style>
        .portlet.light>.portlet-title {            
            min-height: 30px!important;
        }
        .portlet.light>.portlet-title>.caption {            
            padding: 0!important; 
        }
        .portlet {        
            margin-bottom: 15px!important;        
        }
        .portlet.light {
            padding: 8px 18px 8px!important;            
        }
        .mt-checkbox-list, .mt-radio-list {
             padding: 0!important; 
        }
        .form-group-nobottom
        {
            margin-bottom: 0!important;
        }
        .tiles .tile {           
            height: 110px!important;            
        }
    </style>

    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="~/favicon.ico" />
    <script src="~/Areas/Cabinet/Content/Metronic/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
</head>
<body class="page-header-fixed page-quick-sidebar-over-content page-sidebar-closed-hide-logo page-container-bg-solid">
    <!-- BEGIN HEADER -->
    <div class="page-header -i navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="@Url.Action("Index","Home")">
                    <img src="~/Areas/Cabinet/assets/img/logo-white.png" alt="logo" class="logo-default" />
                </a>
                <div class="menu-toggler sidebar-toggler">
                </div>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            </a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">

                    <!-- END TODO DROPDOWN -->
                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="dropdown dropdown-quick-sidebar-toggler">
                        <a href="@Url.Action("Index","Editor", new { url = ViewBag.LandingUrl })" target="_blank" class="dropdown-toggle">
                            <i class="icon-eye" title="Перейти в редактор сайта"></i>
                        </a>
                    </li>

                    <li class="dropdown dropdown-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <img alt="" class="img-circle" src="~/Areas/Cabinet/Content/Metronic/assets/admin/layout/img/avatar.png" />
                            <span class="username username-hide-on-mobile">
                                @User.Identity.Name
                            </span>                            
                        </a>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                    <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="dropdown dropdown-quick-sidebar-toggler">
                        <a href="@Url.Action("Index","Home")" title="Вернуться к списку лендингов" class="dropdown-toggle">
                            <i class="icon-logout"></i>
                        </a>
                    </li>
                    <!-- END QUICK SIDEBAR TOGGLER -->
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->
    <div class="clearfix">
    </div>
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper">
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            <div class="page-sidebar navbar-collapse collapse">               
                

                @Html.Action("Menu","Common", new { stringKey = ViewBag.LandingUrl })

                <!-- END SIDEBAR MENU -->
            </div>
        </div>
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <div class="page-content">
                @RenderBody()
            </div>
        </div>
        <!-- END CONTENT -->       
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="page-footer">        
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>   
    <!--[if lt IE 9]>
    <script src="~/Areas/Cabinet/Content/Metronic/assets/global/plugins/respond.min.js"></script>
    <script src="~/Areas/Cabinet/Content/Metronic/assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <script src="~/Areas/Cabinet/Content/Metronic/assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="~/Areas/Cabinet/Content/Metronic/assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/Areas/Cabinet/Content/Metronic/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Areas/Cabinet/Content/Metronic/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>   
    <script src="~/Areas/Cabinet/Content/Metronic/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>   
    <script src="~/Areas/Cabinet/Content/Metronic/assets/global/scripts/metronic.js" type="text/javascript"></script>
    <script src="~/Areas/Cabinet/Content/Metronic/assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
      
    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
jQuery(document).ready(function() {
   Metronic.init(); // init metronic core componets
   Layout.init(); // init layout
});
    </script>
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>