﻿
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Cabinet/Content/Metronic/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Cabinet/Content/Metronic/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Cabinet/Content/Metronic/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />   
    <link href="~/Areas/Cabinet/Content/Metronic/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Cabinet/Content/Metronic/assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Cabinet/Content/Metronic/assets/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/Areas/Cabinet/Content/Metronic/assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Cabinet/Content/Metronic/assets/global/css/components.min.css" rel="stylesheet" type="text/css" />

    <style>
        .portlet.light>.portlet-title {            
            min-height: 30px!important;
        }        
        .portlet {        
            margin-bottom: 15px!important;        
        }       
        .mt-checkbox-list, .mt-radio-list {
             padding: 0!important; 
        }
        .form-group-nobottom
        {
            margin-bottom: 0!important;
        }
        .tiles .tile {           
            height: 110px!important;            
        }
    </style>

    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="~/favicon.ico" />
    <script src="~/Areas/Cabinet/Content/Metronic/assets/global/plugins/jquery.min.js" type="text/javascript"></script>

    <script>
        function openWindowAddLanding(url) {
            if (url != '' && url != undefined) {
                $('#create_landing_button').attr('onclick', 'create("'+url+'")');
            }
            $('#background_modal').css('top', '0px');
            $('#background_modal').css('left', '0px');
            $('#background_modal').width($(window).width());
            $('#background_modal').height($(window).height());
            var top = ($(window).height() - $('#create_landing').height()) / 2;
            var left = ($(window).width() - $('#create_landing').width()) / 2;
            $('#create_landing').css('left', left);
            $('#create_landing').animate({ top: top }, 200);
        }
        function create(urlTemplate) {
            //console.log('создаем новый лендинг');
            if ($('#website_url').val() != '' && $('#website_name').val() != '') {
                //$('#create').click();
                //$('#website_info').attr('rel', $('#website_url').val());
                //$('#website_info').attr('title', $('#website_name').val());
                var curentUrl = window.location.href;
                var newUrl = '';
                var arrayUrl = curentUrl.split('/');
                var i = 0;
                while (arrayUrl[i] != 'Cabinet') {
                    newUrl = newUrl + arrayUrl[i] + '/';
                    i++;
                }
                $.ajax({
                    url: "/Cabinet/Home/LandingIsExist",
                    data: {
                        url: $('#website_url').val()
                    },
                    async: true,
                    success: function (data) {
                        console.log('"' + data + '"');
                        $('#landing_error').text('- сайт с такой ссылкой уже существует');
                        if (data == "True") {
                            $("#landing_error").animate({
                                opacity: 1
                            }, 200, function () {
                                $("#landing_error").animate({
                                    opacity: 0
                                }, 200, function () {
                                    $("#landing_error").animate({
                                        opacity: 1
                                    }, 200, function () {
                                        $("#landing_error").animate({
                                            opacity: 0
                                        }, 200, function () {
                                            $("#landing_error").animate({
                                                opacity: 1
                                            }, 200, function () {
                                                $("#landing_error").animate({
                                                    opacity: 0
                                                }, 5000);
                                            });
                                        });
                                    });
                                });
                            });
                        } else {
                            $('#background_modal').attr('style', 'top: -2px; left: -2px; width: 1px; height: 1px;');
                            $('#create_landing').animate({ top: '-1000' }, 200);
                            newUrl = newUrl + 'Cabinet/Editor?url=' + $('#website_url').val() + '&name=' + $('#website_name').val();
                            if (urlTemplate != "" && urlTemplate != undefined) {
                                newUrl = newUrl + '&template=' + urlTemplate;
                            }
                            location.href = newUrl;
                        }
                    },
                    error: function (data) {
                        //alert('Все плохо');
                    },
                    type: "POST"
                });

            } else {
                $("#attention_website_url").css('top', $('#website_url').position().top);
                if ($('#website_url').val() == '') {
                    $('#landing_error').text('- ссылка не может быть пустой');
                    $("#attention_website_url").animate({
                        opacity: 1
                    }, 200, function () {
                        $("#attention_website_url").animate({
                            opacity: 0
                        }, 200, function () {
                            $("#attention_website_url").animate({
                                opacity: 1
                            }, 200, function () {
                                $("#attention_website_url").animate({
                                    opacity: 0
                                }, 200, function () {
                                    $("#attention_website_url").animate({
                                        opacity: 1
                                    }, 200, function () {
                                        $("#attention_website_url").animate({
                                            opacity: 0
                                        }, 2500);
                                    });
                                });
                            });
                        });
                    });
                }
                $("#attention_website_name").css('top', $('#website_name').position().top);
                if ($('#website_name').val() == '') {
                    $('#landing_error').text('- название не может быть пустым');
                    $("#attention_website_name").animate({
                        opacity: 1
                    }, 200, function () {
                        $("#attention_website_name").animate({
                            opacity: 0
                        }, 200, function () {
                            $("#attention_website_name").animate({
                                opacity: 1
                            }, 200, function () {
                                $("#attention_website_name").animate({
                                    opacity: 0
                                }, 200, function () {
                                    $("#attention_website_name").animate({
                                        opacity: 1
                                    }, 200, function () {
                                        $("#attention_website_name").animate({
                                            opacity: 0
                                        }, 2500);
                                    });
                                });
                            });
                        });
                    });
                }
                if ($('#website_url').val() == '' && $('#website_name').val() == '') {
                    $('#landing_error').text('- ссылка и название не могут быть пустыми');
                }
                $("#landing_error").animate({
                    opacity: 1
                }, 200, function () {
                    $("#landing_error").animate({
                        opacity: 0
                    }, 200, function () {
                        $("#landing_error").animate({
                            opacity: 1
                        }, 200, function () {
                            $("#landing_error").animate({
                                opacity: 0
                            }, 200, function () {
                                $("#landing_error").animate({
                                    opacity: 1
                                }, 200, function () {
                                    $("#landing_error").animate({
                                        opacity: 0
                                    }, 5000);
                                });
                            });
                        });
                    });
                });
            }
        }
        function closeWindow() {
            $('#background_modal').css('top', '-2px');
            $('#background_modal').css('left', '-2px');
            $('#background_modal').width(1);
            $('#background_modal').height(1);
            $('#website_url').val('');
            $('#website_name').val('');
            $('#create_landing').animate({ top: '-1000px' }, 200);
        }
        $(function () {
            $("#website_url").keypress(function (key) {
                if ((key.charCode < 48 || key.charCode > 57)&&(key.charCode < 97 || key.charCode > 122) && (key.charCode < 65 || key.charCode > 90) && (key.charCode != 45)) return false;
            });

            $("#website_url").keypress(function (key) {
                if ((key.charCode < 48 || key.charCode > 57) && (key.charCode < 97 || key.charCode > 122) && (key.charCode < 65 || key.charCode > 90) && (key.charCode != 45)) return false;
            });

            $(window).resize(function () {
                if ($('#background_modal').width() > 10) {
                    $('#background_modal').width($(window).width());
                    $('#background_modal').height($(window).height());
                }
                //var top = ($(window).height() - $('#create_landing').height()) / 2;
                //var left = ($(window).width() - $('#create_landing').width()) / 2;
                //$('#create_landing').css('left', left);
                //$('#create_landing').animate({ top: top }, 200);
            });
        });
    </script>
    <style>
        #create_landing {
            width: 400px;
            height: 250px;
            position: fixed;
            z-index: 1020 !important;
            top: -1000px;
            font-size: 18px;
        }

            #create_landing .content_win {
                width: 100%;
                height: 75%;
                background: white;
                padding: 15px;
                margin: 0 auto;
                text-align: center;
            }

            #create_landing .modal_button {
                width: 50%;
                height: 50px;
                float: left;
                background: #72c02c;
                color: white;
                font-size: 18px;
                text-align: center;
                line-height: 3;
            }

                #create_landing .modal_button:hover {
                    background: #5fb611;
                    cursor: pointer;
                }

        #background_modal {
            position: fixed;
            top: -5px;
            left: 0px;
            width: 1px;
            height: 1px;
            background: rgba(0, 0, 0, 0.7);
            z-index: 1009;
        }

        #attention_website_name, #attention_website_url {
            position: absolute;
            right: 40px;
            top: 26px;
            width: 26px;
            opacity: 0;
        }

        .modal_button {
            width: 50%;
            height: 25%;
            float: left;
            background: #72c02c;
            color: white;
            font-size: 18px;
            text-align: center;
            line-height: 3;
        }

        #landing_error {
            font-size: 12px;
            color: red;
            opacity: 0;
        }

        #del_modal {
            width: 400px;
            height: 150px;
            z-index: 1020 !important;
            position: fixed;
            top: -400px;
        }
        .dial_content {
        background: rgba(140, 212, 243, 0.8);
        width: 100%;
        height: 100px;
        text-align: center;
        padding-top: 40px;
        font-size: 17px;
    }
        .button {
    position: relative;
    float: right;
    height: 50px;
    width: 200px;
    text-align: center;
    font-size: 20px;
    line-height: 2.5;
    color: #333;
    cursor: pointer;
    background: white;
}
        #background_gray {
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.7);
}
        .row-divider
        {
            height: 12px;
        }
        .widget-text textarea
        {
            width: 100%!important;
        }
        .widget-text label
        {
            display: block;
        }
        .ready-param, .active-param
        {
            padding-left: 15px;
        }
        .ace_editor.ace-twilight, .form-group.widget-text
        {
            width: 100%!important;
        }
        .ace-twilight .ace_print-margin
        {
            width: 0px!important;
        }
        .ace_scrollbar
        {
            overflow-y: auto!important;
        }
    </style>

</head>
<body class="page-header-fixed page-quick-sidebar-over-content page-sidebar-closed-hide-logo page-container-bg-solid">
    <!-- BEGIN HEADER -->
    <div id="create_landing">
        <div class="content_win">
            <label>
                Ссылка на сайт:<br />
                <input id="website_url" value="" placeholder="Ссылка на сайт" />
                <img id="attention_website_url" src="~/Areas/Cabinet/Content/images/alert.png" />
            </label>
            <label>
                Название:<br />
                <input id="website_name" value="" placeholder="Название" />
                <img id="attention_website_name" src="~/Areas/Cabinet/Content/images/alert.png" />
            </label>
            <label>
                <span id="landing_error">- сайт с такой ссылкой уже существует</span>
            </label>
        </div>
        <div class="modal_button" id="create_landing_button" onclick="create()">Создать</div>
        <div class="modal_button" onclick="closeWindow()">Отмена</div>
    </div>
    <div id="background_modal"></div>
    <div class="page-header -i navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="@Url.Action("Index","Home")">
                    <img src="~/Areas/Cabinet/assets/img/logo-white.png" alt="logo" class="logo-default" />
                </a>
                <div class="menu-toggler sidebar-toggler">
                </div>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            </a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">

                    <li class="dropdown dropdown-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <img alt="" class="img-circle" src="~/Areas/Cabinet/Content/Metronic/assets/admin/layout/img/avatar.png" />
                            <span class="username username-hide-on-mobile">
                                @User.Identity.Name
                            </span>                            
                        </a>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                    <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="dropdown dropdown-quick-sidebar-toggler">
                        <a href="@Url.Action("Index","Home", new { area = "" })" title="Выйти" class="dropdown-toggle">
                            <i class="icon-logout"></i>
                        </a>
                    </li>
                    <!-- END QUICK SIDEBAR TOGGLER -->
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->
    <div class="clearfix">
    </div>
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper">
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            <div class="page-sidebar navbar-collapse collapse">               
                
                <ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                   
                    <li class="nav-item">
                        <a href="/Cabinet/Home">
                            <i class="icon-home"></i>
                            <span class="title">Главная</span>                            
                        </a>                        
                    </li>
                    <li>
                        <a onclick="openWindowAddLanding('')">
                            <i class="icon-plus"></i>
                            <span class="title">Создать лендинг</span> 
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Cabinet/Home">
                            <i class="fa fa-user" aria-hidden="true" style="color: #b4bcc8;"></i>
                            <span class="title">Аккаунт</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Cabinet/Home">
                            <i class="fa fa-money" aria-hidden="true" style="color: #b4bcc8;"></i>
                            <span class="title">Тарифы</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Cabinet/Widget">
                            <i class="fa fa-gears" aria-hidden="true" style="color: #b4bcc8;"></i>
                            <span class="title">Виджеты</span>
                        </a>
                    </li>
                </ul>

                <!-- END SIDEBAR MENU -->
            </div>
        </div>
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <div class="page-content">
                @RenderBody()
            </div>
        </div>
        <!-- END CONTENT -->       
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="page-footer">        
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>   
    <!--[if lt IE 9]>
    <script src="~/Areas/Cabinet/Content/Metronic/assets/global/plugins/respond.min.js"></script>
    <script src="~/Areas/Cabinet/Content/Metronic/assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <script src="~/Areas/Cabinet/Content/Metronic/assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="~/Areas/Cabinet/Content/Metronic/assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/Areas/Cabinet/Content/Metronic/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Areas/Cabinet/Content/Metronic/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>   
    <script src="~/Areas/Cabinet/Content/Metronic/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>   
    <script src="~/Areas/Cabinet/Content/Metronic/assets/global/scripts/metronic.js" type="text/javascript"></script>
    <script src="~/Areas/Cabinet/Content/Metronic/assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
      
    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
jQuery(document).ready(function() {
   Metronic.init(); // init metronic core componets
   Layout.init(); // init layout
});
    </script>
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>