﻿<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="@Url.Action("Index", "Home", new {Area=""})" class="navbar-brand">
                <img src="/Areas/Cabinet/assets/img/logo-white.png" alt="Logo" class="img-responsive" />
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                @if (Request.IsAuthenticated)
                {
                    @*<li @Html.MakeActiveClass("Index")>*@
                    <li>
                        <a href="@Url.Action("Index", "Home", new {Area = "Cabinet"})"><span class="glyphicon glyphicon-th-list"></span> Лендинги</a>
                    </li>
                    @*<li @Html.MakeActiveClass("Account")>*@
                    <li>
                        <a href="@Url.Action("Account", "Home", new {Area = "Cabinet"})"><span class="glyphicon glyphicon-user"></span> Профиль</a>
                    </li>
                    @*<li @Html.MakeActiveClass("Partners")>
                            <a href="@Url.Action("Partners", "Home",  new { Area = "Cabinet" })"><span class="glyphicon glyphicon-star"></span> Партнёрка</a>
                        </li>*@
                    @*<li @Html.MakeActiveClass("Tariffs")>*@
                    <li>
                        <a href="@Url.Action("Tariffs", "Home", new {Area = "Cabinet"})"><span class="glyphicon glyphicon-shopping-cart"></span> Тарифы</a>
                    </li>

                    <li class="pull-right">
                        @Html.ActionLink("Выход", "LogOff", "Account")
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
