@import url(font-awesome.min.css);
@import url(../../../fonts.googleapis.com/css@family=Lato_3A400,300italic,400italic,700,700italic,900_7CMerriweather_3A400,900italic,900,700italic,700,400italic);
@import url(../../../fonts.googleapis.com/css@family=Roboto);
/*========================================================
                        Camera
=========================================================*/
.camera_container {
  position: relative;
  padding-bottom: 29.26829268%;
}
@media (max-width: 1195.83333333px) {
  .camera_container {
    padding-bottom: 350px;
  }
}
.camera_wrap {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  margin-bottom: 0 !important;
  height: 100%;
  background: #fff;
  z-index: 0;
}
.camera_wrap img {
  max-width: none !important;
}
.camera_fakehover {
  height: 100%;
  min-height: 60px;
  position: relative;
  width: 100%;
}
.camera_src {
  display: none;
}
.cameraCont,
.cameraContents {
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1;
}
.cameraSlide {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.cameraContent {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
}
.camera_target {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  text-align: left;
  z-index: 0;
}
.camera_overlayer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 0;
}
.camera_target_content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 2;
}
.camera_loader {
  background: #ffffff url(../images/camera-loader.gif) no-repeat center;
  border: 1px solid #ffffff;
  border-radius: 18px;
  height: 36px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  margin: -18px 0 0 -18px;
  top: 50%;
  width: 36px;
  z-index: 3;
}
.camera_nav_cont {
  height: 65px;
  overflow: hidden;
  position: absolute;
  right: 9px;
  top: 15px;
  width: 120px;
  z-index: 4;
}
.camerarelative {
  overflow: hidden;
  position: relative;
}
.imgFake {
  cursor: pointer;
}
.camera_command_wrap .hideNav {
  display: none;
}
.camera_command_wrap {
  left: 0;
  position: relative;
  right: 0;
  z-index: 4;
}
.showIt {
  display: none;
}
.camera_clear {
  clear: both;
  display: block;
  height: 1px;
  margin: -1px 0 25px;
  position: relative;
}
.camera_caption {
  display: none;
  left: 20%;
  right: 20%;
  top: 33%;
  bottom: 15%;
}
@media (max-width: 767px) {
  .camera_caption {
    top: 13%;
  }
}
.cameraContent .camera_caption {
  display: block;
}
/*================   Custom Layout&Styles   =====================*/
.camera_caption {
  position: absolute;
}
.camera_caption > div {
  height: 100%;
}
.camera_nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -33px;
}
@media (max-width: 767px) {
  .camera_nav {
    display: none;
  }
}
.camera_next:before,
.camera_prev:before {
  position: absolute;
  font-family: 'FontAwesome';
  font-size: 65px;
  color: #ffffff;
  opacity: 0.39;
  filter: alpha(opacity=39);
  z-index: 10;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: inline-block;
  width: 68px;
  height: 68px;
  line-height: 68px;
  background: rgba(255, 255, 255, 0.11);
  text-align: center;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.lt-ie9 .camera_next:before,
.lt-ie9 .camera_prev:before {
  filter: alpha(opacity=39);
}
.lt-ie9 .camera_next:before,
.lt-ie9 .camera_prev:before {
  background: none;
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff');
  zoom: 1;
}
.camera_next:before {
  content: '\f105';
  right: 32px;
}
.camera_prev:before {
  left: 32px;
  content: '\f104';
}
.camera_next:hover:before,
.camera_prev:hover:before {
  opacity: 0.54;
  filter: alpha(opacity=54);
}
.lt-ie9 .camera_next:hover:before,
.lt-ie9 .camera_prev:hover:before {
  filter: alpha(opacity=54);
}
