.version.index {
    color: #0000E2;
    background-color: #579AED;
}

#page {
    z-index: 1;
    min-height: 250px;
    background-image: none;
    border-width: 0px;
    border-color: #000000;
    background-color: transparent;
    padding-top: 166px;
    padding-bottom: 84px;
    width: 100%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#u94 {
    z-index: 2;
    width: 400px;
    min-height: 250px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    margin-left: 139px;
    position: relative;
}

.css_verticalspacer .verticalspacer {
    height: calc(100vh - 500px);
}

#muse_css_mq, .html {
    background-color: #FFFFFF;
}

body {
    position: relative;
    min-width: 320px;
}
