html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    font-family: 'Arial','sans-serif';
    line-height: 1.2;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

b, strong {
    font-weight: bold;
}

i, em {
    font-style: italic;
}

img {
    height: auto;
}

#landingi-grid {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
    display: none;
}

    #landingi-grid.in {
        display: block;
    }

.landingi-container {
    margin: 0 auto;
    width: 320px;
    height: 100%;
}

.landingi-grid-row {
    height: 100%;
}

.landingi-grid {
    background: rgba(1,174,240,0.09);
    border: 1px solid rgba(1,174,240,0.2);
    border-top: 0;
    border-bottom: 0;
    width: 6.382978723404255%;
    height: 100%;
    float: left;
    margin-left: 2.127659574468085%;
    z-index: 100000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    .landingi-grid:first-child {
        margin-left: 0;
    }

@media(min-width:764px) {
    .landingi-container {
        width: 764px;
    }
}

@media(min-width:960px) {
    .landingi-container {
        width: 960px;
    }
}

#landingi-fold-line {
    border-bottom: 1px dashed rgba(1,174,240,0.5);
    height: 1px;
    position: absolute;
    top: 480px;
    left: 0;
    width: 100%;
    pointer-events: none;
    z-index: 100000;
}

    #landingi-fold-line.out {
        border: 0;
    }

    #landingi-fold-line span {
        background: rgba(1,174,240,0.5);
        color: #FFF;
        cursor: pointer;
        display: block;
        font-size: 12px;
        font-family: Tahoma,Arial;
        padding: 4px;
        pointer-events: all;
        position: absolute;
        right: 0;
        top: -19px;
    }

@media(min-width:764px) {
    #landingi-fold-line {
        top: 764px;
    }
}

@media(min-width:960px) {
    #landingi-fold-line {
        top: 640px;
    }
}

#landingi-ruler {
    background: transparent;
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
}

#landingi-ruler-container {
    background: transparent;
    border: 1px dashed #01aef0;
    border-top: 0;
    border-bottom: 0;
    height: 100%;
    margin: 0 auto;
    position: relative;
    pointer-events: none;
}

@media(min-width:960px) {
    #landingi-ruler-container {
        width: 960px;
    }
}

@media only screen and (max-width:979px) {
    #landingi-ruler-container {
        width: 764px;
    }

    .widget-section .container {
        width: 764px !important;
    }
}

@media only screen and (max-width:767px) {
    #landingi-ruler-container {
        width: 320px;
    }

    .widget-section .container {
        width: 320px !important;
    }
}

.widget-overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200000;
}

.counter-overlay {
    margin: auto;
    display: inline-block;
    position: relative;
}

.widget {
    position: absolute;
}

.widget-widget {
    position: relative;
    width: 100%;
}

.widget-section {
    position: relative;
}

    .widget-section .container {
        height: 100%;
        margin: 0 auto;
        position: relative;
        width: 960px;
    }

    .widget-section .empty-widget {
        border: 0;
    }

.widget-image.empty-widget {
    background: #fff url(../images/no-image.jpg) 50% no-repeat !important;
    background-size: cover;
}

.widget-html.empty-widget {
    background: #fff url(../images/empty-html.jpg) 50% no-repeat !important;
    background-size: cover;
}

.widget-social.empty-widget {
    background: #fff url(../images/empty-social.jpg) 50% no-repeat !important;
    background-size: cover;
}

.mock-vkontakte-Like {
    background: url(../images/social/vkontakte/like.png) 0 0 no-repeat;
    width: 49px;
    height: 22px;
}

.widget-video.empty-widget {
    background: #fff url(../images/empty-video.jpg) 50% no-repeat !important;
    background-size: cover;
}

.widget-video iframe {
    width: 100%;
    height: 100%;
}

.widget-input-button {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.editing-widget {
    cursor: pointer;
}

.landingi-widget-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

[contenteditable="true"] {
    cursor: text;
    outline: 0;
}

.ui-selectable-helper {
    background: rgba(1,174,240,0.1);
    border: 1px dotted #01aef0;
    position: absolute;
    z-index: 100;
}

#landingi-workspace {
    padding-bottom: 50px;
}
