.select-tab {
    display: none;
}

    .select-tab.in {
        display: block;
    }

.tab-content {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

.window {
    height: 95%;
}
