﻿@using WebSite.Areas.Admin.Framework.HtmlHelpers
@model WebSite.Areas.Admin.Models.Content.ArticleViewModel
@{
    ViewBag.Title = "Добавление статьи";
}
<div class="row-fluid">
    <div class="span12">
        <div class="box box-bordered">
            <div class="box-title">
                <h3><i class="icon-file-alt"></i>Новая статья</h3>
            </div>
            <div class="box-content nopadding">
                @using (Html.BeginForm(null, null, FormMethod.Post, new {@class = "form-vertical form-bordered form-striped form-validate", enctype = "multipart/form-data" }))
                {
                    @Html.EditorFor(_ => _.IsHidden, "Checkbox")
                    @Html.EditorFor(_ => _.Title, "SimpleInput")
                    @Html.EditorFor(_ => _.StringKey, "SimpleInput")
                    @Html.EditorFor(_ => _.Date, "DateInput")
                    @Html.EditorFor(_ => _.Annonse, "WysiwygTextarea")
                    @Html.EditorFor(_ => _.Description, "WysiwygTextarea")
                    @Html.EditorFor(_ => _.CategoryId, "DropDownList", new {selectList = Model.CategoryAll})
                    @Html.EditorFor(_ => _.MetaTitle, "SimpleInput")
                    @Html.EditorFor(_ => _.MetaKeywords, "SimpleInput")
                    @Html.EditorFor(_ => _.MetaDescription, "SimpleInput")
                    @Html.EditorFor(_ => _.File, "FileInput")
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                        <a href="@Url.Action("Index")" class="btn">Отменить</a>
                    </div>
                }
            </div>

            @Html.TranslitBind(_ => _.Title, _ => _.StringKey, HtmlTranslitBindingExstension.TranslitType.Translit)
            @Html.TranslitBind(_ => _.Title, _ => _.MetaTitle, HtmlTranslitBindingExstension.TranslitType.Original)
        </div>
    </div>
</div>