﻿@model WebSite.Areas.Admin.Models.Content.CompanyNameViewModel
@{
    ViewBag.Title = "Редактируем контактные данные";
}
<div class="row-fluid">
    <div class="span12">
        <div class="box box-bordered">
            <div class="box-title">
                <h3><i class="icon-file-alt"></i>Контактные данные</h3>
            </div>
            <div class="box-content nopadding">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-vertical form-bordered form-striped form-validate" }))
                {
                    //@Html.EditorFor(_ => _.Name, "SimpleInput")
                    @*<div class="editor-label">
                        @Html.LabelFor(model => model.Name)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>*@
                    @Html.EditorFor(_=>_.Name, "LocalizedContent")
                    @Html.EditorFor(_ => _.Address, "LocalizedContent")
                    @Html.EditorFor(_ => _.Tel, "SimpleInput")
                    @Html.EditorFor(_ => _.WorkTel, "SimpleInput")
                    @Html.EditorFor(_ => _.Email, "SimpleInput")
                    @Html.EditorFor(_ => _.WebSite, "SimpleInput")

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>