﻿@model WebSite.Areas.Admin.Models.Common.FooterViewModel
@{
    ViewBag.Title = "Редактируем  надпись в повале";
}
<div class="row-fluid">
    <div class="span12">
        <div class="box box-bordered">
            <div class="box-title">
                <h3><i class="icon-file-alt"></i>Редактируем  надпись в повале</h3>
            </div>
            <div class="box-content nopadding">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-vertical form-bordered form-striped form-validate" }))
                {
                    @Html.EditorFor(_ => _.Content, "LocalizedContent")
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


