﻿<div class="page-header">
    <div class="pull-left">
        <h1>@ViewBag.Title</h1>
    </div>
    <div class="pull-right">
        <ul class="minitiles">
            @*<li class='grey'>
                <a href="#"><i class="icon-cogs"></i></a>
            </li>*@
            <li class='lightgrey'>
                <a href="/" target="_blank"><i class="icon-globe"></i></a>
            </li>
        </ul>
        <ul class="stats">
            <li class='lightred'>
                <i class="icon-calendar"></i>
                <div class="details">
                    <span class="big">@string.Format("{0:MMMM} {0:dd}, {0:yyyy}", ViewBag.Date)</span>
                    <span>@string.Format("{0:dddd}, {0:HH:mm}", ViewBag.Date)</span>
                </div>
            </li>
        </ul>
    </div>
</div>