﻿<div class="subnav">
    <div class="subnav-title">
        <a href="#" class='toggle-subnav'><i class="icon-angle-down"></i><span>Контент</span></a>
    </div>
    <ul class="subnav-menu">
        <li class='dropdown'>
            <a href="#" data-toggle="dropdown">Статьи</a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#">Action #1</a>
                </li>
                <li>
                    <a href="#">Antoher Link</a>
                </li>
                <li class='dropdown-submenu'>
                    <a href="#" data-toggle="dropdown" class='dropdown-toggle'>Go to level 3</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">This is level 3</a>
                        </li>
                        <li>
                            <a href="#">Unlimited levels</a>
                        </li>
                        <li>
                            <a href="#">Easy to use</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Страницы</a>
        </li>
        <li>
            <a href="#">Блоки</a>
        </li>
    </ul>
</div>
<div class="subnav subnav-hidden">
    <div class="subnav-title">
        <a href="#" class='toggle-subnav'><i class="icon-angle-right"></i><span>Default hidden</span></a>
    </div>
    <ul class="subnav-menu">
        <li>
            <a href="#">Menu</a>
        </li>
        <li class='dropdown'>
            <a href="#" data-toggle="dropdown">With submenu</a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#">Action #1</a>
                </li>
                <li>
                    <a href="#">Antoher Link</a>
                </li>
                <li class='dropdown-submenu'>
                    <a href="#" data-toggle="dropdown" class='dropdown-toggle'>More stuff</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">This is level 3</a>
                        </li>
                        <li>
                            <a href="#">Easy to use</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Security settings</a>
        </li>
    </ul>
</div>