﻿@model WebSite.Areas.Admin.Models.Common.SideAdsViewModel
@{
    ViewBag.Title = "Редактируем баннер";
}
<div class="row-fluid">
    <div class="span12">
        <div class="box box-bordered">
            <div class="box-title">
                <h3><i class="icon-file-alt"></i>Баннер</h3>
            </div>
            <div class="box-content nopadding">
                @using (Html.BeginForm(null, null, FormMethod.Post, new {@class = "form-vertical form-bordered form-striped form-validate", enctype = "multipart/form-data"}))
                {
                    @Html.EditorFor(_ => _.IsHidden, "Checkbox")
                    if (!Model.IsHidden)
                    {
                        <div class="control-group">
                            <label class="control-label">Старый баннер</label>
                            <div class="controls">
                                <img src="@Url.Content(Model.ImageUrl)" alt=""/>
                            </div>
                        </div>
                        @Html.EditorFor(_ => _.File, "FileInput")
                    }
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>