﻿@using WebSite.Areas.Admin.Models.Common
@model List<WebSite.Areas.Admin.Models.Common.MenuItemViewModel>
<ul class='main-nav'>
    @foreach (var item in Model)
    {
        string activeClass = null;
        if (item.IsActive)
        {
            activeClass = "active";
        }

        var isUseChilds = false;
        string dropdownToggle = null;
        string dropdown = null;
        if (item.Childs.Count > 0)
        {
            isUseChilds = true;
            dropdownToggle = "dropdown-toggle";
            dropdown = "dropdown";
        }
        <li class="@activeClass">
            @{ var url = string.IsNullOrEmpty(item.Controller) ? "#" : Url.Action(item.Action, item.Controller); }
            <a href="@url" data-toggle="@dropdown" class="@dropdownToggle"><span>@item.Title</span>@if (isUseChilds)
                                                                                                   {
                                                                                                       <span class="caret"></span>
                                                                                                   }</a>
            @if (isUseChilds)
            {
                <ul class="dropdown-menu">
                    @foreach (var child in item.Childs)
                    {
                        string childActiveClass = null;
                        if (child.IsActive)
                        {
                            childActiveClass = "active";
                        }
                        <li class="@childActiveClass">
                            @{ var childUrl = string.IsNullOrEmpty(child.Controller) ? "#" : Url.Action(child.Action, child.Controller); }
                            <a href="@childUrl">@child.Title</a>
                        </li>
                    }
                </ul>
            }
        </li>
    }
</ul>