﻿<div class="user">
    <ul class="icon-nav">
        <li class="dropdown sett">
            <a href="#" class='dropdown-toggle' data-toggle="dropdown"><i class="icon-cog"></i></a>
            <ul class="dropdown-menu pull-right theme-settings">
                <li>
                    <span>Ширина шаблона</span>
                    <div class="version-toggle">
                        <a href="#" class='set-fixed'>Фиксировано</a>
                        <a href="#" class="active set-fluid">По ширине</a>
                    </div>
                </li>
                <li>
                    <span>Верхнее меню</span>
                    <div class="topbar-toggle">
                        <a href="#" class='set-topbar-fixed'>Фиксировано</a>
                        <a href="#" class="active set-topbar-default">По умолчанию</a>
                    </div>
                </li>
                <li>
                    <span>Боковое меню</span>
                    <div class="sidebar-toggle">
                        <a href="#" class='set-sidebar-fixed'>Фиксировано</a>
                        <a href="#" class="active set-sidebar-default">По умолчанию</a>
                    </div>
                </li>
            </ul>
        </li>
        <li class='dropdown colo'>
            <a href="#" class='dropdown-toggle' data-toggle="dropdown"><i class="icon-tint"></i></a>
            <ul class="dropdown-menu pull-right theme-colors">
                <li class="subtitle">Цвет шаблона</li>
                <li>
                    <span class='red'></span>
                    <span class='orange'></span>
                    <span class='green'></span>
                    <span class="brown"></span>
                    <span class="blue"></span>
                    <span class='lime'></span>
                    <span class="teal"></span>
                    <span class="purple"></span>
                    <span class="pink"></span>
                    <span class="magenta"></span>
                    <span class="grey"></span>
                    <span class="darkblue"></span>
                    <span class="lightred"></span>
                    <span class="lightgrey"></span>
                    <span class="satblue"></span>
                    <span class="satgreen"></span>
                </li>
            </ul>
        </li>
    </ul>
    <div class="dropdown">
        <a href="#" class='dropdown-toggle' data-toggle="dropdown">@User.Identity.Name<img src="~/Areas/Admin/Content/img/demo/user-avatar.jpg" alt=""></a>
        <ul class="dropdown-menu pull-right">
            <li>
                <a href="#">Редактироват профиль</a>
            </li>
            <li>
                <a href="#">Настройки аккаунта</a>
            </li>
            <li>
                @Html.ActionLink("Выход", "LogOut", "Account")
            </li>
        </ul>
    </div>
</div>