﻿@model WebSite.Areas.Cabinet.Models.Account.LogInViewModel

@{
    ViewBag.Title = "ClickSale - Личный кабинет";
    Layout = "~/Areas/Cabinet/Views/Shared/_LayoutAccount.cshtml";
}

@using (Html.BeginForm("LogIn", "Account", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form" }))
{

    <h3 class="form-title font-green">Авторизация</h3>    
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">E-mail</label>
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-solid placeholder-no-fix", type = "email", placeholder = "Email" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Password</label>
        @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-solid placeholder-no-fix", autocomplete = "off", placeholder = "Пароль" })
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <div class="form-actions">
        <button type="submit" class="btn green uppercase">Войти</button>
        <label class="rememberme check mt-checkbox mt-checkbox-outline">
            @Html.CheckBoxFor(m => m.RememberMe) Запомнить меня
            <span></span>
        </label>
        <a href="javascript:;" id="forget-password" class="forget-password">Забыли пароль?</a>
    </div>    
    
}