﻿@model WebSite.Areas.Cabinet.Models.Account.RegisterViewModel

@{
    ViewBag.Title = "ClickSale - Регистрация";
    Layout = "~/Areas/Cabinet/Views/Shared/_LayoutAccount.cshtml";
}



    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "login-form" }))
    {
        @Html.AntiForgeryToken()

        <h3 class="form-title font-green">Регистрация</h3>
        <p>Уже зарегистрированы ? @Html.ActionLink("Войдите в ЛК.", "Login")</p>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Имя</label>
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control form-control-solid placeholder-no-fix", placeholder = "Имя" })
            @Html.ValidationMessageFor(m => m.Name)
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Телефон</label>
            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control form-control-solid placeholder-no-fix", autocomplete = "off", placeholder = "Телефон" })
            @Html.ValidationMessageFor(m => m.Phone)
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">E-mail</label>
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-solid placeholder-no-fix", type = "email", placeholder = "Email" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Password</label>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-solid placeholder-no-fix", autocomplete = "off", placeholder = "Пароль" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>

        <div class="form-actions">
            <a href="@Url.Action("Index","Home", new { area = "" })" id="register-back-btn" class="btn green btn-outline">На главную</a>
            <button type="submit" id="register-submit-btn" class="btn btn-success uppercase pull-right">Зарегистрироваться</button>
        </div>

    }
