﻿@model WebSite.Areas.Cabinet.Models.Account.ResetViewModel
@{
    ViewBag.Title = "Сброс пароля";
    Layout = "~/Areas/Admin/Views/Shared/_LoginLayout.cshtml";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-validate" }))
{
    @Html.HiddenFor(_ => _.Token)
    <div class="control-group">
        <div class="email controls">
            @Html.PasswordFor(_ => _.Password, new { @class = "input-block-level", placeholder = Html.DisplayNameFor(_ => _.Password).ToHtmlString() })
        </div>
    </div>
    @Html.Partial("_ValidationMessage")
    <div class="control-group">
        @Html.ValidationSummary()
    </div>
    <div class="submit" style="padding-bottom: 20px">
        <input type="submit" value="Сменить" class='btn btn-primary'>
    </div>
}