﻿@model WebSite.Areas.Admin.Models.Content.SaleTechnikViewModel
@using WebSite.Areas.Admin.Framework.HtmlHelpers
@{
    ViewBag.Title = "Добавление продаваемой техники";
}
<div class="row-fluid">
    <div class="span12">
        <div class="box box-bordered">
            <div class="box-title">
                <h3><i class="icon-file-alt"></i>Добавление</h3>
            </div>
            <div class="box-content nopadding">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-vertical form-bordered form-striped form-validate", enctype = "multipart/form-data" }))
                {
                    @Html.EditorFor(_ => _.IsHidden, "Checkbox")
                    @Html.EditorFor(_ => _.Name, "SimpleInput")
                    @Html.EditorFor(_ => _.StringKey, "SimpleInput")
                    @Html.EditorFor(_ => _.Description, "WysiwygTextarea")
                    @Html.EditorFor(_ => _.File, "FileInput")
                    @Html.EditorFor(_ => _.Price, "SimpleInput")
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                        <a href="@Url.Action("Index")" class="btn">Отменить</a>
                    </div>
                }
            </div>
            @Html.TranslitBind(_ => _.Name, _ => _.StringKey, HtmlTranslitBindingExstension.TranslitType.Translit)
        </div>
    </div>
</div>