.cp-color-picker {
	position: absolute;
	padding: 6px 6px 0;
	background-color: #444;
	color: #bbb;
	font: 600 12px Arial,Helvetica,sans-serif;
	cursor: default;
	border-radius: 5px;
    z-index: 10000!important;
}
.cp-color-picker div {
	box-sizing: border-box;
}
.cp-color-picker>div {
	position: relative;
	overflow: hidden;
}
.cp-xy-slider {
	float: left;
	height: 128px;
	width: 128px;
	margin-bottom: 6px;
	background: linear-gradient(to right,#FFF,rgba(255,255,255,0));
}
.cp-white {
	height: 100%;
	width: 100%;
	background: linear-gradient(rgba(0,0,0,0),#000);
}
.cp-xy-cursor {
	position: absolute;
	top: 0;
	width: 10px;
	height: 10px;
	margin: -5px;
	border: 1px solid #fff;
	border-radius: 100%;
}
.cp-z-slider {
	float: right;
	margin-left: 6px;
	height: 128px;
	width: 22px;
	background: linear-gradient(red 0,#f0f 17%,#00f 33%,#0ff 50%,#0f0 67%,#ff0 83%,red 100%);
}
.cp-z-cursor {
	position: absolute;
	margin-top: -4px;
	width: 100%;
	border: 4px solid #fff;
	border-color: transparent #fff;
}
.cp-alpha {
	clear: both;
	width: 100%;
	height: 18px;
	margin: 6px 0;
	background: #666 url('data:image/gif;base64,R0lGODlhDAAMAIABAMzMzP///yH5BAEAAAEALAAAAAAMAAwAAAIWhB+ph5ps3IMyQFBvzVRq3zmfGC5QAQA7');
}
.cp-alpha-alpha {
	height: 100%;
	background: linear-gradient(to left,#f00,rgba(0,0,0,0));
}
.cp-alpha-cursor {
	position: absolute;
	top: 0;
	margin-left: -4px;
	height: 100%;
	border: 4px solid #fff;
	border-color: #fff transparent;
}
