﻿@model WebSite.Areas.Admin.Models.FormViewModel

@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-2.1.3.min.js"></script>
<br />
@*<div class="container">
    <div class="row">

        <div id="form_89565" class="form-group">

            <input type="hidden" id="LandingId" class="servicedata form-control" name="LandingId" value="3" />
            <input type="hidden" id="TypeIntegration" class="servicedata" name="TypeIntegration" value="1" />

            <label>Имя контакта</label>
            <input name="Имя контакта" class="customdata form-control" value="" type="text" />
            <br />
            <label>Фамилия</label>
            <input name="Фамилия" class="customdata form-control" value="" type="text" />
            <br />
            <label>Email</label>
            <input name="Email" class="customdata form-control" value="" type="email" />
            <br />
            <label>Телефон</label>
            <input name="Телефон" class="customdata form-control" value="" type="text" />
            <br />
            <label>Город</label>
            <input name="Город" class="customdata form-control" value="" type="text" />
            <br />
            <button class="btnsbm btn btn-default">Отправить</button>

        </div>

    </div>
</div>

<script>
    $('.btnsbm').click(function () {

        var form = {};
        form.FormId = $('.form-group').attr('id');
        form.LandingId = $('#LandingId').val();
        form.TypeIntegration = $('#TypeIntegration').val();

        form.Fields = {};

        $(".customdata").each(function (index) {            
            form.Fields['' + $(this).attr('name') + ''] = $(this).val();
        });

        $.post("MailSender/SendForm", { form: form }, function (data) {

        });
        
        console.log(form);
               
    });
</script>*@


<div class="container">
    <div class="row">

        <form id="form_89565" method="post" action="MailSender/SendFormBitrix" class="form-group">

            <input type="hidden" id="LandingId" class="servicedata form-control" name="LandingId" value="3" />
            <input type="hidden" id="TypeIntegration" class="servicedata" name="TypeIntegration" value="2" />

            <label>Имя контакта</label>
            <input name="FName" class="customdata form-control" value="" type="text" />
            <br />
            <label>Фамилия</label>
            <input name="LName" class="customdata form-control" value="" type="text" />
            <br />
            <label>Отчество</label>
            <input name="OName" class="customdata form-control" value="" type="text" />           
            <br />
            <label>Email</label>
            <input name="Email" class="customdata form-control" value="" type="email" />
            <br />
            <input type="submit" class="btnsbm btn btn-default" value="Отправить" />

        </form>

    </div>
</div>

