﻿@{
    ViewBag.Title = "Click Sale - Конструктор одностраничников";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_Slider")

<div class="purchase">
    <div class="container">
        <div class="row">
            <div class="col-md-9 animated fadeInLeft">
                <span>Создайте идеальный лендинг в 2 клика.</span>
                <p>
                    2clicksale.com - это лучший конструктор целевых страниц для создания и оптимизации лендингов.
                    <br/>
                    Все можно сделать самостоятельно и без специальных навыков!
                </p>
            </div>
            <div class="col-md-3 btn-buy animated fadeInRight">
                <a href="@Url.Action("Index", "Editor", new {Area="Cabinet"})" class="btn-u btn-u-lg"><i class="fa fa-cloud-download"></i> Попробуйте бесплатно</a>
            </div>
        </div>
    </div>
</div>
<div class="container content">
    <div class="row margin-bottom-30">
        <div class="col-md-4">
            <div class="service">
                <i class="fa fa-compress service-icon"></i>
                <div class="desc">
                    <h4>100% эффективность при min затрат</h4>
                    <p>
                        Хороший лендинг принесет Вам доход
                        от  1 - ххх миллионов, но  должен ли он
                        сам стоить дорого? НЕТ!
                        <br />
                        Самый полнофункциональный конструктор
                        по антикризисным ценам.
                    </p>
                    <a href="#">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service">
                <i class="fa fa-cogs service-icon"></i>
                <div class="desc">
                    <h4>Тесты А/Б и Статистика</h4>
                    <p>
                        Максимальная конверсия — это процесс
                        постоянной аналитики.
                        <br />
                        Совершенствуйте рекламные кампании и
                        повышайте результативность с помощью
                        технологии сплит-тестирования и статистики.
                    </p>
                    <a href="#">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service">
                <i class="fa fa-rocket service-icon"></i>
                <div class="desc">
                    <h4>Передовые технологии + простота</h4>
                    <p>
                        Новейшие  маркетинговые  инструменты,
                        помогут  именно Вам стать  Лидерами
                        <br />
                        продаж в своей нише, создав продающий
                        лэндинг в 2 клика, без программиста
                        и дизайнера.
                    </p>
                    <a href="#">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
    <div class="headline"><h2>Recent Works</h2></div>
    <div class="row margin-bottom-20">
        <div class="col-md-3 col-sm-6">
            <div class="thumbnails thumbnail-style thumbnail-kenburn">
                <div class="thumbnail-img">
                    <div class="overflow-hidden">
                        <img class="img-responsive" src="~/assets/unify/img/main/2.jpg" alt="" />
                    </div>
                    <a class="btn-more hover-effect" href="#">read more +</a>
                </div>
                <div class="caption">
                    <h3><a class="hover-effect" href="#">Project One</a></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnails thumbnail-style thumbnail-kenburn">
                <div class="thumbnail-img">
                    <div class="overflow-hidden">
                        <img class="img-responsive" src="~/assets/unify/img/main/3.jpg" alt="" />
                    </div>
                    <a class="btn-more hover-effect" href="#">read more +</a>
                </div>
                <div class="caption">
                    <h3><a class="hover-effect" href="#">Project Two</a></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnails thumbnail-style thumbnail-kenburn">
                <div class="thumbnail-img">
                    <div class="overflow-hidden">
                        <img class="img-responsive" src="~/assets/unify/img/main/9.jpg" alt="" />
                    </div>
                    <a class="btn-more hover-effect" href="#">read more +</a>
                </div>
                <div class="caption">
                    <h3><a class="hover-effect" href="#">Project Three</a></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnails thumbnail-style thumbnail-kenburn">
                <div class="thumbnail-img">
                    <div class="overflow-hidden">
                        <img class="img-responsive" src="~/assets/unify/img/main/10.jpg" alt="" />
                    </div>
                    <a class="btn-more hover-effect" href="#">read more +</a>
                </div>
                <div class="caption">
                    <h3><a class="hover-effect" href="#">Project Four</a></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row margin-bottom-30">
        <div class="col-md-8 md-margin-bottom-40">
            <div class="headline"><h2>Welcome To Unify</h2></div>
            <div class="row">
                <div class="col-sm-4">
                    <img class="img-responsive margin-bottom-20" src="~/assets/unify/img/main/6.jpg" alt="" />
                </div>
                <div class="col-sm-8">
                    <p>Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers, tablets and phone.</p>
                    <ul class="list-unstyled margin-bottom-20">
                        <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida</li>
                        <li><i class="fa fa-check color-green"></i> Corporate and Creative</li>
                        <li><i class="fa fa-check color-green"></i> Responsive Bootstrap Template</li>
                        <li><i class="fa fa-check color-green"></i> Corporate and Creative</li>
                    </ul>
                </div>
            </div>

            <blockquote class="hero-unify">
                <p>Award winning digital agency. We bring a personal and effective approach to every project we work on, which is why. Unify is an incredibly beautiful responsive Bootstrap Template for corporate professionals.</p>
                <small>CEO, Jack Bour</small>
            </blockquote>
        </div>
        <div class="col-md-4">
            <div class="headline"><h2>Latest Shots</h2></div>
            <div id="myCarousel" class="carousel slide carousel-v1">
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="~/assets/unify/img/main/5.jpg" alt="">
                        <div class="carousel-caption">
                            <p>Facilisis odio, dapibus ac justo acilisis gestinas.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/assets/unify/img/main/4.jpg" alt="">
                        <div class="carousel-caption">
                            <p>Cras justo odio, dapibus ac facilisis into egestas.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/assets/unify/img/main/3.jpg" alt="">
                        <div class="carousel-caption">
                            <p>Justo cras odio apibus ac afilisis lingestas de.</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-arrow">
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="clients-flexslider" class="flexslider home clients">
        <div class="headline"><h2>Интеграция</h2></div>
        <ul class="slides">
            <li>
                <a href="#">
                    <img src="~/assets/unify/img/clients/hp_grey.png" alt="" />
                    <img src="~/assets/unify/img/clients/hp.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/assets/unify/img/clients/igneus_grey.png" alt="" />
                    <img src="~/assets/unify/img/clients/igneus.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/assets/unify/img/clients/vadafone_grey.png" alt="" />
                    <img src="~/assets/unify/img/clients/vadafone.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/assets/unify/img/clients/walmart_grey.png" alt="" />
                    <img src="~/assets/unify/img/clients/walmart.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/assets/unify/img/clients/shell_grey.png" alt="" />
                    <img src="~/assets/unify/img/clients/shell.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/assets/unify/img/clients/natural_grey.png" alt="" />
                    <img src="~/assets/unify/img/clients/natural.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/assets/unify/img/clients/aztec_grey.png" alt="" />
                    <img src="~/assets/unify/img/clients/aztec.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/assets/unify/img/clients/gamescast_grey.png" alt="" />
                    <img src="~/assets/unify/img/clients/gamescast.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/assets/unify/img/clients/cisco_grey.png" alt="" />
                    <img src="~/assets/unify/img/clients/cisco.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/assets/unify/img/clients/everyday_grey.png" alt="" />
                    <img src="~/assets/unify/img/clients/everyday.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/assets/unify/img/clients/cocacola_grey.png" alt="" />
                    <img src="~/assets/unify/img/clients/cocacola.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/assets/unify/img/clients/spinworkx_grey.png" alt="" />
                    <img src="~/assets/unify/img/clients/spinworkx.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/assets/unify/img/clients/shell_grey.png" alt="" />
                    <img src="~/assets/unify/img/clients/shell.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/assets/unify/img/clients/natural_grey.png" alt="" />
                    <img src="~/assets/unify/img/clients/natural.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/assets/unify/img/clients/gamescast_grey.png" alt="" />
                    <img src="~/assets/unify/img/clients/gamescast.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/assets/unify/img/clients/everyday_grey.png" alt="" />
                    <img src="~/assets/unify/img/clients/everyday.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/assets/unify/img/clients/spinworkx_grey.png" alt="" />
                    <img src="~/assets/unify/img/clients/spinworkx.png" class="color-img" alt="" />
                </a>
            </li>
        </ul>
    </div>
</div>