﻿@{
    ViewBag.Title = "Главная";
}
@*<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3><i class="icon-reorder"></i>Можно добавить панели показателей</h3>
            </div>
            <div class="box-content">
                Несколько статичных примеров ниже
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3><i class="icon-bar-chart"></i>Посещаемость</h3>
                <div class="actions">
                    <a href="#" class="btn btn-mini content-refresh"><i class="icon-refresh"></i></a>
                    <a href="#" class="btn btn-mini content-remove"><i class="icon-remove"></i></a>
                    <a href="#" class="btn btn-mini content-slideUp"><i class="icon-angle-down"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div class="statistic-big">
                    <div class="top">
                        <div class="left">
                            <div class="input-medium">
                                <select name="category" class='chosen-select' data-nosearch="true">
                                    <option value="1">Посещения</option>
                                    <option value="2">Новые посещения</option>
                                    <option value="3">Уникальные посетители</option>
                                    <option value="4">Просмотрено страниц</option>
                                </select>
                            </div>
                        </div>
                        <div class="right">
                            8,195 <span><i class="icon-circle-arrow-up"></i></span>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="flot medium" id="flot-audience"></div>
                    </div>
                    <div class="bottom">
                        <ul class="stats-overview">
                            <li>
                                <span class="name">Посетители</span>
                                <span class="value">11,251</span>
                            </li>
                            <li>
                                <span class="name">Страница / Посещение</span>
                                <span class="value">8.31</span>
                            </li>
                            <li>
                                <span class="name">Средняя длительность</span>
                                <span class="value">00:06:41</span>
                            </li>
                            <li>
                                <span class="name">% Новых посещений</span>
                                <span class="value">67,35%</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="box box-color lightred box-bordered">
            <div class="box-title">
                <h3><i class="icon-bar-chart"></i>HDD использование</h3>
                <div class="actions">
                    <a href="#" class="btn btn-mini content-refresh"><i class="icon-refresh"></i></a>
                    <a href="#" class="btn btn-mini content-remove"><i class="icon-remove"></i></a>
                    <a href="#" class="btn btn-mini content-slideUp"><i class="icon-angle-down"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div class="statistic-big">
                    <div class="top">
                        <div class="left">
                            <div class="input-medium">
                                <select name="category" class='chosen-select' data-nosearch="true">
                                    <option value="1">Сегодня</option>
                                    <option value="2">Вчера</option>
                                    <option value="3">За неделю</option>
                                    <option value="4">Зв месяц</option>
                                </select>
                            </div>
                        </div>
                        <div class="right">
                            50% <span><i class="icon-circle-arrow-right"></i></span>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="flot medium" id="flot-hdd"></div>
                    </div>
                    <div class="bottom">
                        <ul class="stats-overview">
                            <li><span class="name">Использование</span>
                                <span class="value">50%</span>
                            </li>
                            <li>
                                <span class="name">Использование % / Пользователь</span>
                                <span class="value">0.031</span>
                            </li>
                            <li>
                                <span class="name">Ср. Ипользование %</span>
                                <span class="value">60%</span>
                            </li>
                            <li>
                                <span class="name">Простой %</span>
                                <span class="value">12%</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="box box-color box-bordered lightgrey">
            <div class="box-title">
                <h3><i class="icon-ok"></i>Задачи</h3>
                <div class="actions">
                    <a href="#new-task" data-toggle="modal" class='btn'><i class="icon-plus-sign"></i>Добавить задачу</a>
                </div>
            </div>
            <div class="box-content nopadding">
                <ul class="tasklist">
                    <li class='bookmarked'>
                        <div class="check">
                            <input type="checkbox" class='icheck-me' data-skin="square" data-color="blue">
                        </div>
                        <span class="task"><i class="icon-ok"></i><span>Подтвердить новых пользователей</span></span>
                        <span class="task-actions">
                            <a href="#" class='task-delete' rel="tooltip" title="Удалить эту задачу"><i class="icon-remove"></i></a>
                            <a href="#" class='task-bookmark' rel="tooltip" title="Пометить как важная"><i class="icon-bookmark-empty"></i></a>
                        </span>
                    </li>
                    <li>
                        <div class="check">
                            <input type="checkbox" class='icheck-me' data-skin="square" data-color="blue">
                        </div>
                        <span class="task"><i class="icon-bar-chart"></i><span>Проверить статистику</span></span>
                        <span class="task-actions">
                            <a href="#" class='task-delete' rel="tooltip" title="Удалить эту задачу"><i class="icon-remove"></i></a>
                            <a href="#" class='task-bookmark' rel="tooltip" title="Пометить как важная"><i class="icon-bookmark-empty"></i></a>
                        </span>
                    </li>
                    <li class='done'>
                        <div class="check">
                            <input type="checkbox" class='icheck-me' data-skin="square" data-color="blue" checked>
                        </div>
                        <span class="task"><i class="icon-envelope"></i><span>Проверить почту</span></span>
                        <span class="task-actions">
                            <a href="#" class='task-delete' rel="tooltip" title="Удалить эту задачу"><i class="icon-remove"></i></a>
                            <a href="#" class='task-bookmark' rel="tooltip" title="Пометить как важная"><i class="icon-bookmark-empty"></i></a>
                        </span>
                    </li>
                    <li>
                        <div class="check">
                            <input type="checkbox" class='icheck-me' data-skin="square" data-color="blue">
                        </div>
                        <span class="task"><i class="icon-comment"></i><span>Ответить пользователю Сидр Сидорович</span></span>
                        <span class="task-actions">
                            <a href="#" class='task-delete' rel="tooltip" title="Удалить эту задачу"><i class="icon-remove"></i></a>
                            <a href="#" class='task-bookmark' rel="tooltip" title="Пометить как важная"><i class="icon-bookmark-empty"></i></a>
                        </span>
                    </li>
                    <li>
                        <div class="check">
                            <input type="checkbox" class='icheck-me' data-skin="square" data-color="blue">
                        </div>
                        <span class="task"><i class="icon-retweet"></i><span>Отписаться в социальной сети</span></span>
                        <span class="task-actions">
                            <a href="#" class='task-delete' rel="tooltip" title="Удалить эту задачу"><i class="icon-remove"></i></a>
                            <a href="#" class='task-bookmark' rel="tooltip" title="Пометить как важная"><i class="icon-bookmark-empty"></i></a>
                        </span>
                    </li>
                    <li>
                        <div class="check">
                            <input type="checkbox" class='icheck-me' data-skin="square" data-color="blue">
                        </div>
                        <span class="task"><i class="icon-edit"></i><span>Написать статью</span></span>
                        <span class="task-actions">
                            <a href="#" class='task-delete' rel="tooltip" title="Удалить эту задачу"><i class="icon-remove"></i></a>
                            <a href="#" class='task-bookmark' rel="tooltip" title="Пометить как важная"><i class="icon-bookmark-empty"></i></a>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <div class="box">
            <div class="box-title">
                <h3><i class="icon-bolt"></i>Загрузка сервера</h3>
                <div class="actions">
                    <a href="#" class="btn btn-mini content-refresh"><i class="icon-refresh"></i></a>
                    <a href="#" class="btn btn-mini content-remove"><i class="icon-remove"></i></a>
                    <a href="#" class="btn btn-mini content-slideUp"><i class="icon-angle-down"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div class="flot flot-line"></div>
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="box">
            <div class="box-title">
                <h3><i class="icon-comment"></i>Чат</h3>
                <div class="actions">
                    <a href="#" class="btn btn-mini content-refresh"><i class="icon-refresh"></i></a>
                    <a href="#" class="btn btn-mini content-remove"><i class="icon-remove"></i></a>
                    <a href="#" class="btn btn-mini content-slideUp"><i class="icon-angle-down"></i></a>
                </div>
            </div>
            <div class="box-content nopadding scrollable" data-height="350" data-visible="true" data-start="bottom">
                <ul class="messages">
                    <li class="left">
                        <div class="image">
                            <img src="~/Areas/Admin/Content/img/demo/user-1.jpg" alt="">
                        </div>
                        <div class="message">
                            <span class="caret"></span>
                            <span class="name">Jane Doe</span>
                            <p>Lorem ipsum aute ut ullamco et nisi ad. </p>
                            <span class="time">12 минут назад</span>
                        </div>
                    </li>
                    <li class="right">
                        <div class="image">
                            <img src="~/Areas/Admin/Content/img/demo/user-2.jpg" alt="">
                        </div>
                        <div class="message">
                            <span class="caret"></span>
                            <span class="name">John Doe</span>
                            <p>Lorem ipsum aute ut ullamco et nisi ad. Lorem ipsum adipisicing nisi Excepteur eiusmod ex culpa laboris. Lorem ipsum est ut...</p>
                            <span class="time">12 минут назад</span>
                        </div>
                    </li>
                    <li class="left">
                        <div class="image">
                            <img src="~/Areas/Admin/Content/img/demo/user-1.jpg" alt="">
                        </div>
                        <div class="message">
                            <span class="caret"></span>
                            <span class="name">Jane Doe</span>
                            <p>Lorem ipsum aute ut ullamco et nisi ad. Lorem ipsum adipisicing nisi!</p>
                            <span class="time">12 минут назад</span>
                        </div>
                    </li>
                    <li class="typing">
                        <span class="name">John Doe</span> печатает
                        <img src="~/Areas/Admin/Content/img/loading.gif" alt="">
                    </li>
                    <li class="insert">
                        <form id="message-form" method="POST" action="#">
                            <div class="text">
                                <input type="text" name="text" placeholder="Писать здесь..." class="input-block-level">
                            </div>
                            <div class="submit">
                                <button type="submit"><i class="icon-share-alt"></i></button>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <div class="box">
            <div class="box-title">
                <h3><i class="icon-globe"></i>Пользователи на карте</h3>
                <div class="actions">
                    <a href="#" class="btn btn-mini content-refresh"><i class="icon-refresh"></i></a>
                    <a href="#" class="btn btn-mini content-remove"><i class="icon-remove"></i></a>
                    <a href="#" class="btn btn-mini content-slideUp"><i class="icon-angle-down"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div id="vmap"></div>
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3><i class="icon-user"></i>Адресная книга</h3>
                <div class="actions">
                    <a href="#" class="btn btn-mini content-refresh"><i class="icon-refresh"></i></a>
                    <a href="#" class="btn btn-mini content-remove"><i class="icon-remove"></i></a>
                    <a href="#" class="btn btn-mini content-slideUp"><i class="icon-angle-down"></i></a>
                </div>
            </div>
            <div class="box-content nopadding scrollable" data-height="300" data-visible="true">
                <table class="table table-user table-nohead">
                    <tbody>
                        <tr class="alpha">
                            <td class="alpha-val">
                                <span>B</span>
                            </td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td class='img'>
                                <img src="~/Areas/Admin/Content/img/demo/user-1.jpg" alt=""></td>
                            <td class='user'>Bi Doe</td>
                            <td class='icon'><a href="#" class='btn'><i class="icon-search"></i></a></td>
                        </tr>
                        <tr>
                            <td class='img'>
                                <img src="~/Areas/Admin/Content/img/demo/user-2.jpg" alt=""></td>
                            <td class='user'>Boo Doe</td>
                            <td class='icon'><a href="#" class='btn'><i class="icon-search"></i></a></td>
                        </tr>
                        <tr class="alpha">
                            <td class="alpha-val">
                                <span>D</span>
                            </td>
                            <td colspan="3"></td>
                        </tr>
                        <tr>
                            <td class='img'>
                                <img src="~/Areas/Admin/Content/img/demo/user-3.jpg" alt=""></td>
                            <td class='user'>Dan Doe</td>
                            <td class='icon'><a href="#" class='btn'><i class="icon-search"></i></a></td>
                        </tr>
                        <tr>
                            <td class='img'>
                                <img src="~/Areas/Admin/Content/img/demo/user-4.jpg" alt=""></td>
                            <td class='user'>Dane Doe</td>
                            <td class='icon'><a href="#" class='btn'><i class="icon-search"></i></a></td>
                        </tr>
                        <tr class="alpha">
                            <td class="alpha-val">
                                <span>H</span>
                            </td>
                            <td colspan="3"></td>
                        </tr>
                        <tr>
                            <td class='img'>
                                <img src="~/Areas/Admin/Content/img/demo/user-3.jpg" alt=""></td>
                            <td class='user'>Hilda N. Ervin</td>
                            <td class='icon'><a href="#" class='btn'><i class="icon-search"></i></a></td>
                        </tr>
                        <tr class="alpha">
                            <td class="alpha-val">
                                <span>J</span>
                            </td>
                            <td colspan="3"></td>
                        </tr>
                        <tr>
                            <td class='img'>
                                <img src="~/Areas/Admin/Content/img/demo/user-5.jpg" alt=""></td>
                            <td class='user'>John Doe</td>
                            <td class='icon'><a href="#" class='btn'><i class="icon-search"></i></a></td>
                        </tr>
                        <tr>
                            <td class='img'>
                                <img src="~/Areas/Admin/Content/img/demo/user-6.jpg" alt=""></td>
                            <td class='user'>John Doe</td>
                            <td class='icon'><a href="#" class='btn'><i class="icon-search"></i></a></td>
                        </tr>
                        <tr class="alpha">
                            <td class="alpha-val">
                                <span>L</span>
                            </td>
                            <td colspan="3"></td>
                        </tr>
                        <tr>
                            <td class='img'>
                                <img src="~/Areas/Admin/Content/img/demo/user-5.jpg" alt=""></td>
                            <td class='user'>Laura J. Brown</td>
                            <td class='icon'><a href="#" class='btn'><i class="icon-search"></i></a></td>
                        </tr>
                        <tr>
                            <td class='img'>
                                <img src="~/Areas/Admin/Content/img/demo/user-6.jpg" alt=""></td>
                            <td class='user'>Lilly J. Tooley</td>
                            <td class='icon'><a href="#" class='btn'><i class="icon-search"></i></a></td>
                        </tr>
                        <tr class="alpha">
                            <td class="alpha-val">
                                <span>M</span>
                            </td>
                            <td colspan="3"></td>
                        </tr>
                        <tr>
                            <td class='img'>
                                <img src="~/Areas/Admin/Content/img/demo/user-1.jpg" alt=""></td>
                            <td class='user'>Maxi Doe</td>
                            <td class='icon'><a href="#" class='btn'><i class="icon-search"></i></a></td>
                        </tr>
                        <tr>
                            <td class='img'>
                                <img src="~/Areas/Admin/Content/img/demo/user-2.jpg" alt=""></td>
                            <td class='user'>Max Doe</td>
                            <td class='icon'><a href="#" class='btn'><i class="icon-search"></i></a></td>
                        </tr>
                        <tr class="alpha">
                            <td class="alpha-val">
                                <span>O</span>
                            </td>
                            <td colspan="3"></td>
                        </tr>
                        <tr>
                            <td class='img'>
                                <img src="~/Areas/Admin/Content/img/demo/user-1.jpg" alt=""></td>
                            <td class='user'>Oxx Doe</td>
                            <td class='icon'><a href="#" class='btn'><i class="icon-search"></i></a></td>
                        </tr>
                        <tr>
                            <td class='img'>
                                <img src="~/Areas/Admin/Content/img/demo/user-2.jpg" alt=""></td>
                            <td class='user'>Osam Doe</td>
                            <td class='icon'><a href="#" class='btn'><i class="icon-search"></i></a></td>
                        </tr>
                        <tr class="alpha">
                            <td class="alpha-val">
                                <span>P</span>
                            </td>
                            <td colspan="3"></td>
                        </tr>
                        <tr>
                            <td class='img'>
                                <img src="~/Areas/Admin/Content/img/demo/user-1.jpg" alt=""></td>
                            <td class='user'>Petra Doe</td>
                            <td class='icon'><a href="#" class='btn'><i class="icon-search"></i></a></td>
                        </tr>
                        <tr>
                            <td class='img'>
                                <img src="~/Areas/Admin/Content/img/demo/user-2.jpg" alt=""></td>
                            <td class='user'>Per Doe</td>
                            <td class='icon'><a href="#" class='btn'><i class="icon-search"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <div class="box">
            <div class="box-title">
                <h3><i class="icon-calendar"></i>Мой календарь</h3>
            </div>
            <div class="box-content nopadding">
                <div class="calendar"></div>
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="box box-color box-bordered green">
            <div class="box-title">
                <h3><i class="icon-bullhorn"></i>Лента</h3>
                <div class="actions">
                    <a href="#" class="btn btn-mini custom-checkbox checkbox-active">Автоматическое обновление<i class="icon-check-empty"></i></a>
                </div>
            </div>
            <div class="box-content nopadding scrollable" data-height="400" data-visible="true">
                <table class="table table-nohead" id="randomFeed">
                    <tbody>
                        <tr>
                            <td><span class="label"><i class="icon-plus"></i></span><a href="#">John Doe</a> added a new photo</td>
                        </tr>
                        <tr>
                            <td><span class="label label-success"><i class="icon-user"></i></span>New user registered</td>
                        </tr>
                        <tr>
                            <td><span class="label label-info"><i class="icon-shopping-cart"></i></span>New order received</td>
                        </tr>
                        <tr>
                            <td><span class="label label-warning"><i class="icon-comment"></i></span><a href="#">John Doe</a> commented on <a href="#">News #123</a></td>
                        </tr>
                        <tr>
                            <td><span class="label label-success"><i class="icon-user"></i></span>New user registered</td>
                        </tr>
                        <tr>
                            <td><span class="label label-info"><i class="icon-shopping-cart"></i></span>New order received</td>
                        </tr>
                        <tr>
                            <td><span class="label label-warning"><i class="icon-comment"></i></span><a href="#">John Doe</a> commented on <a href="#">News #123</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>*@