﻿@model List<string>
@{
    Layout = null;
}
<script>
    $(function () {
        var userFontsIsExist = false;
        $('.added_fonts').length ? userFontsIsExist = true : userFontsIsExist = false;
        if (userFontsIsExist == true) {
            var optionGroup = document.createElement('optgroup');
            $(optionGroup).attr('label', 'Пользовательские');
            $('.added_fonts').each(function () {
                var fonts = $(this).attr('name').split(',')
                for (var i = 0; i < fonts.length; i++) {
                    var option = document.createElement('option');
                    $(option).val(fonts[i]);
                    $(option).text(fonts[i]);
                    var boolFonts = true;
                    $('.country_id').children().each(function () {
                        if ($(this).val() == fonts[i]) {
                            boolFonts = false;
                        }
                    });
                    if (boolFonts) {
                        $(optionGroup).append(option);                        
                    }
                }
            });
            $('#country_id').children().first().after(optionGroup);
        }

        $(".country_id").on('change', function () {
            var fontFamily = $('.country_id').val();
            $('.country_id').val(fontFamily)
            if (fontFamily.indexOf(' ') >= 0) {
                fontFamily = "'" + fontFamily + "'";
                fontFamily = fontFamily.replace(/"/g, "'")
            }
            $('.active').css('font-family', fontFamily);
            if ($('.active').attr('style').indexOf('"') > 0) {
                $('.active').attr('style', $('.active').attr('style').replace(/"/g, '\''));
            }
            $('.active').children().css('font-family', fontFamily);
            if ($('.active').children().first().attr('style').indexOf('"') > 0) {
                $('.active').children().attr('style', $('.active').children().first().attr('style').replace(/"/g, '\''));
            }
            if ($('.active').attr('type') == 'button ') { saveButtonOption(); }

            if ($('.active').attr('type') == 'timer') {
                $('.active .timeTo').css('font-family', fontFamily);
                if ($('.active .timeTo').attr('style').indexOf('"') > 0) {
                    $('.active .timeTo').attr('style', $('.active .timeTo').attr('style').replace(/"/g, '\''));
                }
            }
            correctSizeTextElement();
            groupProperty('font-family', fontFamily);
            saveStep();
        });
    });
</script>


<select name="country_id" class="country_id" tabindex="1" title="Тип шрифта">
    <option value="">- выберите -</option>
    <optgroup label="Системные">
        @foreach (var font in Model)
        {
            <option value="@font">@font</option>
        }
    </optgroup>
</select>
