﻿@model List<WebSite.Areas.Cabinet.Models.CategorySectionViewModel>
@{
    Layout = null;
    }
<style>
    #category_section {
        min-width:150px;
    }
</style>

<select id="category_section">
    @foreach (var item in Model)
    {
        <option value="@item.StringKey">@item.Name</option>
    }
</select>

