﻿@model List<WebSite.Areas.Cabinet.Models.CategorySectionViewModel>
@{
    Layout = null;
}

@if (Model.Count > 0)
{
    foreach (var item in Model)
    {
        <div class="category-menu" onclick="viewSubElements(this)" rel="@item.Id">@item.Name</div>
    }
}
else
{
    <div class="category-menu">Список пуст</div>
}
