﻿@model WebSite.Areas.Cabinet.Models.EditorInfoViewModel
@{
    Layout = "~/Areas/Cabinet/Views/Shared/_LayoutEditor.cshtml";
}
<link href="~/Areas/Cabinet/lib/css/timeTo.css" rel="stylesheet" />
<script src="~/Areas/Cabinet/lib/js/jquery.time-to.min.js"></script>
<script>
    var url = "@Model.Url";
    var counter = 1;
    $(function () {
        var hexDigits = new Array
        ("0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "a", "b", "c", "d", "e", "f");

        //Function to convert hex format to a rgb color
        function rgb2hex(rgb) {
            rgb = rgb.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
            return "#" + hex(rgb[1]) + hex(rgb[2]) + hex(rgb[3]);
        }

        function hex(x) {
            return isNaN(x) ? "00" : hexDigits[(x - x % 16) / 16] + hexDigits[x % 16];
        }

        function hsvToRgbOrHex(h, s, v, o) {
            var r, g, b;
            var i;
            var f, p, q, t;
            var result = "";

            // Make sure our arguments stay in-range
            h = Math.max(0, Math.min(360, h));
            s = Math.max(0, Math.min(100, s));
            v = Math.max(0, Math.min(100, v));

            // We accept saturation and value arguments from 0 to 100 because that's
            // how Photoshop represents those values. Internally, however, the
            // saturation and value are calculated from a range of 0 to 1. We make
            // That conversion here.
            s /= 100;
            v /= 100;

            if (s == 0) {
                // Achromatic (grey)
                r = g = b = v;
                if (o == 1) {
                    result = rgb2hex('rgb(' + Math.round(r * 255) + ', ' + Math.round(g * 255) + ', ' + Math.round(b * 255) + ')');
                } else {
                    result = 'rgba(' + Math.round(r * 255) + ', ' + Math.round(g * 255) + ', ' + Math.round(b * 255) + ', ' + o + ')';
                }
                return result;
            }

            h /= 60; // sector 0 to 5
            i = Math.floor(h);
            f = h - i; // factorial part of h
            p = v * (1 - s);
            q = v * (1 - s * f);
            t = v * (1 - s * (1 - f));

            switch (i) {
                case 0:
                    r = v;
                    g = t;
                    b = p;
                    break;

                case 1:
                    r = q;
                    g = v;
                    b = p;
                    break;

                case 2:
                    r = p;
                    g = v;
                    b = t;
                    break;

                case 3:
                    r = p;
                    g = q;
                    b = v;
                    break;

                case 4:
                    r = t;
                    g = p;
                    b = v;
                    break;

                default: // case 5:
                    r = v;
                    g = p;
                    b = q;
            }

            if (o == 1) {
                result = rgb2hex('rgb(' + Math.round(r * 255) + ', ' + Math.round(g * 255) + ', ' + Math.round(b * 255) + ')');
            } else {
                result = 'rgba(' + Math.round(r * 255) + ', ' + Math.round(g * 255) + ', ' + Math.round(b * 255) + ', ' + o + ')';
            }
            return result;
        }

        //console.log('url=' + url);
        if (url !== '') {
            $.ajax({
                url: "/Cabinet/Editor/LoadPages",
                data: { url: url },
                async: true,
                success: function (data) {
                    console.log('загрузка страницы');
                    $('#pages').html('');
                    $('#website_info').attr('rel', data.res[0].Url);
                    $('#website_info').attr('Title', data.res[0].Name);
                    counter = data.res.length;
                    //console.log('counter=' + counter);
                    //console.log('updated=' + data.res[0].Updated);
                    if (data.res[0].Updated == null) {
                        openWindowSetParemetrs();
                    }
                    for (var i = 0; i < data.res.length; i++) {
                        //console.log($.parseHTML(reHtmlEntities(data.res[i].SiteContent)));
                        var div = document.createElement('div');
                        $(div).attr('id', data.res[i].StringKey.toString());
                        $(div).attr('type', data.res[i].Type);
                        $(div).attr('name', data.res[i].Title);
                        $(div).attr('desc', data.res[i].MetaDescription);
                        $(div).attr('key', data.res[i].MetaKeyWords);
                        var pageLoader = data.res[i].PageLoader;

                        if (pageLoader.indexOf('hsv') >= 0) {
                            var h, s, v, o;
                            pageLoader = pageLoader.replace('hsv(', '').replace('hsva(', '').replace(')', '').replace(/%/g, '')
                            var str;
                            str = pageLoader.split(',');
                            h = parseInt(str[0]);
                            s = parseInt(str[1]);
                            v = parseInt(str[2]);
                            isNaN(str[3]) ? o = 1 : o = parseInt(str[3]);
                            pageLoader = hsvToRgbOrHex(h, s, v, o);
                        }

                        if (isNaN(pageLoader) && pageLoader != '' && pageLoader != undefined && (pageLoader.indexOf('#') >= 0 || pageLoader.indexOf('rgb') >= 0 || pageLoader.indexOf('hsv') >= 0)) {
                            var pageLoaderLineColor = '';
                            var pageLoaderBackground = '';
                            if (pageLoader.indexOf(';') >= 0) {
                                var par = pageLoader.split(';');
                                pageLoaderLineColor = par[0];
                                pageLoaderBackground = par[1];
                            } else {
                                pageLoaderLineColor = pageLoader;
                            }
                            $('#page_loader').css('background-color', 'rgb(66, 139, 202)');
                            $('#page_loader>img').css('left', '7px');
                            $('#page_loader').attr('option', 'checked');
                            $('#col_load_line').css('height', '30px');
                            $('#col_load_background').css('height', '30px');
                            $('#color_load_line').val(pageLoader);
                            $('#color_load_line').next().find('.sp-preview-inner').attr('style', 'background-color:' + pageLoaderLineColor + ';');
                            $('#color_load_background').val(pageLoader);
                            $('#color_load_background').next().find('.sp-preview-inner').attr('style', 'background-color:' + pageLoaderBackground + ';');
                        }

                        var links = data.res[i].Links;
                        if (links != '' && links != undefined) {
                            var listLinks = links.split(';');
                            for (var j = 0; j < listLinks.length; j++) {
                                $('head').append('<' + listLinks[j] + '/>');
                            }
                            var addedFonts = $('.added_fonts');
                            for (var r = 0; r < addedFonts.length; r++) {
                                for (var n = 1; n <= r; n++) {
                                    if ($(addedFonts[r]).attr('href') == $(addedFonts[n]).attr('href')) {
                                        $(addedFonts[n]).remove();
                                    }
                                }
                            }
                        }

                        if (!$('#styles').length) {
                            var divS = document.createElement('div');
                            $(divS).css('display', 'none');
                            $('#content').apend(divS);
                        }

                        if (data.res[i].Styles != null) {
                            var array = data.res[i].Styles.split('$');
                            for (var j = 1; j <= array.length; j++) {
                                try {
                                    //console.log(j);
                                    var idButton = array[j].replace('#', '').split('{')[0].split(' ')[0];
                                    var child = document.createElement('p');
                                    $(child).attr('rel', idButton);
                                    $(child).text(array[j]);
                                    $('#styles').append(child);

                                } catch (ex) {
                                    //console.log(ex);
                                }

                            }
                        }

                        if (data.res[i].Scripts != null) {
                            var array = data.res[i].Scripts.replace('$$$', '┤').split('┤');
                            for (var j = 1; j <= array.length; j++) {
                                try {
                                    //console.log(j);
                                    var idButton = array[j].split('*')[1].split(',')[0];
                                    var child = document.createElement('p');
                                    $(child).attr('rel', idButton);
                                    $(child).text(reHtmlEntities(array[j]));
                                    $('#scripts').append(child);

                                } catch (ex) {
                                    //console.log(ex);
                                }

                            }
                        }
                        var divC = document.createElement('div');
                        $(divC).attr('class', 'page_content_standard');
                        $(divC).html($.parseHTML(reHtmlEntities(data.res[i].SiteContent)));
                        div.appendChild(divC);
                        $('#pages').append(div);
                    }
                    loadPages('home');
                    $('#pages>#Home>.page_content_standard').children().each(function () {
                        $('#content_standard').append($(this));
                    });
                    $('.active').removeClass('active');
                    //var el = document.createElement('div');
                    //var top = $('#woc_column_2').height() / 2 - 7;
                    //$(el).attr('style', 'width: 100%; text-align: center; font-size: 14px; height: 15px; position: relative; top: ' + top + 'px;');
                    //$(el).text('Выберите элемент');
                    //$(el).attr('id', 'sel_element');
                    //$('#woc_column_2').append(el);
                    //console.log('loading complete');

                    var sect = $('.section').first();
                    width11 = sect.width();
                    width22 = sect.children().first().width();

                    if (width11 > width22 && (width11 - width22) > 5) {
                        var w = getStyle(sect.children().first(), 'width');
                        $('#content_width_val').val(parseInt(w));
                        if (w.indexOf('%') >= 0) {
                            $('#content_width_val').next().text('%');
                        } else {
                            $('#content_width_val').next().text('px');
                        }
                    } else {
                        var w = getStyle(sect, 'width');
                        $('#content_width_val').val(parseInt(w));
                        if (w.indexOf('%') >= 0) {
                            $('#content_width_val').next().text('%');
                        } else {
                            $('#content_width_val').next().text('px');
                        }
                    }
                    if (!sect.length) {
                        $('#content_width_val').val(95);
                        $('#content_width_val').next().text('%');
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                },
                method: "POST",
                type: "json"
            });
        } else {
            addSection('2');
            showLitebox('create_landing_litebox');
        }
    });


    function reHtmlEntities(str) {
        var string = String(str).replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&quot;/g, '"').replace(/\(\"/g, '(\'').replace(/\( \"/g, '(\'').replace(/\"\)/g, '\')');
        return delSpaces(string);
    }

</script>
<style>
    .block_disabled {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
    }

</style>
<div style="display: none;" id="website_info" rel="" title=""></div>
<div id="content_standard">
    <div id="additionalBlocks">
        <div id="move_block" type="additional" class="ui-draggable">
            @*<i class="fa fa-arrows fa-2x"></i>*@
        </div>
        <div id="move_text" type="additional" title="Перемещение элемента" @*onclick="moveTextBlock()"*@>
            <i class="fa fa-arrows"></i>
        </div>
        <div id="resize_section" type="additional"></div>
        <div id="active" type="additional">

            <div id="name_block"></div>
            <div id="active_menu">
                <div id="type_block">TEXT</div>
                <div id="edit_block" onclick="editElement()">
                    <i class="fa fa-pencil-square-o fa-2x"></i>
                </div>
                <div id="del_block" onclick="openDelWindow()">
                    <i class="fa fa-trash-o fa-2x"></i>
                </div>
            </div>
            <div id="resize" type="additional">
                <textarea id="textarea_text_element"></textarea>
                <div class="textarea_text_element"></div>
            </div>
            <div id="move-text" type="additional">
            </div>
            <div id="edit_element" type="additional" title="Редактирование элемента" onclick="editElement()">
                <i class="glyphicon glyphicon-pencil"></i>
            </div>
            <div id="option_element" type="additional" title="Настройка элемента" onclick="editElement()">
                <i class="glyphicon glyphicon-cog sell"></i>
            </div>
            <div id="remove_element" type="additional" title="Удаление элемента" onclick="deleteEl()">
                <i class="glyphicon glyphicon-trash sell"></i>
            </div>
        </div>
        <div id="move_form_element" class="ui-draggable fa fa-arrows" style="cursor: move; position: absolute; z-index: 1000000; width: 14px; height: 14px; left:686.890625px; top:195px;"></div>
    </div>
</div>



<div id="pages">
    <div id="Layout" type="layout" name="Шаблон" desc key>
        <div class="page_content_standard">

        </div>
    </div>
    <div id="Home" type="home" name="Главная" desc key>
        <div class="page_content_standard">

        </div>
    </div>
</div>
<div id="styles" style="display: none;">

</div>
<div id="scripts" style="display: none;">

</div>