﻿@model WebSite.Areas.Cabinet.Models.LoadUrlViewModel
@{
    Layout = null;
}
<script>
    $(function() {
        $('#image_url input').attr('placeholder', 'Введите URL');
        $('#image_url form').submit(function () {
            return;
        });
    });

</script>
@using (Html.BeginForm(null, null, FormMethod.Post, new {@class = "form-vertical form-bordered form-striped form-validate"}))
{
    @Html.EditorFor(_ => _.UrlImage, "SimpleInputNoLabel", new { placeholder = "Введите URL"} )
    @Html.EditorFor(_ => _.Catalog, "DropDownList", new { selectList = Model.Catalogs })
}
<button class="button" id="save_image_2" onclick="saveImageByUrl()">Сохранить</button>