﻿@model WebSite.Areas.Cabinet.Models.LoadFileViewModel
@{
    Layout = null;
}
<script src="~/Areas/Cabinet/lib/js/jquery-2.2.3.js"></script>
<script>
    $(function () {
        $('#FileImage').on('change', function () {
            if ($('#FileImage').val() !== '' && $('#catalog').val() !== '') {
                $('#save_image_1').show();
                $('#image_file #Catalog').parent().parent().show();
            } else {
                $('#save_image_1').hide();
            }
        });

        $.post('/Cabinet/Editor/GetCatalogs', { type: 'user' }, function(data) {
            for (var i = 0; i <= data.res.length - 1; i++) {
                var option = document.createElement('option');
                $(option).attr('value', data.res[i]);
                $(option).text(data.res[i]);
                $('#catalogs').append(option);
            }
        });
        $("#catalogs").on('change', function() {
            $('#iform>#catalog').val($('#catalogs').val());
            console.log('catalog change');
            if ($('#catalog').val() != '' && $('#FileImage').val() != '') {
                $('#save_image_1').show();
                $('#image_file #Catalog').parent().parent().show();
            } else {
                $('#save_image_1').hide();
            }
        });
    });

</script>

<style>

    #save_image_1 {
    border-style: solid;
    border-width: 1px;
    border-color: #272727;
    background: #636363;
    background: -moz-linear-gradient(top, #868686 0%, #585858 4%, #4b4b4b 96%, #414141 100%);
    background: -webkit-linear-gradient(top, #868686 0%,#585858 4%,#4b4b4b 96%,#414141 100%);
    background: linear-gradient(to bottom, #868686 0%,#585858 4%,#4b4b4b 96%,#414141 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#868686', endColorstr='#414141',GradientType=0 );
    color: #FFFFFF;
    font-size: 13px;
    font-family: Arial;
    font-weight: 500;
    position: relative;
    float: right;
    height: 22px;
    width: 88px;
    text-align: center;
    line-height: 1.6;
    cursor: default;
    margin: 0 20px 0 0; top: 10px;
}

    #save_image_1:hover {
        background: #737373;
        background: -moz-linear-gradient(top, #969696 0%, #686868 4%, #5b5b5b 96%, #515151 100%);
        background: -webkit-linear-gradient(top, #969696 0%,#686868 4%,#5b5b5b 96%,#515151 100%);
        background: linear-gradient(to bottom, #969696 0%,#686868 4%,#5b5b5b 96%,#515151 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#969696', endColorstr='#515151',GradientType=0 );
        color: #fff;
    }

    body {
    margin: 0;
    }
    /*#save_image_1 {
        border-style: solid;
        border-width: 2px;
        border-color: #383838;
        background-color: #7C7C7C;
        border-radius: 4px;
        color: #FFFFFF;
        font-size: 13px;
        font-family: '__PF Square Sans Pro_5';
        font-weight: 500;
        position: relative;
        float: right;
        height: 45px;
        width: 150px;
        text-align: center;
        line-height: 2.2;
        cursor: pointer;
        margin-right: 12px;
        display: none;
    }

     #save_image_1:hover {
         background: #555555; 
         background: -moz-linear-gradient(top, #555555 0%, #333333 100%); 
         background: -webkit-linear-gradient(top, #555555 0%,#333333 100%); 
         background: linear-gradient(to bottom, #555555 0%,#333333 100%); 
         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#333333',GradientType=0 );
         color: #fff;
     }*/
</style>

@using (Html.BeginForm("LoadImageByFile", "Editor", FormMethod.Post, new { enctype = "multipart/form-data", id = "iform" }))
{
    <input type="file" name="FileImage" id="FileImage" />
    <input type="text" style="display: none" name="catalog" id="catalog" />

 <button id="save_image_1" type="submit">Сохранить</button> 
}
<label style="color: #eee;"> Выберите каталог:
    <select id="catalogs">
        <option value="" selected="selected">Выберите</option>
    </select>
</label>