﻿@model List<WebSite.Areas.Cabinet.Models.LandingViewModel>
@{
    Layout = null;
}

@foreach (var landing in Model)
{
    <div class="opening_menu"><a href="@Url.Action("Index", "Editor", new{url = landing.Url})" target="blank">@landing.Url</a></div>
}
