﻿@model List<WebSite.Areas.Cabinet.Models.SectionViewModel>
@{
    Layout = null;
}
<style>
    .sellect_sections {
        display: block;
        width: 90%;
        margin: 5px auto;
        cursor: pointer;
    }
</style>
<script>
    function reHtmlEntities(str) {
        var string = String(str).replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&quot;/g, '"').replace(/\(\"/g, '(\'').replace(/\( \"/g, '(\'').replace(/\"\)/g, '\')');
        return delSpaces(string);
    }
        </script>
@foreach (var item in Model)
{
    <img class="sellect_sections ui-draggable section-categiry-@item.CategoryId" src="@item.Image" rel="@item.SectionContent" />
}
