﻿@model WebSite.Areas.Cabinet.Models.VideoViewModel
@{
    ViewBag.Title = "UserVideo";
    Layout = null;
}
<style>
    html {
    overflow: hidden;
    }
    body {
        margin: 0;
    }
     #videoplayer {
         width: 100%;
         height: 100%;
     }
</style>
<script src="~/Areas/Cabinet/lib/js/uppod-0.8.6.js"></script>

<div class="player" id="videoplayer"></div>

<script type="text/javascript">this.player = new Uppod({ m: "video", uid: "videoplayer", file: "@Model.VideoUrl", poster: "@Model.PosterUrl" });</script>
