﻿@using WebSite.Framework

@if (TempData[Constants.NotificationsSuccess] != null)
{
    <div class="control-group success">
        <span class="help-block">
            @TempData[Constants.NotificationsSuccess]
        </span>
    </div>
}
@if (TempData[Constants.NotificationsError] != null)
{
    <div class="control-group error">
        <span class="help-block">
            @TempData[Constants.NotificationsError]
        </span>
        @Html.ValidationSummary()
    </div>
}