﻿@model WebSite.Areas.Admin.Models.Account.LogInViewModel
@{
    ViewBag.Title = "Вход";
    Layout = "~/Areas/Admin/Views/Shared/_LoginLayout.cshtml";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-validate", id = "form" }))
{
    <div class="control-group">
        <div class="email controls">
            @Html.TextBoxFor(_ => _.Email, new { @class = "input-block-level", placeholder = Html.DisplayNameFor(_ => _.Email).ToHtmlString() })
        </div>
    </div>
    <div class="control-group">
        <div class="pw controls">
            @Html.PasswordFor(_ => _.Password, new { @class = "input-block-level", placeholder = Html.DisplayNameFor(_ => _.Password).ToHtmlString() })
        </div>
    </div>
    @Html.Partial("_ValidationMessage")
    <div class="control-group">
        @Html.ValidationSummary()
    </div>
    <div class="submit">
        <div class="remember">
            @Html.CheckBoxFor(_ => _.RememberMe, new { @class = "icheck-me", data_skin = "square", data_color = "blue" })
            @Html.LabelFor(_ => _.RememberMe)
        </div>
        <input type="submit" value="Войти" class='btn btn-primary'>
    </div>
}
<div class="forget">
    <a href="@Url.Action("Recovery")"><span>Забыли пароль?</span></a>
</div>

