﻿@model WebSite.Areas.Cabinet.Models.EmailModel

@{
    Layout = null;
}

<html>
<body style="background: white;">
    <h1 style="color: #72c02c;">@Model.Subject</h1>
    <p style="color: #111;">@Model.Body</p>
    <br />
    <table style="color: #687074; background: #fafafa; border-collapse: collapse; border: 1px solid black;">
        <thead>
            <tr>
                <th style="padding: 15px; border: 1px solid black; background: #72c02c; color: #fff">Поле</th>
                <th style="padding: 15px; border: 1px solid black; background: #72c02c; color: #fff">Значение</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var field in Model.Fields)
            {
                if (field.Value != "undefined")
                {
                    <tr>
                        <td style="padding: 15px; border: 1px solid black;">@field.Key</td>
                        <td style="padding: 15px; border: 1px solid black;">@field.Value</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</body>
</html>