﻿@model WebSite.Areas.Admin.Models.Content.ProducerViewModel
@{
    ViewBag.Title = "Добавление производителя";
}
<div class="row-fluid">
    <div class="span12">
        <div class="box box-bordered">
            <div class="box-title">
                <h3><i class="icon-file-alt"></i>Новый производитель</h3>
            </div>
            <div class="box-content nopadding">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-vertical form-bordered form-striped form-validate", enctype = "multipart/form-data" }))
                {
                    @Html.EditorFor(_ => _.Title, "SimpleInput")
                    @Html.EditorFor(_ => _.Description, "SimpleInput")
                    @Html.EditorFor(_ => _.FullDescription, "WysiwygTextarea")
                    @Html.EditorFor(_ => _.File, "FileInput")
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                        <a href="@Url.Action("Index")" class="btn">Отменить</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>