﻿@using System.Diagnostics
@using WebSite.Areas.Cabinet.Models
@model WebSite.Areas.Cabinet.Models.Account.UserInfoViewModel
    @{
        Layout = null;

    }
<html>
<head>

    <script src="~/Areas/Cabinet/lib/js/jquery-2.2.3.js"></script>
    <title>Добавление картинок</title>
    <script>
        $(function() {
            $.post('/Cabinet/Pictures/LoadImages', function(data) {
                $('.contentPicture').html('');
                var divA = document.createElement('div');
                $(divA).attr('id', 'addImages');
                $(divA).attr('class', 'images');
                var imgA = document.createElement('img');
                $(imgA).attr('src', '/Areas/Cabinet/Images/add.png');
                $(imgA).attr('onclick', 'addImage()');
                divA.appendChild(imgA);
                $('.contentPicture').append(divA);
                for (var i = 1; i <= data.res.length; i++) {
                    var img = document.createElement('img');
                    $(img).attr('src', data.res[i]);
                    var div = document.createElement('div');
                    $(div).attr('class', 'images');
                    div.appendChild(img);
                    $('.contentPicture').append(div);
                }
            });
            $("#selFile").on('change', function () {
                $('#selFile').next()[0].click();
            });

        }); 
        function addImage() {
            $('#selFile').click();
        }
        
    </script>
    <style>
        body {
            width: 100%;
            margin: 0;
        }

        .contentPicture {
            width: 95%;
            margin: 0 auto;
            min-height: 300px;
            display: table;
        }

        .images {
            width: 200px;   
            height: 150px;
            margin: 10px;
            float: left;
            display: table-cell;
            vertical-align: middle;
            overflow: hidden;
        }
            .images > img {
                width: 100%;
            }

        #addImages {
            width: 198px;
            height: 148px;
            margin: 10px;
            float: left;
            border: 1px solid rgba(0, 255, 0, 0.2);
            background: rgba(0, 255, 0, 0.1);
            position: relative;
        }
            #addImages:hover {
                background: rgba(0, 255, 0, 0.2);
                cursor: pointer;
            }
            #addImages > img {
                width: 50px;
                height: 50px;
                top: calc(50% - 25px);
                left: calc(50% - 25px);
                position: relative;
            }
            .topBlock {
                width: 95%;
                text-align: center;
                height: 50px;
                font-size: 50px;
                margin: 20px auto;
            }
    </style>
</head>
<body>
<div style="display: none;">
    @using (Html.BeginForm("SavePictures", "Pictures", FormMethod.Post, new {@class = "form-vertical form-bordered form-striped form-validate", enctype = "multipart/form-data"}))
    {
        <input name="files" type="file" id="selFile" value="" multiple/>
        <input type="submit" value="Сохранить"/>
    }
</div>
<div class="topBlock">Мои изображения</div>
<div class="contentPicture">
    <div class="images"></div>
</div>
</body>
</html>