﻿@using WebSite.Areas.Admin.Framework.HtmlHelpers
@model WebSite.Areas.Admin.Models.Content.BlockListViewModel
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3>
                    <i class="icon-list-alt"></i>
                    @Model.Name
                </h3>
                <div class="actions">
                    @if (@Model.Id != 0)
                    {
                        <a href="@Url.Action("Add", new {id = Model.Id})" class="btn" title="Добавить блок"><i class="icon-plus-sign"></i>&nbsp;Добавить блок</a>
                    }
                </div>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>Название</th>
                            <th class='hidden-1024'>Создан</th>
                            <th class='hidden-1024'>Обновлен</th>
                            <th>Режим</th>
                            <th>Видимость</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Blocks)
                        {
                            <tr>
                                <td>@LH.GLSS(item.Title)</td>
                                <td class='hidden-1024'>@item.Created.ToShortDateString()</td>
                                <td class='hidden-1024'>@(item.Updated.HasValue ? item.Updated.Value.ToShortDateString() : "не обновлялся")</td>
                                <td>@(item.IsContent ? "Контент" : "Блок")</td>
                                <td>@(item.IsHidden ? "Скрыт" : "Отображен")</td>
                                <td>
                                    <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-small btn-primary" title="Редактировать" rel="tooltip" data-placement="bottom"><i class="icon-edit"></i></a>
                                    @if (!item.IsStatic)
                                    { 
                                        <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-small btn-danger" title="Удалить" rel="tooltip" data-placement="bottom"><i class="icon-trash"></i></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
