﻿@model WebSite.Areas.Admin.Models.Content.BlockViewModel
@{
    ViewBag.Title = "Добавление блока";
}
<div class="row-fluid">
    <div class="span12">
        <div class="box box-bordered">
            <div class="box-title">
                <h3><i class="icon-file-alt"></i>Новый блок</h3>
            </div>
            <div class="box-content nopadding">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-vertical form-bordered form-striped form-validate" }))
                {
                    @Html.EditorFor(_ => _.IsHidden, "Checkbox")
                    @Html.EditorFor(_ => _.Title, "SimpleInput")
                    @Html.EditorFor(_ => _.IsContent, "Checkbox")
                    
                    @Html.EditorFor(_ => _.Description, "WysiwygTextarea")
                    @Html.EditorFor(_ => _.BlockListId, "DropDownList", new { selectList = Model.BlockListAll })
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                        <a href="@Url.Action("Index")" class="btn">Отменить</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>