﻿@model IList<WebSite.Areas.Admin.Models.Content.BlockListViewModel>
@{
    ViewBag.Title = "Список блоков";
}

@*@if (Model.All(_ => _.Id == 0))
{
    <a href="@Url.Action("Add")" class="btn" title="Добавить блок"><i class="icon-plus-sign"></i>&nbsp;Добавить блок</a>
}*@

@foreach (var item in Model)
{
    @Html.Partial("_BlockList", item)
}