﻿.nav {
    top: 11px !important;
}

.header-fixed .header {
    height: 87px;
} 

.da-slide h2 {
    top: 77px;
}

    .da-slide h2 i {
        font-size: 32px;
    }

.service {
    padding: 15px 0 10px;
}

    .service .desc {
        padding: 0 5px 0 15px;
    }

        .service .desc h4 {
            font-size: 14px;
            color: black;
            font-weight: bold;
        }

/* Beta */
.beta-wrap {
    color: #fff;
    font: 17px/22px 'Lobster', cursive;
    height: 337px;
    left: 50%;
    margin: 0 0 0 -106px;
    position: absolute;
    text-align: center;
    -ms-text-shadow: 0 -1px 1px #000000;
    text-shadow: 0 -1px 1px #000000;
    text-shadow: 0 -1px 1px rgba(0,0,0,.4);
    top: 0;
    width: 212px;
    z-index: 11;
}

.beta-pinch {
    background: url("../img/beta-top.png");
    height: 68px;
    width: 212px;
}

.beta {
    -ms-opacity: 0.8;
    opacity: 0.8;
    background: url("../img/beta-bottom.png");
    height: 269px;
    padding: 134px 0 0;
    width: 212px;
    /*-webkit-animation: swing 2s infinite normal;
    -moz-animation: swing 2s infinite normal;
    -ms-animation: swing 2s infinite normal;
    -o-animation: swing 2s infinite normal;
    animation: swing 2s infinite normal;
    transform-origin: 50% 0;*/
}

.beta-big {
    font-family: 'Merienda One';
    font-size: 70px;
    line-height: 1;
    margin: -5px 0 0;
}

@-o-keyframes swing {
    0% {
        -o-transform: rotate(-2deg);
    }

    50% {
        -o-transform: rotate(2deg);
    }

    100% {
        -o-transform: rotate(-2deg);
    }
}

@-moz-keyframes swing {
    0% {
        -moz-transform: rotate(-2deg);
    }

    50% {
        -moz-transform: rotate(2deg);
    }

    100% {
        -moz-transform: rotate(-2deg);
    }
}

@-webkit-keyframes swing {
    0% {
        -webkit-transform: rotate(-2deg);
    }

    50% {
        -webkit-transform: rotate(2deg);
    }

    100% {
        -webkit-transform: rotate(-2deg);
    }
}

@keyframes swing {
    0% {
        transform: rotate(-2deg);
    }

    50% {
        transform: rotate(2deg);
    }

    100% {
        transform: rotate(-2deg);
    }
}

/* End Beta */
